<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>AEBookInfo 20210717</string>
	<key>NSManagedObjectModel_VersionChecksums</key>
	<dict>
		<key>AEBookInfo</key>
		<string>0zdJmq8FL2GoXiGbB6l6B4RQQ9O9s4sFDlveEJ77p94=</string>
		<key>AEBookInfo 2.2</key>
		<string>RMYmNMJK68g1BJNu1hbH8ODOBKegwHeISf8cTfLDm6w=</string>
		<key>AEBookInfo 20181128</key>
		<string>/c4102uoVhV/SfdobnKBR/j/3Bry6+mN5eI4YfEqRYk=</string>
		<key>AEBookInfo 20200318</key>
		<string>nUQpKU6dMeLuDDqPyzTUujV1CQUu2ef2aMMiDYML5+A=</string>
		<key>AEBookInfo 20210717</key>
		<string>m2i6BwRJW5OQzCoMGacleoNEhY88CfPmxGrr6I/hJMc=</string>
		<key>AEBookInfo 3.2</key>
		<string>tDSwILYljMR55w3Z23n3TtNcC/HpL7oEOPzsdPUHr1s=</string>
		<key>AEBookInfo 4.0</key>
		<string>XH4lIUEDmaAbGPx+eb1O03NrMdmvWGz4E2SZzVIfAG4=</string>
	</dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>AEBookInfo</key>
		<dict>
			<key>AEBookInfo</key>
			<data>
			AWE4ENGqZHPLCEzLK98A85xjjWcN1z4upjEIxd432kg=
			</data>
			<key>BKBookmarkPageCount</key>
			<data>
			S5M588HpfihtKZ20pKWxq2LDt6aq4A+ZEiVlCuq6r4o=
			</data>
			<key>BKChapterPageCount</key>
			<data>
			5xQ6Z79VYmIgY3D1BnUQ+FV8BpEuU59ZMVCYKakO9Sw=
			</data>
			<key>BKDocument</key>
			<data>
			/VnmJAT5VyntvhVYnOZfGQLUkbiFO0j4UW8R35xTWLI=
			</data>
			<key>BKDocumentPageCount</key>
			<data>
			WgEn/YncMBPmBnKrRaBRvviaN4vB4MmCEOUjRC310+E=
			</data>
			<key>BKLandmarkInfo</key>
			<data>
			as2s3Lsixz+JWVyuZ0aelOsBb5RWlwjq7zDvLSFRLtE=
			</data>
			<key>BKLandmarkPageCount</key>
			<data>
			u4C0l6/LhtmVIkEpiHMZJFG5NjYc62uQ1PPtO+oCbBU=
			</data>
			<key>BKMediaOverlayElement</key>
			<data>
			Ko/1UUx9Q5hrd80paChO7E0VVC4Rfu2JjtSDMu2VyDE=
			</data>
			<key>BKNavigationInfo</key>
			<data>
			cMGM3T+wzBKjOYO5ttT3t4er1GRQisXhW4ay/dcaFjU=
			</data>
			<key>BKPhysicalPage</key>
			<data>
			RcqjSvXW4zcBYmmxgBAj40uPgIIFKDV4eaD6VqxIWSQ=
			</data>
			<key>BKPhysicalPageCount</key>
			<data>
			vM7izkEDCxEu8QF+/7XpyZjxINT0YFyy1v3eKioMqCc=
			</data>
			<key>BKProtectionInfo</key>
			<data>
			Mv3fmc/Owk0YrGiI6Z31BGPI6SznNoAW3F9m8ElI0Cc=
			</data>
		</dict>
		<key>AEBookInfo 2.2</key>
		<dict>
			<key>AEBookInfo</key>
			<data>
			o7rUTPqv5BDKAreHXNQHksojf4FOUVLKqGM0lkQ1XnY=
			</data>
			<key>BKBookmarkPageCount</key>
			<data>
			S5M588HpfihtKZ20pKWxq2LDt6aq4A+ZEiVlCuq6r4o=
			</data>
			<key>BKChapterPageCount</key>
			<data>
			5xQ6Z79VYmIgY3D1BnUQ+FV8BpEuU59ZMVCYKakO9Sw=
			</data>
			<key>BKDocument</key>
			<data>
			KeXFLzK8ek7CC2Kzf7+BYWJcYZtyx+7/xBPZusZ/Jwo=
			</data>
			<key>BKDocumentPageCount</key>
			<data>
			enc5CucgteoHfMa17TxQbOrCaCk4Slk4CvB1WymXZvo=
			</data>
			<key>BKLandmarkInfo</key>
			<data>
			vS82lFhtCC6EMceHrTUaTkDA4RLNMhtHK44HTVMcICA=
			</data>
			<key>BKLandmarkPageCount</key>
			<data>
			u4C0l6/LhtmVIkEpiHMZJFG5NjYc62uQ1PPtO+oCbBU=
			</data>
			<key>BKMediaOverlayElement</key>
			<data>
			Ko/1UUx9Q5hrd80paChO7E0VVC4Rfu2JjtSDMu2VyDE=
			</data>
			<key>BKNavigationInfo</key>
			<data>
			uGGwf76WFU8RsFg14/7pvQzCyqxLVbQhT9PoHukTack=
			</data>
			<key>BKPhysicalPage</key>
			<data>
			6PipLX9ZvQJmz6+OfNcHBxJwSw6qo/jkZMq6LoMZcxI=
			</data>
			<key>BKPhysicalPageCount</key>
			<data>
			vM7izkEDCxEu8QF+/7XpyZjxINT0YFyy1v3eKioMqCc=
			</data>
			<key>BKProtectionInfo</key>
			<data>
			Mv3fmc/Owk0YrGiI6Z31BGPI6SznNoAW3F9m8ElI0Cc=
			</data>
		</dict>
		<key>AEBookInfo 20181128</key>
		<dict>
			<key>AEBookInfo</key>
			<data>
			cKryT5FiWAPa+PvA0HPA5sbMbXMiv7SmGKg5c1FyXFU=
			</data>
			<key>BKBookmarkPageCount</key>
			<data>
			5SNvVtg7PYbBHYIARXeBB9hd4E+tO0qGXoikyrlJEFY=
			</data>
			<key>BKChapterPageCount</key>
			<data>
			5xQ6Z79VYmIgY3D1BnUQ+FV8BpEuU59ZMVCYKakO9Sw=
			</data>
			<key>BKDocument</key>
			<data>
			V54ZX1ufnMrhwlHJb+9Qu8PJw8vP98stJs13DEt0gKw=
			</data>
			<key>BKDocumentPageCount</key>
			<data>
			enc5CucgteoHfMa17TxQbOrCaCk4Slk4CvB1WymXZvo=
			</data>
			<key>BKLandmarkInfo</key>
			<data>
			vS82lFhtCC6EMceHrTUaTkDA4RLNMhtHK44HTVMcICA=
			</data>
			<key>BKLandmarkPageCount</key>
			<data>
			u4C0l6/LhtmVIkEpiHMZJFG5NjYc62uQ1PPtO+oCbBU=
			</data>
			<key>BKMediaOverlayElement</key>
			<data>
			Ko/1UUx9Q5hrd80paChO7E0VVC4Rfu2JjtSDMu2VyDE=
			</data>
			<key>BKNavigationInfo</key>
			<data>
			uGGwf76WFU8RsFg14/7pvQzCyqxLVbQhT9PoHukTack=
			</data>
			<key>BKPhysicalPage</key>
			<data>
			6PipLX9ZvQJmz6+OfNcHBxJwSw6qo/jkZMq6LoMZcxI=
			</data>
			<key>BKPhysicalPageCount</key>
			<data>
			vM7izkEDCxEu8QF+/7XpyZjxINT0YFyy1v3eKioMqCc=
			</data>
			<key>BKProtectionInfo</key>
			<data>
			Mv3fmc/Owk0YrGiI6Z31BGPI6SznNoAW3F9m8ElI0Cc=
			</data>
		</dict>
		<key>AEBookInfo 20200318</key>
		<dict>
			<key>AEBookInfo</key>
			<data>
			J5xt0IS2IGGES5U1sJeOwCaDet7VOqW+SV4yU0Mk36w=
			</data>
			<key>BKBookmarkPageCount</key>
			<data>
			5SNvVtg7PYbBHYIARXeBB9hd4E+tO0qGXoikyrlJEFY=
			</data>
			<key>BKChapterPageCount</key>
			<data>
			5xQ6Z79VYmIgY3D1BnUQ+FV8BpEuU59ZMVCYKakO9Sw=
			</data>
			<key>BKDocument</key>
			<data>
			V54ZX1ufnMrhwlHJb+9Qu8PJw8vP98stJs13DEt0gKw=
			</data>
			<key>BKDocumentPageCount</key>
			<data>
			BhmFokvO5iCmOkfVFlm4Z9v5LBXHq21816a3PN0Nq5A=
			</data>
			<key>BKLandmarkInfo</key>
			<data>
			vS82lFhtCC6EMceHrTUaTkDA4RLNMhtHK44HTVMcICA=
			</data>
			<key>BKLandmarkPageCount</key>
			<data>
			u4C0l6/LhtmVIkEpiHMZJFG5NjYc62uQ1PPtO+oCbBU=
			</data>
			<key>BKMediaOverlayElement</key>
			<data>
			Ko/1UUx9Q5hrd80paChO7E0VVC4Rfu2JjtSDMu2VyDE=
			</data>
			<key>BKNavigationInfo</key>
			<data>
			uGGwf76WFU8RsFg14/7pvQzCyqxLVbQhT9PoHukTack=
			</data>
			<key>BKPhysicalPage</key>
			<data>
			6PipLX9ZvQJmz6+OfNcHBxJwSw6qo/jkZMq6LoMZcxI=
			</data>
			<key>BKPhysicalPageCount</key>
			<data>
			vM7izkEDCxEu8QF+/7XpyZjxINT0YFyy1v3eKioMqCc=
			</data>
			<key>BKProtectionInfo</key>
			<data>
			Mv3fmc/Owk0YrGiI6Z31BGPI6SznNoAW3F9m8ElI0Cc=
			</data>
		</dict>
		<key>AEBookInfo 20210717</key>
		<dict>
			<key>AEBookInfo</key>
			<data>
			LvXOZjI/wuczobw97whmA1gjhSfVeG7U4zHE2Zsbat8=
			</data>
			<key>BKBookmarkPageCount</key>
			<data>
			5SNvVtg7PYbBHYIARXeBB9hd4E+tO0qGXoikyrlJEFY=
			</data>
			<key>BKChapterPageCount</key>
			<data>
			5xQ6Z79VYmIgY3D1BnUQ+FV8BpEuU59ZMVCYKakO9Sw=
			</data>
			<key>BKDocument</key>
			<data>
			i3a8wbXGdtlBsIf2jHmTt1cDlMQwqTcKM8B5SFIuzWU=
			</data>
			<key>BKDocumentPageCount</key>
			<data>
			BhmFokvO5iCmOkfVFlm4Z9v5LBXHq21816a3PN0Nq5A=
			</data>
			<key>BKLandmarkInfo</key>
			<data>
			vS82lFhtCC6EMceHrTUaTkDA4RLNMhtHK44HTVMcICA=
			</data>
			<key>BKLandmarkPageCount</key>
			<data>
			u4C0l6/LhtmVIkEpiHMZJFG5NjYc62uQ1PPtO+oCbBU=
			</data>
			<key>BKMediaOverlayElement</key>
			<data>
			Ko/1UUx9Q5hrd80paChO7E0VVC4Rfu2JjtSDMu2VyDE=
			</data>
			<key>BKNavigationInfo</key>
			<data>
			uGGwf76WFU8RsFg14/7pvQzCyqxLVbQhT9PoHukTack=
			</data>
			<key>BKPhysicalPage</key>
			<data>
			6PipLX9ZvQJmz6+OfNcHBxJwSw6qo/jkZMq6LoMZcxI=
			</data>
			<key>BKPhysicalPageCount</key>
			<data>
			vM7izkEDCxEu8QF+/7XpyZjxINT0YFyy1v3eKioMqCc=
			</data>
			<key>BKProtectionInfo</key>
			<data>
			Mv3fmc/Owk0YrGiI6Z31BGPI6SznNoAW3F9m8ElI0Cc=
			</data>
		</dict>
		<key>AEBookInfo 3.2</key>
		<dict>
			<key>AEBookInfo</key>
			<data>
			YnVsm6p8eAy4zBYW9CaSWYrgz4GgoACrrj+aSMg6Dmo=
			</data>
			<key>BKBookmarkPageCount</key>
			<data>
			S5M588HpfihtKZ20pKWxq2LDt6aq4A+ZEiVlCuq6r4o=
			</data>
			<key>BKChapterPageCount</key>
			<data>
			5xQ6Z79VYmIgY3D1BnUQ+FV8BpEuU59ZMVCYKakO9Sw=
			</data>
			<key>BKDocument</key>
			<data>
			KeXFLzK8ek7CC2Kzf7+BYWJcYZtyx+7/xBPZusZ/Jwo=
			</data>
			<key>BKDocumentPageCount</key>
			<data>
			enc5CucgteoHfMa17TxQbOrCaCk4Slk4CvB1WymXZvo=
			</data>
			<key>BKLandmarkInfo</key>
			<data>
			vS82lFhtCC6EMceHrTUaTkDA4RLNMhtHK44HTVMcICA=
			</data>
			<key>BKLandmarkPageCount</key>
			<data>
			u4C0l6/LhtmVIkEpiHMZJFG5NjYc62uQ1PPtO+oCbBU=
			</data>
			<key>BKMediaOverlayElement</key>
			<data>
			Ko/1UUx9Q5hrd80paChO7E0VVC4Rfu2JjtSDMu2VyDE=
			</data>
			<key>BKNavigationInfo</key>
			<data>
			uGGwf76WFU8RsFg14/7pvQzCyqxLVbQhT9PoHukTack=
			</data>
			<key>BKPhysicalPage</key>
			<data>
			6PipLX9ZvQJmz6+OfNcHBxJwSw6qo/jkZMq6LoMZcxI=
			</data>
			<key>BKPhysicalPageCount</key>
			<data>
			vM7izkEDCxEu8QF+/7XpyZjxINT0YFyy1v3eKioMqCc=
			</data>
			<key>BKProtectionInfo</key>
			<data>
			Mv3fmc/Owk0YrGiI6Z31BGPI6SznNoAW3F9m8ElI0Cc=
			</data>
		</dict>
		<key>AEBookInfo 4.0</key>
		<dict>
			<key>AEBookInfo</key>
			<data>
			Nj/+3uYyG2FG18Lg/EOi7cYRoAIEMQge01igGKVmCNw=
			</data>
			<key>BKBookmarkPageCount</key>
			<data>
			S5M588HpfihtKZ20pKWxq2LDt6aq4A+ZEiVlCuq6r4o=
			</data>
			<key>BKChapterPageCount</key>
			<data>
			5xQ6Z79VYmIgY3D1BnUQ+FV8BpEuU59ZMVCYKakO9Sw=
			</data>
			<key>BKDocument</key>
			<data>
			V54ZX1ufnMrhwlHJb+9Qu8PJw8vP98stJs13DEt0gKw=
			</data>
			<key>BKDocumentPageCount</key>
			<data>
			enc5CucgteoHfMa17TxQbOrCaCk4Slk4CvB1WymXZvo=
			</data>
			<key>BKLandmarkInfo</key>
			<data>
			vS82lFhtCC6EMceHrTUaTkDA4RLNMhtHK44HTVMcICA=
			</data>
			<key>BKLandmarkPageCount</key>
			<data>
			u4C0l6/LhtmVIkEpiHMZJFG5NjYc62uQ1PPtO+oCbBU=
			</data>
			<key>BKMediaOverlayElement</key>
			<data>
			Ko/1UUx9Q5hrd80paChO7E0VVC4Rfu2JjtSDMu2VyDE=
			</data>
			<key>BKNavigationInfo</key>
			<data>
			uGGwf76WFU8RsFg14/7pvQzCyqxLVbQhT9PoHukTack=
			</data>
			<key>BKPhysicalPage</key>
			<data>
			6PipLX9ZvQJmz6+OfNcHBxJwSw6qo/jkZMq6LoMZcxI=
			</data>
			<key>BKPhysicalPageCount</key>
			<data>
			vM7izkEDCxEu8QF+/7XpyZjxINT0YFyy1v3eKioMqCc=
			</data>
			<key>BKProtectionInfo</key>
			<data>
			Mv3fmc/Owk0YrGiI6Z31BGPI6SznNoAW3F9m8ElI0Cc=
			</data>
		</dict>
	</dict>
</dict>
</plist>
