<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>LibraryInfo</string>
	<key>NSManagedObjectModel_VersionChecksums</key>
	<dict>
		<key>LibraryInfo</key>
		<string>+smotP5MkZG2SeD821XWEZ8oroCakPE2/o4VwusXeGA=</string>
		<key>LibraryInfo 2.0unreleased</key>
		<string>C2rMo8MtUpB8yoTohdxclOo17jyKyEFZqDL2+lGmmmY=</string>
		<key>LibraryInfo1.5</key>
		<string>Y6FUP98HBmmkQ4q7mMxYgU67Q/GU5MU7WjKYudDfxPs=</string>
		<key>LibraryInfo2.0</key>
		<string>oQH0LGg9K0DYoo7YLmEXtmuzFDlY0VDfzXdUUm+n5Kk=</string>
		<key>LibraryInfo2.1</key>
		<string>Lz5vit2lC0kXDMlmvq1UESpGvwt5xRNl9olEYIMvh3o=</string>
		<key>LibraryInfo22_build697_unreleased</key>
		<string>AWfAz0l2NZ1KfOkKkDod75b2VO+WV3tPmrwCpEJ70ZQ=</string>
		<key>LibraryInfo22_build705_unreleased</key>
		<string>vd9y+F+ZwBCAHD9P2aFixPb4W/oyqI0sFxFV4kH9i1U=</string>
		<key>LibraryInfo22unreleased</key>
		<string>/owr97Ntwdd2puhdU7R0Ibom53SDt5AtOw7LZNZC/CU=</string>
		<key>LibraryInfo29_build1090_unreleased</key>
		<string>Ja6mj8bx5iQMjocrB7TlA20wqX2lctQtVVlrjkX4EoY=</string>
		<key>LibraryInfo_0a6701af21a3ef1836edc98f0d1745d374e033ff</key>
		<string>ypwArkeTKeCBhFqk8fvpK0q0anLKuIJo0vtj3wVn9Y4=</string>
		<key>LibraryInfo_17417a082aa2f634bbea7033a665bc541dae8fa3</key>
		<string>giR6yty8pdXwrJ/dFgiAK/lsjr2C3b+1WApwPxYQ9dI=</string>
		<key>LibraryInfo_1_23_2013</key>
		<string>dlzXE9dD0njdzqJuqqC0G7rjDCcJkgat0qRR+084Axw=</string>
		<key>LibraryInfo_29_b1115</key>
		<string>keYoYvp+EQNZC3DIZ4BD/LBvcVF6Ilv7bs40s7mcRdc=</string>
		<key>LibraryInfo_29_build1109_unreleased</key>
		<string>lfduV0pgxb6YaNBGXAAdww4Fhp0/Ip6ols/+EjLo4cE=</string>
		<key>LibraryInfo_2_3_2014</key>
		<string>/65xARwklMqglDE4BDu2cbQQuDs2GkSrIzJOhgehOfw=</string>
		<key>LibraryInfo_2_v1179</key>
		<string>AKaOJWwMtvUPyF4An4Udm5zRSsdkv5nDKpStVSGC7iA=</string>
		<key>LibraryInfo_3_15_2015</key>
		<string>rwvfuUYJ7BqcnnyeyaywTPQsyDGfhddTJrqzqXz90tQ=</string>
		<key>LibraryInfo_3_2_2015</key>
		<string>JuI2bZavcqtsPzhl65qEHXEMQlyxYrfUREHz4vfhWSw=</string>
		<key>LibraryInfo_6_20_2014</key>
		<string>DIJcIKAPobO9DH/QmNHtQDQnkzSO/vU2Q2d9xgyakbg=</string>
		<key>LibraryInfo_b1187</key>
		<string>oqlJFL7wLKEABUaonNCjywug52jSVJROj/DA3DEDkL8=</string>
		<key>LibraryInfo_b1467</key>
		<string>7tCtU5mYNAWLotaSIr5CxdPhfabiraipw1longQtHoQ=</string>
		<key>LibraryInfo_build1139</key>
		<string>PIbAvZU6ePyKxJ4k31zqo3lyMDvGJD8lLSwvfyAtKX4=</string>
		<key>LibraryInfo_build1139x2</key>
		<string>xJVppG+rA/TLk3ANA1b7gNS0DqW2oZWxEhdLDEYUm8o=</string>
		<key>LibraryInfo_build1201</key>
		<string>IeRd2A0jYgzZdohO8A2DG/Ejan+bUjRqNvPd2iyUHP4=</string>
		<key>LibraryInfo_build_1500</key>
		<string>q0B9zG90LD11dFiqEQGtj3YERQ9lrpbGsnudhbgaUxs=</string>
		<key>LibraryInfo_e6525f4bf357c0f21f8d2bf37621896a5b99c6eb</key>
		<string>a/wi+b5M4N1+PrAqcK2hGjMuz01TpRCg6VikJaTRD7A=</string>
		<key>LibraryInfo_iOS8.3</key>
		<string>kap2b4lKxItlJBCK/0++YCujd6jOh0gP6F6E1R4J5Fg=</string>
	</dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>LibraryInfo</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			LbpDTSEghHSG0TC0dU3J3Q6pCJFJWodKOcsOCIA5Ztg=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			aaBHo79JV/UQY3SDLoMOvyu9jF56RjGjnVE1fnrr+4Q=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
		</dict>
		<key>LibraryInfo 2.0unreleased</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			qdFjf1+aWDQHe/zB4qMxzHuAs9PFAXaM5pC1W3WRpY0=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
		</dict>
		<key>LibraryInfo1.5</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			gNy4TGKqUU2xQEgeC6mYF5wDJM7knfKLWnqgVM+30KI=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
		</dict>
		<key>LibraryInfo2.0</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			edhnr51yxeYaaCrHQvAE+N8KagZMw235/Nmd8VtKGUQ=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
		</dict>
		<key>LibraryInfo2.1</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			2Rf9oyRZ+eTG89DHhZWw8HaR5/UlfoL7no961ZavuC4=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
		</dict>
		<key>LibraryInfo22_build697_unreleased</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			zWj8u1rS4Vo4qsgCInExBT/Ni1CV5vEVuS2smphqpzY=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
		</dict>
		<key>LibraryInfo22_build705_unreleased</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			tqlQUfypzqVIJXziyQ8rfli78M2omlcpmrplSzSZ6Ks=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
		</dict>
		<key>LibraryInfo22unreleased</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			oHlYDOZsTyBo8pTDrWajtWfkJ8UPrTjLXvtNFo4difE=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
		</dict>
		<key>LibraryInfo29_build1090_unreleased</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			X+rglf8FE85SgDrJTs6pB3O5lKdWnoZ7TjpShP9+Oak=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
		</dict>
		<key>LibraryInfo_0a6701af21a3ef1836edc98f0d1745d374e033ff</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			1KL1HqXCeEg1vl7J81PRI85cbIm5pSU8EO7Xh85ByCs=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			aaBHo79JV/UQY3SDLoMOvyu9jF56RjGjnVE1fnrr+4Q=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
		</dict>
		<key>LibraryInfo_17417a082aa2f634bbea7033a665bc541dae8fa3</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			unyELcidofFGDZHRUebvF7n/Y4oYzunL3PYgvtQKY3k=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			aaBHo79JV/UQY3SDLoMOvyu9jF56RjGjnVE1fnrr+4Q=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
		</dict>
		<key>LibraryInfo_1_23_2013</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			Anv7UFul0o/d1VAhxII69wn9FzH/7OovgJ1MRzOYQUE=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			aaBHo79JV/UQY3SDLoMOvyu9jF56RjGjnVE1fnrr+4Q=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
		</dict>
		<key>LibraryInfo_29_b1115</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			hnCf/ybVKHvIGxmgyM9nn19GmA0zxnOfSEB0rVXcRS8=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
		</dict>
		<key>LibraryInfo_29_build1109_unreleased</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			JdNsiBMCzflWBZdIWVz6NmMDt1PCLk2B+l0DMd7BpsA=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
		</dict>
		<key>LibraryInfo_2_3_2014</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			H/Tu8xKd9awOrUpSq0bbxC38NT58RycdxhYwhJ6O6oU=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			aaBHo79JV/UQY3SDLoMOvyu9jF56RjGjnVE1fnrr+4Q=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
		</dict>
		<key>LibraryInfo_2_v1179</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			I8ctakkUX4vdrXjgudpB3d5zl7KYpYU8G34pGxUsz2s=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			aaBHo79JV/UQY3SDLoMOvyu9jF56RjGjnVE1fnrr+4Q=
			</data>
		</dict>
		<key>LibraryInfo_3_15_2015</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			Ja+JVeqPr7+zCD2uh5o3BbWid5b7uexNcn2YAD1Iqks=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			aaBHo79JV/UQY3SDLoMOvyu9jF56RjGjnVE1fnrr+4Q=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
		</dict>
		<key>LibraryInfo_3_2_2015</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			6nnTyLRnjzSwmDReCpaJ3j6syZBiRRDzLkSfjXYOWeQ=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			aaBHo79JV/UQY3SDLoMOvyu9jF56RjGjnVE1fnrr+4Q=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
		</dict>
		<key>LibraryInfo_6_20_2014</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			mnlDJ8GZgI5ci+wrCtt5J2pwzmci9qvApqoRZ6uljWI=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			aaBHo79JV/UQY3SDLoMOvyu9jF56RjGjnVE1fnrr+4Q=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
		</dict>
		<key>LibraryInfo_b1187</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			I8ctakkUX4vdrXjgudpB3d5zl7KYpYU8G34pGxUsz2s=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			aaBHo79JV/UQY3SDLoMOvyu9jF56RjGjnVE1fnrr+4Q=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			suxtt0+tViETJyK6AwIpU0J1Yx531UMoqjcwsMkOWLQ=
			</data>
		</dict>
		<key>LibraryInfo_b1467</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			Ylj9eYg2A6C+faMx/GwnZxkBbbhv2RgUPyKZxbX7zJE=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			aaBHo79JV/UQY3SDLoMOvyu9jF56RjGjnVE1fnrr+4Q=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
		</dict>
		<key>LibraryInfo_build1139</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			I8ctakkUX4vdrXjgudpB3d5zl7KYpYU8G34pGxUsz2s=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
		</dict>
		<key>LibraryInfo_build1139x2</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			I8ctakkUX4vdrXjgudpB3d5zl7KYpYU8G34pGxUsz2s=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
		</dict>
		<key>LibraryInfo_build1201</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			I8ctakkUX4vdrXjgudpB3d5zl7KYpYU8G34pGxUsz2s=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			aaBHo79JV/UQY3SDLoMOvyu9jF56RjGjnVE1fnrr+4Q=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
		</dict>
		<key>LibraryInfo_build_1500</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			Q11Xnk2FM/bPY3e6RLKRHqXtA6OoKKiFst88MOC1DUo=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			aaBHo79JV/UQY3SDLoMOvyu9jF56RjGjnVE1fnrr+4Q=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
		</dict>
		<key>LibraryInfo_e6525f4bf357c0f21f8d2bf37621896a5b99c6eb</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			SXiG8Wl7nnHMp6ZDBCspLn50qW9BAR0I7JLz7KWYJ9A=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			aaBHo79JV/UQY3SDLoMOvyu9jF56RjGjnVE1fnrr+4Q=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
		</dict>
		<key>LibraryInfo_iOS8.3</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			dUGAVOO9dkHJ2o0F0yzbvex5TBobLg41/d1AH0lY79c=
			</data>
			<key>BKCollection</key>
			<data>
			G55MTGIqdMc84Vf/etmOPhpxXiF10wV00vuOe4Fh/tE=
			</data>
			<key>BKCollectionMember</key>
			<data>
			aaBHo79JV/UQY3SDLoMOvyu9jF56RjGjnVE1fnrr+4Q=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
		</dict>
	</dict>
</dict>
</plist>
