<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>scrollDelta</key>
		<string>20</string>
		<key>scrollIterations</key>
		<string>5</string>
		<key>tab</key>
		<string>games</string>
		<key>testName</key>
		<string>ScrollGames</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>scrollDelta</key>
		<string>20</string>
		<key>scrollIterations</key>
		<string>5</string>
		<key>tab</key>
		<string>apps</string>
		<key>testName</key>
		<string>ScrollApps</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>scrollDelta</key>
		<string>20</string>
		<key>scrollIterations</key>
		<string>5</string>
		<key>tab</key>
		<string>updates</string>
		<key>testName</key>
		<string>ScrollUpdates</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>scrollDelta</key>
		<string>20</string>
		<key>scrollIterations</key>
		<string>5</string>
		<key>searchTerm</key>
		<string>Games</string>
		<key>tab</key>
		<string>search</string>
		<key>testName</key>
		<string>ScrollSearch</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>pushToUrl</key>
		<string>https://itunes.apple.com/us/collection/editors-choice/id25204?fcId=531794418&amp;mt=8</string>
		<key>scrollDelta</key>
		<string>20</string>
		<key>scrollIterations</key>
		<string>5</string>
		<key>tab</key>
		<string>apps</string>
		<key>testName</key>
		<string>ScrollRoom</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>pushToUrl</key>
		<string>https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewTop?genreId=36</string>
		<key>scrollDelta</key>
		<string>20</string>
		<key>scrollIterations</key>
		<string>5</string>
		<key>tab</key>
		<string>apps</string>
		<key>testName</key>
		<string>ScrollCharts</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
</array>
</plist>
