<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>HAPTICS_GROUP</string>
			<key>isRadioGroup</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>id</key>
			<string>OFF_ITEM_ID</string>
			<key>label</key>
			<string>OFF_ITEM_TITLE</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>id</key>
			<string>DEFAULT_ITEM_ID</string>
			<key>label</key>
			<string>DEFAULT_ITEM_TITLE</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>id</key>
			<string>PROMINENT_ITEM_ID</string>
			<key>label</key>
			<string>PROMINENT_ITEM_TITLE</string>
			<key>value</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>title</key>
	<string>HAPTICS_TITLE</string>
</dict>
</plist>
