<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>FAMILY_WATCHES_GROUP_ID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>FAMILY_WATCHES_ID</string>
			<key>label</key>
			<string>FAMILY_WATCHES</string>
			<key>squareIconName</key>
			<string>familyWatches</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>WATCH_GROUP_ID</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>CompanionComplicationSettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
				<string>supports-all-watch-complications-always</string>
			</array>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>COMPLICATIONS</string>
			<key>nanoBundlePath</key>
			<true/>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>third-party-complications</string>
			</array>
			<key>squareIconName</key>
			<string>complications</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>CompanionNotificationSettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>dataSourceClass</key>
			<string>CSLNotificationsDataSource</string>
			<key>detail</key>
			<string>CSLNotificationsController</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>iconImageShouldFlipForRightToLeft</key>
			<true/>
			<key>id</key>
			<string>NOTIFICATIONS_ID</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>NOTIFICATIONS</string>
			<key>nanoBundlePath</key>
			<true/>
			<key>squareIconName</key>
			<string>notifications</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>CSLCompanionLiveActivitiesSettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>SMARTSTACK_LINK</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>SMARTSTACK</string>
			<key>nanoBundlePath</key>
			<true/>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>liveactivities</string>
			</array>
			<key>squareIconName</key>
			<string>smartstack</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>COSControlCenterViewController</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>CONTROL_CENTER_ID</string>
			<key>label</key>
			<string>CONTROL_CENTER</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>control-center-controls-api</string>
			</array>
			<key>squareIconName</key>
			<string>ControlCenter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>APP_LAYOUT_ID</string>
			<key>label</key>
			<string>APP_LAYOUT</string>
			<key>squareIconName</key>
			<string>appLayout</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>APP_VIEW_ID</string>
			<key>label</key>
			<string>APP_VIEW</string>
			<key>squareIconName</key>
			<string>appLayout</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>CompanionDockSettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
				<string>starbear-dock</string>
			</array>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>DOCK</string>
			<key>nanoBundlePath</key>
			<true/>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>vertical-dock</string>
			</array>
			<key>squareIconName</key>
			<string>dock</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>CompanionDockSettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>vertical-dock</string>
				<string>tinker-paired</string>
			</array>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>DOCK</string>
			<key>nanoBundlePath</key>
			<true/>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>new-glance-model</string>
			</array>
			<key>squareIconName</key>
			<string>dock-old</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>GENERAL_GROUP_ID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>COSGeneralSettingsController</string>
			<key>id</key>
			<string>GENERAL_LINK</string>
			<key>label</key>
			<string>GENERAL</string>
			<key>squareIconName</key>
			<string>general</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>CellularBridgeSettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>CELLULAR_ID</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>CELLULAR</string>
			<key>nanoBundlePath</key>
			<true/>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>cellular-data</string>
			</array>
			<key>squareIconName</key>
			<string>cellular</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>COSDisplayAndBrightnessController</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>DISPLAY_AND_BRIGHTNESS_ID</string>
			<key>label</key>
			<string>DISPLAY_AND_BRIGHTNESS</string>
			<key>squareIconName</key>
			<string>brightness</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>AccessibilitySettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>ACCESSIBILITY_ID</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>ACCESSIBILITY</string>
			<key>nanoBundlePath</key>
			<true/>
			<key>squareIconName</key>
			<string>accessibility</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>AssistantBridgeSettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>SIRI_WATCH_SETTINGS_ID</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>SIRI_WATCH_SETTINGS</string>
			<key>nanoBundlePath</key>
			<true/>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>siri-settings</string>
			</array>
			<key>squareIconName</key>
			<string>Siri</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>COSSoundsController</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>iconImageShouldFlipForRightToLeft</key>
			<true/>
			<key>id</key>
			<string>SOUNDS_ID</string>
			<key>label</key>
			<string>SOUNDS</string>
			<key>squareIconName</key>
			<string>sound</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>PairedUnlockSettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>PASSCODE_ID</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>PASSCODE</string>
			<key>nanoBundlePath</key>
			<true/>
			<key>squareIconName</key>
			<string>lock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>COSSOSSettingsViewController</string>
			<key>id</key>
			<string>SOS_MODE_ID</string>
			<key>label</key>
			<string>SOS_MODE</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>s-o-s</string>
			</array>
			<key>squareIconName</key>
			<string>SOS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>PRIVACY_ID</string>
			<key>label</key>
			<string>PRIVACY</string>
			<key>squareIconName</key>
			<string>privacy</string>
		</dict>
	</array>
	<key>marginWidth</key>
	<integer>59</integer>
	<key>title</key>
	<string>Settings</string>
</dict>
</plist>
