<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AcademyEngravedLetPlain</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AcademyEngravedLetPlain</string>
		</dict>
	</array>
	<key>Arial-Black</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-Bold</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-Bold</string>
		</dict>
	</array>
	<key>ArialNarrow</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNextCondensed-Regular</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-Light</string>
		</dict>
	</array>
	<key>ArialNarrow-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNextCondensed-DemiBold</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-LightBold</string>
		</dict>
	</array>
	<key>ArialNarrow-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNextCondensed-DemiBoldItalic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-LightBoldItalic</string>
		</dict>
	</array>
	<key>ArialNarrow-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNextCondensed-Italic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-LightItalic</string>
		</dict>
	</array>
	<key>BlackmoorLetPlain</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>BlackmoorLetPlain</string>
		</dict>
	</array>
	<key>BlairMdITCTT-Medium</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>BlairMdITCTT-Medium</string>
		</dict>
	</array>
	<key>BookAntiqua</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-Roman</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Baskerville</string>
		</dict>
	</array>
	<key>BookAntiqua-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-Bold</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Baskerville-Bold</string>
		</dict>
	</array>
	<key>BookAntiqua-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-BoldItalic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Baskerville-BoldItalic</string>
		</dict>
	</array>
	<key>BookAntiqua-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-Italic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Baskerville-Italic</string>
		</dict>
	</array>
	<key>BookmanOldStyle</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-Roman</string>
		</dict>
	</array>
	<key>BookmanOldStyle-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia-Bold</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-Bold</string>
		</dict>
	</array>
	<key>BookmanOldStyle-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia-BoldItalic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-BoldItalic</string>
		</dict>
	</array>
	<key>BookmanOldStyle-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia-Italic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-Italic</string>
		</dict>
	</array>
	<key>BordeauxRomanBoldLetPlain</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>BordeauxRomanBoldLetPlain</string>
		</dict>
	</array>
	<key>Calibri</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Carlito</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS</string>
		</dict>
	</array>
	<key>Calibri-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Carlito-Bold</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS-Bold</string>
		</dict>
	</array>
	<key>Calibri-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Carlito-BoldItalic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Trebuchet-BoldItalic</string>
		</dict>
	</array>
	<key>Calibri-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Carlito-Italic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS-Italic</string>
		</dict>
	</array>
	<key>Calibri-Light</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Carlito</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS</string>
		</dict>
	</array>
	<key>Calibri-LightItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Carlito-Italic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS-Italic</string>
		</dict>
	</array>
	<key>Cambria</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>TimesNewRomanPSMT</string>
		</dict>
	</array>
	<key>Cambria-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>TimesNewRomanPS-BoldMT</string>
		</dict>
	</array>
	<key>Cambria-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>TimesNewRomanPS-BoldItalicMT</string>
		</dict>
	</array>
	<key>Cambria-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>TimesNewRomanPS-ItalicMT</string>
		</dict>
	</array>
	<key>Candara</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS</string>
		</dict>
	</array>
	<key>Candara-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS-Bold</string>
		</dict>
	</array>
	<key>Candara-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Trebuchet-BoldItalic</string>
		</dict>
	</array>
	<key>Candara-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS-Italic</string>
		</dict>
	</array>
	<key>Canela-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia-Bold</string>
		</dict>
	</array>
	<key>Canela-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia-BoldItalic</string>
		</dict>
	</array>
	<key>Canela-Regular</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia</string>
		</dict>
	</array>
	<key>Canela-RegularItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia-Italic</string>
		</dict>
	</array>
	<key>CanelaDeck-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia-Bold</string>
		</dict>
	</array>
	<key>CanelaDeck-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia-BoldItalic</string>
		</dict>
	</array>
	<key>CanelaDeck-Medium</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia</string>
		</dict>
	</array>
	<key>CanelaDeck-MediumItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia-Italic</string>
		</dict>
	</array>
	<key>CanelaDeck-Regular</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia</string>
		</dict>
	</array>
	<key>CanelaDeck-RegularItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia-Italic</string>
		</dict>
	</array>
	<key>CanelaText-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia-Bold</string>
		</dict>
	</array>
	<key>CanelaText-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia-BoldItalic</string>
		</dict>
	</array>
	<key>CanelaText-Medium</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia</string>
		</dict>
	</array>
	<key>CanelaText-MediumItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia-Italic</string>
		</dict>
	</array>
	<key>CanelaText-Regular</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia</string>
		</dict>
	</array>
	<key>CanelaText-RegularItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Georgia-Italic</string>
		</dict>
	</array>
	<key>Canvas Font</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>.AppleSystemUIFontDemi</string>
		</dict>
	</array>
	<key>Carlito</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS</string>
		</dict>
	</array>
	<key>Carlito-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS-Bold</string>
		</dict>
	</array>
	<key>Carlito-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Trebuchet-BoldItalic</string>
		</dict>
	</array>
	<key>Carlito-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS-Italic</string>
		</dict>
	</array>
	<key>CenturyGothic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Avenir-Roman</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Helvetica</string>
		</dict>
	</array>
	<key>CenturyGothic-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Avenir-Heavy</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Helvetica-Bold</string>
		</dict>
	</array>
	<key>CenturyGothic-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Avenir-HeavyOblique</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Helvetica-BoldOblique</string>
		</dict>
	</array>
	<key>CenturyGothic-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Avenir-Oblique</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Helvetica-Oblique</string>
		</dict>
	</array>
	<key>CenturySchoolbook</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-Roman</string>
		</dict>
	</array>
	<key>CenturySchoolbook-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-Bold</string>
		</dict>
	</array>
	<key>CenturySchoolbook-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-BoldItalic</string>
		</dict>
	</array>
	<key>CenturySchoolbook-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-Italic</string>
		</dict>
	</array>
	<key>ComicSansMS</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Chalkboard</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>ChalkboardSE-Regular</string>
		</dict>
	</array>
	<key>ComicSansMS-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Chalkboard-Bold</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>ChalkboardSE-Bold</string>
		</dict>
	</array>
	<key>Constantia</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-Roman</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>HoeflerText-Regular</string>
		</dict>
	</array>
	<key>Constantia-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-Bold</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>HoeflerText-Bold</string>
		</dict>
	</array>
	<key>Constantia-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-BoldItalic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>HoeflerText-BoldItalic</string>
		</dict>
	</array>
	<key>Constantia-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Palatino-Italic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>HoeflerText-Italic</string>
		</dict>
	</array>
	<key>CopperplateGothic-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Copperplate-Bold</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Copperplate</string>
		</dict>
	</array>
	<key>CopperplateGothic-Light</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Copperplate-Light</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Copperplate</string>
		</dict>
	</array>
	<key>Corbel</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>GillSans-Light</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS</string>
		</dict>
	</array>
	<key>Corbel-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>GillSans</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS-Bold</string>
		</dict>
	</array>
	<key>Corbel-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>GillSans-Italic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Trebuchet-BoldItalic</string>
		</dict>
	</array>
	<key>Corbel-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>GillSans-LightItalic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS-Italic</string>
		</dict>
	</array>
	<key>DomaineDisplay-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HoeflerText-Black</string>
		</dict>
	</array>
	<key>DomaineDisplay-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HoeflerText-BlackItalic</string>
		</dict>
	</array>
	<key>DomaineDisplay-Medium</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HoeflerText-Regular</string>
		</dict>
	</array>
	<key>DomaineDisplay-MediumItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HoeflerText-Italic</string>
		</dict>
	</array>
	<key>DomaineDisplay-Regular</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HoeflerText-Regular</string>
		</dict>
	</array>
	<key>DomaineDisplay-RegularItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HoeflerText-Italic</string>
		</dict>
	</array>
	<key>Druk-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNextCondensed-Bold</string>
		</dict>
	</array>
	<key>Druk-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNextCondensed-BoldItalic</string>
		</dict>
	</array>
	<key>Druk-Medium</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNextCondensed-Medium</string>
		</dict>
	</array>
	<key>Druk-MediumItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNextCondensed-MediumItalic</string>
		</dict>
	</array>
	<key>DrukWide-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-Bold</string>
		</dict>
	</array>
	<key>DrukWide-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-BoldItalic</string>
		</dict>
	</array>
	<key>DrukWide-Medium</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-Medium</string>
		</dict>
	</array>
	<key>DrukWide-MediumItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-MediumItalic</string>
		</dict>
	</array>
	<key>FangSong</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>SimSong-Regular</string>
		</dict>
	</array>
	<key>FoundersGrotesk-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-Bold</string>
		</dict>
	</array>
	<key>FoundersGrotesk-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-BoldItalic</string>
		</dict>
	</array>
	<key>FoundersGrotesk-Light</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-Italic</string>
		</dict>
	</array>
	<key>FoundersGrotesk-LightItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-LightItalic</string>
		</dict>
	</array>
	<key>FoundersGrotesk-Medium</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-Medium</string>
		</dict>
	</array>
	<key>FoundersGrotesk-MediumItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-MediumItalic</string>
		</dict>
	</array>
	<key>FoundersGrotesk-Regular</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue</string>
		</dict>
	</array>
	<key>FoundersGrotesk-RegularItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-Italic</string>
		</dict>
	</array>
	<key>FoundersGrotesk-Semibold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-Bold</string>
		</dict>
	</array>
	<key>FoundersGrotesk-SemiboldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-BoldItalic</string>
		</dict>
	</array>
	<key>FoundersGroteskCond-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNextCondensed-Bold</string>
		</dict>
	</array>
	<key>FoundersGroteskCond-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNextCondensed-BoldItalic</string>
		</dict>
	</array>
	<key>FoundersGroteskCond-Reg</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNextCondensed-Regular</string>
		</dict>
	</array>
	<key>FoundersGroteskCond-RegItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNextCondensed-Italic</string>
		</dict>
	</array>
	<key>FoundersGroteskText-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-Bold</string>
		</dict>
	</array>
	<key>FoundersGroteskText-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-BoldItalic</string>
		</dict>
	</array>
	<key>FoundersGroteskText-Regular</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue</string>
		</dict>
	</array>
	<key>FoundersGroteskText-RegularItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-Italic</string>
		</dict>
	</array>
	<key>FranklinGothic-Book</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue</string>
		</dict>
	</array>
	<key>FranklinGothic-BookItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-Italic</string>
		</dict>
	</array>
	<key>Garamond</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HoeflerText-Regular</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TimesNewRomanPSMT</string>
		</dict>
	</array>
	<key>Garamond-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HoeflerText-Black</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TimesNewRomanPS-BoldMT</string>
		</dict>
	</array>
	<key>Garamond-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HoeflerText-Italic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TimesNewRomanPS-ItalicMT</string>
		</dict>
	</array>
	<key>Graphik-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-Bold</string>
		</dict>
	</array>
	<key>Graphik-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-BoldItalic</string>
		</dict>
	</array>
	<key>Graphik-Light</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-Regular</string>
		</dict>
	</array>
	<key>Graphik-LightItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-Italic</string>
		</dict>
	</array>
	<key>Graphik-Medium</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-Medium</string>
		</dict>
	</array>
	<key>Graphik-MediumItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-MediumItalic</string>
		</dict>
	</array>
	<key>Graphik-Regular</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-Regular</string>
		</dict>
	</array>
	<key>Graphik-RegularItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-Italic</string>
		</dict>
	</array>
	<key>Graphik-Semibold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-DemiBold</string>
		</dict>
	</array>
	<key>Graphik-SemiboldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-DemiBoldItalic</string>
		</dict>
	</array>
	<key>GraphikCompact-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNextCondensed-Bold</string>
		</dict>
	</array>
	<key>GraphikCompact-Regular</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNextCondensed-Regular</string>
		</dict>
	</array>
	<key>Impact</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>HelveticaNeue-CondensedBlack</string>
		</dict>
	</array>
	<key>LucidaSansUnicode</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>EuphemiaUCAS</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>GillSans</string>
		</dict>
	</array>
	<key>MonotypeCorsiva</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Apple-Chancery</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Baskerville-Italic</string>
		</dict>
	</array>
	<key>NSimSun</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>SimSong-Regular</string>
		</dict>
	</array>
	<key>Perpetua</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Baskerville</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TimesNewRomanPSMT</string>
		</dict>
	</array>
	<key>Perpetua-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Baskerville-SemiBold</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TimesNewRomanPS-BoldMT</string>
		</dict>
	</array>
	<key>Perpetua-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Baskerville-SemiBoldItalic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TimesNewRomanPS-BoldItalicMT</string>
		</dict>
	</array>
	<key>Perpetua-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Baskerville-Italic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TimesNewRomanPS-ItalicMT</string>
		</dict>
	</array>
	<key>Produkt-Extralight</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Rockwell-Regular</string>
		</dict>
	</array>
	<key>Produkt-ExtralightItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Rockwell-Italic</string>
		</dict>
	</array>
	<key>Produkt-Light</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Rockwell-Regular</string>
		</dict>
	</array>
	<key>Produkt-LightItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Rockwell-Italic</string>
		</dict>
	</array>
	<key>Produkt-Medium</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Rockwell-Regular</string>
		</dict>
	</array>
	<key>Produkt-MediumItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Rockwell-Italic</string>
		</dict>
	</array>
	<key>Produkt-Regular</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Rockwell-Regular</string>
		</dict>
	</array>
	<key>Produkt-RegularItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Rockwell-Italic</string>
		</dict>
	</array>
	<key>ProximaNova-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-Bold</string>
		</dict>
	</array>
	<key>ProximaNova-BoldIt</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-BoldItalic</string>
		</dict>
	</array>
	<key>ProximaNova-Extrabld</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-Heavy</string>
		</dict>
	</array>
	<key>ProximaNova-ExtrabldIt</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-HeavyItalic</string>
		</dict>
	</array>
	<key>ProximaNova-Light</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-UltraLight</string>
		</dict>
	</array>
	<key>ProximaNova-LightIt</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-UltraLightItalic</string>
		</dict>
	</array>
	<key>ProximaNova-Medium</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-Medium</string>
		</dict>
	</array>
	<key>ProximaNova-MediumIt</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-MediumItalic</string>
		</dict>
	</array>
	<key>ProximaNova-Regular</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-Regular</string>
		</dict>
	</array>
	<key>ProximaNova-RegularIt</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-Italic</string>
		</dict>
	</array>
	<key>ProximaNova-Semibold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-DemiBold</string>
		</dict>
	</array>
	<key>ProximaNova-SemiboldIt</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>AvenirNext-DemiBoldItalic</string>
		</dict>
	</array>
	<key>PublicoHeadline-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Charter-Bold</string>
		</dict>
	</array>
	<key>PublicoHeadline-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Charter-BoldItalic</string>
		</dict>
	</array>
	<key>PublicoHeadline-Roman</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Charter-Roman</string>
		</dict>
	</array>
	<key>PublicoText-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Charter-Bold</string>
		</dict>
	</array>
	<key>PublicoText-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Charter-BoldItalic</string>
		</dict>
	</array>
	<key>PublicoText-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Charter-Italic</string>
		</dict>
	</array>
	<key>PublicoText-Roman</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Charter-Roman</string>
		</dict>
	</array>
	<key>PublicoText-Semibold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Charter-Bold</string>
		</dict>
	</array>
	<key>PublicoText-SemiboldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Charter-BoldItalic</string>
		</dict>
	</array>
	<key>QuotesCaps-Regular</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>SignPainter-HouseScript</string>
		</dict>
	</array>
	<key>QuotesScript-Regular</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>SignPainter-HouseScriptSemibold</string>
		</dict>
	</array>
	<key>STZhongsong</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>SimSong-Regular</string>
		</dict>
	</array>
	<key>SauberScript</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>SignPainter-HouseScript</string>
		</dict>
	</array>
	<key>SegoeUI</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Verdana</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS</string>
		</dict>
	</array>
	<key>SegoeUI-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Verdana-Bold</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS-Bold</string>
		</dict>
	</array>
	<key>SegoeUI-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Verdana-BoldItalic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Trebuchet-BoldItalic</string>
		</dict>
	</array>
	<key>SegoeUI-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Verdana-Italic</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>TrebuchetMS-Italic</string>
		</dict>
	</array>
	<key>SimSun</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>SimSong-Regular</string>
		</dict>
	</array>
	<key>SpotMono-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Menlo-Bold</string>
		</dict>
	</array>
	<key>SpotMono-Medium</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Menlo-Regular</string>
		</dict>
	</array>
	<key>SpotMono-Regular</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Menlo-Regular</string>
		</dict>
	</array>
	<key>Sylfaen</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Marion-Regular</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>HoeflerText-Regular</string>
		</dict>
	</array>
	<key>Tahoma</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Verdana</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Helvetica</string>
		</dict>
	</array>
	<key>Tahoma-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Verdana-Bold</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Helvetica-Bold</string>
		</dict>
	</array>
	<key>TraditionalArabic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>GeezaPro</string>
		</dict>
	</array>
	<key>TwCenMT-Bold</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Avenir-Black</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Arial-BoldMT</string>
		</dict>
	</array>
	<key>TwCenMT-BoldItalic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Avenir-BlackOblique</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Arial-BoldItalicMT</string>
		</dict>
	</array>
	<key>TwCenMT-Italic</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Avenir-Oblique</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>Arial-ItalicMT</string>
		</dict>
	</array>
	<key>TwCenMT-Regular</key>
	<array>
		<dict>
			<key>PostScript-name</key>
			<string>Avenir-Roman</string>
		</dict>
		<dict>
			<key>PostScript-name</key>
			<string>ArialMT</string>
		</dict>
	</array>
</dict>
</plist>
