<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>BooksMessages</string>
	<key>NSManagedObjectModel_VersionChecksums</key>
	<dict>
		<key>2022</key>
		<string>J7jewfS18dJO2tzaEBK9+xc2maZyNR59AMycLfNuXJE=</string>
		<key>2023</key>
		<string>Sc3RlXN+dgyOqDT0qEL2O0bx8TrDjgzWhwNd6WAgTOM=</string>
		<key>2024</key>
		<string>64R3wplDs9JpQs9TizUwpVJxDB9XlhYtQuU1SaUqD0E=</string>
		<key>BooksMessages</key>
		<string>7fdOQWxrH9sOgbyQpuKD6ilDmF9MLF1QaKd9SWqMtoc=</string>
	</dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>2022</key>
		<dict>
			<key>CDConfiguration</key>
			<data>
			NMAmhfNFnr7/UEhhZ5JlcOLzBGn4Zr0snsAh7WOpwXM=
			</data>
			<key>CDProperty</key>
			<data>
			X1J0mkAmme7na/hVyKPry5m0TWEO6D0Rt6NRDEDayG0=
			</data>
		</dict>
		<key>2023</key>
		<dict>
			<key>CDCloudSyncHistory</key>
			<data>
			svodq2JOM4QUS9RaEYpR/FfWc+0NyJzjLSyh5KyQEAk=
			</data>
			<key>CDCloudSyncVersions</key>
			<data>
			PxZ0S6KCVX+HIBWEYkX9zZzhiYCikQGG21JcRVJTAL8=
			</data>
			<key>CDConfiguration</key>
			<data>
			WR+T7jgf6ghJmoGnkVKF2oPNrYSb4EpddkazXpUgQsw=
			</data>
			<key>CDProperty</key>
			<data>
			X1J0mkAmme7na/hVyKPry5m0TWEO6D0Rt6NRDEDayG0=
			</data>
		</dict>
		<key>2024</key>
		<dict>
			<key>CDCloudSyncHistory</key>
			<data>
			svodq2JOM4QUS9RaEYpR/FfWc+0NyJzjLSyh5KyQEAk=
			</data>
			<key>CDCloudSyncVersions</key>
			<data>
			PxZ0S6KCVX+HIBWEYkX9zZzhiYCikQGG21JcRVJTAL8=
			</data>
			<key>CDConfiguration</key>
			<data>
			WR+T7jgf6ghJmoGnkVKF2oPNrYSb4EpddkazXpUgQsw=
			</data>
			<key>CDProperty</key>
			<data>
			GKObsH9u3CWK25qH9m2DQ4wrgU25KcyCBo+W09zWYPY=
			</data>
		</dict>
		<key>BooksMessages</key>
		<dict>
			<key>CDCloudSyncVersions</key>
			<data>
			PxZ0S6KCVX+HIBWEYkX9zZzhiYCikQGG21JcRVJTAL8=
			</data>
			<key>CDConfiguration</key>
			<data>
			WR+T7jgf6ghJmoGnkVKF2oPNrYSb4EpddkazXpUgQsw=
			</data>
			<key>CDProperty</key>
			<data>
			GKObsH9u3CWK25qH9m2DQ4wrgU25KcyCBo+W09zWYPY=
			</data>
		</dict>
	</dict>
</dict>
</plist>
