<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>BKSeries</string>
	<key>NSManagedObjectModel_VersionChecksums</key>
	<dict>
		<key>BKSeries</key>
		<string>7W/wuMsNH3/WWHwnNGV6b7EaWbRH3NNO3dgydoVOL5g=</string>
		<key>BKSeries_4.18</key>
		<string>PvlG9qHJlhoz6l2yk9x3MpfBY0+yvEPv5UQcWvS0hKc=</string>
		<key>BKSeries_4.19</key>
		<string>wFEFwA6FqiFxpPADuEP80Trh81iUsCM/SQPHPPA93fk=</string>
		<key>BKSeries_9.4</key>
		<string>wP+i96P3JPsR9Rx+dYi7HtMPWNM0R4B1hvPNV9BfHao=</string>
		<key>BKSeries_New</key>
		<string>wP+i96P3JPsR9Rx+dYi7HtMPWNM0R4B1hvPNV9BfHao=</string>
		<key>BKSeries_iOS16.6</key>
		<string>wP+i96P3JPsR9Rx+dYi7HtMPWNM0R4B1hvPNV9BfHao=</string>
		<key>BKSeries_iOS17Seed1</key>
		<string>89k5m7mLpiQ2qT+0qg6eu2oiS5o4pWKjocs5PiLQBAY=</string>
	</dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>BKSeries</key>
		<dict>
			<key>BKSeriesCheck</key>
			<data>
			2G729lPvpcnNAjGUkJrPNWhjWixxqD+m88+Nji2+ZtA=
			</data>
			<key>BKSeriesItem</key>
			<data>
			4hvC2KyZTNOob23QVEwwatlJKKEwX8Zol01f5XdGBUg=
			</data>
		</dict>
		<key>BKSeries_4.18</key>
		<dict>
			<key>BKSeriesCheck</key>
			<data>
			2G729lPvpcnNAjGUkJrPNWhjWixxqD+m88+Nji2+ZtA=
			</data>
			<key>BKSeriesItem</key>
			<data>
			Ct1sBDwaeGWrkBlNpMPHhTw0dfvpUxvbO1G7djxqAvo=
			</data>
		</dict>
		<key>BKSeries_4.19</key>
		<dict>
			<key>BKSeriesCheck</key>
			<data>
			2G729lPvpcnNAjGUkJrPNWhjWixxqD+m88+Nji2+ZtA=
			</data>
			<key>BKSeriesItem</key>
			<data>
			uOZ376VZstzZ90Zu8EZGIfAt6HNdXHBHTlklEGy5Yw4=
			</data>
		</dict>
		<key>BKSeries_9.4</key>
		<dict>
			<key>BKSeriesCheck</key>
			<data>
			2G729lPvpcnNAjGUkJrPNWhjWixxqD+m88+Nji2+ZtA=
			</data>
			<key>BKSeriesItem</key>
			<data>
			IjNW04tlA5vLSyrYDCAuhQHYF/HvXYcR0T82MKFAT7A=
			</data>
		</dict>
		<key>BKSeries_New</key>
		<dict>
			<key>BKSeriesCheck</key>
			<data>
			2G729lPvpcnNAjGUkJrPNWhjWixxqD+m88+Nji2+ZtA=
			</data>
			<key>BKSeriesItem</key>
			<data>
			IjNW04tlA5vLSyrYDCAuhQHYF/HvXYcR0T82MKFAT7A=
			</data>
		</dict>
		<key>BKSeries_iOS16.6</key>
		<dict>
			<key>BKSeriesCheck</key>
			<data>
			2G729lPvpcnNAjGUkJrPNWhjWixxqD+m88+Nji2+ZtA=
			</data>
			<key>BKSeriesItem</key>
			<data>
			IjNW04tlA5vLSyrYDCAuhQHYF/HvXYcR0T82MKFAT7A=
			</data>
		</dict>
		<key>BKSeries_iOS17Seed1</key>
		<dict>
			<key>BKSeriesCheck</key>
			<data>
			2G729lPvpcnNAjGUkJrPNWhjWixxqD+m88+Nji2+ZtA=
			</data>
			<key>BKSeriesItem</key>
			<data>
			GsM401PW2tpCVoxjngVZf7lcn9Bx2hDVGGNWkOaEqwk=
			</data>
		</dict>
	</dict>
</dict>
</plist>
