<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6Lad</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>6PDa</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>6Wad</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>6Wgw</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>6Wte</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>DRes</key>
	<dict>
		<key>tab</key>
		<string>networkTab</string>
	</dict>
	<key>MaSt</key>
	<dict>
		<key>tab</key>
		<string>disksTab</string>
	</dict>
	<key>aWan</key>
	<dict>
		<key>tab</key>
		<string>airplayTab</string>
	</dict>
	<key>auNN</key>
	<dict>
		<key>tab</key>
		<string>airplayTab</string>
	</dict>
	<key>auNP</key>
	<dict>
		<key>tab</key>
		<string>airplayTab</string>
	</dict>
	<key>auRR</key>
	<dict>
		<key>tab</key>
		<string>airplayTab</string>
	</dict>
	<key>bs5n</key>
	<dict>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>bs6C</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>bsBT</key>
	<dict>
		<key>tab</key>
		<string>baseStationTab</string>
	</dict>
	<key>bsFM</key>
	<dict>
		<key>tab</key>
		<string>disksTab</string>
	</dict>
	<key>bsFS</key>
	<dict>
		<key>tab</key>
		<string>disksTab</string>
	</dict>
	<key>bsGN</key>
	<dict>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>bsGP</key>
	<dict>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>bsGS</key>
	<dict>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>bsIC</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>bsPC</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>bsRC</key>
	<dict>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>bsRF</key>
	<dict>
		<key>tab</key>
		<string>disksTab</string>
	</dict>
	<key>bsRM</key>
	<dict>
		<key>tab</key>
		<string>networkTab</string>
	</dict>
	<key>bsSK</key>
	<dict>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>bsSM</key>
	<dict>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>bsWC</key>
	<dict>
		<key>tab</key>
		<string>baseStationTab</string>
	</dict>
	<key>dhBg</key>
	<dict>
		<key>tab</key>
		<string>networkTab</string>
	</dict>
	<key>dhEn</key>
	<dict>
		<key>tab</key>
		<string>networkTab</string>
	</dict>
	<key>dhLe</key>
	<dict>
		<key>tab</key>
		<string>networkTab</string>
	</dict>
	<key>fire</key>
	<dict>
		<key>tab</key>
		<string>networkTab</string>
	</dict>
	<key>fssp</key>
	<dict>
		<key>tab</key>
		<string>disksTab</string>
	</dict>
	<key>nDMZ</key>
	<dict>
		<key>tab</key>
		<string>networkTab</string>
	</dict>
	<key>peID</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>pePW</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>peSN</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>peUN</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>raAu</key>
	<dict>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>raI1</key>
	<dict>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>raI2</key>
	<dict>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>raMd</key>
	<dict>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>raNa</key>
	<dict>
		<key>tab</key>
		<string>networkTab</string>
	</dict>
	<key>raNm</key>
	<dict>
		<key>property</key>
		<string></string>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>raS2</key>
	<dict>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>raSe</key>
	<dict>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>raU2</key>
	<dict>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>syNm</key>
	<dict>
		<key>property</key>
		<string>baseStationName</string>
		<key>tab</key>
		<string>baseStationTab</string>
	</dict>
	<key>syPW</key>
	<dict>
		<key>property</key>
		<string>baseStationPassword</string>
		<key>tab</key>
		<string>baseStationTab</string>
	</dict>
	<key>syRe</key>
	<dict>
		<key>tab</key>
		<string>wirelessTab</string>
	</dict>
	<key>usrd</key>
	<dict>
		<key>tab</key>
		<string>disksTab</string>
	</dict>
	<key>waCD</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>waCV</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>waD1</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>waD2</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>waDN</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>waIP</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>waRA</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
	<key>waSM</key>
	<dict>
		<key>tab</key>
		<string>internetTab</string>
	</dict>
</dict>
</plist>
