<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseStation</key>
	<dict>
		<key>levels</key>
		<array>
			<dict>
				<key>groups</key>
				<array>
					<dict>
						<key>group</key>
						<string>general</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<dict>
										<key>icon</key>
										<string>productFamily.%d</string>
										<key>setting</key>
										<string>syNm</string>
									</dict>
									<string>waIP</string>
									<dict>
										<key>icon</key>
										<string>alertBadge</string>
										<key>iconPosition</key>
										<string>main</string>
										<key>setting</key>
										<string>syVs</string>
									</dict>
								</array>
							</dict>
							<dict>
								<key>settings</key>
								<array>
									<string>problemCodes</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>group</key>
						<string>wifi</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<dict>
										<key>icon</key>
										<string>wifiIcon</string>
										<key>setting</key>
										<string>raNm</string>
									</dict>
									<string>bsSM</string>
									<string>bsGE</string>
									<dict>
										<key>icon</key>
										<string>wifiIcon</string>
										<key>setting</key>
										<string>bsGN</string>
									</dict>
									<string>bsGS</string>
								</array>
							</dict>
							<dict>
								<key>settings</key>
								<array>
									<string>connectedClientsNew</string>
									<string>sySt</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>group</key>
						<string>audio</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<string>auNN</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>group</key>
						<string>disk</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<dict>
										<key>icon</key>
										<string>diskIcon</string>
										<key>iconPosition</key>
										<string>main</string>
										<key>setting</key>
										<string>bsDN</string>
									</dict>
									<dict>
										<key>icon</key>
										<string>diskIcon</string>
										<key>setting</key>
										<string>MaSt</string>
									</dict>
									<string>bsFS</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>group</key>
						<string>printers</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<string>prnR</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>group</key>
						<string>status</string>
						<key>sections</key>
						<array>
							<dict>
								<key>footer</key>
								<string>deviceNotFound.footer</string>
								<key>settings</key>
								<array>
									<string>deviceNotFound</string>
									<string>deviceNotFound.forget</string>
									<string>deviceNotFound.moreinfo</string>
									<string>enterBasePassword</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>hasEditMode</key>
				<true/>
				<key>levelDesc</key>
				<string>eSettingsLevel_Info</string>
				<key>levelId</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>groups</key>
				<array>
					<dict>
						<key>group</key>
						<string>general</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<dict>
										<key>icon</key>
										<string>productFamily.%d</string>
										<key>setting</key>
										<string>syNm</string>
									</dict>
									<string>syPW</string>
									<string>SUEn</string>
									<string>bsWC</string>
									<string>wbAC</string>
									<string>syCt</string>
									<string>syLo</string>
									<string>leAc</string>
									<dict>
										<key>icon</key>
										<string>alertBadge</string>
										<key>iconPosition</key>
										<string>badge</string>
										<key>setting</key>
										<string>syVs</string>
									</dict>
									<string>bsBT</string>
									<string>enterBasePassword</string>
									<dict>
										<key>icon</key>
										<string>alertBadge</string>
										<key>iconPosition</key>
										<string>main</string>
										<key>setting</key>
										<string>sySt</string>
									</dict>
									<string>bsDP</string>
									<string>Prof</string>
								</array>
							</dict>
							<dict>
								<key>settings</key>
								<array>
									<string>problemCodes</string>
								</array>
							</dict>
							<dict>
								<key>header</key>
								<string>DateTime</string>
								<key>settings</key>
								<array>
									<string>bsNP</string>
									<string>bsTZ</string>
								</array>
							</dict>
							<dict>
								<key>header</key>
								<string>Hostnames</string>
								<key>settings</key>
								<array>
									<string>syDN</string>
									<string>wbEn</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>group</key>
						<string>wifi</string>
						<key>sections</key>
						<array>
							<dict>
								<key>header</key>
								<string>WiFiNetwork</string>
								<key>settings</key>
								<array>
									<dict>
										<key>icon</key>
										<string>wifiIcon</string>
										<key>setting</key>
										<string>raNm</string>
									</dict>
									<string>raSt</string>
									<string>bsSM</string>
									<string>bsSK</string>
									<string>raKT</string>
									<string>raCl</string>
									<string>bs5N</string>
									<string>bsNM</string>
								</array>
							</dict>
							<dict>
								<key>header</key>
								<string>80211Settings</string>
								<key>settings</key>
								<array>
									<string>syRe</string>
									<string>raMd</string>
									<string>bsRC</string>
									<string>bsMu</string>
									<string>raWC</string>
								</array>
							</dict>
							<dict>
								<key>icon</key>
								<string>wifiIcon</string>
								<key>setting</key>
								<string>bsGN</string>
								<key>settings</key>
								<array>
									<string>bsGS</string>
								</array>
							</dict>
							<dict>
								<key>header</key>
								<string>AccessControl</string>
								<key>settings</key>
								<array>
									<string>bsAT</string>
								</array>
							</dict>
							<dict>
								<key>settings</key>
								<array>
									<string>tACL</string>
									<string>acTa</string>
									<string>bsrT</string>
								</array>
							</dict>
							<dict>
								<key>settings</key>
								<array>
									<string>raI1</string>
									<string>raSe</string>
									<string>raAu</string>
								</array>
							</dict>
							<dict>
								<key>settings</key>
								<array>
									<string>raI2</string>
									<string>raS2</string>
									<string>raU2</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>group</key>
						<string>syslog</string>
						<key>sections</key>
						<array>
							<dict>
								<key>header</key>
								<string>SNMP</string>
								<key>settings</key>
								<array>
									<string>bsSN</string>
									<string>bsSW</string>
								</array>
							</dict>
							<dict>
								<key>header</key>
								<string>SystemLogging</string>
								<key>settings</key>
								<array>
									<string>slCl</string>
									<string>slvl</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>group</key>
						<string>audio</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<string>auRR</string>
									<string>auNN</string>
									<string>auNP</string>
									<string>aWan</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>group</key>
						<string>disk</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<dict>
										<key>icon</key>
										<string>diskIcon</string>
										<key>setting</key>
										<string>bsDN</string>
									</dict>
									<string>bsDS</string>
									<dict>
										<key>icon</key>
										<string>diskIcon</string>
										<key>setting</key>
										<string>MaSt</string>
									</dict>
									<string>bsFS</string>
									<string>fssp</string>
									<string>bsGA</string>
									<string>bsRF</string>
									<string>bsWF</string>
								</array>
							</dict>
							<dict>
								<key>header</key>
								<string>WindowsFileSharing</string>
								<key>settings</key>
								<array>
									<string>SMBs</string>
									<string>SMBw</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>group</key>
						<string>internet</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<string>bsIC</string>
									<string>waSD</string>
								</array>
							</dict>
							<dict>
								<key>header</key>
								<string>TCPIP</string>
								<key>settings</key>
								<array>
									<string>renewDHCPLease</string>
									<string>waIP</string>
									<string>waSM</string>
									<string>waRA</string>
									<string>waDN</string>
									<string>waDC</string>
								</array>
							</dict>
							<dict>
								<key>header</key>
								<string>DHCPServer</string>
								<key>settings</key>
								<array>
									<string>raDS</string>
									<string>dhBg</string>
									<string>dhEn</string>
									<string>dhLe</string>
									<string>dhMg</string>
									<string>DRes</string>
								</array>
							</dict>
							<dict>
								<key>header</key>
								<string>NATService</string>
								<key>settings</key>
								<array>
									<string>raNA</string>
									<string>nDMZ</string>
									<string>naFl</string>
								</array>
							</dict>
							<dict>
								<key>header</key>
								<string>Firewall</string>
								<key>settings</key>
								<array>
									<string>pmTa</string>
									<string>fire</string>
									<string>6fwl</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>group</key>
						<string>printers</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<string>prnR</string>
									<string>bsRP</string>
									<string>bsWF</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>group</key>
						<string>status</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<string>deviceNotFound</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>hasEditMode</key>
				<true/>
				<key>levelDesc</key>
				<string>eSettingsLevel_Advanced</string>
				<key>levelId</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>connection</key>
	<dict>
		<key>levels</key>
		<array>
			<dict>
				<key>groups</key>
				<array>
					<dict>
						<key>group</key>
						<string>connection</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<string>connectionType</string>
									<string>waIS</string>
									<string>raIS</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>hasEditMode</key>
				<false/>
				<key>levelDesc</key>
				<string>eSettingsLevel_SimpleReadOnly</string>
				<key>levelId</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>internet</key>
	<dict>
		<key>levels</key>
		<array>
			<dict>
				<key>groups</key>
				<array>
					<dict>
						<key>group</key>
						<string>internet</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<string>connected</string>
									<string>waIP</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>hasEditMode</key>
				<false/>
				<key>levelDesc</key>
				<string>eSettingsLevel_SimpleReadOnly</string>
				<key>levelId</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>network</key>
	<dict>
		<key>levels</key>
		<array>
			<dict>
				<key>groups</key>
				<array>
					<dict>
						<key>group</key>
						<string>wifi</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<dict>
										<key>icon</key>
										<string>wifiIcon</string>
										<key>setting</key>
										<string>raNm</string>
									</dict>
									<string>bsSM</string>
									<string>bsSK</string>
									<dict>
										<key>icon</key>
										<string>wifiIcon</string>
										<key>setting</key>
										<string>bsGN</string>
									</dict>
									<string>bsGS</string>
									<string>bsGP</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>hasEditMode</key>
				<false/>
				<key>levelDesc</key>
				<string>eSettingsLevel_Simple</string>
				<key>levelId</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>nonAppleRouter</key>
	<dict>
		<key>levels</key>
		<array>
			<dict>
				<key>groups</key>
				<array>
					<dict>
						<key>group</key>
						<string>general</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<dict>
										<key>icon</key>
										<string>productFamily.%d</string>
										<key>setting</key>
										<string>syNm</string>
									</dict>
									<string>waIP</string>
									<string>syVs</string>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>group</key>
						<string>wifi</string>
						<key>sections</key>
						<array>
							<dict>
								<key>settings</key>
								<array>
									<dict>
										<key>icon</key>
										<string>wifiIcon</string>
										<key>setting</key>
										<string>raNm</string>
									</dict>
									<string>bsSM</string>
									<string>bsGN</string>
									<string>bsGS</string>
								</array>
							</dict>
						</array>
					</dict>
				</array>
				<key>hasEditMode</key>
				<false/>
				<key>levelDesc</key>
				<string>eSettingsLevel_SimpleReadOnly</string>
				<key>levelId</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
