<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Icon</key>
	<string>PreferencesPlaybackButton</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<integer>15</integer>
			<key>Key</key>
			<string>BKAudioBookSkipForward</string>
			<key>ShortTitles</key>
			<array>
				<string>10</string>
				<string>15</string>
				<string>30</string>
				<string>45</string>
				<string>60</string>
			</array>
			<key>Title</key>
			<string>SKIP_FORWARD</string>
			<key>Titles</key>
			<array>
				<string>10_SECONDS</string>
				<string>15_SECONDS</string>
				<string>30_SECONDS</string>
				<string>45_SECONDS</string>
				<string>60_SECONDS</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>15</integer>
				<integer>30</integer>
				<integer>45</integer>
				<integer>60</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>15</integer>
			<key>FooterText</key>
			<string>SKIP_FOOTER</string>
			<key>Key</key>
			<string>BKAudioBookSkipBackward</string>
			<key>ShortTitles</key>
			<array>
				<string>10</string>
				<string>15</string>
				<string>30</string>
				<string>45</string>
				<string>60</string>
			</array>
			<key>Title</key>
			<string>SKIP_BACKWARD</string>
			<key>Titles</key>
			<array>
				<string>10_SECONDS</string>
				<string>15_SECONDS</string>
				<string>30_SECONDS</string>
				<string>45_SECONDS</string>
				<string>60_SECONDS</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>15</integer>
				<integer>30</integer>
				<integer>45</integer>
				<integer>60</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>FooterText</key>
			<string>HEADPHONE_FOOTER</string>
			<key>Key</key>
			<string>BKRemoteSkipInsteadOfNextTrackDefaultKey</string>
			<key>Title</key>
			<string>HEADPHONE_CONTROLS</string>
			<key>Titles</key>
			<array>
				<string>NEXT_PREV_TRACK</string>
				<string>SKIP_FORWARD_BACK</string>
			</array>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Playback</string>
	<key>SystemSymbolIcon</key>
	<string>play.circle</string>
</dict>
</plist>
