<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Icon</key>
	<string>PreferencesGeneralButton</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string> </string>
			<key>Title</key>
			<string>DOWNLOADS_HEADER</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Description</key>
			<string>DOWNLOAD_NEW_FOOTER</string>
			<key>DisabledStateKey</key>
			<string>BCSyncPreferencesItunesSignedOut</string>
			<key>Key</key>
			<string>AllowAutoDownloadsForPurchasesFromOtherDevices</string>
			<key>Title</key>
			<string>DOWNLOAD_NEW</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string> </string>
			<key>Title</key>
			<string>SYNCING_HEADER</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>DisabledStateKey</key>
			<string>BCSyncSettingsDisabled</string>
			<key>Key</key>
			<string>BKLibrary.ReadingNow</string>
			<key>Title</key>
			<string>READING_NOW</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Description</key>
			<string>COLLECTION_SYNC_FOOTER</string>
			<key>DisabledDescription</key>
			<string>COLLECTION_SYNC_DISABLED</string>
			<key>DisabledStateKey</key>
			<string>BCSyncSettingsDisabled</string>
			<key>Key</key>
			<string>BKSyncBookmarksPreferenceKey</string>
			<key>Title</key>
			<string>COLLECTION_SYNC</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string> </string>
			<key>Title</key>
			<string>READING_GOALS_HEADER</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Description</key>
			<string>ENABLE_READING_GOALS_FOOTER</string>
			<key>Key</key>
			<string>BKReadingGoalsUserDefaultsKey</string>
			<key>Title</key>
			<string>ENABLE_READING_GOALS</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>ConfirmationPrompt</key>
			<dict>
				<key>ConfirmText</key>
				<string>CLEAR_READING_GOALS</string>
				<key>DenyText</key>
				<string>CLEAR_READING_GOALS_CONFIRMATION_CANCEL</string>
				<key>Prompt</key>
				<string>CLEAR_READING_GOALS_CONFIRMATION_PROMPT</string>
				<key>Type</key>
				<string>PSConfirmationPrompt</string>
			</dict>
			<key>Description</key>
			<string>CLEAR_READING_GOALS_FOOTER</string>
			<key>Selector</key>
			<string>clearReadingGoals:</string>
			<key>Title</key>
			<string>CLEAR_READING_GOALS</string>
			<key>Type</key>
			<string>PSCustomButtonSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Reading</string>
			<key>Title</key>
			<string>READING_PANE_TITLE</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Playback</string>
			<key>Title</key>
			<string>PLAYBACK_PANE_TITLE</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Advanced</string>
			<key>Title</key>
			<string>ADVANCED_PANE_TITLE</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>SystemSymbolIcon</key>
	<string>gearshape</string>
</dict>
</plist>
