<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Comment</key>
	<string>These keys are defined in SUDiskDefinitions</string>
	<key>default_selections</key>
	<dict>
		<key>default_blank_image_type</key>
		<string>RAW</string>
		<key>default_encryption_type</key>
		<string>NONE</string>
		<key>default_image_type</key>
		<string>ULFO</string>
		<key>default_layout_type</key>
		<string>GPTSPUD</string>
	</dict>
	<key>diskimage_types</key>
	<dict>
		<key>ASIF</key>
		<dict>
			<key>Comment</key>
			<string>Read/Write Sparse Image</string>
			<key>default_layout_type</key>
			<string>GPTSPUD</string>
			<key>extension</key>
			<string>asif</string>
			<key>skdiskimageformat</key>
			<integer>7</integer>
		</dict>
		<key>RAW</key>
		<dict>
			<key>Comment</key>
			<string>Read/Write Image</string>
			<key>default_layout_type</key>
			<string>GPTSPUD</string>
			<key>extension</key>
			<string>dmg</string>
			<key>skdiskimageformat</key>
			<integer>1</integer>
		</dict>
		<key>UDRO</key>
		<dict>
			<key>Comment</key>
			<string>Read Only Uncompressed Image</string>
			<key>default_layout_type</key>
			<string>GPTSPUD</string>
			<key>extension</key>
			<string>dmg</string>
			<key>skdiskimageformat</key>
			<integer>2</integer>
		</dict>
		<key>UDSB</key>
		<dict>
			<key>Comment</key>
			<string>Read/Write Sparse Bundle</string>
			<key>default_layout_type</key>
			<string>GPTSPUD</string>
			<key>extension</key>
			<string>sparsebundle</string>
			<key>skdiskimageformat</key>
			<integer>6</integer>
		</dict>
		<key>UDTO</key>
		<dict>
			<key>Comment</key>
			<string>DVD/CD master</string>
			<key>default_partition_map_type</key>
			<string>GPTSPUD</string>
			<key>extension</key>
			<string>cdr</string>
		</dict>
		<key>ULFO</key>
		<dict>
			<key>Comment</key>
			<string>Read Only lzfse Compressed</string>
			<key>default_layout_type</key>
			<string>GPTSPUD</string>
			<key>extension</key>
			<string>dmg</string>
			<key>skdiskimageformat</key>
			<integer>4</integer>
		</dict>
		<key>UNIV</key>
		<dict>
			<key>Comment</key>
			<string>hybrid image (HFS+/ISO/UDF)</string>
			<key>default_layout_type</key>
			<string>UNIVERSAL CD</string>
			<key>extension</key>
			<string>dmg</string>
		</dict>
	</dict>
	<key>encryption_types</key>
	<dict>
		<key>AES-128</key>
		<integer>1</integer>
		<key>AES-256</key>
		<integer>2</integer>
		<key>NONE</key>
		<integer>0</integer>
	</dict>
	<key>format_names_for_blank_image</key>
	<array>
		<string>UDSB</string>
		<string>RAW</string>
		<string>ASIF</string>
		<string>UDTO</string>
	</array>
	<key>format_names_for_convert_image</key>
	<array>
		<string>UDRO</string>
		<string>ULFO</string>
		<string>UDSB</string>
		<string>RAW</string>
		<string>ASIF</string>
		<string>UDTO</string>
	</array>
	<key>format_names_for_image_from_device</key>
	<array>
		<string>UDRO</string>
		<string>ULFO</string>
		<string>UDSB</string>
		<string>RAW</string>
		<string>ASIF</string>
		<string>UDTO</string>
	</array>
	<key>format_names_for_image_from_folder</key>
	<array>
		<string>UDRO</string>
		<string>ULFO</string>
		<string>UDSB</string>
		<string>RAW</string>
		<string>ASIF</string>
		<string>UDTO</string>
		<string>UNIV</string>
	</array>
	<key>layout_types</key>
	<dict>
		<key>GPTSPUD</key>
		<dict>
			<key>block_size</key>
			<integer>512</integer>
			<key>overhead_in_blocks</key>
			<integer>64</integer>
			<key>partition_map_type</key>
			<string>kSKDiskPartitionMapGPT</string>
		</dict>
		<key>MBRSPUD</key>
		<dict>
			<key>block_size</key>
			<integer>512</integer>
			<key>overhead_in_blocks</key>
			<integer>63</integer>
			<key>partition_map_type</key>
			<string>kSKDiskPartitionMapMBR</string>
		</dict>
		<key>SPUD</key>
		<dict>
			<key>block_size</key>
			<integer>512</integer>
			<key>overhead_in_blocks</key>
			<integer>64</integer>
			<key>partition_map_type</key>
			<string>kSKDiskPartitionMapAPM</string>
		</dict>
		<key>UNIVERSAL CD</key>
		<dict>
			<key>block_size</key>
			<integer>2048</integer>
			<key>overhead_in_blocks</key>
			<integer>64</integer>
			<key>partition_map_type</key>
			<string>kSKDiskPartitionMapAPM</string>
		</dict>
		<key>UNPARTITIONED</key>
		<dict>
			<key>block_size</key>
			<integer>512</integer>
			<key>overhead_in_blocks</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
