<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BSServiceDomains</key>
	<dict>
		<key>com.apple.CameraOverlayAngel</key>
		<dict>
			<key>MachName</key>
			<string>com.apple.CameraOverlayAngel.application-service</string>
			<key>Services</key>
			<dict>
				<key>com.apple.CameraOverlayAngel.client-app-service</key>
				<dict/>
			</dict>
		</dict>
	</dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>CameraOverlayAngel</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.CameraOverlayAngel</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CameraOverlayAngel</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>4097.40.19</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>23B78</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23B78</string>
	<key>DTSDKName</key>
	<string>iphoneos26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>LSLaunchDLabel</key>
	<string>com.apple.CameraOverlayAngel</string>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>SBAppTags</key>
	<array>
		<string>hidden</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>SBSUIWindowSceneSessionRoleCameraOverlay</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>SBSUICameraOverlay Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>CameraOverlayAngel.OverlaySceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShowsViewsWhileLocked</key>
	<true/>
	<key>UIApplicationSystemWindowsSecureKey</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64e</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
