<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>scrollIterations</key>
		<string>3</string>
		<key>tab</key>
		<string>listen</string>
		<key>testName</key>
		<string>ScrollListenNowLandscape</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
		<key>useCornobble</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>tab</key>
		<string>listen</string>
		<key>testName</key>
		<string>NowPlayingPresentationLandscape</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>tab</key>
		<string>listen</string>
		<key>testName</key>
		<string>NowPlayingPresentationQueueLandscape</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>presentation</key>
		<string>showDetail</string>
		<key>pushToUrl</key>
		<string>podcasts-ppt://library/bookmarks</string>
		<key>scrollDelta</key>
		<string>20</string>
		<key>scrollIterations</key>
		<string>2</string>
		<key>tab</key>
		<string>library</string>
		<key>testName</key>
		<string>ScrollLibraryEpisodesLandscape</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>presentation</key>
		<string>push</string>
		<key>scrollDelta</key>
		<string>20</string>
		<key>scrollIterations</key>
		<string>2</string>
		<key>tab</key>
		<string>library</string>
		<key>testName</key>
		<string>ScrollMyPodcastsLandscape</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>editing</key>
		<string>YES</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>presentation</key>
		<string>push</string>
		<key>scrollDelta</key>
		<string>20</string>
		<key>scrollIterations</key>
		<string>2</string>
		<key>tab</key>
		<string>library</string>
		<key>testName</key>
		<string>ScrollMyPodcastsInEditModeLandscape</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>presentation</key>
		<string>showDetail</string>
		<key>pushToUrl</key>
		<string>podcasts-ppt://library/shows</string>
		<key>scrollDelta</key>
		<string>20</string>
		<key>scrollIterations</key>
		<string>2</string>
		<key>tab</key>
		<string>library</string>
		<key>testName</key>
		<string>ScrollLibraryShowsLandscape</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>editing</key>
		<string>YES</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>presentation</key>
		<string>showDetail</string>
		<key>pushToUrl</key>
		<string>podcasts-ppt://library/shows</string>
		<key>scrollDelta</key>
		<string>20</string>
		<key>scrollIterations</key>
		<string>2</string>
		<key>tab</key>
		<string>library</string>
		<key>testName</key>
		<string>ScrollLibraryShowsInEditModeLandscape</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>scrollDelta</key>
		<string>20</string>
		<key>scrollIterations</key>
		<string>2</string>
		<key>searchTerm</key>
		<string>Games</string>
		<key>tab</key>
		<string>search</string>
		<key>testName</key>
		<string>ScrollSearchLandscape</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>NO</string>
		<key>pushToUrl</key>
		<string>https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewRoom?fcId=880159951&amp;amp;genreIdString=26&amp;amp;mediaTypeString=Podcasts</string>
		<key>scrollDelta</key>
		<string>20</string>
		<key>scrollIterations</key>
		<string>2</string>
		<key>tab</key>
		<string>catalog</string>
		<key>testName</key>
		<string>ScrollRoomLandscape</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>flowPage</key>
		<string>topCharts</string>
		<key>pageDataFileName</key>
		<string>TopCharts.json</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>scrollDelta</key>
		<string>20</string>
		<key>scrollIterations</key>
		<string>2</string>
		<key>tab</key>
		<string>catalog</string>
		<key>testName</key>
		<string>ScrollChartsLandscape</string>
		<key>timeoutInSeconds</key>
		<integer>400</integer>
	</dict>
</array>
</plist>
