<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>os</key>
	<array>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Sum</string>
				<string>Count</string>
			</array>
			<key>category</key>
			<string>ModelParse</string>
			<key>customCountUnit</key>
			<string>operations</string>
			<key>description</key>
			<string>JSServiceParseModel</string>
			<key>name</key>
			<string>JSService.parseModel</string>
			<key>subsystem</key>
			<string>com.apple.GameStoreKit</string>
			<key>targetTests</key>
			<array>
				<string>launch</string>
				<string>PlayNowRealisticScrollPortrait</string>
				<string>PlayNowRealisticScrollLandscape</string>
				<string>LibraryRealisticScrollPortrait</string>
				<string>LibraryRealisticScrollLandscape</string>
			</array>
			<key>unit</key>
			<string>ms</string>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Sum</string>
				<string>Count</string>
			</array>
			<key>category</key>
			<string>ObjectGraph</string>
			<key>customCountUnit</key>
			<string>dependencies</string>
			<key>description</key>
			<string>MakeDependency</string>
			<key>name</key>
			<string>MakeDependency</string>
			<key>subsystem</key>
			<string>com.apple.JetEngine</string>
			<key>targetTests</key>
			<array>
				<string>launch</string>
				<string>PlayNowRealisticScrollPortrait</string>
				<string>PlayNowRealisticScrollLandscape</string>
				<string>LibraryRealisticScrollPortrait</string>
				<string>LibraryRealisticScrollLandscape</string>
			</array>
			<key>unit</key>
			<string>ms</string>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Max</string>
				<string>Sum</string>
				<string>Count</string>
			</array>
			<key>category</key>
			<string>Startup</string>
			<key>customCountUnit</key>
			<string>requests</string>
			<key>description</key>
			<string>NetFetch</string>
			<key>name</key>
			<string>NetFetch</string>
			<key>subsystem</key>
			<string>com.apple.JetEngine</string>
			<key>targetTests</key>
			<array>
				<string>launch</string>
				<string>PlayNowRealisticScrollPortrait</string>
				<string>PlayNowRealisticScrollLandscape</string>
				<string>LibraryRealisticScrollPortrait</string>
				<string>LibraryRealisticScrollLandscape</string>
			</array>
			<key>unit</key>
			<string>ms</string>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Sum</string>
				<string>Count</string>
			</array>
			<key>category</key>
			<string>PageRender</string>
			<key>customCountUnit</key>
			<string>requests</string>
			<key>description</key>
			<string>PageRenderResourceRequest</string>
			<key>name</key>
			<string>resourceRequest</string>
			<key>subsystem</key>
			<string>com.apple.JetEngine</string>
			<key>targetTests</key>
			<array>
				<string>launch</string>
				<string>PlayNowRealisticScrollPortrait</string>
				<string>PlayNowRealisticScrollLandscape</string>
				<string>LibraryRealisticScrollPortrait</string>
				<string>LibraryRealisticScrollLandscape</string>
			</array>
			<key>unit</key>
			<string>ms</string>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Sum</string>
				<string>Count</string>
			</array>
			<key>category</key>
			<string>JSStack</string>
			<key>customCountUnit</key>
			<string>requests</string>
			<key>description</key>
			<string>jsStackDeserialization</string>
			<key>name</key>
			<string>jsStackDeserialization</string>
			<key>subsystem</key>
			<string>com.apple.JetEngine</string>
			<key>targetTests</key>
			<array>
				<string>launch</string>
				<string>PlayNowRealisticScrollPortrait</string>
				<string>PlayNowRealisticScrollLandscape</string>
				<string>LibraryRealisticScrollPortrait</string>
				<string>LibraryRealisticScrollLandscape</string>
			</array>
			<key>unit</key>
			<string>ms</string>
		</dict>
	</array>
</dict>
</plist>
