<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>archives</key>
	<dict>
		<key>VTT_01</key>
		<string>VTTs_Calm_1_V2.aar</string>
	</dict>
	<key>captions</key>
	<dict>
		<key>line_01</key>
		<string>VTT_01/JessicaSkye/en/line_01.vtt</string>
		<key>line_02</key>
		<string>VTT_01/JessicaSkye/en/line_02.vtt</string>
		<key>line_03</key>
		<string>VTT_01/JessicaSkye/en/line_03.vtt</string>
		<key>line_04</key>
		<string>VTT_01/JessicaSkye/en/line_04.vtt</string>
		<key>line_05</key>
		<string>VTT_01/JessicaSkye/en/line_05.vtt</string>
		<key>line_06</key>
		<string>VTT_01/JessicaSkye/en/line_06.vtt</string>
		<key>line_07</key>
		<string>VTT_01/JessicaSkye/en/line_07.vtt</string>
		<key>line_08</key>
		<string>VTT_01/JessicaSkye/en/line_08.vtt</string>
		<key>line_09</key>
		<string>VTT_01/JessicaSkye/en/line_09.vtt</string>
		<key>line_10</key>
		<string>VTT_01/JessicaSkye/en/line_10.vtt</string>
		<key>line_11</key>
		<string>VTT_01/JessicaSkye/en/line_11.vtt</string>
		<key>line_12</key>
		<string>VTT_01/JessicaSkye/en/line_12.vtt</string>
		<key>line_13</key>
		<string>VTT_01/JessicaSkye/en/line_13.vtt</string>
		<key>line_14</key>
		<string>VTT_01/JessicaSkye/en/line_14.vtt</string>
		<key>line_15</key>
		<string>VTT_01/JessicaSkye/en/line_15.vtt</string>
		<key>line_16</key>
		<string>VTT_01/JessicaSkye/en/line_16.vtt</string>
		<key>line_17</key>
		<string>VTT_01/JessicaSkye/en/line_17.vtt</string>
		<key>line_18</key>
		<string>VTT_01/JessicaSkye/en/line_18.vtt</string>
		<key>line_19</key>
		<string>VTT_01/JessicaSkye/en/line_19.vtt</string>
	</dict>
	<key>files</key>
	<dict>
		<key>line_01</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_1.m4a</string>
		<key>line_02</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_2.m4a</string>
		<key>line_03</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_3.m4a</string>
		<key>line_04</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_4.m4a</string>
		<key>line_05</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_5.m4a</string>
		<key>line_06</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_6.m4a</string>
		<key>line_07</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_7.m4a</string>
		<key>line_08</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_8.m4a</string>
		<key>line_09</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_9.m4a</string>
		<key>line_10</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_10.m4a</string>
		<key>line_11</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_11.m4a</string>
		<key>line_12</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_12.m4a</string>
		<key>line_13</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_13.m4a</string>
		<key>line_14</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_14.m4a</string>
		<key>line_15</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_15.m4a</string>
		<key>line_16</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_16.m4a</string>
		<key>line_17</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_17.m4a</string>
		<key>line_18</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_18.m4a</string>
		<key>line_19</key>
		<string>JessicaSkye_Calm_001_20230601_Segment_19.m4a</string>
		<key>watermintGreeting</key>
		<string>JessicaSkye_Calm_20240713_WatermintGreeting_ToBegin_Soft_Segment_1.m4a</string>
	</dict>
	<key>guideID</key>
	<string>JessicaSkye</string>
	<key>scriptID</key>
	<string>Calm</string>
	<key>scriptIndex</key>
	<integer>19</integer>
	<key>scriptVariant</key>
	<integer>1</integer>
</dict>
</plist>
