<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>DownloadJobs 3</string>
	<key>NSManagedObjectModel_VersionChecksums</key>
	<dict>
		<key>DownloadJobs</key>
		<string>jPXRKz5gLsniM7x4ArjMwxYxSybwTCa+c4gMp3LsolQ=</string>
		<key>DownloadJobs 2</key>
		<string>G4JDKOL+yrZVe6wp1HnqpsW/ZvVG3NnvKxRPjYnYM0g=</string>
		<key>DownloadJobs 3</key>
		<string>ZdxJkW8QaOmBwZsQOsfYoPhZ1NwFKBZmZVMD1QF3YfY=</string>
	</dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>DownloadJobs</key>
		<dict>
			<key>CDDownloadJob</key>
			<data>
			3KLjIJHSXrGMWADQSJZEvUDm2GQCEKwS/qc07H8MPOk=
			</data>
		</dict>
		<key>DownloadJobs 2</key>
		<dict>
			<key>CDDownloadJob</key>
			<data>
			esVTH7haiLaT5bq0QNaLOovNVGrmJUCi0qeu2+g6XwM=
			</data>
		</dict>
		<key>DownloadJobs 3</key>
		<dict>
			<key>CDDownloadJob</key>
			<data>
			QID+pEuzSD8yyPLIGM3mWqygud/nyED0rqr5EbRLEJ0=
			</data>
		</dict>
	</dict>
</dict>
</plist>
