<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SystemReport</string>
	<key>CFBundleExecutable</key>
	<string>SystemReport</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.DiagnosticsService.SystemReport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SystemReport</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>23B78</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23B78</string>
	<key>DTSDKName</key>
	<string>iphoneos26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>DKReporterManifest</key>
			<dict>
				<key>ALS</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Accelerometer</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Accessory.AirPods</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>4.0</string>
				</dict>
				<key>Accessory.AirPodsCase</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Accessory.ApplePencil</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Accessory.MiniJack</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Accessory.SmartBatteryCase</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Accessory.SmartKeyboard</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Accessory.USB</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>ApplePay</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Audio</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Audio.HapticEngine</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Audio.VibrationMotor</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>BackGlass</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Barometer</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Baseband</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.2</string>
				</dict>
				<key>Battery.Internal</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.1</string>
				</dict>
				<key>Battery.SmartBatteryCase</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Bluetooth</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Button.Camera</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Button.Home</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Button.Ringer</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Button.RingerButton</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Button.Sleep</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Button.VolumeDecrement</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Button.VolumeIncrement</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.Front</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.FrontIR</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.Rear</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.RearIR</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.RearSuperWide</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.RearTelephoto</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Compass</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Display</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>ForceTouch</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Gyro</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>LightningController</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>MLB</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Magsafe</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>MotionCoprocessor</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>MultiTouch</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>ProximitySensor</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.1</string>
				</dict>
				<key>Sensor.HomeButton</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Sensor.Temperature</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Software.EnhancedLoggingState</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Storage</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Strobe.FrontSLP</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.1</string>
				</dict>
				<key>System</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.2</string>
				</dict>
				<key>SystemHealthStatus</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>TouchID</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>USBCController</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.1</string>
				</dict>
				<key>UltraWideBand</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>WiFi</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>DKReporterName</key>
			<string>System Report</string>
		</dict>
		<key>NSExtensionContextClass</key>
		<string>DKReporterContext</string>
		<key>NSExtensionContextHostClass</key>
		<string>DKReportHostContext</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.diagnostics-reporter-service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>SystemReport</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64e</string>
	</array>
</dict>
</plist>
