<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>os</key>
	<array>
		<dict>
			<key>category</key>
			<string>app</string>
			<key>description</key>
			<string>Launch time of a system settings extension</string>
			<key>name</key>
			<string>PrefPaneLaunch</string>
			<key>subsystem</key>
			<string>com.apple.systempreferences</string>
			<key>targetTests</key>
			<array>
				<string>LaunchPrefPane</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
