<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alternate_stop_page_design</key>
	<dict>
		<key>AMPFlagGroup</key>
		<string>iTunes Store</string>
		<key>Description</key>
		<string>This will display 2 buttons one for the store one for purchases</string>
		<key>DevelopmentPhase</key>
		<string>FeatureComplete</string>
		<key>DisplayName</key>
		<string>Enable alternate stop page design</string>
	</dict>
	<key>always_show_tv_stop_pages</key>
	<dict>
		<key>AMPFlagGroup</key>
		<string>iTunes Store</string>
		<key>Description</key>
		<string>TV and Movies tabs will display stop pages based regardless of the bag feature enablers</string>
		<key>DevelopmentPhase</key>
		<string>FeatureComplete</string>
		<key>DisplayName</key>
		<string>Always Show TV Stop Pages</string>
	</dict>
	<key>stop_page_respected_onboarding</key>
	<dict>
		<key>AMPFlagGroup</key>
		<string>iTunes Store</string>
		<key>Description</key>
		<string>When the Movies and TV Shows stop pages are enabled, we will drop the Movies and TV sections from the onboarding screen</string>
		<key>DevelopmentPhase</key>
		<string>FeatureComplete</string>
		<key>DisplayName</key>
		<string>Enable Stop Page Respecting Onboarding</string>
	</dict>
	<key>tv_stop_pages</key>
	<dict>
		<key>AMPFlagGroup</key>
		<string>iTunes Store</string>
		<key>Description</key>
		<string>TV and Movies tabs will display stop pages based on the bag feature enablers</string>
		<key>DevelopmentPhase</key>
		<string>FeatureComplete</string>
		<key>DisplayName</key>
		<string>Enable TV Stop Pages</string>
	</dict>
</dict>
</plist>
