<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>BSUIItemDescriptionCache2</string>
	<key>NSManagedObjectModel_VersionChecksums</key>
	<dict>
		<key>BSUIItemDescriptionCache</key>
		<string>enTp07fxl+w+uVw0e1fj0Q8/H/fwnykSvy/r6PqYV9M=</string>
		<key>BSUIItemDescriptionCache2</key>
		<string>EsSd8XEWHSfQET6wUzoWhOeIbbzMWBPTBEdt+Og3U2w=</string>
	</dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>BSUIItemDescriptionCache</key>
		<dict>
			<key>BSUICachedItemDescription</key>
			<data>
			+kVpMUxX464/83GonGamJFOD/RkiqLJPzLImc88gM5k=
			</data>
		</dict>
		<key>BSUIItemDescriptionCache2</key>
		<dict>
			<key>BSUICachedItemDescription</key>
			<data>
			y89YVSsDqV5Dfi6qriSR/IuogitL06G7J5GZOdQZT00=
			</data>
		</dict>
	</dict>
</dict>
</plist>
