<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Search</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<string>AppIcon</string>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Spotlight</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Search</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>26.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>XROS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>83.0.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>xros</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23N37</string>
	<key>DTSDKName</key>
	<string>xros26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MediaClientInfo</key>
	<dict>
		<key>API</key>
		<dict>
			<key>Identifier</key>
			<string>com.apple.Spotlight</string>
			<key>Version</key>
			<string>1</string>
		</dict>
		<key>Bag</key>
		<dict>
			<key>Profile</key>
			<string>Music</string>
			<key>Version</key>
			<string>1</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Used to access music</string>
	<key>SBAppTags</key>
	<array>
		<string>hidden</string>
		<string>quittable</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>SFBDefaultSceneSpecification</key>
		<string>SFBUISSystemModalSceneSpecification</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>7</integer>
	</array>
	<key>UIForceModernPointsPerMeter</key>
	<true/>
	<key>UINativeSizeClass</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
