<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.apple.tv.autodownloads</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleAlternateNames</key>
	<array>
		<string>Apple TV+</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleTV</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.tv</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleTV</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Watch List URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>videos</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Watch List URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.apple.tv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Watch List URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.apple.WatchList</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CPGroupActivities</key>
	<array>
		<dict>
			<key>CPGroupActivityContext</key>
			<string>CPGroupActivityWatchTogetherContext</string>
			<key>CPGroupActivityIdentifier</key>
			<string>com.apple.tv.watch-together</string>
		</dict>
	</array>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>23B5070a</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23B5070a</string>
	<key>DTSDKName</key>
	<string>iphoneos26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MediaClientInfo</key>
	<dict>
		<key>API</key>
		<dict>
			<key>Identifier</key>
			<string>com.apple.tv</string>
			<key>Version</key>
			<string>1</string>
		</dict>
		<key>Bag</key>
		<dict>
			<key>Profile</key>
			<string>TVApp</string>
			<key>Version</key>
			<string>1</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Apple TV app makes it easier to watch on your bigger screen by connecting to your smart TVs or streaming devices. </string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location will be used to determine what’s available and show you local content, like live games, events, news, and ads.</string>
	<key>NSMirageDescription</key>
	<string>TV App</string>
	<key>NSRegulatoryPrivacyDisclosure</key>
	<dict>
		<key>NSRegulatoryPrivacyDisclosureOBKPrivacyBundle</key>
		<string>com.apple.onboarding.tvapp</string>
		<key>NSRegulatoryPrivacyDisclosureVersion</key>
		<string>1.0</string>
	</dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>SBMatchingApplicationGenres</key>
	<array>
		<string>Entertainment</string>
		<string>Lifestyle</string>
	</array>
	<key>SBUninstallIconOverrideStringsFile</key>
	<string>UninstallAlert</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>AppleTV.SceneDelegate</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleAssistiveAccessApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>ClarityUI Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>AppleTV.ClarityUISceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>processing</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>TVLaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64e</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsAssistiveAccess</key>
	<true/>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>UIWhitePointAdaptivityStyle</key>
	<string>UIWhitePointAdaptivityStyleVideo</string>
	<key>UNUserNotificationCenter</key>
	<dict>
		<key>UNDaemonShouldReceiveApplicationEvents</key>
		<true/>
		<key>UNDaemonShouldReceiveBackgroundResponses</key>
		<true/>
		<key>UNDaemonShouldReceiveNotificationSettingsUpdates</key>
		<true/>
	</dict>
</dict>
</plist>
