<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Phone</string>
	<key>CFBundleDisplayNameClarityUI</key>
	<string>Calls</string>
	<key>CFBundleExecutable</key>
	<string>MobilePhone</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.mobilephone</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>36</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>36</string>
	<key>CoreSpotlightContinuation</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>23B5071a</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23B5071a</string>
	<key>DTSDKName</key>
	<string>iphoneos26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>LSCounterpartIdentifiers</key>
	<array>
		<string>com.apple.NanoPhone</string>
	</array>
	<key>LSEligibilityDeletionDomain</key>
	<integer>67</integer>
	<key>LSEligibilityInstallPredicate</key>
	<dict>
		<key>Conditions</key>
		<dict>
			<key>73</key>
			<array>
				<integer>4</integer>
			</array>
		</dict>
	</dict>
	<key>LSEligibilityPredicatesValidAtEraseInstallDataMigration</key>
	<true/>
	<key>LSEligibilityUninstallPredicate</key>
	<dict>
		<key>Conditions</key>
		<dict>
			<key>73</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSAllowMicModeControlWithoutSensorsActive</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>MobilePhoneApplication</string>
	<key>NSRegulatoryPrivacyDisclosure</key>
	<dict>
		<key>NSRegulatoryPrivacyDisclosureCallRecords</key>
		<string>NSRegulatoryPrivacyDisclosureCallRecords</string>
		<key>NSRegulatoryPrivacyDisclosureCamera</key>
		<string>NSRegulatoryPrivacyDisclosureCamera</string>
		<key>NSRegulatoryPrivacyDisclosureContacts</key>
		<string>NSRegulatoryPrivacyDisclosureContacts</string>
		<key>NSRegulatoryPrivacyDisclosureMicrophone</key>
		<string>NSRegulatoryPrivacyDisclosureMicrophone</string>
		<key>NSRegulatoryPrivacyDisclosurePhoneNumber</key>
		<string>NSRegulatoryPrivacyDisclosurePhoneNumber</string>
		<key>NSRegulatoryPrivacyDisclosurePhotos</key>
		<string>NSRegulatoryPrivacyDisclosurePhotos</string>
		<key>NSRegulatoryPrivacyDisclosureScreenCapture</key>
		<string>NSRegulatoryPrivacyDisclosureScreenCapture</string>
		<key>NSRegulatoryPrivacyDisclosureSummary</key>
		<string>NSRegulatoryPrivacyDisclosureSummary</string>
		<key>NSRegulatoryPrivacyDisclosureTitle</key>
		<string>NSRegulatoryPrivacyDisclosureTitle</string>
		<key>NSRegulatoryPrivacyDisclosureVersion</key>
		<string>2.0</string>
		<key>NSRegulatoryPrivacyDisclosureVoiceCallRecording</key>
		<string>NSRegulatoryPrivacyDisclosureVoiceCallRecording</string>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.apple.mobilephone</string>
		<string>com.apple.Contacts.ViewingCard</string>
		<string>com.apple.mobilephone.callhandoff</string>
	</array>
	<key>PrivateURLSchemes</key>
	<array>
		<string>vmshow</string>
		<string>mobilephone-recents</string>
		<string>mobilephone-favorites</string>
		<string>mobilephone</string>
		<string>mobilephone-unknowncallerstip</string>
		<string>mobilephone-contacts</string>
		<string>mobilephone-keypad</string>
	</array>
	<key>SBAppTags</key>
	<array>
		<string>any-telephony</string>
	</array>
	<key>SBAppTags~ipad</key>
	<array>
		<string>any-telephony</string>
		<string>venice</string>
	</array>
	<key>SBIconVisibilityDefaultVisibleFeatureFlag</key>
	<string>TelephonyUtilities/phoneLargeFormatUIEnabled</string>
	<key>SBIconVisibilityDefaultVisiblePlatforms</key>
	<array>
		<string>iPhone</string>
		<string>iPad</string>
	</array>
	<key>SBIconVisibilitySetByAppPreference</key>
	<true/>
	<key>SBMachServices</key>
	<array>
		<string>com.apple.mobilephone.migserver</string>
		<string>com.apple.uikit.viewservice.com.apple.mobilephone</string>
	</array>
	<key>SBMatchingApplicationGenres</key>
	<array>
		<string>Productivity</string>
		<string>Business</string>
		<string>Social Networking</string>
	</array>
	<key>SBStarkLaunchModes</key>
	<array>
		<string>Default</string>
		<string>Siri</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>PhoneSceneDelegate</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleAssistiveAccessApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>ClarityUI Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>CNKClarityUISceneDelegate</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleCarPlay</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>CarPlay Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>PHCarPlaySceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>clock</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>OPEN_RECENTS</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.apple.mobilephone.recents</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>magnifyingglass</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>OPEN_SEARCH</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.apple.mobilephone.search</string>
		</dict>
	</array>
	<key>UIApplicationShortcutItemsVersion</key>
	<integer>1</integer>
	<key>UIApplicationSystemWindowsSecureKey</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Default</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64e</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>TintColor</key>
			<dict>
				<key>Blue</key>
				<integer>1</integer>
				<key>Green</key>
				<integer>1</integer>
				<key>Red</key>
				<integer>1</integer>
			</dict>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsAssistiveAccess</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIViewServiceUsesNSXPCConnection</key>
	<true/>
</dict>
</plist>
