<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Quick Look</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Audio</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>3DModel</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pixar.universal-scene-description</string>
				<string>com.pixar.universal-scene-description-mobile</string>
				<string>com.apple.reality</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Movie</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PlainText</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>com.apple.property-list</string>
				<string>public.xml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>RichText</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>WebContent</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.webarchive</string>
				<string>public.html</string>
				<string>com.apple.iwork.keynote.key</string>
				<string>com.apple.iwork.keynote.sffkey</string>
				<string>com.apple.iwork.keynote.sffkey</string>
				<string>com.apple.iwork.keynote.kth</string>
				<string>com.apple.iwork.keynote.sffkth</string>
				<string>com.apple.iwork.numbers.numbers</string>
				<string>com.apple.iwork.numbers.sffnumbers</string>
				<string>com.apple.iwork.numbers.template</string>
				<string>com.apple.iwork.numbers.sfftemplate</string>
				<string>com.apple.iwork.pages.pages</string>
				<string>com.apple.iwork.pages.sffpages</string>
				<string>com.apple.iwork.pages.template</string>
				<string>com.apple.iwork.pages.sfftemplate</string>
				<string>com.microsoft.word.doc</string>
				<string>com.microsoft.word.dot</string>
				<string>org.openxmlformats.wordprocessingml.document</string>
				<string>org.openxmlformats.wordprocessingml.document.macroenabled</string>
				<string>org.openxmlformats.wordprocessingml.template</string>
				<string>org.openxmlformats.wordprocessingml.template.macroenabled</string>
				<string>com.microsoft.excel.xls</string>
				<string>com.microsoft.excel.xlt</string>
				<string>com.microsoft.excel.xla</string>
				<string>org.openxmlformats.spreadsheetml.sheet</string>
				<string>org.openxmlformats.spreadsheetml.sheet.macroenabled</string>
				<string>org.openxmlformats.spreadsheetml.template</string>
				<string>org.openxmlformats.spreadsheetml.template.macroenabled</string>
				<string>com.microsoft.powerpoint.ppt</string>
				<string>com.microsoft.powerpoint.pot</string>
				<string>com.microsoft.powerpoint.pps</string>
				<string>org.openxmlformats.presentationml.presentation</string>
				<string>org.openxmlformats.presentationml.presentation.macroenabled</string>
				<string>org.openxmlformats.presentationml.template</string>
				<string>org.openxmlformats.presentationml.template.macroenabled</string>
				<string>org.openxmlformats.presentationml.slideshow</string>
				<string>org.openxmlformats.presentationml.slideshow.macroenabled</string>
				<string>public.comma-separated-values-text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Zip</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zip-archive</string>
				<string>org.gnu.gnu-zip-archive</string>
				<string>com.apple.archive</string>
				<string>public.bzip2-archive</string>
				<string>public.archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Generic Handler</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Live Photo</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.live-photo</string>
				<string>com.apple.live-photo-bundle</string>
				<string>com.apple.private.live-photo-bundle</string>
				<string>com.apple.private.photos.drag-n-drop.live-photo-bundle</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Generic File</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.file-url</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Quick Look</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.MRQuickLook</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Quick Look</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>XROS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>xros</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23N37</string>
	<key>DTSDKName</key>
	<string>xros26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSCopresenceAppSharingDescription</key>
	<string>Share Quick Look content!</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.apple.MRQuickLook.Preview</string>
	</array>
	<key>SBAppTags</key>
	<array>
		<string>hidden</string>
		<string>quittable</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UIApplicationSupportsSceneItemProviders</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>MainWindow</string>
					<key>UISceneDelegateClassName</key>
					<string>Quick_Look.MainSceneDelegate</string>
				</dict>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>DebugController</string>
					<key>UISceneDelegateClassName</key>
					<string>Quick_Look.DebugSceneControllerDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchPlacementParameters</key>
	<dict>
		<key>PreferredLaunchSize</key>
		<dict>
			<key>Depth</key>
			<integer>700</integer>
			<key>Height</key>
			<integer>700</integer>
			<key>Width</key>
			<integer>700</integer>
		</dict>
	</dict>
	<key>UINativeSizeClass</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>_UINeverSuppressPresentations</key>
	<true/>
</dict>
</plist>
