<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NoiseUpperBound</key>
	<dict>
		<key>NoiseProfile</key>
		<data>
		OA19ljqv/ig7SiBzO6wpyzvdx6g771YgO/onRzv0+Bc75yo5O93YjTvV1kY7
		zRjcO8DFVTu13x07rkr4O6f5NzugQDc7lggpO4t9OzuIPVU7hQpuO4E8ejt4
		qYg7cCSXO2b2KDtc+U87Uj2mO0f39js/6Ek7ODbiOzCOEjsoDCY7IeguOxy/
		0jsXxfk7EXCvOwvlADsHPQM7BeJeOwM5xzr93wc6+dr5OvchnDr1neY68jee
		Ouztdjrn0XY64bvjOt2/+TrYqSQ61kv9OtJWEzrOYBc6yngJOsanBTrC2Eo6
		vw/cOrtbSjq32C86tHwgOrE8lzquHjY6qxroOqgvbTqlZXI6orJhOqAU5zqd
		iBs6mwQ4Opid1DqWVEU6lB1UOpICkTqP/s06jgnTOowuizqKZ4w6iKZjOobp
		yTqFNkQ6g5HQOoHtozqAThM6fYHrOnp9ojp3ikM6dKgUOnHgWTpvPnU6bLD4
		OmouTjpnxVc6ZVJ3OmLfqjpggh86XjCQOlvoQTpZsLo6V4F2OlVXGjpTOZo6
		USbfOk8oWDpNJS86SyMCOkk1TDpHYV06Rat3OkQALzpCVFA6QKmaOj7x0To9
		UQA6O7p5OjoiQTo4i/Y6Nvq8OjVyBToz8Ps6Mm8kOjD2nzoviwI6LiZBOizL
		aTorbes6KhEBOiippDonNLc6JbUtOiQ7HzoiwlQ6IVLsOh/ebDoeebw6HR/C
		OhvQOzoahro6GUdCOhgSnDoW8WM6FcfSOhSfBjoTclg6EklKOhE/SzoQPZw6
		D0wkOg5fxToNeNg6DJ0oOgvPnjoLE+M6CmxbOgnGeToJLPY6CJBUOgf4TToH
		V3g6BrY2OgYRtToFc+06BNoVOgRFJjoDsc86AwsgOgJf4DoBrqY6AQkoOgBv
		ezn/n885/mRWOf07Wzn8xXQ5/E+4OfvWuzn7dKQ5+vcFOfpwoDn50k85+Qjc
		OfhD9jn3j1859tyAOfYV4jn1VrM59KJfOfPi4jnzGOE58kE3OfFYmznwWVo5
		72lKOe6dwjnt+Vk57YHIOe0uaDntFZ857R8+Oe1R5Tntqr457f46Oe5MSznu
		nls57xDmOe961znv2a458ERgOfDFJznxVSs58f+ZOfK/EDnzbz059AI/OfSK
		ejn0+5459UiTOfVezzn1R/c59RnQOfTw3jn01II59MDbOfSiNzn0ays59CRf
		OfPhnDnzqrs582LwOfMXhjnyvMM58k7tOfHclTnxY2858NBuOfAxqDnvmZI5
		7yavOe7anjnuifs57htQOe2O4Dns35Q57CfdOetiUznqsMg56gCPOek/Rzno
		fV85576IOecQrznmduU55ep0OeV3oTnlJ7g55O6POeS4nDnkdT455ClnOeP8
		hDnj7GU55AW6OeRFXDnklzc55RlgOeWqkDnmQmk55utqOeedrDnoSQY56N36
		Oelyjznp9Yg56k4YOeqFejnqrTs56tBAOer6jTnrJsA560EYOetATznrGJo5
		6tyqOeqb9TnqODg56bLLOekZZjnoYDU556eBOebxhznmTQs55ZVGOeTl+Tnk
		Ukk548ilOeM8mjnivrg54jyKOeGxMDnhHAI54Kh6OeBoCDngPg454CcVOeAi
		7TngL2w54DtYOeBP6TngVtE54FgDOeBFFTngNBo54B/oOeASHzngFS054Cqs
		OeA4EzngOgw54DlhOeBEAjngM3s54ANuOd/ETTnfcRk53w1MOd67/znehGA5
		3loqOd4v5Dnd+3853cswOd2jIDndf5U53UQYOdzx3znch6I53BTSOduo5znb
		UAY52v4aOdq5gjnaaFs52h/DOdnToznZjUU52SOVOdiqzTnYQ+E51/ZuOdfG
		YjnXpfs514qHOddv5znXaCU512LYOddf6DnXSFg51vZqOdZHoTnVQbI50+gZ
		OdJWWDnQahc5zjJLOcuoljnI5Bs5xdSROcJXHTm+dGU5uja9ObWqlzmwywM5
		q51/OaYdVTmgYWA5mm2KOZRuXTmOnxo5iRsPOYPe7jl93405d6rUOXctwDl2
		UUQ5dRWFOXOWUzlx7Fc5cDW9OW53ojlsqXc5atjYOWj0JTlnBtk5ZRj8OWMx
		KDlhUpQ5X3ESOV2KATlblDg5WZMjOVeoWDlVx8E5VAJuOVJvcTlRCco5T8f5
		OU6wxjlNrug5TKtFOUumjzlKoNM5SaX5OUi5vTlH0r85RujlOUX2lDlFFkQ5
		RE7hOUOQDDlC4Vc5Qi93OUGKDTlA4fw5QDldOT+Llzk+z5Y5Pf8uOT0nBjk8
		SiE5O2sOOTqPFDk5qxY5OMEoOTfYRzk271Q5NgshOTUUPzk0DVg5MwhoOTJC
		XTkxrYg5MRXXOTB+Ijkv4vU5L2E4OS7WCDkuRFc5LaTTOSzwkjksM+k5K2af
		OSqhZTkp5yI5KSKuOShfvDkntiA5JxKVOSaCITkl9jQ5JVMGOSSeDjkj5fw5
		IySvOSJXgzkheV05IJf2OR+7tjke4QU5Hg6nOR0+GDkcbmc5G4/uORqklDkZ
		tS05GLytORe35zkWytc5Ff3hORUy6jkUXlg5E4qQORKxaDkR2i45EQbXORAw
		nzkPVqY5DoBNOQ258jkM+lM5DGzeOQvwRzkLev45CxWNOQq8ajkKZRw5CgLh
		OQmhyDkJR585CON/OQhyGjkH7Do5B2g2OQbNpTkGLlM5BYWfOQTVdjkEI9w5
		A2tiOQKr/zkB3Ic5ASmrOQCVjDj/8S84/rhpOP1aoDj74pU4+lkPOPjP3jj3
		MA449YTqOPPgfDjyTjA48Mb6OO87Bjjts5k47IeTOOtpvjjqP/g46Rn3OOf9
		FDjm+Dg45fHeOOTkVjjj2N444s4VOOGmCzjgZnI43yn1ON39XDjcxCQ424Kn
		ONpEFjjZMwk42FyGONefOjjW4ps41iNFONVUbjjUaG84023dONKEHTjRn/E4
		0MV/OM/mRzjPBBg4zi23OM1aVTjMeCg4y31oOMpzPDjJdVA4yHZgOMdypjjG
		cxo4xWmsOMSiGDjD0Y04wv/UOMIiGjjBPV84wFgoOL+CPTi+nkE4vbd9OLze
		Lzi79hY4uxf4OLo/WDi5c144uLX2OLf/VTi3QZk4tnyDOLWn6Ti0uzQ4s7WC
		OLK7GTixyXk4sOHDOLAHoDivNzc4rl5aOK1+3zisoi04q71uOKrnIziqE1I4
		qT/tOKhjFDingcc4ppZqOKWy/jik0l04o/QkOKMlijiib2M4obfoOKDwlzig
		HnA4n0gxOJ5t9Didk804nMdROJwIyzibUx84mpNJOJnIfDiY8GM4mE4VOJe1
		pjiXEM44ll2POJWqXziVA6s4lFdrOJOt4DiTCIo4kmMaOJGu/TiQ7Mo4kB7+
		OI9NkDiOgDo4jbNsOIzpVTiMLe84i3/fOIrrTziKWcM4idB8OIlEXjiIryw4
		iAJeOIdZ8TiGuJs4hhfDOIV7BDiE+7c4hJLuOIQxKziD2XI4g4JWOIMkJziC
		w6U4gmdZOIIBVTiBlNs4gSKaOICp1jiALvA4f3BfOH6GlTh9sEs4fM/zOHvl
		QTh7C9w4ejewOHlO9Dh4RUU4dz9KOHYp8jh1Ehg4dBp0OHM9gDhyX4A4cZTI
		OHDRojhv+DY4bxRkOG40cThtXK84bJFeOGvCIjhq8+k4aimHOGlLuDhoapQ4
		Z4zOOGa9gDhl6IM4ZRU2OGRS2Dhjat04YmqNOGFsKDhgZE44X2LgOF5yUDhd
		j+g4XKV1OFu1dDhauYg4WdIVOFjy8ThYFf84VzZCOFZe7DhVgtk4VKfTOFPY
		tjhTJN44UpfFOFIQOzhRhYA4UPDEOFBLGzhPp+I4Tw57OE6ClzhN5SA4TVH7
		OEzSAThMT+w4S8PjOEsn9DhKiTo4SfQdOEll3zhI1sA4SDh9OEePxzhGzBI4
		RguTOEVX1jhEsWg4RCCCOEOAszhCz5M4QhhOOEFrdThAvZg4QA9xOD9ZPDg+
		qDM4PgQmOD1YGDg8llw4O8KYODrdFTg6AU84OS9oODhj3jg3jrs4NqW9ODW4
		xDg0u9c4M+25ODNlezgy5mc4MnE5ODH7nDgxUz04MJe8OC/bTDgvIm44Lnjr
		OC3VazgtN6A4LJoAOCvz+jgrQXQ4KoJBOCm65zgo+YQ4KDLNOCduRzgmrfo4
		Jd99OCT/hTgkBOc4Iv2zOCIVEDghPNM4IG9cOB+ySzgfMFo4Hs3LOB5jMDgd
		4c84HUjOOBynpTgcGcY4G4XyOBrm8jgaR6o4GambOBkUujgYe5s4F+bgOBdK
		mjgWq8g4FhSJOBVxGjgUu9Q4E/YQOBMoUTgSWKQ4EZSxOBDpfTgQT/I4D8IV
		OA80bjgOs+A4DjPvOA2nrzgNEPo4DGIbOAupmDgK7784CjseOAmQBTgI37Q4
		CD29OAeovzgHGDE4BobeOAXshjgFSH84BJBvOAPUYDgDGBo4AlOIOAGKizgA
		wyw4AAk5N/6zVjf9bqM3/ExNN/tNizf6LHc3+PFnN/elRzf2W7Q39QQhN/Ok
		yDfyQ3c38O3mN++MwjfuL+437M+PN+tkjDfp8CQ36IMZN+byjTflRPw345C5
		N+G8GjfgsYI34CRcN9+fTjffGJg33qCuN95BcDfeCIM33eyyN93T6jfdwS43
		3bkHN92+Sjfd0HM33d0qN93ngzfd6F033ezNN93VFTfdpFE33VmCN90NlDfc
		zIc33ICpN9wwOzfbwpc32yr9N9pqNzfZmGg32MGLN9fHpjfWp/s31WvKN9QZ
		RTfSqVU30SSJN8+IijfN1Zs3zB6WN8pvOzfIyZ43xyEcN8b2BTfG1003xqbp
		N8Z17zfGM143xeiKN8WZnDfFKoM3xIjbN8PMFzfDARA3wiTEN8FB4DfAZOg3
		v3LhN75pNDe9Y5I3vFnDN7weVTe9hnI3vxBTN8DCYDfCkc83xHu7N8adYzfI
		8qs3y2ZGN83yQzfQjmo30zUXN9XyaTfYuxQ324IbN95gsDfhU6A35FXPN+du
		NTfqs+437haeN/GtGTf1itE3+aBnN/4NcDgBblM4A+ylOAaDiDgJPKY4DB72
		OA8v2zgSeAc4FfcVOBmw6Tgdrr84IgeGOCa3TDgrw0M4MRhiODa3uDg8w+U4
		Qza6OEolWDhRn9M4WbcJOGJS8zhrY7k4dQYQOH8/rziFC+w4itAMOJDtBjiX
		ZH84njyIOKV7czitOt44tWhhOL4CTzjG/uc40GhEONodTTjkIT847mCMOPjd
		ojkBwts5BysnOQyatzkSHhA5F6JKOR0JCDkiUYE5J4ntOSyeSTkxjY05Nklj
		OTrD/Tk/Abk5Quv8OUaR9TlJ8n85TR8XOVANdTlSqqk5VP9cOVccvTlZAdY5
		Wqr3OVvu/zlcosM5XKOJOVvMMDlZw5E5Vn0LOVHyozlMOAc5RWbnOT127Dk0
		bY45KkPiOR7oazkSX4g5BLElOOv71jjMhB44qssxOIa+xThBFBs34mXkNv/V
		iw==
		</data>
		<key>SampleRate</key>
		<integer>44100</integer>
	</dict>
</dict>
</plist>
