<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BSServiceDomains</key>
	<dict>
		<key>com.apple.accessibility.MagnifierAngel</key>
		<dict>
			<key>MachName</key>
			<string>com.apple.accessibility.MagnifierAngel.mach</string>
			<key>Services</key>
			<dict>
				<key>com.apple.accessibility.MagnifierAngel-service</key>
				<dict/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CanInheritApplicationStateFromOtherProcesses</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSLaunchDLabel</key>
	<string>com.apple.accessibility.MagnifierAngel</string>
	<key>NSCameraUsageDescription</key>
	<string>Live Recognition uses the camera to display a live feed and run detection mode.</string>
	<key>NSHandsTrackingUsageDescription</key>
	<string>Hand tracking data includes hand skeleton, wrist, and forearm.</string>
	<key>NSMainCameraUsageDescription</key>
	<string>Streaming frames for Live Recognition detectors.</string>
	<key>NSRegulatoryPrivacyDisclosure</key>
	<dict>
		<key>NSRegulatoryPrivacyDisclosureVersion</key>
		<string>1.0</string>
	</dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Live Recognition recognizes speech input for question answering.</string>
	<key>NSWorldSensingUsageDescription</key>
	<string>World sensing data includes plane detection, scene geometry, and image tracking anchors.</string>
	<key>SBAppTags</key>
	<array>
		<string>hidden</string>
	</array>
	<key>SBShouldLaunchLiveImmediately</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationShowsViewsWhileLocked</key>
	<true/>
	<key>UIApplicationSystemWindowsSecureKey</key>
	<true/>
</dict>
</plist>
