<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>CachedPersonalizationBookMetadata</string>
	<key>NSManagedObjectModel_VersionChecksums</key>
	<dict>
		<key>CachedPersonalizationBookMetadata</key>
		<string>MswZv/QF4ucgnnCEJJPWXpuF75ctjdoG/SDgHQw71DU=</string>
		<key>Dawn</key>
		<string>Vezv/WsQhdt5WA9PHK+3zShBAw9Tc2jTuNJPKrQ9pPM=</string>
	</dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>CachedPersonalizationBookMetadata</key>
		<dict>
			<key>CachedPersonalizationBookMetadata</key>
			<data>
			nT/MF2kHSdNeLvsWKwJIbMQq1cIh2RD7ibzBdzUrpN8=
			</data>
			<key>CachedPersonalizationBookMetadataAuthor</key>
			<data>
			2l8piaXI9KMds1RetSfAmDztZRqoZNWcjn+ryYSR7Q0=
			</data>
			<key>CachedPersonalizationBookMetadataGenre</key>
			<data>
			/cCHZqC3CKQGnHEdGbfjaTO5swe5AHiXCM9pOjLngD0=
			</data>
			<key>CachedPersonalizationBookMetadataSeriesMembership</key>
			<data>
			jit3FA5CWkprlb72EAyqiiDCFNRsHpLuHQ8S1c5d3hk=
			</data>
		</dict>
		<key>Dawn</key>
		<dict>
			<key>CachedPersonalizationBookMetadata</key>
			<data>
			LcN9NbMRFvk1VaOuxqXargGsBp4cQfGO1BG0E+AyLiA=
			</data>
			<key>CachedPersonalizationBookMetadataAuthor</key>
			<data>
			2l8piaXI9KMds1RetSfAmDztZRqoZNWcjn+ryYSR7Q0=
			</data>
			<key>CachedPersonalizationBookMetadataGenre</key>
			<data>
			K16mjTmkPhnIvyADPxpgKvNnaxegHeDwVesS0wOloAA=
			</data>
		</dict>
	</dict>
</dict>
</plist>
