<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleAlternateNames</key>
	<array>
		<string>ALTERNATE_NAME_LEVEL</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Measure</string>
	<key>CFBundleExecutable</key>
	<string>Measure</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.measure</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Measure</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleRequiredCapabilities</key>
	<array>
		<string>arkit</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>181.40.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>181.40.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23B68</string>
	<key>DTSDKName</key>
	<string>iphoneos26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>ALTERNATE_NAME_LEVEL</string>
		</dict>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSCameraUsageDescription</key>
	<string>This application will use the camera for Augmented Reality.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This application will allow you to save photos to your camera roll.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Needs access to your Photos library to save the recorded video.</string>
	<key>NSRegulatoryPrivacyDisclosure</key>
	<dict>
		<key>NSRegulatoryPrivacyDisclosureVersion</key>
		<string>1.0</string>
	</dict>
	<key>SBAppTags</key>
	<array>
		<string>arkit</string>
	</array>
	<key>SBMatchingApplicationGenres</key>
	<array>
		<string>Utilities</string>
		<string>Productivity</string>
		<string>Lifestyle</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>Measure.SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems~iphone</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>ruler</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Measure</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.apple.measure.measure</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>level</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Level</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.apple.measure.level</string>
		</dict>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arkit</string>
		<string>arm64e</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
