<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.MobileAsset.Mindfulness</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6</string>
	<key>CFBundleName</key>
	<string>MindfulnessV1MeditationSharedV1Breathe</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>MobileAssetProperties</key>
	<dict>
		<key>AssetKey</key>
		<string>V1ExperienceShared</string>
		<key>CompatibilityVersion</key>
		<integer>1</integer>
		<key>ContentMajorVersion</key>
		<integer>1</integer>
		<key>ContentMinorVersion</key>
		<integer>0</integer>
		<key>InternalAssetType</key>
		<string>ExperienceShared</string>
	</dict>
</dict>
</plist>
