<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>os</key>
	<array>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Mean</string>
				<string>Median</string>
				<string>SD</string>
				<string>Count</string>
			</array>
			<key>category</key>
			<string>Editor</string>
			<key>description</key>
			<string>Creating a SummaryView platform view</string>
			<key>name</key>
			<string>SummaryViewMake</string>
			<key>subsystem</key>
			<string>com.apple.shortcuts</string>
			<key>targetTests</key>
			<array>
				<string>shortcutsEditor_scrollPerformance</string>
				<string>shortcutsEditor_scrollPerformance_bigText</string>
				<string>shortcutsEditor_scrollPerformance_allActions</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Mean</string>
				<string>Median</string>
				<string>SD</string>
				<string>Count</string>
			</array>
			<key>category</key>
			<string>Editor</string>
			<key>description</key>
			<string>Updates to SummaryView platform view</string>
			<key>name</key>
			<string>SummaryViewUpdate</string>
			<key>subsystem</key>
			<string>com.apple.shortcuts</string>
			<key>targetTests</key>
			<array>
				<string>shortcutsEditor_scrollPerformance</string>
				<string>shortcutsEditor_scrollPerformance_bigText</string>
				<string>shortcutsEditor_scrollPerformance_allActions</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Mean</string>
				<string>Median</string>
				<string>SD</string>
				<string>Count</string>
			</array>
			<key>category</key>
			<string>Editor</string>
			<key>description</key>
			<string>Updates to SummaryView platform view</string>
			<key>name</key>
			<string>SummaryViewReset</string>
			<key>subsystem</key>
			<string>com.apple.shortcuts</string>
			<key>targetTests</key>
			<array>
				<string>shortcutsEditor_scrollPerformance</string>
				<string>shortcutsEditor_scrollPerformance_bigText</string>
				<string>shortcutsEditor_scrollPerformance_allActions</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Mean</string>
				<string>Median</string>
				<string>SD</string>
				<string>Count</string>
			</array>
			<key>category</key>
			<string>Editor</string>
			<key>description</key>
			<string>Dismantling to SummaryView platform view</string>
			<key>name</key>
			<string>SummaryViewDismantle</string>
			<key>subsystem</key>
			<string>com.apple.shortcuts</string>
			<key>targetTests</key>
			<array>
				<string>shortcutsEditor_scrollPerformance</string>
				<string>shortcutsEditor_scrollPerformance_bigText</string>
				<string>shortcutsEditor_scrollPerformance_allActions</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Mean</string>
				<string>Median</string>
				<string>SD</string>
				<string>Count</string>
			</array>
			<key>category</key>
			<string>Editor</string>
			<key>description</key>
			<string>Reloading the contents of a WFSlotTemplateView</string>
			<key>name</key>
			<string>SlotTemplateSetContents</string>
			<key>subsystem</key>
			<string>com.apple.shortcuts</string>
			<key>targetTests</key>
			<array>
				<string>shortcutsEditor_scrollPerformance</string>
				<string>shortcutsEditor_scrollPerformance_bigText</string>
				<string>shortcutsEditor_scrollPerformance_allActions</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Mean</string>
				<string>Median</string>
				<string>SD</string>
				<string>Count</string>
			</array>
			<key>category</key>
			<string>Editor</string>
			<key>description</key>
			<string>Calculating size of a WFSlotTemplateView</string>
			<key>name</key>
			<string>SlotTemplateCalculateSize</string>
			<key>subsystem</key>
			<string>com.apple.shortcuts</string>
			<key>targetTests</key>
			<array>
				<string>shortcutsEditor_scrollPerformance</string>
				<string>shortcutsEditor_scrollPerformance_bigText</string>
				<string>shortcutsEditor_scrollPerformance_allActions</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
