<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>MusicRecognition</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>NSAppIconComplementingColorNames</key>
			<array>
				<string>AppShortcutsComplementingPrimary</string>
				<string>AppShortcutsComplementingSecondary</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.musicrecognition</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MusicRecognition</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>23B78</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23B78</string>
	<key>DTSDKName</key>
	<string>iphoneos26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Shazam</string>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MediaClientInfo</key>
	<dict>
		<key>API</key>
		<dict>
			<key>Identifier</key>
			<string>com.apple.musicrecognition</string>
			<key>Version</key>
			<string>1</string>
		</dict>
		<key>Bag</key>
		<dict>
			<key>Profile</key>
			<string>Shazam</string>
			<key>Version</key>
			<string>1</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Fetch Music metadata</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Shazam Music Recognition would like to use your location to show and store where you matched a song.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Shazam Music Recognition would like to use your location to show and store where you matched a song.</string>
	<key>SBAppTags</key>
	<array>
		<string>hidden</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>ActivitySceneSessionRoleAmbient</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Create Music Recognition Ambient Scene</string>
					<key>UISceneDelegateClassName</key>
					<string>MusicRecognition.MusicRecognitionAmbientSceneDelegate</string>
				</dict>
			</array>
			<key>ActivitySceneSessionRoleAmbientCompact</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Create Music Recognition Ambient Compact Scene</string>
					<key>UISceneDelegateClassName</key>
					<string>MusicRecognition.MusicRecognitionAmbientCompactSceneDelegate</string>
				</dict>
			</array>
			<key>ActivitySceneSessionRoleBanner</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Create Music Recognition Banner Scene</string>
					<key>UISceneDelegateClassName</key>
					<string>MusicRecognition.MusicRecognitionSceneDelegate</string>
				</dict>
			</array>
			<key>ActivitySceneSessionRoleListItem</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Create Music Recognition List Item Scene</string>
					<key>UISceneDelegateClassName</key>
					<string>MusicRecognition.MusicRecognitionSceneDelegate</string>
				</dict>
			</array>
			<key>ActivitySceneSessionRoleSystemAperture</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Create Music Recognition Dynamic Island Scene</string>
					<key>UISceneDelegateClassName</key>
					<string>MusicRecognition.MusicRecognitionSceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShowsViewsWhileLocked</key>
	<true/>
	<key>UIApplicationSupportsAlwaysOnDisplay</key>
	<string>YES</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchPlacementParameters</key>
	<dict>
		<key>PreferredLaunchSize</key>
		<dict>
			<key>Height</key>
			<integer>750</integer>
			<key>Width</key>
			<integer>500</integer>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64e</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
