<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.apple.tv</string>
	<string>com.apple.Music</string>
	<string>com.apple.Mind</string>
	<string>com.apple.RealityWidgets</string>
	<string>com.apple.freeform</string>
	<string>com.apple.mobilesafari</string>
	<string>com.apple.mobileslideshow</string>
	<string>com.apple.SpatialGallery</string>
	<string>com.apple.AppStore</string>
	<string>com.apple.mobilemail</string>
	<string>com.apple.MobileSMS</string>
	<string>com.apple.mobilenotes</string>
	<string>com.apple.bincompat-launcher</string>
	<string>com.apple.Preferences</string>
	<string>com.apple.Keynote</string>
	<string>com.apple.DocumentsApp</string>
	<string>com.apple.Passwords</string>
	<string>com.apple.tips</string>
</array>
</plist>
