<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DeltaX</key>
		<real>0.0</real>
		<key>DeltaY</key>
		<real>0.0</real>
		<key>DeltaZ</key>
		<real>-6</real>
		<key>Name</key>
		<string>Default</string>
		<key>Pitch</key>
		<real>1.0471975803375244</real>
		<key>Roll</key>
		<real>2.6179938316345215</real>
		<key>Yaw</key>
		<real>1.5707963705062866</real>
		<key>Zoom</key>
		<real>3.0000002384185791</real>
	</dict>
	<dict>
		<key>DeltaX</key>
		<real>0.0</real>
		<key>DeltaY</key>
		<real>0.0</real>
		<key>DeltaZ</key>
		<real>-6</real>
		<key>Name</key>
		<string>Above</string>
		<key>Pitch</key>
		<real>0.0</real>
		<key>Roll</key>
		<real>1.7484869374584378e-07</real>
		<key>Yaw</key>
		<real>0.0</real>
		<key>Zoom</key>
		<real>3</real>
	</dict>
	<dict>
		<key>DeltaX</key>
		<real>0.0</real>
		<key>DeltaY</key>
		<real>0.0</real>
		<key>DeltaZ</key>
		<real>-6</real>
		<key>Name</key>
		<string>Front</string>
		<key>Pitch</key>
		<real>1.5707963705062866</real>
		<key>Roll</key>
		<real>-1.5707962512969971</real>
		<key>Yaw</key>
		<real>1.5707963705062866</real>
		<key>Zoom</key>
		<real>3</real>
	</dict>
	<dict>
		<key>DeltaX</key>
		<real>0.0</real>
		<key>DeltaY</key>
		<real>0.0</real>
		<key>DeltaZ</key>
		<real>-6</real>
		<key>Name</key>
		<string>Left</string>
		<key>Pitch</key>
		<real>1.5707963705062866</real>
		<key>Roll</key>
		<real>4.895687766293122e-07</real>
		<key>Yaw</key>
		<real>1.5707963705062866</real>
		<key>Zoom</key>
		<real>3</real>
	</dict>
</array>
</plist>
