<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>com.apple.videosInternal:URLGroup</string>
			<key>label</key>
			<string>Boot URL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>id</key>
			<string>com.apple.videosInternal:BootURL</string>
			<key>key</key>
			<string>boot-url</string>
			<key>label</key>
			<string>Boot URL</string>
			<key>placeholder</key>
			<string>www.your_js_endpoint.com</string>
		</dict>
		<dict>
			<key>action</key>
			<string>useStagingBootURL:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Use Staging Boot URL</string>
		</dict>
		<dict>
			<key>action</key>
			<string>clearBootURL:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Clear Boot URL</string>
		</dict>
		<dict>
			<key>action</key>
			<string>previousBootURL:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Use Previously Cleared Boot URL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Long-press on the app's tab bar to see Debug UI.</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>id</key>
			<string>com.apple.videosInternal:DemoMode</string>
			<key>key</key>
			<string>EnableDemoMode</string>
			<key>label</key>
			<string>TV Stage Demo Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>id</key>
			<string>com.apple.videosInternal:GDPRForceFirstTime</string>
			<key>key</key>
			<string>ForceGDPRFirstTimeFlow</string>
			<key>label</key>
			<string>Force First Time GDPR</string>
			<key>set</key>
			<string>setForceFirstTimeGDPR:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>id</key>
			<string>com.apple.videosInternal:GDPRForceWhatsNew</string>
			<key>key</key>
			<string>ForceGDPRWhatsNewFlow</string>
			<key>label</key>
			<string>Force What's New GDPR</string>
			<key>set</key>
			<string>setForceWhatsNewGDPR:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>id</key>
			<string>com.apple.videosInternal:DebugUI</string>
			<key>key</key>
			<string>EnableDebugUI</string>
			<key>label</key>
			<string>Debug UI</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>id</key>
			<string>com.apple.videosInternal:PagePerformance</string>
			<key>key</key>
			<string>EnablePagePerformance</string>
			<key>label</key>
			<string>Performance Analysis</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>id</key>
			<string>com.apple.videosInternal:CoWatchStartsInPlayingStateInsteadOfPaused</string>
			<key>key</key>
			<string>CoWatchStartsInPlayingStateInsteadOfPaused_v4</string>
			<key>label</key>
			<string>Start Co-watch in Playing State</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>id</key>
			<string>com.apple.videosInternal:capellaDebugger</string>
			<key>key</key>
			<string>EnableCapellaDebugger</string>
			<key>label</key>
			<string>Capella Debugger</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>id</key>
			<string>com.apple.videosInternal:capellaMusicInfo</string>
			<key>key</key>
			<string>EnableCapellaMusicInfo</string>
			<key>label</key>
			<string>Capella Music Info</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>id</key>
			<string>com.apple.videosInternal:performanceDebugger</string>
			<key>key</key>
			<string>EnablePerformanceDebugger</string>
			<key>label</key>
			<string>Performance Debugger</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>id</key>
			<string>com.apple.videosInternal:performanceDebuggerVerbose</string>
			<key>key</key>
			<string>EnablePerformanceDebuggerVerbose</string>
			<key>label</key>
			<string>Performance Debugger Verbose</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Metrics &amp; Logging</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>id</key>
			<string>com.apple.videosInternal:MetricsLogging</string>
			<key>key</key>
			<string>EnableMetricsLogging</string>
			<key>label</key>
			<string>Metrics Logging</string>
			<key>set</key>
			<string>setUseMetricsLogging:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>id</key>
			<string>com.apple.videosInternal:ExpandedMetricsLogging</string>
			<key>key</key>
			<string>EnableMetricsExpandedLogging</string>
			<key>label</key>
			<string>Metrics Expanded Logging</string>
			<key>set</key>
			<string>setUseExpandedMetricsLogging:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>id</key>
			<string>com.apple.videosInternal:EnableMetricsExpandedClickLogging</string>
			<key>key</key>
			<string>EnableMetricsExpandedClickLogging</string>
			<key>label</key>
			<string>Metrics Expanded Click Logging</string>
			<key>set</key>
			<string>setUseExpandedMetricsClickLogging:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>Default</string>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>id</key>
			<string>com.apple.videosInternal:LogLevel</string>
			<key>key</key>
			<string>LogLevel</string>
			<key>label</key>
			<string>Log Level</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Error</string>
				<string>Debug</string>
				<string>Perf</string>
			</array>
			<key>validValues</key>
			<array>
				<string>LoggingDefault</string>
				<string>LoggingError</string>
				<string>LoggingDebug</string>
				<string>LoggingPerf</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TTL Events</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>get</key>
			<string>debugRefreshCachingEnabled</string>
			<key>id</key>
			<string>com.apple.videosInternal:EnableRefreshEventDebug</string>
			<key>key</key>
			<string>EnableRefreshEventDebug</string>
			<key>label</key>
			<string>Debug UI</string>
			<key>set</key>
			<string>setRefreshEventDebug:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>get</key>
			<string>pageCachingTime</string>
			<key>id</key>
			<string>com.apple.videosInternal:PageMaxCacheValue</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>PageMaxCacheValue</string>
			<key>label</key>
			<string>Page Cache TTL (secs)</string>
			<key>set</key>
			<string>setPageCachingTime:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>get</key>
			<string>collectionCachingTime</string>
			<key>id</key>
			<string>com.apple.videosInternal:CollectionMaxCacheValue</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>CollectionMaxCacheValue</string>
			<key>label</key>
			<string>Collection Cache TTL (secs)</string>
			<key>set</key>
			<string>setCollectionCachingTime:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>None</string>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>get</key>
			<string>pageCachingType</string>
			<key>id</key>
			<string>com.apple.videosInternal:PageRefreshTypeValue</string>
			<key>key</key>
			<string>PageRefreshTypeValue</string>
			<key>label</key>
			<string>Global Page TTL Type</string>
			<key>set</key>
			<string>setPageCachingType:specifier:</string>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>foregroundTTL</string>
				<string>refreshTTL</string>
				<string>activeTTL</string>
			</array>
			<key>validValues</key>
			<array>
				<string>None</string>
				<string>foregroundTTL</string>
				<string>refreshTTL</string>
				<string>activeTTL</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>None</string>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>get</key>
			<string>collectionCachingType</string>
			<key>id</key>
			<string>com.apple.videosInternal:CollectionRefreshTypeValue</string>
			<key>key</key>
			<string>CollectionRefreshTypeValue</string>
			<key>label</key>
			<string>Global Collection TTL Type</string>
			<key>set</key>
			<string>setCollectionCachingType:specifier:</string>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>foregroundTTL</string>
				<string>refreshTTL</string>
				<string>activeTTL</string>
			</array>
			<key>validValues</key>
			<array>
				<string>None</string>
				<string>foregroundTTL</string>
				<string>refreshTTL</string>
				<string>activeTTL</string>
			</array>
		</dict>
		<dict>
			<key>action</key>
			<string>resetEventsTTL:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Caching TTL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>UTS URL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>canaryEnabled</string>
			<key>id</key>
			<string>com.apple.videosInternal:EnableCanary</string>
			<key>label</key>
			<string>Enable Production Staging</string>
			<key>set</key>
			<string>setCanaryEnabled:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>get</key>
			<string>utsURL</string>
			<key>id</key>
			<string>com.apple.videosInternal:CustomUTSURL</string>
			<key>label</key>
			<string>Custom UTS URL</string>
			<key>placeholder</key>
			<string>www.your_uts_endpoint.com</string>
			<key>set</key>
			<string>setCustomUTSURL:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>After changing any of these settings, restart the TV app for the changes to take effect. Also kills watchlistd.</string>
			<key>id</key>
			<string>com.apple.videosInternal:killGroup</string>
			<key>label</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>get</key>
			<string>downloadExpirationOverrideInSeconds</string>
			<key>id</key>
			<string>com.apple.videosInternal:DownloadExpirationOverrideInSeconds</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>DownloadExpirationOverrideInSeconds</string>
			<key>label</key>
			<string>Download expiration (secs)</string>
			<key>set</key>
			<string>setDownloadExpirationOverrideInSeconds:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.apple.tv</string>
			<key>get</key>
			<string>availabilityEndOverrideInSeconds</string>
			<key>id</key>
			<string>com.apple.videosInternal:AvailabilityEndOverrideInSeconds</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>AvailabilityEndOverrideInSeconds</string>
			<key>label</key>
			<string>Availability end (secs)</string>
			<key>set</key>
			<string>setAvailabilityEndOverrideInSeconds:specifier:</string>
		</dict>
		<dict>
			<key>action</key>
			<string>killTVApp:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>id</key>
			<string>com.apple.videosInternal:killButton</string>
			<key>label</key>
			<string>Kill AppleTV App</string>
		</dict>
	</array>
</dict>
</plist>
