<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.Localization</key>
	<string>com.apple.Localization-Settings.extension</string>
	<key>com.apple.Passwords</key>
	<string>com.apple.Passwords-Settings.extension</string>
	<key>com.apple.preference.battery</key>
	<string>com.apple.Battery-Settings.extension*BatteryPreferences</string>
	<key>com.apple.preference.datetime</key>
	<string>com.apple.Date-Time-Settings.extension</string>
	<key>com.apple.preference.desktopscreeneffect</key>
	<string>com.apple.Wallpaper-Settings.extension</string>
	<key>com.apple.preference.digihub.discs</key>
	<string>com.apple.CD-DVD-Settings.extension</string>
	<key>com.apple.preference.displays</key>
	<string>com.apple.Displays-Settings.extension</string>
	<key>com.apple.preference.dock</key>
	<string>com.apple.Desktop-Settings.extension</string>
	<key>com.apple.preference.general</key>
	<string>com.apple.Appearance-Settings.extension</string>
	<key>com.apple.preference.keyboard</key>
	<string>com.apple.Keyboard-Settings.extension</string>
	<key>com.apple.preference.mouse</key>
	<string>com.apple.Mouse-Settings.extension</string>
	<key>com.apple.preference.network</key>
	<string>com.apple.Network-Settings.extension</string>
	<key>com.apple.preference.notifications</key>
	<string>com.apple.Notifications-Settings.extension</string>
	<key>com.apple.preference.printfax</key>
	<string>com.apple.Print-Scan-Settings.extension</string>
	<key>com.apple.preference.screentime</key>
	<string>com.apple.Screen-Time-Settings.extension</string>
	<key>com.apple.preference.screentime&amp;anchorId=AlwaysAllowed</key>
	<string>com.apple.Screen-Time-Settings.extension?path=always-allowed</string>
	<key>com.apple.preference.screentime&amp;anchorId=CommunicationLimit</key>
	<string>com.apple.Screen-Time-Settings.extension?path=communication-limits</string>
	<key>com.apple.preference.screentime&amp;anchorId=ContentAndPrivacy</key>
	<string>com.apple.Screen-Time-Settings.extension?path=content-and-privacy</string>
	<key>com.apple.preference.screentime&amp;anchorId=DailyNotifications</key>
	<string>com.apple.Screen-Time-Settings.extension?path=notifications</string>
	<key>com.apple.preference.screentime&amp;anchorId=DailyPickups</key>
	<string>com.apple.Screen-Time-Settings.extension?path=pickups</string>
	<key>com.apple.preference.screentime&amp;anchorId=DailyUsage</key>
	<string>com.apple.Screen-Time-Settings.extension?path=app-usage</string>
	<key>com.apple.preference.screentime&amp;anchorId=Downtime</key>
	<string>com.apple.Screen-Time-Settings.extension?path=downtime</string>
	<key>com.apple.preference.screentime&amp;anchorId=ViewUsageLimit</key>
	<string>com.apple.Screen-Time-Settings.extension?path=app-limits</string>
	<key>com.apple.preference.security</key>
	<string>com.apple.settings.PrivacySecurity.extension</string>
	<key>com.apple.preference.sound</key>
	<string>com.apple.Sound-Settings.extension</string>
	<key>com.apple.preference.speech</key>
	<string>com.apple.Siri-Settings.extension</string>
	<key>com.apple.preference.spotlight</key>
	<string>com.apple.Siri-Settings.extension</string>
	<key>com.apple.preference.startupdisk</key>
	<string>com.apple.Startup-Disk-Settings.extension</string>
	<key>com.apple.preference.trackpad</key>
	<string>com.apple.Trackpad-Settings.extension</string>
	<key>com.apple.preference.universalaccess</key>
	<string>com.apple.Accessibility-Settings.extension</string>
	<key>com.apple.preference.universalaccess&amp;anchorId=Accessibility_Shortcut</key>
	<string>com.apple.Accessibility-Settings.extension?Accessibility_Shortcut</string>
	<key>com.apple.preference.universalaccess&amp;anchorId=Captioning</key>
	<string>com.apple.Accessibility-Settings.extension?Captioning</string>
	<key>com.apple.preference.universalaccess&amp;anchorId=Dictation</key>
	<string>com.apple.Accessibility-Settings.extension?Dictation</string>
	<key>com.apple.preference.universalaccess&amp;anchorId=Hearing</key>
	<string>com.apple.Accessibility-Settings.extension?Hearing</string>
	<key>com.apple.preference.universalaccess&amp;anchorId=Keyboard</key>
	<string>com.apple.Accessibility-Settings.extension?Keyboard</string>
	<key>com.apple.preference.universalaccess&amp;anchorId=Media_Descriptions</key>
	<string>com.apple.Accessibility-Settings.extension?Media_Descriptions</string>
	<key>com.apple.preference.universalaccess&amp;anchorId=Mouse</key>
	<string>com.apple.Accessibility-Settings.extension?Mouse</string>
	<key>com.apple.preference.universalaccess&amp;anchorId=Seeing_Display</key>
	<string>com.apple.Accessibility-Settings.extension?Seeing_Display</string>
	<key>com.apple.preference.universalaccess&amp;anchorId=Seeing_VoiceOver</key>
	<string>com.apple.Accessibility-Settings.extension?Seeing_VoiceOver</string>
	<key>com.apple.preference.universalaccess&amp;anchorId=Seeing_Zoom</key>
	<string>com.apple.Accessibility-Settings.extension?Seeing_Zoom</string>
	<key>com.apple.preference.universalaccess&amp;anchorId=Siri</key>
	<string>com.apple.Accessibility-Settings.extension?Siri</string>
	<key>com.apple.preference.universalaccess&amp;anchorId=Switch</key>
	<string>com.apple.Accessibility-Settings.extension?Switch</string>
	<key>com.apple.preference.universalaccess&amp;anchorId=TextToSpeech</key>
	<string>com.apple.Accessibility-Settings.extension?TextToSpeech</string>
	<key>com.apple.preferences.AppleIDPrefPane</key>
	<string>com.apple.systempreferences.AppleIDSettings*AppleIDSettings</string>
	<key>com.apple.preferences.Bluetooth</key>
	<string>com.apple.BluetoothSettings</string>
	<key>com.apple.preferences.ClassKitPreferencePane</key>
	<string>com.apple.ClassKit-Settings.extension</string>
	<key>com.apple.preferences.EnergySaverPrefPane</key>
	<string>com.apple.Battery-Settings.extension</string>
	<key>com.apple.preferences.FamilySharingPrefPane</key>
	<string>com.apple.Family-Settings.extension*Family</string>
	<key>com.apple.preferences.configurationprofiles</key>
	<string>com.apple.Profiles-Settings.extension</string>
	<key>com.apple.preferences.extensions</key>
	<string>com.apple.ExtensionsPreferences</string>
	<key>com.apple.preferences.internetaccounts</key>
	<string>com.apple.Internet-Accounts-Settings.extension</string>
	<key>com.apple.preferences.password</key>
	<string>com.apple.Touch-ID-Settings.extension*TouchIDPasswordPrefs</string>
	<key>com.apple.preferences.sharing</key>
	<string>com.apple.Sharing-Settings.extension</string>
	<key>com.apple.preferences.softwareupdate</key>
	<string>com.apple.Software-Update-Settings.extension</string>
	<key>com.apple.preferences.users</key>
	<string>com.apple.Users-Groups-Settings.extension</string>
	<key>com.apple.preferences.wallet</key>
	<string>com.apple.WalletSettingsExtension</string>
	<key>com.apple.prefs.backup</key>
	<string>com.apple.Time-Machine-Settings.extension</string>
</dict>
</plist>
