<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>2</string>
		<key>offset</key>
		<string>20</string>
		<key>testName</key>
		<string>ScrollWorldClockEdit</string>
		<key>timeoutInSeconds</key>
		<string>120</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>2</string>
		<key>offset</key>
		<string>20</string>
		<key>testName</key>
		<string>ScrollAlarm</string>
		<key>timeoutInSeconds</key>
		<string>120</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>2</string>
		<key>natural</key>
		<string>1</string>
		<key>offset</key>
		<string>20</string>
		<key>pages</key>
		<string>2</string>
		<key>testName</key>
		<string>ScrollAlarmNatural</string>
		<key>timeoutInSeconds</key>
		<string>120</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>10</string>
		<key>offset</key>
		<string>20</string>
		<key>testName</key>
		<string>ScrollWorldClock</string>
		<key>timeoutInSeconds</key>
		<string>120</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>2</string>
		<key>natural</key>
		<string>1</string>
		<key>offset</key>
		<string>20</string>
		<key>pages</key>
		<string>2</string>
		<key>testName</key>
		<string>ScrollWorldClockNatural</string>
		<key>timeoutInSeconds</key>
		<string>120</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>time</string>
		<key>testName</key>
		<string>SelectAlarm</string>
		<key>testProfile</key>
		<array>
			<string>responsiveness</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>30</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>time</string>
		<key>testName</key>
		<string>SelectWorldClock</string>
		<key>testProfile</key>
		<array>
			<string>responsiveness</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>30</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>time</string>
		<key>testName</key>
		<string>SelectStopwatch</string>
		<key>testProfile</key>
		<array>
			<string>responsiveness</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>30</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>time</string>
		<key>testName</key>
		<string>SelectTimer</string>
		<key>testProfile</key>
		<array>
			<string>responsiveness</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>30</string>
	</dict>
</array>
</plist>
