<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Journal</string>
	<key>CFBundleExecutable</key>
	<string>JournalShareExtension</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.journal.JournalShareExtension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>JournalShareExtension</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>49.40.16</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23B68</string>
	<key>DTSDKName</key>
	<string>iphoneos26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>SUBQUERY(
				extensionItems,
				$extensionItem,
				SUBQUERY(
					$extensionItem.attachments,
					$attachment,
					ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.plain-text"
					OR ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.rtf"
					OR (ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.url" AND (NOT ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.file-url"))
					OR (ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.image" AND (NOT ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "com.apple.journal.sharing"))
					OR ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.movie"
					OR ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "com.apple.m4a-audio"
					OR ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "com.apple.quicktime-audio"
				).@count == $extensionItem.attachments.@count
				AND SUBQUERY(
					$extensionItem.attachments,
					$attachment,
					ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.image"
					OR ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.movie"
				).@count &lt;= 13
				AND SUBQUERY(
					$extensionItem.attachments,
					$attachment,
					ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.url"
				).@count &lt;= 1
			).@count == 1</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
		<key>NSExtensionPrincipalClass</key>
		<string>JournalShareExtension.JurassicShareRootController</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64e</string>
	</array>
</dict>
</plist>
