<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledFonts</key>
	<array>
		<dict>
			<key>fontFamily</key>
			<string>Sinhala MN</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.93000000000000005</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.04</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1599999999999999</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.29</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3500000000000001</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.4099999999999999</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.54</real>
					<key>lineHeight</key>
					<real>1.3799999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.74</real>
					<key>lineHeight</key>
					<real>1.3600000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.2200000000000002</real>
					<key>lineHeight</key>
					<real>1.3600000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.8500000000000001</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.1599999999999999</real>
				</dict>
			</array>
		</dict>
	</array>
	<key>fonts</key>
	<array>
		<dict>
			<key>fontFamily</key>
			<string></string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>1</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.7</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.8999999999999999</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>2</integer>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.6000000000000001</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>3.3999999999999999</real>
					<key>lineHeight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.7000000000000002</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string>Sinhala Sangam MN</string>
			<key>isPreinstalled</key>
			<true/>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.90000000000000002</real>
					<key>lineHeight</key>
					<real>1.4399999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.96999999999999997</real>
					<key>lineHeight</key>
					<real>1.4399999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1200000000000001</real>
					<key>lineHeight</key>
					<real>1.4399999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.4399999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.28</real>
					<key>lineHeight</key>
					<real>1.4399999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3400000000000001</real>
					<key>lineHeight</key>
					<real>1.4399999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.46</real>
					<key>lineHeight</key>
					<real>1.4399999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6499999999999999</real>
					<key>lineHeight</key>
					<real>1.3899999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2</real>
					<key>lineHeight</key>
					<real>1.4099999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.2</real>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
