<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>BKLibrary</string>
	<key>NSManagedObjectModel_VersionChecksums</key>
	<dict>
		<key>BKLibrary</key>
		<string>+wDdIjn0pO66hYAgsuk/darazwyfzWX4M6fQn0yJjJw=</string>
		<key>BKLibrary_iBooks_1.0.1_GM</key>
		<string>tLCYk/7JZHM/94MnGqR8SYDOHDwdlfNBbeHHPpGnSuc=</string>
		<key>BKLibrary_iBooks_4.15</key>
		<string>URceH8rYx+YKp/LqwBe76uoQYKxVMMiH1vEL4W/0s/o=</string>
		<key>BKLibrary_iBooks_4.17</key>
		<string>VNtpMYuIwJ7hEUq58J3/QfI8wPxPkG62A/dPmU1Sbr0=</string>
		<key>BKLibrary_iBooks_4.18</key>
		<string>hDcLwg+cIOTHccrq0vsmEtpcljBi8DybXEtB0QS+MMU=</string>
		<key>BKLibrary_iBooks_4.19</key>
		<string>WZdP2mUuDfu/01fcgjeCxFIPLblc1+JaIJEUsQ+7S70=</string>
		<key>BKLibrary_iBooks_4.5</key>
		<string>ES+N3L+6bB7YnLvyjNftD6MzHDQXmKIjAWzq8ctmENU=</string>
		<key>BKLibrary_iBooks_4.7</key>
		<string>sbLEbW24Wgi/2BYyWSImuWZywhAejP66iuGoKS13AnY=</string>
		<key>BKLibrary_iBooks_4.9</key>
		<string>mE8U57vkuWNraai9tT46p4myfPNofL8cMpbGLxl0474=</string>
		<key>BKLibrary_iBooks_8.0</key>
		<string>pGWDWAcb6S0c/F/dSkSXibt1R9hjTz1/llwUoNnt4FU=</string>
		<key>BKLibrary_iBooks_iOS16.6</key>
		<string>6dLpWWf//l4PVwDvVamW+uJW5U9PbQdnFvpDJWA/DIA=</string>
		<key>BKLibrary_iOS17.4</key>
		<string>DdIkBbBCwqA5HIQYEq0dyD0fycxC9Yd25PPRpLYawxI=</string>
		<key>BKLibrary_iOS17Seed1</key>
		<string>EdYqlgJCFJztO+VlrWPb25EjDoR5ThJKhW45V/3FWR8=</string>
	</dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>BKLibrary</key>
		<dict>
			<key>BCCloudSyncVersions</key>
			<data>
			DG9ACgf0yKh8/FfNq9i8Oyuj9g/EwbPHNy+ePeDsB4U=
			</data>
			<key>BKCollection</key>
			<data>
			SNZFrt9vtP7OHwxpdgQvjG0aDQCjcaPKMvV4xi2f4wY=
			</data>
			<key>BKCollectionMember</key>
			<data>
			iyiO3gHrQVAI21IxwV8Cp2jsmVbWVAixNI4/dJrLPnc=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
			<key>BKLibraryAsset</key>
			<data>
			trpSk3HQGmUKCB57keX6+H5prUj6N5GQj8cuAFmyVbg=
			</data>
		</dict>
		<key>BKLibrary_iBooks_1.0.1_GM</key>
		<dict>
			<key>BKCollection</key>
			<data>
			F7Xdo+RPKivLO6Xmwjxf8KH/aEnqIoXzu3pQ1Zv61Mo=
			</data>
			<key>BKCollectionMember</key>
			<data>
			op/5m2UDZ1KsGHpEnPRVuFW6GPt4kRGq+fgAJ26ZXIg=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
			<key>BKLibraryAsset</key>
			<data>
			O5FtRijzkRACvTCXNWAvcrD+tCekBPd+aEaNolAs+Js=
			</data>
		</dict>
		<key>BKLibrary_iBooks_4.15</key>
		<dict>
			<key>BKCollection</key>
			<data>
			F7Xdo+RPKivLO6Xmwjxf8KH/aEnqIoXzu3pQ1Zv61Mo=
			</data>
			<key>BKCollectionMember</key>
			<data>
			op/5m2UDZ1KsGHpEnPRVuFW6GPt4kRGq+fgAJ26ZXIg=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
			<key>BKLibraryAsset</key>
			<data>
			7mEfl+tNDlfEvEjcRPZWikyElayHwqunlxZPtktwmt0=
			</data>
		</dict>
		<key>BKLibrary_iBooks_4.17</key>
		<dict>
			<key>BCCloudSyncVersions</key>
			<data>
			DG9ACgf0yKh8/FfNq9i8Oyuj9g/EwbPHNy+ePeDsB4U=
			</data>
			<key>BKCollection</key>
			<data>
			SNZFrt9vtP7OHwxpdgQvjG0aDQCjcaPKMvV4xi2f4wY=
			</data>
			<key>BKCollectionMember</key>
			<data>
			iyiO3gHrQVAI21IxwV8Cp2jsmVbWVAixNI4/dJrLPnc=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
			<key>BKLibraryAsset</key>
			<data>
			vF4o50/2Qyef7tcm28SQB79ZRYA8qgDjnGWM+/vUZsM=
			</data>
		</dict>
		<key>BKLibrary_iBooks_4.18</key>
		<dict>
			<key>BCCloudSyncVersions</key>
			<data>
			DG9ACgf0yKh8/FfNq9i8Oyuj9g/EwbPHNy+ePeDsB4U=
			</data>
			<key>BKCollection</key>
			<data>
			F7Xdo+RPKivLO6Xmwjxf8KH/aEnqIoXzu3pQ1Zv61Mo=
			</data>
			<key>BKCollectionMember</key>
			<data>
			op/5m2UDZ1KsGHpEnPRVuFW6GPt4kRGq+fgAJ26ZXIg=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
			<key>BKLibraryAsset</key>
			<data>
			7mEfl+tNDlfEvEjcRPZWikyElayHwqunlxZPtktwmt0=
			</data>
		</dict>
		<key>BKLibrary_iBooks_4.19</key>
		<dict>
			<key>BCCloudSyncVersions</key>
			<data>
			DG9ACgf0yKh8/FfNq9i8Oyuj9g/EwbPHNy+ePeDsB4U=
			</data>
			<key>BKCollection</key>
			<data>
			SNZFrt9vtP7OHwxpdgQvjG0aDQCjcaPKMvV4xi2f4wY=
			</data>
			<key>BKCollectionMember</key>
			<data>
			iyiO3gHrQVAI21IxwV8Cp2jsmVbWVAixNI4/dJrLPnc=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
			<key>BKLibraryAsset</key>
			<data>
			c6anuF7r8cRwdhGngxjPPKcFiqgVjlXaLed8Nip8xT4=
			</data>
		</dict>
		<key>BKLibrary_iBooks_4.5</key>
		<dict>
			<key>BKCollection</key>
			<data>
			F7Xdo+RPKivLO6Xmwjxf8KH/aEnqIoXzu3pQ1Zv61Mo=
			</data>
			<key>BKCollectionMember</key>
			<data>
			op/5m2UDZ1KsGHpEnPRVuFW6GPt4kRGq+fgAJ26ZXIg=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
			<key>BKLibraryAsset</key>
			<data>
			DAvpz4Rond+21kw4yxVjpOSuvgacy607Hx6NSunQg2c=
			</data>
		</dict>
		<key>BKLibrary_iBooks_4.7</key>
		<dict>
			<key>BKCollection</key>
			<data>
			F7Xdo+RPKivLO6Xmwjxf8KH/aEnqIoXzu3pQ1Zv61Mo=
			</data>
			<key>BKCollectionMember</key>
			<data>
			op/5m2UDZ1KsGHpEnPRVuFW6GPt4kRGq+fgAJ26ZXIg=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
			<key>BKLibraryAsset</key>
			<data>
			FLs7SlTn/KqlzjF9uHx0iXqymuiIDMpZ6AioRAatv+M=
			</data>
		</dict>
		<key>BKLibrary_iBooks_4.9</key>
		<dict>
			<key>BKCollection</key>
			<data>
			F7Xdo+RPKivLO6Xmwjxf8KH/aEnqIoXzu3pQ1Zv61Mo=
			</data>
			<key>BKCollectionMember</key>
			<data>
			op/5m2UDZ1KsGHpEnPRVuFW6GPt4kRGq+fgAJ26ZXIg=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
			<key>BKLibraryAsset</key>
			<data>
			314mvT17PvtKrRY4OORebXsNbN1dk3c+K0ulqppIwJo=
			</data>
		</dict>
		<key>BKLibrary_iBooks_8.0</key>
		<dict>
			<key>BCCloudSyncVersions</key>
			<data>
			DG9ACgf0yKh8/FfNq9i8Oyuj9g/EwbPHNy+ePeDsB4U=
			</data>
			<key>BKCollection</key>
			<data>
			SNZFrt9vtP7OHwxpdgQvjG0aDQCjcaPKMvV4xi2f4wY=
			</data>
			<key>BKCollectionMember</key>
			<data>
			iyiO3gHrQVAI21IxwV8Cp2jsmVbWVAixNI4/dJrLPnc=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
			<key>BKLibraryAsset</key>
			<data>
			wAYJYubiOiwt1J+WlT8S5kpSkALzgEulww1AtxiIbKs=
			</data>
		</dict>
		<key>BKLibrary_iBooks_iOS16.6</key>
		<dict>
			<key>BCCloudSyncVersions</key>
			<data>
			DG9ACgf0yKh8/FfNq9i8Oyuj9g/EwbPHNy+ePeDsB4U=
			</data>
			<key>BKCollection</key>
			<data>
			SNZFrt9vtP7OHwxpdgQvjG0aDQCjcaPKMvV4xi2f4wY=
			</data>
			<key>BKCollectionMember</key>
			<data>
			iyiO3gHrQVAI21IxwV8Cp2jsmVbWVAixNI4/dJrLPnc=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
			<key>BKLibraryAsset</key>
			<data>
			gvXjqwppTOZkXv5WroP+BHR1Y8oFfZmE0yPjA8eriF0=
			</data>
		</dict>
		<key>BKLibrary_iOS17.4</key>
		<dict>
			<key>BCCloudSyncVersions</key>
			<data>
			DG9ACgf0yKh8/FfNq9i8Oyuj9g/EwbPHNy+ePeDsB4U=
			</data>
			<key>BKCollection</key>
			<data>
			SNZFrt9vtP7OHwxpdgQvjG0aDQCjcaPKMvV4xi2f4wY=
			</data>
			<key>BKCollectionMember</key>
			<data>
			iyiO3gHrQVAI21IxwV8Cp2jsmVbWVAixNI4/dJrLPnc=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
			<key>BKLibraryAsset</key>
			<data>
			PHyKhn3/IuyLLQI7pVau+uU/yjm3LtINl6Fac95R6RY=
			</data>
		</dict>
		<key>BKLibrary_iOS17Seed1</key>
		<dict>
			<key>BCCloudSyncVersions</key>
			<data>
			DG9ACgf0yKh8/FfNq9i8Oyuj9g/EwbPHNy+ePeDsB4U=
			</data>
			<key>BKCollection</key>
			<data>
			SNZFrt9vtP7OHwxpdgQvjG0aDQCjcaPKMvV4xi2f4wY=
			</data>
			<key>BKCollectionMember</key>
			<data>
			iyiO3gHrQVAI21IxwV8Cp2jsmVbWVAixNI4/dJrLPnc=
			</data>
			<key>BKJaliscoStatus</key>
			<data>
			qGaa2OwBWr983FI5eg+OosE9ILQUAGG4lEgbfxR5dJk=
			</data>
			<key>BKLibraryAsset</key>
			<data>
			dthk+8dCPEXJCRc2RVcUyIJzkWHTE6+PRYJvIF1mY/4=
			</data>
		</dict>
	</dict>
</dict>
</plist>
