<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Images</key>
	<array>
		<string>https://t4.ftcdn.net/jpg/03/29/53/41/240_F_329534162_VtQ1Qoi7pKXpefdFD21td06MsZalhS12.jpg</string>
		<string>https://t3.ftcdn.net/jpg/03/60/87/58/240_F_360875806_6BY3PZYXhambFjO6GLB0cEvb6ypsj0ng.jpg</string>
		<string>https://t3.ftcdn.net/jpg/02/71/41/24/240_F_271412491_dbHnpveaLD8Ix2sJEPUyHPzlu3sg64vZ.jpg</string>
		<string>https://t4.ftcdn.net/jpg/02/91/87/31/240_F_291873133_OO72s9EXJEzk507ddyFcTk9WKly5QHxf.jpg</string>
		<string>https://stock.adobe.com/images/imaginary-animal-crocodile-character-design-mischievous-posing-alligator-or-dragon-funny-design-for-kids-watercolor-style-cartoon-vector-illustration/362764578</string>
		<string>https://t4.ftcdn.net/jpg/03/59/49/03/240_F_359490333_L5ZJeMn32TRBzYC46TlYHNa6XAVdrEY3.jpg</string>
		<string>https://t4.ftcdn.net/jpg/03/00/55/47/240_F_300554714_t3k5asfOYD0mQZedxha8KCPbO5p0zZti.jpg</string>
		<string>https://t3.ftcdn.net/jpg/03/61/91/66/240_F_361916602_gdMofak3dDmhbylVJ6RktVUBY2TgKtZr.jpg</string>
		<string>https://t4.ftcdn.net/jpg/03/58/17/31/240_F_358173195_NiOBHkwZFkDpz6ezERCFdsA2Kr6QUVnh.jpg</string>
		<string>https://t4.ftcdn.net/jpg/03/59/19/73/240_F_359197358_pkmUmYPXxljYrpGa4y6gFI9cRE8tvxHb.jpg</string>
		<string>https://t3.ftcdn.net/jpg/03/61/26/86/240_F_361268619_fEGAZF1UUHiSsNrtK74p9caLRPwvrg6M.jpg</string>
		<string>https://t4.ftcdn.net/jpg/02/72/30/63/240_F_272306365_7GyFhXKyhN0YlfxDZioWU2AwkTL6MqZJ.jpg</string>
		<string>https://t3.ftcdn.net/jpg/03/21/98/36/240_F_321983622_IzLUE85dYnvVC3iK3hP2jeNBoVHFmS6v.jpg</string>
		<string>https://t4.ftcdn.net/jpg/03/55/01/25/240_F_355012571_hpfi5TklLcYvUXbGD5iMWuS2d1WrzeTX.jpg</string>
		<string>https://t4.ftcdn.net/jpg/03/19/12/49/240_F_319124900_peIdPDQIU7IJjw5pAKsDlNuLtJqo4Wyk.jpg</string>
		<string>https://t3.ftcdn.net/jpg/02/83/28/54/240_F_283285449_6bbRTJfDvmKacNZbN3XcyvBaUEGDl5ei.jpg</string>
		<string>https://t4.ftcdn.net/jpg/03/56/50/75/240_F_356507567_2UwyVpVf9iRu6DpotMTmvWzph8TZZyfR.jpg</string>
		<string>https://t3.ftcdn.net/jpg/03/58/01/02/240_F_358010249_yCrjjBVBh0SPoZOZozhf2zbRtv9aAsOz.jpg</string>
		<string>https://t3.ftcdn.net/jpg/02/98/45/00/240_F_298450088_tLPsC23RWniNk1Fje1M4EnnRPOQbCScw.jpg</string>
		<string>https://t3.ftcdn.net/jpg/02/94/01/90/240_F_294019074_G4NcIwP8uaYyxX0lNflmwMNK7N67LawS.jpg</string>
		<string>https://stock.adobe.com/images/happy-brown-pembroke-welsh-corgi-puppy-looking-at-camera-isolated-on-white-background/209205609</string>
		<string>https://t4.ftcdn.net/jpg/02/98/83/55/240_F_298835546_F1p14AabZr7RpiXxLmPNvSUHNC8Nhx6n.jpg</string>
		<string>https://t4.ftcdn.net/jpg/03/61/21/81/240_F_361218196_qctn4q25lK66AZpmari8RaPt6ilParIG.jpg</string>
		<string>https://t4.ftcdn.net/jpg/02/73/79/23/240_F_273792332_FHOLjA00MgwPeKjwOBa6uqxuQ0rQ4J7A.jpg</string>
		<string>https://t4.ftcdn.net/jpg/03/60/38/69/240_F_360386908_8OoQk0NS80iEV5N9pgUt4T2b4lLqzUVy.jpg</string>
		<string>https://t3.ftcdn.net/jpg/03/34/45/18/240_F_334451854_slIGet7dM0VQ0QkWkDn6ETbSkeTOtOxb.jpg</string>
		<string>https://t4.ftcdn.net/jpg/03/62/78/69/240_F_362786955_mBwjF3r4fCkRinsJnmpCHZVIvkhlpvaR.jpg</string>
		<string>https://t4.ftcdn.net/jpg/03/59/12/07/240_F_359120728_3fbCB2Qs46QxxU3yOUjLEz0npcWQmlPf.jpg</string>
		<string>https://t3.ftcdn.net/jpg/03/55/92/86/240_F_355928674_vcqNDjBSzC4SWe1IONiPisQxVRpLhBuS.jpg</string>
		<string>https://t4.ftcdn.net/jpg/03/42/94/23/240_F_342942300_qZ68GWnOzfRZMGIbSh7hljNr8DmDmj4T.jpg</string>
	</array>
</dict>
</plist>
