<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>os</key>
	<array>
		<dict>
			<key>category</key>
			<string>always_on_hang</string>
			<key>description</key>
			<string>responsiveness-testing</string>
			<key>name</key>
			<string>HangInterval</string>
			<key>subsystem</key>
			<string>com.apple.hangtracer</string>
			<key>targetTests</key>
			<array>
				<string>LocationViewRotationPortrait</string>
				<string>SidebarToggleLandscape</string>
				<string>SidebarTogglePortrait</string>
				<string>SmallMapSelectLandscape</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Sum</string>
				<string>Max</string>
			</array>
			<key>category</key>
			<string>VFXBackground</string>
			<key>description</key>
			<string>Loading vfx background requests</string>
			<key>name</key>
			<string>Weather:loadBackground</string>
			<key>subsystem</key>
			<string>com.apple.weather</string>
			<key>targetTests</key>
			<array>
				<string>VFXConditionRain</string>
				<string>VFXConditionThunderstorm</string>
				<string>VFXConditionPartlyCloudy</string>
				<string>VFXConditionClear</string>
				<string>VFXConditionSevereThunderstorm</string>
				<string>VFXConditionMostlyCloudy</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Sum</string>
			</array>
			<key>category</key>
			<string>PointsOfInterest</string>
			<key>description</key>
			<string>Measures VFX transaction that creates and updates effects</string>
			<key>name</key>
			<string>transaction</string>
			<key>subsystem</key>
			<string>com.apple.vfx</string>
			<key>targetTests</key>
			<array>
				<string>VFXConditionRain</string>
				<string>VFXConditionThunderstorm</string>
				<string>VFXConditionPartlyCloudy</string>
				<string>VFXConditionClear</string>
				<string>VFXConditionSevereThunderstorm</string>
				<string>VFXConditionMostlyCloudy</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Sum</string>
			</array>
			<key>category</key>
			<string>PointsOfInterest</string>
			<key>description</key>
			<string>Measures loading the VFX effect</string>
			<key>name</key>
			<string>VFXLoader.load</string>
			<key>subsystem</key>
			<string>com.apple.vfx</string>
			<key>targetTests</key>
			<array>
				<string>VFXConditionRain</string>
				<string>VFXConditionThunderstorm</string>
				<string>VFXConditionPartlyCloudy</string>
				<string>VFXConditionClear</string>
				<string>VFXConditionSevereThunderstorm</string>
				<string>VFXConditionMostlyCloudy</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Sum</string>
				<string>Max</string>
				<string>Count</string>
			</array>
			<key>category</key>
			<string>PointsOfInterest</string>
			<key>description</key>
			<string>Measures loading textures from disk for the VFX background</string>
			<key>name</key>
			<string>loadTextureFromDisk</string>
			<key>subsystem</key>
			<string>com.apple.vfx</string>
			<key>targetTests</key>
			<array>
				<string>VFXConditionRain</string>
				<string>VFXConditionThunderstorm</string>
				<string>VFXConditionPartlyCloudy</string>
				<string>VFXConditionClear</string>
				<string>VFXConditionSevereThunderstorm</string>
				<string>VFXConditionMostlyCloudy</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Sum</string>
				<string>Max</string>
			</array>
			<key>category</key>
			<string>PointsOfInterest</string>
			<key>description</key>
			<string>Measures uploading textures to GPU disk for the VFX background</string>
			<key>name</key>
			<string>uploadTextureToGPU</string>
			<key>subsystem</key>
			<string>com.apple.vfx</string>
			<key>targetTests</key>
			<array>
				<string>VFXConditionRain</string>
				<string>VFXConditionThunderstorm</string>
				<string>VFXConditionPartlyCloudy</string>
				<string>VFXConditionClear</string>
				<string>VFXConditionSevereThunderstorm</string>
				<string>VFXConditionMostlyCloudy</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Sum</string>
			</array>
			<key>category</key>
			<string>PointsOfInterest</string>
			<key>description</key>
			<string>Measures unserializing the VFXEffect</string>
			<key>name</key>
			<string>EntityManager.unserialize</string>
			<key>subsystem</key>
			<string>com.apple.vfx</string>
			<key>targetTests</key>
			<array>
				<string>VFXConditionRain</string>
				<string>VFXConditionThunderstorm</string>
				<string>VFXConditionPartlyCloudy</string>
				<string>VFXConditionClear</string>
				<string>VFXConditionSevereThunderstorm</string>
				<string>VFXConditionMostlyCloudy</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Mean</string>
			</array>
			<key>category</key>
			<string>MapWind</string>
			<key>description</key>
			<string>Interval to run a wind particle simulation cycle</string>
			<key>name</key>
			<string>windSimulationCycle</string>
			<key>subsystem</key>
			<string>com.apple.weather</string>
			<key>targetTests</key>
			<array>
				<string>PinnedMapViewWithWindOverlayScroll</string>
				<string>MapViewWithWindOverlayScroll</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
			</array>
			<key>category</key>
			<string>MapWind</string>
			<key>description</key>
			<string>Wind particle simulation frame skip count</string>
			<key>name</key>
			<string>windSimulationSkippedFrame</string>
			<key>subsystem</key>
			<string>com.apple.weather</string>
			<key>targetTests</key>
			<array>
				<string>PinnedMapViewWithWindOverlayScroll</string>
				<string>MapViewWithWindOverlayScroll</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
