<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>ListViewScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>LocationViewScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>ChangeLocationScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>VFXConditionClear</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>VFXConditionRain</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>VFXConditionPartlyCloudy</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>VFXConditionThunderstorm</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>VFXConditionSevereThunderstorm</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>VFXConditionMostlyCloudy</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>LocationViewScrollConditionRain</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>LocationViewScrollConditionPartlyCloudy</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>LocationViewScrollConditionThunderstorm</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>LocationViewScrollConditionSevereThunderstorm</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>LocationViewScrollConditionMostlyCloudy</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>ChangeLocationScrollConditionRain</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>ChangeLocationScrollConditionPartlyCloudy</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>ChangeLocationScrollConditionThunderstorm</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>ChangeLocationScrollConditionSevereThunderstorm</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>ChangeLocationScrollConditionMostlyCloudy</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>Portrait</string>
		<key>testName</key>
		<string>ChangeLocationSelectPortrait</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>time</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>MemoryTestPrepareNormalWeatherConditionData</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>time</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>MemoryTestPrepareComplexWeatherConditionData</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>time</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>MemoryTestNavigateToListView</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>time</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>MemoryTestNavigateToLocationView1</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>time</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>MemoryTestNavigateToLocationView2</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>time</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>MemoryTestNavigateToLocationView3</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>time</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>MemoryTestNavigateToLocationView4</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>time</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>MemoryTestPanToEndOfHourlyForecast</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>time</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>MemoryTestPanToLocationBottom</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>MapViewWithTemperatureOverlayScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>175</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>MapViewWithPrecipitationOverlayScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>175</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>MapViewWithPrecipitationRadarOverlayScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>175</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>MapViewWithAQIOverlayScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>175</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>MapViewWithWindOverlayScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>175</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>ListViewLocationViewTransition</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>LocationViewListViewTransition</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>FirstLocationScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>LocationOfflineBannerScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>160</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>testName</key>
		<string>ConditionsL2Swipe</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
</array>
</plist>
