<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>LandscapeRight</string>
		<key>testName</key>
		<string>ListViewScrollLandscape</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>LandscapeRight</string>
		<key>testName</key>
		<string>ChangeLocationScrollLandscape</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>Portrait</string>
		<key>testName</key>
		<string>LocationViewScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>LandscapeRight</string>
		<key>testName</key>
		<string>VFXConditionClear</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>LandscapeRight</string>
		<key>testName</key>
		<string>VFXConditionRain</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>LandscapeRight</string>
		<key>testName</key>
		<string>VFXConditionPartlyCloudy</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>LandscapeRight</string>
		<key>testName</key>
		<string>VFXConditionThunderstorm</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>LandscapeRight</string>
		<key>testName</key>
		<string>VFXConditionSevereThunderstorm</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>LandscapeRight</string>
		<key>testName</key>
		<string>VFXConditionMostlyCloudy</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>Portrait</string>
		<key>testName</key>
		<string>MapViewWithTemperatureOverlayScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>160</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>Portrait</string>
		<key>testName</key>
		<string>MapViewWithPrecipitationOverlayScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>175</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>Portrait</string>
		<key>testName</key>
		<string>MapViewWithPrecipitationRadarOverlayScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>175</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>Portrait</string>
		<key>testName</key>
		<string>MapViewWithAQIOverlayScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>175</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>Portrait</string>
		<key>testName</key>
		<string>MapViewWithWindOverlayScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>175</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>LandscapeRight</string>
		<key>testName</key>
		<string>ChangeLocationSelectLandscape</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>LandscapeRight</string>
		<key>testName</key>
		<string>LocationViewScrollLandscape</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>Portrait</string>
		<key>testName</key>
		<string>LocationViewRotationPortrait</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>LandscapeRight</string>
		<key>testName</key>
		<string>SidebarToggleLandscape</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>Portrait</string>
		<key>testName</key>
		<string>SidebarTogglePortrait</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>Portrait</string>
		<key>testName</key>
		<string>SmallMapSelectPortrait</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>LandscapeRight</string>
		<key>testName</key>
		<string>SmallMapSelectLandscape</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>60</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>Portrait</string>
		<key>testName</key>
		<string>PinnedMapViewWithTemperatureOverlayScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>175</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>Portrait</string>
		<key>testName</key>
		<string>PinnedMapViewWithPrecipitationOverlayScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>175</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>Portrait</string>
		<key>testName</key>
		<string>PinnedMapViewWithAQIOverlayScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>175</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>Portrait</string>
		<key>testName</key>
		<string>PinnedMapViewWithWindOverlayScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>175</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>Portrait</string>
		<key>testName</key>
		<string>MapTransitionPrecipitation</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>175</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>LandscapeRight</string>
		<key>testName</key>
		<string>LocationOfflineBannerScroll</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>160</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>iterations</key>
		<string>1</string>
		<key>orientation</key>
		<string>LandscapeRight</string>
		<key>testName</key>
		<string>LocationOfflineBannerScrollTrailingPinnedMap</string>
		<key>testProfile</key>
		<array>
			<string>graphics</string>
		</array>
		<key>timeoutInSeconds</key>
		<string>160</string>
	</dict>
</array>
</plist>
