<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.private.shazamkit.exception.routing</key>
	<array>
		<string>com.apple.mobileslideshow</string>
		<string>com.apple.Photos</string>
		<string>com.apple.camera</string>
		<string>com.shazam.Shazam</string>
		<string>com.apple.Maps</string>
		<string>com.apple.Music</string>
		<string>com.apple.mobilecal</string>
		<string>com.apple.podcasts</string>
		<string>com.apple.music.classical</string>
		<string>com.apple.Spotlight</string>
		<string>com.apple.siri</string>
		<string>com.apple.datadetectors.DDActionsService</string>
		<string>com.apple.news</string>
		<string>com.apple.ShazamEventsTestApp</string>
	</array>
</dict>
</plist>
