<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>BooksPersonalizationMetadataCache</string>
	<key>NSManagedObjectModel_VersionChecksums</key>
	<dict>
		<key>BooksPersonalizationMetadataCache</key>
		<string>AtOYBn69Zd0PJZr4Ghhem+gXpVLU4lFOMxqOsQLHbEo=</string>
	</dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>BooksPersonalizationMetadataCache</key>
		<dict>
			<key>CachedPersonalizationMetadataBISAC</key>
			<data>
			wSRobaL+wgrxzv37dhWq6oE14yOL0rGEiNakMUPFAiA=
			</data>
			<key>CachedPersonalizationMetadataBook</key>
			<data>
			ZBR7l6VrTjfDG5BI2GTlAy6sGCyJVN4WxWJARslCNoQ=
			</data>
		</dict>
	</dict>
</dict>
</plist>
