<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SystemReport</string>
	<key>CFBundleExecutable</key>
	<string>SystemReport</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.DiagnosticsService.SystemReport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SystemReport</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>XROS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>xros</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23N37</string>
	<key>DTSDKName</key>
	<string>xros26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>DKReporterManifest</key>
			<dict>
				<key>ALS</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Accelerometer</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Accessory.AirPods</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>3.0</string>
				</dict>
				<key>Accessory.AirPodsCase</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Accessory.USB</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>ApplePay</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Audio.Microphones</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Audio.Speakers</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Audio.ULLA</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Barometer</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Battery.External</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Bluetooth</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Button.DigitalCrown</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Button.Home</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Button.Sleep</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.BottomEyeLeft</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.BottomEyeRight</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.DownLeft</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.DownRight</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.ExteriorIR</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.FrontIR</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.JawLeft</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.JawRight</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.MainLeft</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.MainRight</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.NasalEyeLeft</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.NasalEyeRight</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.SideLeft</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Camera.SideRight</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Compass</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Display.Left</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Display.Right</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>EyeSight</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Fan.Left</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Fan.Right</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>FlickerSensor</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Gyro</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>IPD.Left</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>IPD.Right</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Lens</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>MLB</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>MotionCoprocessor</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>MultiTouch</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>ProximitySensor</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Sensor.HomeButton</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Sensor.Temperature</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Software.EnhancedLoggingState</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Storage</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Strap.AudioLeft</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Strap.AudioRight</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>Strobe.FrontSLP</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.1</string>
				</dict>
				<key>System</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.2</string>
				</dict>
				<key>SystemHealthStatus</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>UltraWideBand</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
				<key>WiFi</key>
				<dict>
					<key>DKReporterManifestResources</key>
					<array/>
					<key>DKReporterManifestVersion</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>DKReporterName</key>
			<string>System Report</string>
		</dict>
		<key>NSExtensionContextClass</key>
		<string>DKReporterContext</string>
		<key>NSExtensionContextHostClass</key>
		<string>DKReportHostContext</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.diagnostics-reporter-service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>SystemReport</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
</dict>
</plist>
