<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apple</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict>
			<key>zh_Hans</key>
			<string>苹果中国</string>
		</dict>
		<key>LocalizedURL</key>
		<dict>
			<key>AU</key>
			<string>https://www.apple.com/au/</string>
			<key>BR</key>
			<string>https://www.apple.com/br</string>
			<key>CA</key>
			<string>https://www.apple.com/ca/</string>
			<key>CZ</key>
			<string>https://www.apple.com/cz/</string>
			<key>DE</key>
			<string>https://www.apple.com/de/</string>
			<key>DK</key>
			<string>https://www.apple.com/dk/</string>
			<key>ES</key>
			<string>https://www.apple.com/es</string>
			<key>FI</key>
			<string>https://www.apple.com/fi</string>
			<key>FR</key>
			<string>https://www.apple.com/fr/</string>
			<key>GB</key>
			<string>https://www.apple.com/uk/</string>
			<key>GR</key>
			<string>https://www.apple.com/gr/</string>
			<key>HK</key>
			<string>https://www.apple.com/hk/</string>
			<key>HR</key>
			<string>https://www.apple.com/hr/</string>
			<key>HU</key>
			<string>https://www.apple.com/hu/</string>
			<key>IN</key>
			<string>https://www.apple.com/in/</string>
			<key>IT</key>
			<string>https://www.apple.com/it/</string>
			<key>JP</key>
			<string>https://www.apple.com/jp/</string>
			<key>KR</key>
			<string>https://www.apple.com/kr/</string>
			<key>NL</key>
			<string>https://www.apple.com/nl</string>
			<key>NO</key>
			<string>https://www.apple.com/no</string>
			<key>PL</key>
			<string>https://www.apple.com/pl/</string>
			<key>PT</key>
			<string>https://www.apple.com/pt/</string>
			<key>RO</key>
			<string>https://www.apple.com/ro/</string>
			<key>RU</key>
			<string>https://www.apple.com/ru/</string>
			<key>SE</key>
			<string>https://www.apple.com/se/</string>
			<key>SK</key>
			<string>https://www.apple.com/sk/</string>
			<key>TH</key>
			<string>https://www.apple.com/th/</string>
			<key>TR</key>
			<string>https://www.apple.com/tr</string>
			<key>TW</key>
			<string>https://www.apple.com/tw/</string>
			<key>ca</key>
			<string>https://www.apple.com/es/</string>
			<key>zh_Hans</key>
			<string>https://www.apple.com.cn</string>
			<key>zh_Hant</key>
			<string>https://www.apple.com/tw/</string>
		</dict>
		<key>Title</key>
		<string>Apple</string>
		<key>URL</key>
		<string>https://www.apple.com/</string>
	</dict>
	<key>Asahi</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict/>
		<key>LocalizedURL</key>
		<dict/>
		<key>Title</key>
		<string>Asahi Shimbun</string>
		<key>URL</key>
		<string>https://www.asahi.com/</string>
	</dict>
	<key>BBC</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict/>
		<key>LocalizedURL</key>
		<dict/>
		<key>Title</key>
		<string>BBC</string>
		<key>URL</key>
		<string>https://www.bbc.co.uk/</string>
	</dict>
	<key>Baidu</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict>
			<key>zh</key>
			<string>百度</string>
			<key>zh_Hans</key>
			<string>百度</string>
			<key>zh_Hant</key>
			<string>百度</string>
		</dict>
		<key>LocalizedURL</key>
		<dict/>
		<key>Title</key>
		<string>Baidu</string>
		<key>URL</key>
		<string>https://www.baidu.com</string>
	</dict>
	<key>Baike</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict/>
		<key>LocalizedURL</key>
		<dict/>
		<key>Title</key>
		<string>百度百科</string>
		<key>URL</key>
		<string>https://baike.baidu.com/</string>
	</dict>
	<key>Bing</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict>
			<key>zh_Hans</key>
			<string>必应</string>
		</dict>
		<key>LocalizedURL</key>
		<dict>
			<key>HK</key>
			<string>https://hk.bing.com/</string>
			<key>MO</key>
			<string>https://hk.bing.com/</string>
			<key>TW</key>
			<string>https://tw.bing.com/</string>
			<key>zh</key>
			<string>https://cn.bing.com/</string>
		</dict>
		<key>Title</key>
		<string>Bing</string>
		<key>URL</key>
		<string>https://www.bing.com/</string>
	</dict>
	<key>Facebook</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict/>
		<key>LocalizedURL</key>
		<dict>
			<key>GB</key>
			<string>https://en-gb.facebook.com/</string>
			<key>zh</key>
			<string>https://zh-cn.facebook.com/</string>
			<key>zh_HK</key>
			<string>https://zh-hk.facebook.com/</string>
			<key>zh_TW</key>
			<string>https://zh-tw.facebook.com/</string>
		</dict>
		<key>Title</key>
		<string>Facebook</string>
		<key>URL</key>
		<string>https://facebook.com/</string>
	</dict>
	<key>Google</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict/>
		<key>LocalizedURL</key>
		<dict>
			<key>AM</key>
			<string>https://www.google.am/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>AZ</key>
			<string>https://www.google.az/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>BY</key>
			<string>https://www.google.com.by/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>KY</key>
			<string>https://www.google.am/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>KZ</key>
			<string>https://www.google.kz/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>TJ</key>
			<string>https://www.google.com.tj/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>UZ</key>
			<string>https://www.google.co.uz/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>ar_AE</key>
			<string>https://www.google.ae/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>ar_EG</key>
			<string>https://www.google.com.eg/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>ar_JO</key>
			<string>https://www.google.jo/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>ar_QA</key>
			<string>https://www.google.com.qa/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>cs_cZ</key>
			<string>https://www.google.cz/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>da_DK</key>
			<string>https://www.google.dk/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>de_AT</key>
			<string>https://www.google.at/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>de_BE</key>
			<string>https://www.google.be/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>de_CH</key>
			<string>https://www.google.ch/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>de_DE</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>de_LI</key>
			<string>https://www.google.li/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>de_LU</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>el_GR</key>
			<string>https://www.google.gr/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_AU</key>
			<string>https://www.google.com.au/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_BE</key>
			<string>https://www.google.be/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_BW</key>
			<string>https://www.google.co.bw/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_CA</key>
			<string>https://www.google.ca/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_CM</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_GB</key>
			<string>https://www.google.co.uk/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_HK</key>
			<string>https://www.google.com.hk/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_IN</key>
			<string>https://www.google.co.in/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_JM</key>
			<string>https://www.google.com.jm/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_KE</key>
			<string>https://www.google.kg/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_MG</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_MO</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_MT</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_MU</key>
			<string>https://www.google.mu/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_NZ</key>
			<string>https://www.google.co.nz/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_PH</key>
			<string>https://www.google.com.ph/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_PK</key>
			<string>https://www.google.com.pk/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_PR</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_SG</key>
			<string>https://www.google.com.sg/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_US</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_VI</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_ZA</key>
			<string>https://www.google.co.za/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>en_ZW</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_AR</key>
			<string>https://www.google.com.ar/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_BO</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_CL</key>
			<string>https://www.google.cl/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_CO</key>
			<string>https://www.google.com.co/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_CR</key>
			<string>https://www.google.co.cr/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_DO</key>
			<string>https://www.google.com.do/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_EC</key>
			<string>https://www.google.com.ec/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_ES</key>
			<string>https://www.google.es/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_GQ</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_GT</key>
			<string>https://www.google.com.gt/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_HN</key>
			<string>https://www.google.hn/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_MX</key>
			<string>https://www.google.com.mx/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_NI</key>
			<string>https://www.google.com.ni/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_PA</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_PE</key>
			<string>https://www.google.com.pe/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_PR</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_PY</key>
			<string>https://www.google.com.py/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_SV</key>
			<string>https://www.google.com.sv/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_UY</key>
			<string>https://www.google.com.uy/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>es_VE</key>
			<string>https://www.google.co.ve/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>et_EE</key>
			<string>https://www.google.ee/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fi_FI</key>
			<string>https://www.google.fi/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fr_BE</key>
			<string>https://www.google.be/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fr_CA</key>
			<string>https://www.google.ca/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fr_CF</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fr_CH</key>
			<string>https://www.google.ch/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fr_CI</key>
			<string>https://www.google.ci/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fr_CM</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fr_FR</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fr_GN</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fr_GQ</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fr_LU</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fr_MG</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fr_ML</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fr_NE</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fr_RE</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>fr_SN</key>
			<string>https://www.google.sn/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>gu_IN</key>
			<string>https://www.google.co.in/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>he_IL</key>
			<string>https://www.google.co.il/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>hr_HR</key>
			<string>https://www.google.hr/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>hu_HU</key>
			<string>https://www.google.hu/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>id_ID</key>
			<string>https://www.google.co.id/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>is_IS</key>
			<string>https://www.google.is/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>it_CH</key>
			<string>https://www.google.ch/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>it_IT</key>
			<string>https://www.google.it/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>ja_JP</key>
			<string>https://www.google.co.jp/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>ko_KR</key>
			<string>https://www.google.co.kr/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>lt_LT</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>lv_LV</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>mk_MK</key>
			<string>https://www.google.com/intl/mk/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>ms_MY</key>
			<string>https://www.google.com.my/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>nb_NO</key>
			<string>https://www.google.no/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>nl_BE</key>
			<string>https://www.google.be/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>nl_NL</key>
			<string>https://www.google.nl/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>om_KE</key>
			<string>https://www.google.kg/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>pl_PL</key>
			<string>https://www.google.pl/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>pt_BR</key>
			<string>https://www.google.com.br/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>pt_GW</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>pt_PT</key>
			<string>https://www.google.pt/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>ro_RO</key>
			<string>https://www.google.ro/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>ru_MD</key>
			<string>https://www.google.md/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>ru_RU</key>
			<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>ru_UA</key>
			<string>https://www.google.com.ua/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>sk_SK</key>
			<string>https://www.google.sk/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>so_KE</key>
			<string>https://www.google.kg/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>sr_CS</key>
			<string>https://www.google.rs/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>sv_FI</key>
			<string>https://www.google.fi/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>sv_SE</key>
			<string>https://www.google.se/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>sw_KE</key>
			<string>https://www.google.kg/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>th_TH</key>
			<string>https://www.google.co.th/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>tr_TR</key>
			<string>https://www.google.com.tr/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>uk_MD</key>
			<string>https://www.google.md/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>uk_UA</key>
			<string>https://www.google.com.ua/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>vi_VN</key>
			<string>https://www.google.com.vn/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>zh</key>
			<string>https://www.google.cn/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>zh_CN</key>
			<string>https://www.google.cn/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>zh_HK</key>
			<string>https://www.google.com.hk/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>zh_MO</key>
			<string>https://www.google.cn/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
			<key>zh_TW</key>
			<string>https://www.google.com.tw/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
		</dict>
		<key>Title</key>
		<string>Google</string>
		<key>URL</key>
		<string>https://www.google.com/?client=safari&amp;channel=$GOOGLE_CHANNEL</string>
		<key>URLQueryStringParameterKeys</key>
		<array>
			<string>$GOOGLE_CHANNEL</string>
		</array>
	</dict>
	<key>Hotstar</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict/>
		<key>LocalizedURL</key>
		<dict/>
		<key>Title</key>
		<string>Hotstar</string>
		<key>URL</key>
		<string>https://www.hotstar.com/</string>
	</dict>
	<key>NDTV</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict/>
		<key>LocalizedURL</key>
		<dict/>
		<key>Title</key>
		<string>NDTV</string>
		<key>URL</key>
		<string>https://www.ndtv.com/</string>
	</dict>
	<key>OpenRice</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict/>
		<key>LocalizedURL</key>
		<dict>
			<key>zh_Hans</key>
			<string>https://openrice.com/zh-cn/</string>
			<key>zh_Hant</key>
			<string>https://openrice.com/zh/</string>
		</dict>
		<key>Title</key>
		<string>OpenRice</string>
		<key>URL</key>
		<string>https://www.openrice.com/</string>
	</dict>
	<key>Qihoo</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict>
			<key>zh</key>
			<string>360搜索</string>
		</dict>
		<key>LocalizedURL</key>
		<dict/>
		<key>Title</key>
		<string>360 Search</string>
		<key>URL</key>
		<string>https://www.so.com</string>
	</dict>
	<key>Sina</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict>
			<key>zh</key>
			<string>新浪网</string>
			<key>zh_Hans</key>
			<string>新浪网</string>
			<key>zh_Hant</key>
			<string>新浪網</string>
		</dict>
		<key>LocalizedURL</key>
		<dict/>
		<key>Title</key>
		<string>新浪网</string>
		<key>URL</key>
		<string>https://www.sina.com.cn/</string>
	</dict>
	<key>Sogou</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict>
			<key>zh</key>
			<string>搜狗</string>
		</dict>
		<key>LocalizedURL</key>
		<dict/>
		<key>Title</key>
		<string>Sogou</string>
		<key>URL</key>
		<string>https://www.sogou.com</string>
	</dict>
	<key>Twitter</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict/>
		<key>LocalizedURL</key>
		<dict/>
		<key>Title</key>
		<string>Twitter</string>
		<key>URL</key>
		<string>https://twitter.com/</string>
	</dict>
	<key>Wikipedia</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict>
			<key>zh</key>
			<string>维基百科</string>
			<key>zh_Hans</key>
			<string>维基百科</string>
			<key>zh_Hant</key>
			<string>維基百科</string>
		</dict>
		<key>LocalizedURL</key>
		<dict>
			<key>ja_JP</key>
			<string>https://ja.wikipedia.org/</string>
			<key>zh</key>
			<string>https://zh.wikipedia.org/</string>
			<key>zh_HK</key>
			<string>https://zh.wikipedia.org/zh-hk/</string>
			<key>zh_TW</key>
			<string>https://zh.wikipedia.org/zh-tw/</string>
		</dict>
		<key>Title</key>
		<string>Wikipedia</string>
		<key>URL</key>
		<string>https://wikipedia.org/</string>
	</dict>
	<key>Yahoo</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict>
			<key>JP</key>
			<string>Yahoo! JAPAN</string>
		</dict>
		<key>LocalizedURL</key>
		<dict>
			<key>AE</key>
			<string>https://en-maktoob.yahoo.com</string>
			<key>AR</key>
			<string>https://ar.yahoo.com</string>
			<key>AU</key>
			<string>https://au.yahoo.com</string>
			<key>BE</key>
			<string>https://be.yahoo.com</string>
			<key>BH</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>BR</key>
			<string>https://br.yahoo.com</string>
			<key>BZ</key>
			<string>https://espanol.yahoo.com</string>
			<key>CA</key>
			<string>https://ca.yahoo.com</string>
			<key>CL</key>
			<string>https://cl.yahoo.com</string>
			<key>CO</key>
			<string>https://co.yahoo.com</string>
			<key>CR</key>
			<string>https://espanol.yahoo.com</string>
			<key>DE</key>
			<string>https://de.yahoo.com</string>
			<key>DJ</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>DO</key>
			<string>https://espanol.yahoo.com</string>
			<key>EC</key>
			<string>https://espanol.yahoo.com</string>
			<key>EG</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>ES</key>
			<string>https://es.yahoo.com</string>
			<key>FR</key>
			<string>https://fr.yahoo.com</string>
			<key>GB</key>
			<string>https://uk.yahoo.com</string>
			<key>GR</key>
			<string>https://gr.yahoo.com</string>
			<key>GT</key>
			<string>https://espanol.yahoo.com</string>
			<key>HK</key>
			<string>https://hk.yahoo.com</string>
			<key>HN</key>
			<string>https://espanol.yahoo.com</string>
			<key>ID</key>
			<string>https://id.yahoo.com</string>
			<key>IE</key>
			<string>https://ie.yahoo.com</string>
			<key>IN</key>
			<string>https://in.yahoo.com</string>
			<key>IQ</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>IR</key>
			<string>https://en-maktoob.yahoo.com</string>
			<key>IT</key>
			<string>https://it.yahoo.com</string>
			<key>JO</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>JP</key>
			<string>https://www.yahoo.co.jp/</string>
			<key>KW</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>LB</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>LY</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>MA</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>MR</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>MX</key>
			<string>https://mx.yahoo.com</string>
			<key>MY</key>
			<string>https://malaysia.yahoo.com</string>
			<key>NI</key>
			<string>https://espanol.yahoo.com</string>
			<key>NZ</key>
			<string>https://nz.yahoo.com</string>
			<key>OM</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>PA</key>
			<string>https://espanol.yahoo.com</string>
			<key>PE</key>
			<string>https://pe.yahoo.com</string>
			<key>PH</key>
			<string>https://ph.yahoo.com</string>
			<key>PR</key>
			<string>https://espanol.yahoo.com</string>
			<key>PS</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>PY</key>
			<string>https://espanol.yahoo.com</string>
			<key>QA</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>RO</key>
			<string>https://ro.yahoo.com</string>
			<key>SA</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>SD</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>SE</key>
			<string>https://se.yahoo.com</string>
			<key>SG</key>
			<string>https://sg.yahoo.com</string>
			<key>SO</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>SV</key>
			<string>https://espanol.yahoo.com</string>
			<key>SY</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>TN</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>TW</key>
			<string>https://tw.yahoo.com</string>
			<key>US</key>
			<string>https://yahoo.com</string>
			<key>UY</key>
			<string>https://espanol.yahoo.com</string>
			<key>VE</key>
			<string>https://ve.yahoo.com</string>
			<key>VN</key>
			<string>https://vn.yahoo.com</string>
			<key>YE</key>
			<string>https://maktoob.yahoo.com/</string>
			<key>ZA</key>
			<string>https://za.yahoo.com</string>
			<key>es_US</key>
			<string>https://espanol.yahoo.com</string>
			<key>fr_BE</key>
			<string>https://fr-be.yahoo.com</string>
			<key>fr_CA</key>
			<string>https://qc.yahoo.com</string>
		</dict>
		<key>Title</key>
		<string>Yahoo</string>
		<key>URL</key>
		<string>https://www.yahoo.com</string>
	</dict>
	<key>Yandex</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict/>
		<key>LocalizedURL</key>
		<dict>
			<key>AM</key>
			<string>https://yandex.ru</string>
			<key>AZ</key>
			<string>https://yandex.ru</string>
			<key>BY</key>
			<string>https://yandex.ru</string>
			<key>KG</key>
			<string>https://yandex.ru</string>
			<key>KZ</key>
			<string>https://yandex.ru</string>
			<key>MD</key>
			<string>https://yandex.ru</string>
			<key>RU</key>
			<string>https://yandex.ru</string>
			<key>TJ</key>
			<string>https://yandex.ru</string>
			<key>TM</key>
			<string>https://yandex.ru</string>
			<key>TR</key>
			<string>https://yandex.com.tr</string>
			<key>UA</key>
			<string>https://yandex.ru</string>
			<key>UZ</key>
			<string>https://yandex.ru</string>
		</dict>
		<key>Title</key>
		<string>Yandex</string>
		<key>URL</key>
		<string>https://www.yandex.com</string>
	</dict>
	<key>Zomato</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict/>
		<key>LocalizedURL</key>
		<dict/>
		<key>Title</key>
		<string>Zomato</string>
		<key>URL</key>
		<string>https://www.zomato.com/</string>
	</dict>
	<key>iCloud</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict/>
		<key>LocalizedURL</key>
		<dict/>
		<key>Title</key>
		<string>iCloud</string>
		<key>URL</key>
		<string>https://www.icloud.com/</string>
	</dict>
	<key>iPeen</key>
	<dict>
		<key>LocalizedTitle</key>
		<dict/>
		<key>LocalizedURL</key>
		<dict/>
		<key>Title</key>
		<string>iPeen</string>
		<key>URL</key>
		<string>https://www.ipeen.com.tw/</string>
	</dict>
</dict>
</plist>
