<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Safari</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Safari download</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.safari.download</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>MobileSafari</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<string>AppIcon</string>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.mobilesafari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MobileSafari</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>26.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>XROS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>Web App URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>webclip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Web site URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>FTP URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ftp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Web Search URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-web-search</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>MobileSafari Tab URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com-apple-mobilesafari-tab</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>Web Extension URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>safari-web-extension</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>8622.2.11.14.4</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>23N5041a</string>
	<key>DTPlatformName</key>
	<string>xros</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23N5041a</string>
	<key>DTSDKName</key>
	<string>xros26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts are used for AutoFill information and shared Tab Groups.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Websites you visit may request your location.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Websites you visit may access speech recognition.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>NSUserActivityTypeBrowsingWeb</string>
		<string>com.apple.mobilesafari.UserActivity.ProactiveConnection</string>
		<string>com.apple.Safari.UserActivity.ReadingList</string>
		<string>com.apple.Safari.UserActivity.Bookmarks</string>
		<string>com.apple.mobilesafari.UserActivity.create-window</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneDelegateClassName</key>
					<string>BrowserSceneDelegateRouter</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>7</integer>
	</array>
	<key>UILaunchPlacementParameters</key>
	<dict>
		<key>PreferredLaunchSize</key>
		<dict>
			<key>Height</key>
			<integer>816</integer>
			<key>Width</key>
			<integer>938</integer>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UINativeSizeClass</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Safari download</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.safari.download</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>download</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Private tab</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>safari.tab.private</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Standard tab</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>safari.tab.standard</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Private tab</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>safari.tab.private</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Standard tab</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>safari.tab.standard</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>kMDItemKeywords</key>
	<string>Safari</string>
</dict>
</plist>
