<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>BookTheme-6</string>
	<key>NSManagedObjectModel_VersionChecksums</key>
	<dict>
		<key>BookTheme</key>
		<string>jJSct3b92F91Fz6+xshGlgnC64cAxqiHMYld+XJyFa4=</string>
		<key>BookTheme-2</key>
		<string>gXuk0Bm5YifJ2ZL6/Vw+5jNDwuen+E7j5rYjht9YpFU=</string>
		<key>BookTheme-3</key>
		<string>gXuk0Bm5YifJ2ZL6/Vw+5jNDwuen+E7j5rYjht9YpFU=</string>
		<key>BookTheme-4</key>
		<string>VBgZrY82RM7lTHiR91UFKUxU6RroJzqLVDAniqZtnhI=</string>
		<key>BookTheme-5</key>
		<string>GdCNAVctTlTmjOQT6PgeNuE5DDkCKB0GHNp/61aDVoY=</string>
		<key>BookTheme-6</key>
		<string>l1WeTpqzJNR0HiKz7iLYDljHmUfm7EH+PuIyQ15c8UQ=</string>
	</dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>BookTheme</key>
		<dict>
			<key>BookTheme</key>
			<data>
			KFfrcXj9Lxh5g31mS9/xy0VHUEIrXDXH8xi0OR3uusU=
			</data>
		</dict>
		<key>BookTheme-2</key>
		<dict>
			<key>BookTheme</key>
			<data>
			DgCuXUXxMyuyDzK937385aOyoD7HgURG/LGme0LJqPQ=
			</data>
		</dict>
		<key>BookTheme-3</key>
		<dict>
			<key>BookTheme</key>
			<data>
			DgCuXUXxMyuyDzK937385aOyoD7HgURG/LGme0LJqPQ=
			</data>
		</dict>
		<key>BookTheme-4</key>
		<dict>
			<key>BookTheme</key>
			<data>
			ntAIsIEXtTs9srNnwKZDQ47KmK6t/4lCwjLK/7l5N38=
			</data>
		</dict>
		<key>BookTheme-5</key>
		<dict>
			<key>BookTheme</key>
			<data>
			+2vFKqfyHquoZcBCK5LUBOGerxVP3xpKwpqOSB6JDuo=
			</data>
		</dict>
		<key>BookTheme-6</key>
		<dict>
			<key>BookTheme</key>
			<data>
			kXgNHwHt5dlKwCUbjMCLQHtPUG0Rzqx1dVNb6I/UJfs=
			</data>
		</dict>
	</dict>
</dict>
</plist>
