<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_VersionChecksums</key>
	<dict>
		<key>FeedCacheSchema</key>
		<string>clWQF1btHA1dBq8H+z+QsV/LwIlvzaUM8TUfsg15s9c=</string>
	</dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>FeedCacheSchema</key>
		<dict>
			<key>CacheMetadata</key>
			<data>
			9MJT0IygFD/mFnbL8uCPvM0o2EtQMibuxi4qT9Pmecg=
			</data>
			<key>CachedAssetStats</key>
			<data>
			P984Yxb6IeLFlx6i0H9GrfjLtmB0FZXaZygqAtq+jx0=
			</data>
			<key>CachedAssetURL</key>
			<data>
			daPyfL6hgQ7G0WfpLo0Uw+O6qUJSQXaLJZIXY7+cVz0=
			</data>
			<key>CachedFavoriteCollection</key>
			<data>
			0QngnNvlQ9uOHBsvlcTBPyZ33izfxw4iD8G5hCMh7nE=
			</data>
			<key>CachedFeedCollectionEngagement</key>
			<data>
			G34jCv52etTRcp9FobH90G1BJalWwHbY19WJD8lhs+A=
			</data>
			<key>CachedFeedConfiguration</key>
			<data>
			vxuM8iEcvR1UTUBqstksFBmLhRi2nmAo6nS1yOkkiYM=
			</data>
			<key>CachedFeedMediaCollection</key>
			<data>
			yVfShystMzH41zneISx2y5aOcvqmVABCnjjV1RV9yLo=
			</data>
			<key>CachedFeedMediaItem</key>
			<data>
			IGghee2nTQq+NggvcUDPHJUh7rq6oLO60sVWt3p9K6Q=
			</data>
			<key>CachedFeedMetadata</key>
			<data>
			jMCYTfclW1pHSMQR6ks7uh8iJw4DQOyFN+tZcJgEqoE=
			</data>
			<key>CachedFeedPublisher</key>
			<data>
			lfa9VkrI81iHtF7Rkc6MngvXYcuvE9tu/7iAuItsUpQ=
			</data>
		</dict>
	</dict>
</dict>
</plist>
