<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Settings</string>
	<key>CFBundleExecutable</key>
	<string>Preferences</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>SettingsApp60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>SettingsApp</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>SettingsApp60x60</string>
				<string>SettingsApp76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>SettingsApp</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Preferences</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Settings</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>Settings Location URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>OAuth Redirect URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.apple.preferences</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Prebuddy Settings</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs-prebuddy</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Automatic Updates Settings</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>os-automatic-updates</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Beta Update Settings</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>os-beta-updates</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>TV Provider Settings</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs-tvprovider</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Third Party App Settings</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-prefs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Finance Script Data Update</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs-finance-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Cellular Plan Install</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>esim</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>Settings Navigation</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>settings-navigation</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1353.1.11.100</string>
	<key>CoreSpotlightContinuation</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>23B78</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23B78</string>
	<key>DTSDKName</key>
	<string>iphoneos26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSIdentityUsageDescription</key>
	<string>To complete your application, Apple Financing requires identity verification.</string>
	<key>NSRegulatoryPrivacyDisclosure</key>
	<dict/>
	<key>SBMatchingApplicationGenres</key>
	<array>
		<string>Utilities</string>
	</array>
	<key>SBPreventsDefaultLaunchImageSplitting</key>
	<true/>
	<key>SBWantsExclusiveForeground</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackgroundColor</string>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64e</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UNUserNotificationCenter</key>
	<dict>
		<key>UNDaemonShouldReceiveBackgroundResponses</key>
		<true/>
		<key>UNDefaultSettings</key>
		<dict>
			<key>UNSettingAlerts</key>
			<true/>
			<key>UNSettingBadges</key>
			<true/>
			<key>UNSettingCarPlay</key>
			<false/>
			<key>UNSettingLockScreen</key>
			<true/>
			<key>UNSettingNotificationCenter</key>
			<true/>
			<key>UNSettingSounds</key>
			<true/>
		</dict>
		<key>UNHideSettings</key>
		<true/>
		<key>UNSuppressUserAuthorizationPrompt</key>
		<true/>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
