<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_VersionChecksums</key>
	<dict>
		<key>BCReadingStatistics</key>
		<string>RmgtfRqhg5H1BraRJ2i/rmSvrS7dK6cfX0JgSFFTdw4=</string>
	</dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>BCReadingStatistics</key>
		<dict>
			<key>BCReadingStatsAppVersion</key>
			<data>
			Hcy7xER+GjO8mUY8PeRUBy11WFFAIOC/k0zUxFYIA4w=
			</data>
			<key>BCReadingStatsHeatMapEntry</key>
			<data>
			PG6I1YE+wrR1V+gwWD2yaFpfPiwVUYCs3HmkEZcWmYY=
			</data>
			<key>BCReadingStatsTOCEntry</key>
			<data>
			y+7IU4XLx9FNVatJn12cCsqYVb75YqXiBco6pPoMPk4=
			</data>
			<key>BCReadingStatsTextNode</key>
			<data>
			gprlfrChMrTS1is54tVjWulRG56FNr5xoJ531jdp6BU=
			</data>
		</dict>
	</dict>
</dict>
</plist>
