<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AZERTY</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>AZERTY-French</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>AZERTY-Pinyin-Simplified</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>AZERTY-Pinyin-Traditional</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>Arabic</key>
	<array>
		<real>828</real>
		<real>276</real>
	</array>
	<key>Arabic-PC</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>Cangjie</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>Cangjie-QWERTY</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>Emoji</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>Kana</key>
	<array>
		<real>606</real>
		<real>276</real>
	</array>
	<key>Kana-Flick</key>
	<array>
		<real>606</real>
		<real>276</real>
	</array>
	<key>Korean</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>Pinyin-Simplified</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>Pinyin-Traditional</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>Pinyin10-Simplified</key>
	<array>
		<real>606</real>
		<real>276</real>
	</array>
	<key>Pinyin10-Traditional</key>
	<array>
		<integer>606</integer>
		<real>276</real>
	</array>
	<key>QWERTY</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>QWERTY-Accents</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>QWERTY-Japanese</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>QWERTY-Spanish</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>QWERTZ</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>QWERTZ-German</key>
	<array>
		<real>828</real>
		<real>276</real>
	</array>
	<key>Shuangpin-with-Semicolon-Simplified</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>Shuangpin-with-Semicolon-Traditional</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>Sucheng</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>Sucheng-QWERTY</key>
	<array>
		<real>756</real>
		<real>276</real>
	</array>
	<key>Wubihua-Simplified</key>
	<array>
		<real>606</real>
		<real>276</real>
	</array>
	<key>Wubihua-Traditional</key>
	<array>
		<real>606</real>
		<real>276</real>
	</array>
	<key>Zhuyin-Grid-Extended</key>
	<array>
		<integer>828</integer>
		<integer>348</integer>
	</array>
	<key>ZhuyinDynamic</key>
	<array>
		<integer>684</integer>
		<real>276</real>
	</array>
</dict>
</plist>
