<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fonts</key>
	<array>
		<dict>
			<key>fontFamily</key>
			<string></string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>1</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.7</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.8999999999999999</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>2</integer>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.6000000000000001</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>3.3999999999999999</real>
					<key>lineHeight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.7000000000000002</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>displayName</key>
			<string>BIZ UDゴシック</string>
			<key>fontFamily</key>
			<string>BIZ UDGothic</string>
			<key>postscriptBoldName</key>
			<string>BIZUDGothic-Bold</string>
			<key>postscriptName</key>
			<string>BIZUDGothic-Regular</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.95999999999999996</real>
					<key>lineHeight</key>
					<real>1.6499999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.05</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.6399999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3700000000000001</real>
					<key>lineHeight</key>
					<real>1.6799999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.53</real>
					<key>lineHeight</key>
					<real>1.72</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6499999999999999</real>
					<key>lineHeight</key>
					<real>1.78</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.75</real>
					<key>lineHeight</key>
					<real>1.6599999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.95</real>
					<key>lineHeight</key>
					<real>1.6899999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.0499999999999998</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.3100000000000001</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.5800000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.96</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>3.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>5.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.51</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>displayName</key>
			<string>BIZ UD明朝</string>
			<key>fontFamily</key>
			<string>BIZ UDMincho</string>
			<key>postscriptBoldName</key>
			<string>Helvetica</string>
			<key>postscriptName</key>
			<string>BIZUDMincho-Regular</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.95999999999999996</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.05</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.6399999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3700000000000001</real>
					<key>lineHeight</key>
					<real>1.6799999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.53</real>
					<key>lineHeight</key>
					<real>1.72</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6499999999999999</real>
					<key>lineHeight</key>
					<real>1.78</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.75</real>
					<key>lineHeight</key>
					<real>1.6599999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.95</real>
					<key>lineHeight</key>
					<real>1.6899999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.0499999999999998</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.3100000000000001</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.5800000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.96</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>3.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>5.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.51</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>displayName</key>
			<string>游ゴシック体</string>
			<key>fontFamily</key>
			<string>YuGothic</string>
			<key>postscriptBoldName</key>
			<string>YuGo-Bold</string>
			<key>postscriptName</key>
			<string>YuGo-Medium</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.95999999999999996</real>
					<key>lineHeight</key>
					<real>1.6499999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.05</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.6399999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3700000000000001</real>
					<key>lineHeight</key>
					<real>1.6799999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.53</real>
					<key>lineHeight</key>
					<real>1.72</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6499999999999999</real>
					<key>lineHeight</key>
					<real>1.78</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.75</real>
					<key>lineHeight</key>
					<real>1.6599999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.95</real>
					<key>lineHeight</key>
					<real>1.6899999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.0499999999999998</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.3100000000000001</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.5800000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.96</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>3.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>5.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.51</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>displayName</key>
			<string>游明朝体</string>
			<key>fontFamily</key>
			<string>YuMincho</string>
			<key>postscriptBoldName</key>
			<string>YuMin-Demibold</string>
			<key>postscriptName</key>
			<string>YuMin-Medium</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.95999999999999996</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.05</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.6399999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3700000000000001</real>
					<key>lineHeight</key>
					<real>1.6799999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.53</real>
					<key>lineHeight</key>
					<real>1.72</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6499999999999999</real>
					<key>lineHeight</key>
					<real>1.78</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.75</real>
					<key>lineHeight</key>
					<real>1.6599999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.95</real>
					<key>lineHeight</key>
					<real>1.6899999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.0499999999999998</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.3100000000000001</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.5800000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.96</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>3.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>5.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.51</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>displayName</key>
			<string>游教科書体</string>
			<key>fontFamily</key>
			<string>YuKyokasho</string>
			<key>postscriptBoldName</key>
			<string>YuKyo-Bold</string>
			<key>postscriptName</key>
			<string>YuKyo-Medium</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.95999999999999996</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.05</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.6399999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3700000000000001</real>
					<key>lineHeight</key>
					<real>1.6799999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.53</real>
					<key>lineHeight</key>
					<real>1.72</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6499999999999999</real>
					<key>lineHeight</key>
					<real>1.78</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.75</real>
					<key>lineHeight</key>
					<real>1.6599999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.95</real>
					<key>lineHeight</key>
					<real>1.6899999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.0499999999999998</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.3100000000000001</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.5800000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.96</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>3.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>5.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.51</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ヒラギノ角ゴ</string>
			<key>fontFamily</key>
			<string>Hiragino Kaku Gothic ProN</string>
			<key>isPreinstalled</key>
			<true/>
			<key>postscriptBoldName</key>
			<string>HiraKakuProN-W6</string>
			<key>postscriptName</key>
			<string>HiraKakuProN-W3</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.95999999999999996</real>
					<key>lineHeight</key>
					<real>1.6499999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.05</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.6399999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3700000000000001</real>
					<key>lineHeight</key>
					<real>1.6799999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.53</real>
					<key>lineHeight</key>
					<real>1.72</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6499999999999999</real>
					<key>lineHeight</key>
					<real>1.78</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.75</real>
					<key>lineHeight</key>
					<real>1.6599999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.95</real>
					<key>lineHeight</key>
					<real>1.6899999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.0499999999999998</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.3100000000000001</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.5800000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.96</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>3.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>5.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.51</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ヒラギノ丸ゴ</string>
			<key>fontFamily</key>
			<string>Hiragino Maru Gothic ProN</string>
			<key>postscriptBoldName</key>
			<string>Helvetica</string>
			<key>postscriptName</key>
			<string>HiraMaruProN-W4</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.95999999999999996</real>
					<key>lineHeight</key>
					<real>1.5800000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.05</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.6399999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3700000000000001</real>
					<key>lineHeight</key>
					<real>1.6799999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.53</real>
					<key>lineHeight</key>
					<real>1.72</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.75</real>
					<key>lineHeight</key>
					<real>1.6599999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.95</real>
					<key>lineHeight</key>
					<real>1.6899999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.0499999999999998</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.3100000000000001</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.5800000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.96</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>3.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>5.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.51</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>displayName</key>
			<string>ヒラギノ明朝</string>
			<key>fontFamily</key>
			<string>Hiragino Mincho ProN</string>
			<key>isPreinstalled</key>
			<true/>
			<key>postscriptBoldName</key>
			<string>HiraMinProN-W6</string>
			<key>postscriptName</key>
			<string>HiraMinProN-W3</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.95999999999999996</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.05</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.6399999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3700000000000001</real>
					<key>lineHeight</key>
					<real>1.6799999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.53</real>
					<key>lineHeight</key>
					<real>1.72</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6499999999999999</real>
					<key>lineHeight</key>
					<real>1.78</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.75</real>
					<key>lineHeight</key>
					<real>1.6599999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.95</real>
					<key>lineHeight</key>
					<real>1.6899999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.0499999999999998</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.3100000000000001</real>
					<key>lineHeight</key>
					<real>1.6699999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.5800000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.96</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>3.5499999999999998</real>
					<key>lineHeight</key>
					<real>1.6100000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>5.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.51</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
