<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.apple.BannerKitTestTV</string>
	<string>com.apple.PineBoard</string>
	<string>com.apple.TVSystemPanelUIProtoApp</string>
	<string>com.apple.FaceTime</string>
	<string>com.apple.facetime</string>
	<string>com.apple.BluetoothUIService</string>
	<string>com.apple.TVPeripheralAgent</string>
	<string>com.apple.TVMusic</string>
</array>
</plist>
