<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CRLAppStoreReviewRequirements</key>
	<dict>
		<key>minimumDaysBetweenFirstAppLaunch</key>
		<integer>7</integer>
		<key>minimumDaysBetweenReviewPrompts</key>
		<integer>120</integer>
		<key>minimumNumberOfBoardsRequired</key>
		<integer>5</integer>
	</dict>
	<key>LatestApplicationVersion</key>
	<string>4.2</string>
	<key>OSXUpdateInfo</key>
	<dict>
		<key>UnsupportedModels</key>
		<array>
			<string>iMac7,1</string>
			<string>iMac8,1</string>
			<string>iMac9,1</string>
			<string>iMac10,1</string>
			<string>iMac11,1</string>
			<string>iMac11,2</string>
			<string>iMac11,3</string>
			<string>iMac12,1</string>
			<string>iMac12,2</string>
			<string>iMac13,1</string>
			<string>iMac13,2</string>
			<string>iMac13,3</string>
			<string>iMac14,1</string>
			<string>iMac14,2</string>
			<string>iMac14,3</string>
			<string>iMac14,4</string>
			<string>iMac15,1</string>
			<string>iMac16,1</string>
			<string>iMac16,2</string>
			<string>iMac17,1</string>
			<string>iMac18,1</string>
			<string>iMac18,2</string>
			<string>iMac18,3</string>
			<string>iMac19,1</string>
			<string>iMac19,2</string>
			<string>iMacPro1,1</string>
			<string>MacBook4,1</string>
			<string>MacBook5,1</string>
			<string>MacBook5,2</string>
			<string>MacBook6,1</string>
			<string>MacBook7,1</string>
			<string>MacBook8,1</string>
			<string>MacBook9,1</string>
			<string>MacBook10,1</string>
			<string>MacBookAir2,1</string>
			<string>MacBookAir3,1</string>
			<string>MacBookAir3,2</string>
			<string>MacBookAir4,1</string>
			<string>MacBookAir4,2</string>
			<string>MacBookAir5,1</string>
			<string>MacBookAir5,2</string>
			<string>MacBookAir6,1</string>
			<string>MacBookAir6,2</string>
			<string>MacBookAir7,1</string>
			<string>MacBookAir7,2</string>
			<string>MacBookAir8,1</string>
			<string>MacBookAir8,2</string>
			<string>MacBookAir9,1</string>
			<string>MacBookPro3,1</string>
			<string>MacBookPro4,1</string>
			<string>MacBookPro5,1</string>
			<string>MacBookPro5,2</string>
			<string>MacBookPro5,3</string>
			<string>MacBookPro5,4</string>
			<string>MacBookPro5,5</string>
			<string>MacBookPro6,1</string>
			<string>MacBookPro6,2</string>
			<string>MacBookPro7,1</string>
			<string>MacBookPro8,1</string>
			<string>MacBookPro8,2</string>
			<string>MacBookPro8,3</string>
			<string>MacBookPro9,1</string>
			<string>MacBookPro9,2</string>
			<string>MacBookPro10,1</string>
			<string>MacBookPro10,2</string>
			<string>MacBookPro11,1</string>
			<string>MacBookPro11,2</string>
			<string>MacBookPro11,3</string>
			<string>MacBookPro11,4</string>
			<string>MacBookPro11,5</string>
			<string>MacBookPro12,1</string>
			<string>MacBookPro13,1</string>
			<string>MacBookPro13,2</string>
			<string>MacBookPro13,3</string>
			<string>MacBookPro14,1</string>
			<string>MacBookPro14,2</string>
			<string>MacBookPro14,3</string>
			<string>MacBookPro15,1</string>
			<string>MacBookPro15,2</string>
			<string>MacBookPro15,3</string>
			<string>MacBookPro15,4</string>
			<string>MacBookPro16,3</string>
			<string>Macmini3,1</string>
			<string>Macmini4,1</string>
			<string>Macmini5,1</string>
			<string>Macmini5,2</string>
			<string>Macmini5,3</string>
			<string>Macmini6,1</string>
			<string>Macmini6,2</string>
			<string>Macmini7,1</string>
			<string>Macmini8,1</string>
			<string>MacPro3,1</string>
			<string>MacPro4,1</string>
			<string>MacPro5,1</string>
			<string>MacPro6,1</string>
			<string>Xserve3,1</string>
		</array>
	</dict>
	<key>iOSUpdateInfo</key>
	<dict>
		<key>UnsupportedDevices</key>
		<array>
			<string>iPad2,1</string>
			<string>iPad2,2</string>
			<string>iPad2,3</string>
			<string>iPad2,4</string>
			<string>iPad2,5</string>
			<string>iPad2,6</string>
			<string>iPad2,7</string>
			<string>iPad3,1</string>
			<string>iPad3,2</string>
			<string>iPad3,3</string>
			<string>iPad3,4</string>
			<string>iPad3,5</string>
			<string>iPad3,6</string>
			<string>iPad4,1</string>
			<string>iPad4,2</string>
			<string>iPad4,3</string>
			<string>iPad4,4</string>
			<string>iPad4,5</string>
			<string>iPad4,6</string>
			<string>iPad4,7</string>
			<string>iPad4,8</string>
			<string>iPad4,9</string>
			<string>iPad5,1</string>
			<string>iPad5,2</string>
			<string>iPad5,3</string>
			<string>iPad5,4</string>
			<string>iPad6,3</string>
			<string>iPad6,4</string>
			<string>iPad6,7</string>
			<string>iPad6,8</string>
			<string>iPad6,11</string>
			<string>iPad6,12</string>
			<string>iPad7,1</string>
			<string>iPad7,2</string>
			<string>iPad7,3</string>
			<string>iPad7,4</string>
			<string>iPad7,5</string>
			<string>iPad7,6</string>
			<string>iPad7,11</string>
			<string>iPad7,12</string>
			<string>iPhone3,1</string>
			<string>iPhone3,2</string>
			<string>iPhone3,3</string>
			<string>iPhone4,1</string>
			<string>iPhone5,1</string>
			<string>iPhone5,2</string>
			<string>iPhone5,3</string>
			<string>iPhone5,4</string>
			<string>iPhone6,1</string>
			<string>iPhone6,2</string>
			<string>iPhone7,1</string>
			<string>iPhone7,2</string>
			<string>iPhone8,1</string>
			<string>iPhone8,2</string>
			<string>iPhone8,4</string>
			<string>iPhone9,1</string>
			<string>iPhone9,2</string>
			<string>iPhone9,3</string>
			<string>iPhone9,4</string>
			<string>iPhone10,1</string>
			<string>iPhone10,2</string>
			<string>iPhone10,3</string>
			<string>iPhone10,4</string>
			<string>iPhone10,5</string>
			<string>iPhone10,6</string>
			<string>iPhone11,2</string>
			<string>iPhone11,4</string>
			<string>iPhone11,6</string>
			<string>iPhone11,8</string>
			<string>iPod5,1</string>
			<string>iPod7,1</string>
			<string>iPod9,1</string>
		</array>
	</dict>
	<key>vOSUpdateInfo</key>
	<dict>
		<key>UnsupportedDevices</key>
		<array/>
	</dict>
</dict>
</plist>
