<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>BookInfo</string>
	<key>NSManagedObjectModel_VersionChecksums</key>
	<dict>
		<key>BookInfo</key>
		<string>E6WCzAmTxwkiFEhWDVP9s2ImTWhnNGIuZRB5yUB4q/k=</string>
		<key>BookInfo 2</key>
		<string>OtUlblRQ1qa+eSm3hFudWq6G2ZmAt3m18RbDhjnYn1k=</string>
		<key>BookInfo 3</key>
		<string>T65TF6c8SVYNHAdn0qZSD+tjQN/kyXY3QM0CUjeWFO4=</string>
		<key>BookInfo 4</key>
		<string>VVBoeT61QqjLUdOBU02JDGF0gF/HM8mG4wlzV1MD8J8=</string>
		<key>BookInfo 5</key>
		<string>5LOMS1i5ayS5QAagTuykHjMYLueNeuQYUhoYryAzlXs=</string>
		<key>BookInfo 6</key>
		<string>kwhCefRFTgVRdSXUmvtmKFAIC8nYpApNFaYy5R4PodE=</string>
	</dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>BookInfo</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			qQSB+4v3IyO0dvUkKAK9GOeS4Jzz9s9SesG130oaaSw=
			</data>
			<key>BKBookmark</key>
			<data>
			mXXzOihykFDkNANbw2plN9ty67RrlumxLfhVjBVnaaY=
			</data>
			<key>BKBookmarkPageCount</key>
			<data>
			66Ch6uYApyIisfSJwLepBH/mTD1kdOzSTncSHAvO0o4=
			</data>
			<key>BKChapterPageCount</key>
			<data>
			5xQ6Z79VYmIgY3D1BnUQ+FV8BpEuU59ZMVCYKakO9Sw=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
			<key>BKDocument</key>
			<data>
			6il/wEjHLNoBwfGYInQpYWlELfPRgqOjqVO1VE7URf4=
			</data>
			<key>BKDocumentPageCount</key>
			<data>
			WgEn/YncMBPmBnKrRaBRvviaN4vB4MmCEOUjRC310+E=
			</data>
			<key>BKMediaOverlayElement</key>
			<data>
			Ko/1UUx9Q5hrd80paChO7E0VVC4Rfu2JjtSDMu2VyDE=
			</data>
			<key>BKNavigationInfo</key>
			<data>
			Q9P3dm0nEk7ksGhH0gTw4fDTepH0zmqKWuSlE8JdGbs=
			</data>
			<key>BKProtectionInfo</key>
			<data>
			Mv3fmc/Owk0YrGiI6Z31BGPI6SznNoAW3F9m8ElI0Cc=
			</data>
			<key>BKViewedSegment</key>
			<data>
			bZvOVjXrulobPC+bcNS20/2B6LVsMvEf6tGEJODGKZI=
			</data>
		</dict>
		<key>BookInfo 2</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			7YDMAjLt17bLJTohnktnYl/FJraiobKb4Z5BbaymDMI=
			</data>
			<key>BKBookmark</key>
			<data>
			mXXzOihykFDkNANbw2plN9ty67RrlumxLfhVjBVnaaY=
			</data>
			<key>BKBookmarkPageCount</key>
			<data>
			Kn5dqr059E5/cWe2S/492z2ftVNYTiryyOXy6dh/dUc=
			</data>
			<key>BKChapterPageCount</key>
			<data>
			GcqYXP8EOL63iAR3YLPzrN9G5y7pGPZ6XTooHy0YdWI=
			</data>
			<key>BKDocument</key>
			<data>
			rblFcJuxdGpwG6QLCh44Py/g1cqzLTcMZ+pa0iM7niQ=
			</data>
			<key>BKDocumentPageCount</key>
			<data>
			srKwNatMs0E+wLmnUhKUAJqJu6C3OEkavI9jXcxDBeY=
			</data>
			<key>BKNavigationInfo</key>
			<data>
			Q9P3dm0nEk7ksGhH0gTw4fDTepH0zmqKWuSlE8JdGbs=
			</data>
			<key>BKProtectionInfo</key>
			<data>
			Mv3fmc/Owk0YrGiI6Z31BGPI6SznNoAW3F9m8ElI0Cc=
			</data>
		</dict>
		<key>BookInfo 3</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			0MAIeCaD7842Vko32sqzQiJVhylFVJQNeHnpl0CFJzo=
			</data>
			<key>BKBookmark</key>
			<data>
			mXXzOihykFDkNANbw2plN9ty67RrlumxLfhVjBVnaaY=
			</data>
			<key>BKBookmarkPageCount</key>
			<data>
			66Ch6uYApyIisfSJwLepBH/mTD1kdOzSTncSHAvO0o4=
			</data>
			<key>BKChapterPageCount</key>
			<data>
			5xQ6Z79VYmIgY3D1BnUQ+FV8BpEuU59ZMVCYKakO9Sw=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
			<key>BKDocument</key>
			<data>
			aWXmbJjhmnszHjxcArhxZ00sfVdVGX/bMX9yQlxb8eg=
			</data>
			<key>BKDocumentPageCount</key>
			<data>
			WgEn/YncMBPmBnKrRaBRvviaN4vB4MmCEOUjRC310+E=
			</data>
			<key>BKNavigationInfo</key>
			<data>
			Q9P3dm0nEk7ksGhH0gTw4fDTepH0zmqKWuSlE8JdGbs=
			</data>
			<key>BKProtectionInfo</key>
			<data>
			Mv3fmc/Owk0YrGiI6Z31BGPI6SznNoAW3F9m8ElI0Cc=
			</data>
			<key>BKViewedSegment</key>
			<data>
			bZvOVjXrulobPC+bcNS20/2B6LVsMvEf6tGEJODGKZI=
			</data>
		</dict>
		<key>BookInfo 4</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			0MAIeCaD7842Vko32sqzQiJVhylFVJQNeHnpl0CFJzo=
			</data>
			<key>BKBookmark</key>
			<data>
			mXXzOihykFDkNANbw2plN9ty67RrlumxLfhVjBVnaaY=
			</data>
			<key>BKBookmarkPageCount</key>
			<data>
			66Ch6uYApyIisfSJwLepBH/mTD1kdOzSTncSHAvO0o4=
			</data>
			<key>BKChapterPageCount</key>
			<data>
			5xQ6Z79VYmIgY3D1BnUQ+FV8BpEuU59ZMVCYKakO9Sw=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
			<key>BKDocument</key>
			<data>
			L6/nRkjbZJmTQDAok+FgdateZp0zv4ZsGOCKUMZR0z8=
			</data>
			<key>BKDocumentPageCount</key>
			<data>
			WgEn/YncMBPmBnKrRaBRvviaN4vB4MmCEOUjRC310+E=
			</data>
			<key>BKNavigationInfo</key>
			<data>
			Q9P3dm0nEk7ksGhH0gTw4fDTepH0zmqKWuSlE8JdGbs=
			</data>
			<key>BKProtectionInfo</key>
			<data>
			Mv3fmc/Owk0YrGiI6Z31BGPI6SznNoAW3F9m8ElI0Cc=
			</data>
			<key>BKViewedSegment</key>
			<data>
			bZvOVjXrulobPC+bcNS20/2B6LVsMvEf6tGEJODGKZI=
			</data>
		</dict>
		<key>BookInfo 5</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			n1Tukc8W3dsAZDeGbWU0sb38eDO5bBWw5cGPYNwvHHg=
			</data>
			<key>BKBookmark</key>
			<data>
			mXXzOihykFDkNANbw2plN9ty67RrlumxLfhVjBVnaaY=
			</data>
			<key>BKBookmarkPageCount</key>
			<data>
			66Ch6uYApyIisfSJwLepBH/mTD1kdOzSTncSHAvO0o4=
			</data>
			<key>BKChapterPageCount</key>
			<data>
			5xQ6Z79VYmIgY3D1BnUQ+FV8BpEuU59ZMVCYKakO9Sw=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
			<key>BKDocument</key>
			<data>
			L6/nRkjbZJmTQDAok+FgdateZp0zv4ZsGOCKUMZR0z8=
			</data>
			<key>BKDocumentPageCount</key>
			<data>
			WgEn/YncMBPmBnKrRaBRvviaN4vB4MmCEOUjRC310+E=
			</data>
			<key>BKNavigationInfo</key>
			<data>
			Q9P3dm0nEk7ksGhH0gTw4fDTepH0zmqKWuSlE8JdGbs=
			</data>
			<key>BKProtectionInfo</key>
			<data>
			Mv3fmc/Owk0YrGiI6Z31BGPI6SznNoAW3F9m8ElI0Cc=
			</data>
			<key>BKViewedSegment</key>
			<data>
			bZvOVjXrulobPC+bcNS20/2B6LVsMvEf6tGEJODGKZI=
			</data>
		</dict>
		<key>BookInfo 6</key>
		<dict>
			<key>BKBookInfo</key>
			<data>
			n1Tukc8W3dsAZDeGbWU0sb38eDO5bBWw5cGPYNwvHHg=
			</data>
			<key>BKBookmark</key>
			<data>
			mXXzOihykFDkNANbw2plN9ty67RrlumxLfhVjBVnaaY=
			</data>
			<key>BKBookmarkPageCount</key>
			<data>
			66Ch6uYApyIisfSJwLepBH/mTD1kdOzSTncSHAvO0o4=
			</data>
			<key>BKChapterPageCount</key>
			<data>
			5xQ6Z79VYmIgY3D1BnUQ+FV8BpEuU59ZMVCYKakO9Sw=
			</data>
			<key>BKCollection</key>
			<data>
			BIplEMJXiB0g2H9Sqs/lD25+DdfW/PSLa8gpHC4wIwQ=
			</data>
			<key>BKCollectionMember</key>
			<data>
			9BKPlidv92LkqGePnzDjFvM47MLbIvcf6V+vD6eWQUU=
			</data>
			<key>BKDocument</key>
			<data>
			iuZcplquXZeiCOxM5QFsidX5xEum4exaO3y+4KOKu24=
			</data>
			<key>BKDocumentPageCount</key>
			<data>
			WgEn/YncMBPmBnKrRaBRvviaN4vB4MmCEOUjRC310+E=
			</data>
			<key>BKNavigationInfo</key>
			<data>
			Q9P3dm0nEk7ksGhH0gTw4fDTepH0zmqKWuSlE8JdGbs=
			</data>
			<key>BKProtectionInfo</key>
			<data>
			Mv3fmc/Owk0YrGiI6Z31BGPI6SznNoAW3F9m8ElI0Cc=
			</data>
			<key>BKViewedSegment</key>
			<data>
			bZvOVjXrulobPC+bcNS20/2B6LVsMvEf6tGEJODGKZI=
			</data>
		</dict>
	</dict>
</dict>
</plist>
