<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Icon</key>
	<string>PreferencesAdvancedButton</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Library</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>MTSyncSubscriptions</string>
			<key>Title</key>
			<string>MAC_PREF_SYNC_TITLE</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>MTPodcastDeletePlayedEpisodesDefaultKey</string>
			<key>Title</key>
			<string>MAC_PREF_AUTO_DELETE_TITLE</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>MTShowSiriSuggestions</string>
			<key>Title</key>
			<string>MAC_PREF_SIRI_SUGGESTIONS_TITLE</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>MAC_PREF_SAVED_EPISODES_GROUP</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>MTDownloadEpisodesWhenSaving</string>
			<key>Title</key>
			<string>MAC_PREF_DOWNLOAD_WHEN_SAVING</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>MAC_PREF_EPISODE_DISPLAY_GROUP</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>MTHidePlayedEpisodes</string>
			<key>Title</key>
			<string>MAC_PREF_HIDE_PLAYED_EPISODES</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>SystemSymbolIcon</key>
	<string>gearshape.2</string>
</dict>
</plist>
