<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>StoreDemoViewService</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.StoreDemoViewService</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>StoreDemoViewService</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>XROS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.apple.StoreDemoViewService</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>StoreDemoViewService</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>xros</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23N37</string>
	<key>DTSDKName</key>
	<string>xros26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>SBAppTags</key>
	<array>
		<string>hidden</string>
	</array>
	<key>SBIsLaunchableDuringSetup</key>
	<true/>
	<key>SBMachServices</key>
	<array>
		<string>com.apple.uikit.viewservice.com.apple.StoreDemoViewService</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>MSDViewServiceSceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>7</integer>
	</array>
	<key>UILaunchPlacementParameters</key>
	<dict>
		<key>PreferredLaunchPosition</key>
		<dict>
			<key>PlacementRay</key>
			<dict>
				<key>CoordinateSpace</key>
				<string>Anchor</string>
				<key>DirectionZ</key>
				<real>-1</real>
				<key>Length</key>
				<real>1</real>
			</dict>
		</dict>
		<key>PreferredLaunchSize</key>
		<dict>
			<key>Height</key>
			<integer>540</integer>
			<key>Width</key>
			<integer>600</integer>
		</dict>
		<key>PreferredPlacementTarget</key>
		<dict>
			<key>Anchor</key>
			<dict>
				<key>Identifier</key>
				<string>01000000-0000-0000-0000-000000000000</string>
			</dict>
		</dict>
		<key>PreferredRotationBehavior</key>
		<string>None</string>
		<key>PreferredSnappingBehavior</key>
		<string>Never</string>
		<key>_PreferredChromeOptions</key>
		<array/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewServiceUsesNSXPCConnection</key>
	<true/>
</dict>
</plist>
