<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Clock</string>
	<key>CFBundleExecutable</key>
	<string>MobileTimer</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>NSAppIconActionTintOverrideColorName</key>
			<string>AppShortcutsTint</string>
			<key>NSAppIconComplementingColorNames</key>
			<array>
				<string>AppIconComplementingColor</string>
				<string>AppShortcutsComplementingSecondary</string>
			</array>
		</dict>
		<key>SBStarkCanvasIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>StarkCanvasIcon300x150.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
		</dict>
		<key>SBStarkCanvasIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>StarkCanvasIcon300x150.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.mobiletimer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>XROS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>xros</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23N37</string>
	<key>DTSDKName</key>
	<string>xros26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>LSCounterpartIdentifiers</key>
	<array>
		<string>com.apple.NanoWorldClock</string>
	</array>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSAccentColorName</key>
	<string>Accent Color</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Remove this when media supports private entitlements</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Translated in InfoPlist.strings</string>
	<key>NSRegulatoryPrivacyDisclosure</key>
	<dict>
		<key>NSRegulatoryPrivacyDisclosureMediaLibrary</key>
		<string>Translated in InfoPlist.strings</string>
		<key>NSRegulatoryPrivacyDisclosureTitle</key>
		<string>Translated in InfoPlist.strings</string>
		<key>NSRegulatoryPrivacyDisclosureVersion</key>
		<string>1.0</string>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>MTCreateAlarmIntent</string>
		<string>MTDisableAlarmIntent</string>
		<string>MTEnableAlarmIntent</string>
		<string>MTGetAlarmsIntent</string>
		<string>MTToggleAlarmIntent</string>
		<string>MTUpdateAlarmIntent</string>
		<string>com.apple.clock.alarm</string>
		<string>com.apple.clock.stopwatch</string>
		<string>com.apple.clock.timer</string>
		<string>com.apple.clock.wakealarm</string>
		<string>com.apple.clock.worldclock</string>
	</array>
	<key>PrivateURLSchemes</key>
	<array>
		<string>clock-worldclock</string>
		<string>clock-alarm</string>
		<string>clock-stopwatch</string>
		<string>clock-sleep-alarm</string>
		<string>clock-timer</string>
		<string>clock-timer-running</string>
	</array>
	<key>SBAppUsesLocalNotifications</key>
	<true/>
	<key>SBIconClass</key>
	<string>SBClockApplicationIcon</string>
	<key>SBMatchingApplicationGenres</key>
	<array>
		<string>Utilities</string>
		<string>Travel</string>
		<string>Reference</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIcon</key>
			<string>com.apple.mobiletimer.add-alarm</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>alarm</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>SET_ALARM_QUICK_ACTION_TITLE</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.apple.mobiletimer.add-alarm</string>
		</dict>
	</array>
	<key>UIApplicationShowsViewsWhileLocked</key>
	<true/>
	<key>UIApplicationSystemWindowsSecureKey</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
