<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CAProcessCanAccessGPU</key>
	<true/>
	<key>CFBundleDailyBuildNumber</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>VoiceMemos</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>m4a</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.m4a-audio</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>VoiceMemos</string>
	<key>CFBundleGitHash</key>
	<string></string>
	<key>CFBundleHelpBookFolder</key>
	<string>VoiceMemos.help</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>VoiceMemosApp60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>VoiceMemosApp</string>
			<key>NSAppIconActionTintColorName</key>
			<string>ShortcutsIconTintColor</string>
			<key>NSAppIconComplementingColorNames</key>
			<array>
				<string>ShortcutsComplementingColor</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>VoiceMemosApp60x60</string>
				<string>VoiceMemosApp76x76</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.VoiceMemos</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VoiceMemos</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>XROS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>icon@2x</string>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>com.apple.VoiceMemos</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>voicememos</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1349</string>
	<key>CanInheritApplicationStateFromOtherProcesses</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>xros</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23N37</string>
	<key>DTSDKName</key>
	<string>xros26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>HPDHelpProjectIdentifier</key>
	<string>voice-memos</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>APP_SHORTCUTS_APP_NAME_SYNONYM</string>
			<key>INPreferredForAppShortcuts</key>
			<true/>
		</dict>
	</array>
	<key>LSCounterpartIdentifiers</key>
	<array>
		<string>com.apple.VoiceMemos</string>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSAlwaysAllowMicrophoneModeControl</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 Apple Inc.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Voice Memos will be named with the location where they are recorded.</string>
	<key>NSRegulatoryPrivacyDisclosure</key>
	<dict>
		<key>NSRegulatoryPrivacyDisclosureLocation</key>
		<string>Location access allows you to save a recording with a location-related title.</string>
		<key>NSRegulatoryPrivacyDisclosureMediaLibrary</key>
		<string>Media Library access allows Voice Memos to play, show, and save voice memos.</string>
		<key>NSRegulatoryPrivacyDisclosureMicrophone</key>
		<string>Microphone access allows you to record audio for voice memos.</string>
		<key>NSRegulatoryPrivacyDisclosureTitle</key>
		<string>Welcome to Voice Memos</string>
		<key>NSRegulatoryPrivacyDisclosureVersion</key>
		<string>1.0</string>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>PlaybackVoiceMemoIntent</string>
		<string>RecordVoiceMemoIntent</string>
	</array>
	<key>SBMatchingApplicationGenres</key>
	<array>
		<string>Business</string>
		<string>Utilities</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>ActivitySceneSessionRoleBanner</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Create Alert Banner Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>RCPlatterSceneDelegate</string>
				</dict>
			</array>
			<key>ActivitySceneSessionRoleListItem</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Create Cover Sheet Banner Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>RCPlatterSceneDelegate</string>
				</dict>
			</array>
			<key>ActivitySceneSessionRoleSystemAperture</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Create Dynamic Island Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>RCPlatterSceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShowsViewsWhileLocked</key>
	<true/>
	<key>UIApplicationSystemWindowsSecureKey</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UIBackgroundStyle</key>
	<string>UIBackgroundStyleDarkBlur</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipod</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIViewServiceUsesNSXPCConnection</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>QuickTime Audio</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>com.apple.quicktime-audio</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qta</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
