<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>AUTO_APP_INSTALL_SWITCH_FOOTER</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>dataSourceClass</key>
			<string>COSAboutDataSource</string>
			<key>detail</key>
			<string>COSAboutController</string>
			<key>label</key>
			<string>ABOUT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>BPSBadgedTableCell</string>
			<key>detail</key>
			<string>COSSoftwareUpdateController</string>
			<key>id</key>
			<string>SOFTWARE_UPDATE_LINK</string>
			<key>label</key>
			<string>SOFTWARE_UPDATE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>get</key>
			<string>automaticDownloadsEnabled:</string>
			<key>id</key>
			<string>AUTO_APP_INSTALL_SWITCH_ID</string>
			<key>label</key>
			<string>AUTO_APP_INSTALL_SWITCH_TITLE</string>
			<key>set</key>
			<string>setAutomaticDownloadsEnabled:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>AIRPLANE_AND_DND_GROUP_ID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>COSAirplaneModeController</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>AIRPLANE_MODE_ID</string>
			<key>label</key>
			<string>AIRPLANE_MODE</string>
			<key>squareIconName</key>
			<string>airplane</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>COSFocusSettingsController</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>FOCUS_ID</string>
			<key>label</key>
			<string>FOCUS</string>
			<key>squareIconName</key>
			<string>dnd</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>COSDNDController</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>DO_NOT_DISTURB_ID</string>
			<key>label</key>
			<string>DO_NOT_DISTURB</string>
			<key>squareIconName</key>
			<string>dnd</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>COSGizmoOrientationController</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>get</key>
			<string>getGizmoWristChoice:</string>
			<key>id</key>
			<string>GIZMO_ORIENTATION_ID</string>
			<key>label</key>
			<string>GIZMO_ORIENTATION</string>
			<key>searchPlist</key>
			<string>GizmoOrientation</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>CompanionInternationalSettings</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>id</key>
			<string>LANGUAGE_AND_REGION_ID</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>LANGUAGE_AND_REGION</string>
			<key>nanoBundlePath</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>COSAppleIDController</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>LINK_WITH_ICLOUD_LINK</string>
			<key>label</key>
			<string>APPLEID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>BAR_GROUP_ID</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>background-app-updating</string>
			</array>
		</dict>
		<dict>
			<key>bundle</key>
			<string>CompanionAutoLaunchSettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>AUTO_LAUNCH_ID</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>AUTO_LAUNCH</string>
			<key>nanoBundlePath</key>
			<true/>
			<key>requiredWatchCapabilities</key>
			<array/>
		</dict>
		<dict>
			<key>bundle</key>
			<string>CompanionBARSettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>BAR_ROW_ID</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>BACKGROUND_APP_UPDATING_LABEL</string>
			<key>nanoBundlePath</key>
			<true/>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>background-app-updating</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>DICTATION_GROUP_ID</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>siri-settings</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>get</key>
			<string>dictationEnabled</string>
			<key>id</key>
			<string>DICTATION_CELL_ID</string>
			<key>label</key>
			<string>DICTATION_LABEL</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>siri-settings</string>
			</array>
			<key>set</key>
			<string>setDictationEnabled:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>get</key>
			<string>dictationAutoPunctuationEnabled</string>
			<key>id</key>
			<string>DICTATION_AUTO_PUNCTUATION_CELL_ID</string>
			<key>label</key>
			<string>DICTATION_AUTO_PUNCTUATION_LABEL</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>siri-settings</string>
			</array>
			<key>set</key>
			<string>setDictationAutoPunctuationEnabled:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>CONTINUITY_GROUP_FOOTER</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.apple.nanosystemsettings.continuityEnabledChangedNotification</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.apple.nanosystemsettings</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>CONTINUITY_ID</string>
			<key>isPerGizmo</key>
			<true/>
			<key>key</key>
			<string>continuity-enabled</string>
			<key>label</key>
			<string>CONTINUITY</string>
			<key>notifyNano</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
		</dict>
		<dict>
			<key>bundle</key>
			<string>CompanionReturnToClockSettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>RETURN_TO_CLOCK_ID</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>RETURN_TO_CLOCK</string>
			<key>nanoBundlePath</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>NIGHTSTAND_FOOTER</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>nightstand</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.apple.Carousel</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>NIGHTSTAND_CELL_ID</string>
			<key>isPerGizmo</key>
			<true/>
			<key>key</key>
			<string>CSLDisableNightstand</string>
			<key>label</key>
			<string>NIGHTSTAND_LABEL</string>
			<key>negate</key>
			<true/>
			<key>notifyNano</key>
			<true/>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>nightstand</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>BUTTON_CHORD_FOOTER</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>BUTTON_CHORD_GROUP_ID</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>custom-button-chord</string>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>CSLScreenshotEnabledChangedNotification</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.apple.Carousel</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>BUTTON_CHORD_CELL_ID</string>
			<key>isPerGizmo</key>
			<true/>
			<key>key</key>
			<string>CSLScreenshotEnabled</string>
			<key>label</key>
			<string>BUTTON_CHORD_LABEL</string>
			<key>notifyNano</key>
			<true/>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>custom-button-chord</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>PROFILES_AND_MISC_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>COSUsageController</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>USAGE_LINK</string>
			<key>label</key>
			<string>STORAGE</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>ManagedConfigurationUI</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>ManagedConfigurationList</string>
			<key>isForPairedDevice</key>
			<true/>
			<key>label</key>
			<string>PROFILES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>COSDiagnosticLogsController</string>
			<key>id</key>
			<string>DIAGNOSTIC_LOG_BROWSER</string>
			<key>label</key>
			<string>DIAGNOSTIC_LOG_BROWSER</string>
		</dict>
		<dict>
			<key>buttonAction</key>
			<string>dumpLogs:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>id</key>
			<string>LOGS_CELL_ID</string>
			<key>label</key>
			<string>LOGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>COSResetController</string>
			<key>id</key>
			<string>RESET_ID</string>
			<key>label</key>
			<string>RESET</string>
		</dict>
	</array>
	<key>title</key>
	<string>General</string>
</dict>
</plist>
