<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleAlternateNames</key>
	<array>
		<string>WATCH</string>
		<string>APPLE_WATCH</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Watch</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Apple Watch Face</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.watchface</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Bridge</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Bridge</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Bridge</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>Remote Watchface identifier</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>watchface</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>Bridge Location URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bridge</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>Bridge Face Gallery URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>facegallery</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Bridge App Store URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>itms-watchs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>OAuth Redirect URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.apple.Bridge</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CTUseSukhumvitSetAsCompactThaiFallback</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23B68</string>
	<key>DTSDKName</key>
	<string>iphoneos26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>LSBundleContainsCoreMLmlmodelc</key>
	<true/>
	<key>LSCounterpartIdentifiers</key>
	<array>
		<string>com.apple.NanoSettings</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSHomeKitUsageDescription</key>
	<string>Read the state of HomeKit homes, accessories, and scenes.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>The App Store uses your location to find interesting Apple Watch apps near you. Home uses your location to display clean energy information when available.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The App Store uses your location to find interesting Apple Watch apps near you. Home uses your location to display clean energy information when available.</string>
	<key>NSRegulatoryPrivacyDisclosure</key>
	<dict>
		<key>NSRegulatoryPrivacyDisclosureCalendar</key>
		<string>Calendar access allows you to see calendar information on Apple Watch.</string>
		<key>NSRegulatoryPrivacyDisclosureCamera</key>
		<string>Camera access allows you to pair an Apple Watch with your iPhone and add payment methods to use with Apple Pay.</string>
		<key>NSRegulatoryPrivacyDisclosureContacts</key>
		<string>Contacts access allows you to see contacts on Apple Watch. The app will ask permission before accessing your contacts.</string>
		<key>NSRegulatoryPrivacyDisclosureMediaLibrary</key>
		<string>Media Library access allows you to display and manage media library on Apple Watch app.</string>
		<key>NSRegulatoryPrivacyDisclosurePhoneNumber</key>
		<string>Phone number access allows Wallet to prevent fraud when adding debit or credit cards.</string>
		<key>NSRegulatoryPrivacyDisclosurePhotos</key>
		<string>Photo Library access allows you to see photos and videos on Apple Watch.</string>
		<key>NSRegulatoryPrivacyDisclosureTitle</key>
		<string>Welcome to the Apple Watch app</string>
		<key>NSRegulatoryPrivacyDisclosureVersion</key>
		<string>1.0</string>
	</dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.apple.nano.settings</string>
		<string>com.apple.nano.passbook.provisioning</string>
		<string>com.apple.ET.friends</string>
		<string>com.apple.Bridge.ttr</string>
	</array>
	<key>SBAppTags</key>
	<array>
		<string>watch-companion</string>
	</array>
	<key>SBMatchingApplicationGenres</key>
	<array>
		<string>Utilities</string>
	</array>
	<key>SBUninstallIconOverrideStringsFile</key>
	<string>Localizable</string>
	<key>SKRespectApplicationUserInterfaceLayoutDirection</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>launch</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64e</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UNUserNotificationCenter</key>
	<dict>
		<key>UNUniversalApplicationIdentifier</key>
		<string>com.apple.Bridge</string>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Apple Watch Face</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.apple.watchface</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>watchface</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array/>
			<key>UTTypeDescription</key>
			<string></string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string></string>
		</dict>
	</array>
	<key>_LSSupportsRemoval</key>
	<true/>
</dict>
</plist>
