<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>bundle</key>
			<string>CompanionStingSettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>id</key>
			<string>ACTION_BUTTON_ID</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>STING_TITLE</string>
			<key>nanoBundlePath</key>
			<true/>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>sting</string>
			</array>
			<key>squareIconName</key>
			<string>actionButton</string>
		</dict>
	</array>
	<key>marginWidth</key>
	<integer>59</integer>
	<key>title</key>
	<string>STUFF</string>
</dict>
</plist>
