<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>bundle</key>
			<string>SchoolTimePhoneSettings</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>SCHOOLTIME</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>SCHOOLTIME</string>
			<key>nanoBundlePath</key>
			<true/>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>squareIconName</key>
			<string>schoolTime</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>COSScreenTimeController</string>
			<key>id</key>
			<string>SCREEN_TIME_ID</string>
			<key>label</key>
			<string>SCREEN_TIME</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>tinker-paired</string>
			</array>
			<key>squareIconName</key>
			<string>ScreenTime</string>
		</dict>
	</array>
	<key>marginWidth</key>
	<integer>59</integer>
	<key>title</key>
	<string>Settings</string>
</dict>
</plist>
