<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>AUDIO_MUTE_FOOTER</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>sounds-and-haptics-2024</string>
			</array>
			<key>label</key>
			<string>AUDIO_SLIDER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>AUDIO_MUTE_FOOTER</string>
			<key>label</key>
			<string>RINGTONE_AND_ALERTS_SECTION_TITLE</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>sounds-and-haptics-2024</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>isAudioMuted:</string>
			<key>id</key>
			<string>audio_mute_switch</string>
			<key>label</key>
			<string>AUDIO_MUTE_SWITCH</string>
			<key>set</key>
			<string>setAudioMuted:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>isContextualVolumeEnabled:</string>
			<key>id</key>
			<string>contextual_volume_switch</string>
			<key>label</key>
			<string>CONTEXTUAL_VOLUME_SWITCH_TITLE</string>
			<key>set</key>
			<string>setContextualVolumeEnabled:specifier:</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ContextualVolumeProfile</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>COSContextualVolumeProfileViewController</string>
			<key>get</key>
			<string>contextualVolumeProfileValue</string>
			<key>id</key>
			<string>contextual_volume_profile</string>
			<key>label</key>
			<string>CONTEXTUAL_VOLUME_PROFILE_TITLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>get</key>
			<string>audioVolume:</string>
			<key>id</key>
			<string>audio_slider</string>
			<key>isContinuous</key>
			<false/>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<real>0.0625</real>
			<key>set</key>
			<string>setAudioVolume:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>sounds-and-haptics-2024</string>
			</array>
		</dict>
		<dict>
			<key>File</key>
			<string>Haptics</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>COSHapticsViewController</string>
			<key>get</key>
			<string>hapticsValueText</string>
			<key>id</key>
			<string>HAPTICS_ID</string>
			<key>label</key>
			<string>HAPTIC_ALERTS_GROUP_TITLE</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>sounds-and-haptics-2024</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>sounds-and-haptics-2024</string>
			</array>
		</dict>
		<dict>
			<key>alertType</key>
			<string>TLAlertTypeIncomingCall</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>COSToneViewController</string>
			<key>get</key>
			<string>detailTextForToneWithSpecifier:</string>
			<key>id</key>
			<string>SOUND_AND_HAPTIC_PATTERNS_RINGTONE_ID</string>
			<key>label</key>
			<string>SOUND_AND_HAPTIC_PATTERNS_RINGTONE_TITLE</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>sounds-and-haptics-2024</string>
			</array>
		</dict>
		<dict>
			<key>alertType</key>
			<string>TLAlertTypeTextMessage</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>COSToneViewController</string>
			<key>get</key>
			<string>detailTextForToneWithSpecifier:</string>
			<key>id</key>
			<string>SOUND_AND_HAPTIC_PATTERNS_TEXTTONE_ID</string>
			<key>label</key>
			<string>SOUND_AND_HAPTIC_PATTERNS_TEXTTONE_TITLE</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>sounds-and-haptics-2024</string>
			</array>
		</dict>
		<dict>
			<key>alertType</key>
			<string>TLAlertTypeNewMail</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>COSToneViewController</string>
			<key>get</key>
			<string>detailTextForToneWithSpecifier:</string>
			<key>id</key>
			<string>SOUND_AND_HAPTIC_PATTERNS_NEWMAIL_ID</string>
			<key>label</key>
			<string>SOUND_AND_HAPTIC_PATTERNS_NEWMAIL_TITLE</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>sounds-and-haptics-2024</string>
			</array>
		</dict>
		<dict>
			<key>alertType</key>
			<string>TLAlertTypeCalendarAlert</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>COSToneViewController</string>
			<key>get</key>
			<string>detailTextForToneWithSpecifier:</string>
			<key>id</key>
			<string>SOUND_AND_HAPTIC_PATTERNS_CALENDARALERTS_ID</string>
			<key>label</key>
			<string>SOUND_AND_HAPTIC_PATTERNS_CALENDARALERTS_TITLE</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>sounds-and-haptics-2024</string>
			</array>
		</dict>
		<dict>
			<key>alertType</key>
			<string>TLAlertTypeReminderAlert</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>COSToneViewController</string>
			<key>get</key>
			<string>detailTextForToneWithSpecifier:</string>
			<key>id</key>
			<string>SOUND_AND_HAPTIC_PATTERNS_REMINDERALERTS_ID</string>
			<key>label</key>
			<string>SOUND_AND_HAPTIC_PATTERNS_REMINDERALERTS_TITLE</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>sounds-and-haptics-2024</string>
			</array>
		</dict>
		<dict>
			<key>alertType</key>
			<string>TLAlertTypeAppNotification</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>COSToneViewController</string>
			<key>get</key>
			<string>detailTextForToneWithSpecifier:</string>
			<key>id</key>
			<string>SOUND_AND_HAPTIC_PATTERNS_DEFAULTALERTS_ID</string>
			<key>label</key>
			<string>SOUND_AND_HAPTIC_PATTERNS_DEFAULTALERTS_TITLE</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>sounds-and-haptics-2024</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>sounds-and-haptics-2024</string>
			</array>
			<key>id</key>
			<string>HEADPHONE_AUDIO_GROUP</string>
			<key>label</key>
			<string>HEADPHONE_AUDIO_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>COSHeadphoneHearingProtectionController</string>
			<key>forbiddenWatchCapabilities</key>
			<array>
				<string>sounds-and-haptics-2024</string>
			</array>
			<key>get</key>
			<string>getHeadphoneLevelLimitSetting</string>
			<key>id</key>
			<string>HEADPHONE_LEVEL_LIMIT_SETTING</string>
			<key>label</key>
			<string>HEADPHONE_HEARING_PROTECTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>haptic_group_id</string>
			<key>label</key>
			<string>HAPTIC_SLIDER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>get</key>
			<string>hapticIntensity:</string>
			<key>id</key>
			<string>haptic_slider</string>
			<key>isContinuous</key>
			<false/>
			<key>isSegmented</key>
			<true/>
			<key>max</key>
			<real>2</real>
			<key>min</key>
			<real>0.0</real>
			<key>segmentCount</key>
			<integer>2</integer>
			<key>set</key>
			<string>setHapticIntensity:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>PROMINENT_HAPTIC_FOOTER</string>
			<key>id</key>
			<string>prominent_haptic_group_id</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>get</key>
			<string>prominentHapticsEnabled:</string>
			<key>id</key>
			<string>prominent_haptic_switch</string>
			<key>label</key>
			<string>PROMINENT_HAPTIC_TITLE</string>
			<key>set</key>
			<string>setProminentHapticsEnabled:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>TAP_TO_SPEAK_FOOTER</string>
			<key>id</key>
			<string>tap_to_speak_group</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.apple.Accessibility.CharacterVoice</string>
			<key>id</key>
			<string>tap_to_speak_switch</string>
			<key>isPerGizmo</key>
			<true/>
			<key>key</key>
			<string>TapToSpeak</string>
			<key>label</key>
			<string>TAP_TO_SPEAK</string>
			<key>notifyNano</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>HEADPHONE_AUDIO_GROUP</string>
			<key>label</key>
			<string>HEADPHONE_AUDIO_GROUP</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>sounds-and-haptics-2024</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>COSHeadphoneHearingProtectionController</string>
			<key>get</key>
			<string>getHeadphoneLevelLimitSetting</string>
			<key>id</key>
			<string>HEADPHONE_LEVEL_LIMIT_SETTING</string>
			<key>label</key>
			<string>HEADPHONE_HEARING_PROTECTION</string>
			<key>requiredWatchCapabilities</key>
			<array>
				<string>sounds-and-haptics-2024</string>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>TITLE</string>
</dict>
</plist>
