<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_VersionChecksums</key>
	<dict>
		<key>BookReadingTimesDB</key>
		<string>RbAOynLnNu2OyAVL3V7jYZQT/zYKXyhVBPOB+eSZNcQ=</string>
	</dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>BookReadingTimesDB</key>
		<dict>
			<key>BCAssetReadingSession</key>
			<data>
			6N5lDQHgpjYfM8qfKWVlfvLulAOVuZS4ggILjmjund8=
			</data>
			<key>BCAssetToPurge</key>
			<data>
			XGmQR/gQ06/nctGt1DERevGgTnyA+gvE5ukYomYuz08=
			</data>
			<key>BCTrackedAsset</key>
			<data>
			tCaYHWfKdxmT/fO1kEX5GI8CvbEoZOyuJUk8Hj7BhE8=
			</data>
		</dict>
	</dict>
</dict>
</plist>
