<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Settings</string>
	<key>CFBundleExecutable</key>
	<string>Preferences</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<string>AppIcon</string>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Preferences</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Preferences</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>XROS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>Settings Navigation URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>settings-navigation</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>Settings Location URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>OAuth Redirect URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.apple.preferences</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>TV Provider Settings</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs-tvprovider</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Third Party App Settings</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-prefs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Finance Script Data Update</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs-finance-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Prebuddy Settings</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs-prebuddy</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>OTP Auth URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>otpauth</string>
				<string>apple-otpauth</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>OTP Auth Migration URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>otpauth-migration</string>
				<string>apple-otpauth-migration</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Beta Updates</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>os-beta-updates</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Persona Video Effects</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>personavideoeffects</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>296.40.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>xros</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23N37</string>
	<key>DTSDKName</key>
	<string>xros26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MRUIWantsRealityKitScenePerUIScene</key>
	<false/>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>MainSceneConfiguration</string>
					<key>UISceneDelegateClassName</key>
					<string>MRPreferencesApp.MainSceneDelegate</string>
				</dict>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>EnrollmentSceneConfiguration</string>
					<key>UISceneDelegateClassName</key>
					<string>MRPreferencesApp.EnrollmentSceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>7</integer>
	</array>
	<key>UIForceModernPointsPerMeter</key>
	<true/>
	<key>UILaunchPlacementParameters</key>
	<dict>
		<key>PreferredLaunchSize</key>
		<dict>
			<key>Height</key>
			<integer>720</integer>
			<key>Width</key>
			<integer>988</integer>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UINativeSizeClass</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>gray</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>airpods</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.airpods</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>gray</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>airpodsmax</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.airpodsmax</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>gray</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>airpodspro</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.airpodspro</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>gray</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>airpods.gen3</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.airpods.gen3</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>indigo</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>person.and.background.striped.horizontal</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.awareness</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>gray</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>beats.earphones</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.beats.earphones</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>gray</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>beats.fit.pro</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.beats.fit.pro</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>gray</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>beats.headphones</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.beats.headphones</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>gray</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>beats.pill</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.beats.pill</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>gray</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>beats.powerbeats3</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.beats.powerbeats3</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>gray</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>beats.powerbeats</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.beats.powerbeats</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>gray</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>beats.powerbeatspro</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.beats.powerbeatspro</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>gray</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>beats.studiobuds</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.beats.studiobuds</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>blue</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>digitalcrown.horizontal.arrow.counterclockwise.fill</string>
					<key>New item</key>
					<string></string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.digital-crown</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>indigo</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>environments.fill</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.environments</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>blue</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>hand.point.up.left.fill</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.input</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>green</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>visionwindow.and.person.filled</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.nearby-sharing</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>white</string>
					<key>ISSymbolColor</key>
					<string>gray</string>
					<key>ISSymbolName</key>
					<string>opticid.fill</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.opticid</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>green</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>person.2.fill</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.people</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>indigo</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>persona</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.persona</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>gray</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>macbook</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.remote-devices</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.graphic-icon</string>
			</array>
			<key>UTTypeIcons</key>
			<dict>
				<key>ISGraphicIconConfiguration</key>
				<dict>
					<key>ISEnclosureColor</key>
					<string>blue</string>
					<key>ISSymbolColor</key>
					<string>white</string>
					<key>ISSymbolName</key>
					<string>arrow.up.forward.circle.fill</string>
				</dict>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.MRPreferences.icon.reopen-windows</string>
		</dict>
	</array>
</dict>
</plist>
