<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>tab</key>
		<string>discover</string>
		<key>testName</key>
		<string>ScrollDiscover</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>scroll</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>tab</key>
		<string>categories</string>
		<key>testName</key>
		<string>ScrollCategories</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>scroll</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>tab</key>
		<string>create</string>
		<key>testName</key>
		<string>ScrollCreate</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>scroll</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>tab</key>
		<string>work</string>
		<key>testName</key>
		<string>ScrollWork</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>scroll</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>tab</key>
		<string>play</string>
		<key>testName</key>
		<string>ScrollPlay</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>scroll</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>tab</key>
		<string>develop</string>
		<key>testName</key>
		<string>ScrollDevelop</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>scroll</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>searchTerm</key>
		<string>Games</string>
		<key>tab</key>
		<string>search</string>
		<key>testName</key>
		<string>ScrollSearch</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>scroll</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>pushToURL</key>
		<string>https://apps.apple.com/us/app/oceanhorn-2/id1460715987?isPPT=true</string>
		<key>tab</key>
		<string>arcade</string>
		<key>testName</key>
		<string>ScrollArcadeProduct</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>scroll</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>pushToURL</key>
		<string>https://apps.apple.com/us/app/oceanhorn/id708196645?isPPT=true</string>
		<key>tab</key>
		<string>discover</string>
		<key>testName</key>
		<string>ScrollProduct</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>scroll</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>tab</key>
		<string>discover</string>
		<key>testName</key>
		<string>ResizeDiscover</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>resize</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>tab</key>
		<string>categories</string>
		<key>testName</key>
		<string>ResizeCategories</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>resize</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>tab</key>
		<string>create</string>
		<key>testName</key>
		<string>ResizeCreate</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>resize</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>tab</key>
		<string>work</string>
		<key>testName</key>
		<string>ResizeWork</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>resize</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>tab</key>
		<string>play</string>
		<key>testName</key>
		<string>ResizePlay</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>resize</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>tab</key>
		<string>develop</string>
		<key>testName</key>
		<string>ResizeDevelop</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>resize</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>searchTerm</key>
		<string>Games</string>
		<key>tab</key>
		<string>search</string>
		<key>testName</key>
		<string>ResizeSearch</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>resize</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>pushToURL</key>
		<string>https://apps.apple.com/us/app/oceanhorn-2/id1141837408?isPPT=true</string>
		<key>tab</key>
		<string>arcade</string>
		<key>testName</key>
		<string>ResizeArcadeProduct</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>resize</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>aggregate</key>
		<string>fps</string>
		<key>popToRoot</key>
		<string>YES</string>
		<key>pushToURL</key>
		<string>https://apps.apple.com/us/app/oceanhorn/id708196645?isPPT=true</string>
		<key>tab</key>
		<string>discover</string>
		<key>testName</key>
		<string>ResizeProduct</string>
		<key>timeoutInSeconds</key>
		<integer>30</integer>
		<key>type</key>
		<string>resize</string>
		<key>useNatural</key>
		<string>YES</string>
	</dict>
</array>
</plist>
