<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChristianHoward</key>
	<dict>
		<key>files</key>
		<dict>
			<key>distraction_1</key>
			<string>ChristianHoward_DynamicReminders_20230525_Segment_1.m4a</string>
			<key>distraction_2</key>
			<string>ChristianHoward_DynamicReminders_20230525_Segment_2.m4a</string>
			<key>distraction_3</key>
			<string>ChristianHoward_DynamicReminders_20230525_Segment_3.m4a</string>
			<key>distraction_4</key>
			<string>ChristianHoward_DynamicReminders_20230525_Segment_4.m4a</string>
		</dict>
		<key>guideID</key>
		<string>ChristianHoward</string>
	</dict>
	<key>JessicaSkye</key>
	<dict>
		<key>files</key>
		<dict>
			<key>distraction_1</key>
			<string>JessicaSkye_DynamicReminders_20230525_Segment_1.m4a</string>
			<key>distraction_2</key>
			<string>JessicaSkye_DynamicReminders_20230525_Segment_2.m4a</string>
			<key>distraction_3</key>
			<string>JessicaSkye_DynamicReminders_20230525_Segment_3.m4a</string>
			<key>distraction_4</key>
			<string>JessicaSkye_DynamicReminders_20230525_Segment_4.m4a</string>
		</dict>
		<key>guideID</key>
		<string>JessicaSkye</string>
	</dict>
</dict>
</plist>
