<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>952</integer>
	<key>capHeight</key>
	<integer>670</integer>
	<key>copyright</key>
	<string>© 2020 Apple Inc. All rights reserved.</string>
	<key>descender</key>
	<integer>-240</integer>
	<key>language</key>
	<string>en</string>
	<key>name</key>
	<string>Macintosh 3D</string>
	<key>scale</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<real>1.2000000476837001</real>
	</array>
	<key>strokes</key>
	<array>
		<array>
			<dict>
				<key>p0</key>
				<array>
					<integer>-76</integer>
					<integer>241</integer>
					<integer>-12</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>-62</integer>
					<integer>307</integer>
					<real>-11.350699424744001</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>-19</integer>
					<integer>382</integer>
					<real>-10.518704414368001</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>61</integer>
					<integer>382</integer>
					<real>-7.0179176330565998</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>61</integer>
					<integer>382</integer>
					<real>-7.0179176330565998</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>123</integer>
					<integer>382</integer>
					<real>-4.3048086166381996</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>143</integer>
					<integer>333</integer>
					<real>-4.9756016731262003</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>132</integer>
					<integer>254</integer>
					<real>-2.8714516162871999</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>132</integer>
					<integer>254</integer>
					<real>-2.8714516162871999</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>126</integer>
					<integer>208</integer>
					<real>-1.6476782560348999</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>115</integer>
					<integer>163</integer>
					<real>1.0999233722687001</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>112</integer>
					<integer>121</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>112</integer>
					<integer>121</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>108</integer>
					<integer>42</integer>
					<real>-2.0662891864777002</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>138</integer>
					<integer>-8</integer>
					<integer>-10</integer>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>208</integer>
					<integer>-8</integer>
					<integer>-10</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>208</integer>
					<integer>-8</integer>
					<integer>-10</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>302</integer>
					<integer>-8</integer>
					<integer>-10</integer>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>356</integer>
					<integer>103</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>367</integer>
					<integer>228</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>367</integer>
					<integer>228</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>371.33334350586</real>
					<real>277.66665649414</real>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>375.66665649414</real>
					<real>327.33334350586</real>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>380</integer>
					<integer>377</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>p0</key>
				<array>
					<integer>370</integer>
					<integer>257</integer>
					<integer>0</integer>
					<integer>26</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>364</integer>
					<integer>201</integer>
					<real>0.67647624015808006</real>
					<integer>26</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>364</integer>
					<integer>154</integer>
					<real>1.2410020828246999</real>
					<integer>26</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>364</integer>
					<integer>119</integer>
					<integer>0</integer>
					<integer>26</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>364</integer>
					<integer>119</integer>
					<integer>0</integer>
					<integer>26</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>364</integer>
					<integer>46</integer>
					<real>-2.5883758068085001</real>
					<integer>26</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>400</integer>
					<integer>-8</integer>
					<real>-4.2758936882018999</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>466</integer>
					<integer>-8</integer>
					<integer>-10</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>466</integer>
					<integer>-8</integer>
					<integer>-10</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>575</integer>
					<integer>-8</integer>
					<real>-19.453447341918999</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>660</integer>
					<integer>108</integer>
					<real>-31.205791473388999</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>662</integer>
					<integer>240</integer>
					<integer>-28</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>662</integer>
					<integer>240</integer>
					<integer>-28</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>664</integer>
					<integer>341</integer>
					<real>-25.546884536743001</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>626</integer>
					<integer>387</integer>
					<real>-14.525312423706</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>582</integer>
					<integer>387</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>582</integer>
					<integer>387</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>544</integer>
					<integer>387</integer>
					<real>12.544588088989</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>520</integer>
					<integer>359</integer>
					<real>19.582218170166001</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>520</integer>
					<integer>314</integer>
					<integer>28</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>520</integer>
					<integer>314</integer>
					<integer>28</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>520</integer>
					<integer>276</integer>
					<real>35.108348846436002</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>538</integer>
					<integer>232</integer>
					<integer>36</integer>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>570.1630859375</real>
					<real>207.34164428711</real>
					<real>33.855796813965</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>570.1630859375</real>
					<real>207.34164428711</real>
					<real>33.855796813965</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>653.16107177734</real>
					<real>143.70985412598</real>
					<real>28.322595596313</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>795.61645507812</real>
					<real>120.10958862305</real>
					<real>-4.8493137359618999</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>915.4521484375</real>
					<real>133.93678283691</real>
					<real>-27.894641876221002</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>915.4521484375</real>
					<real>133.93678283691</real>
					<real>-27.894641876221002</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>1020</integer>
					<integer>146</integer>
					<integer>-48</integer>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>1084</integer>
					<integer>212</integer>
					<integer>-40</integer>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>1087</integer>
					<integer>278</integer>
					<integer>-30</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>1087</integer>
					<integer>278</integer>
					<integer>-30</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>1090</integer>
					<integer>342</integer>
					<real>-20.302394866943001</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>1055</integer>
					<integer>389</integer>
					<real>-8.8674697875977007</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>985</integer>
					<integer>389</integer>
					<integer>8</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>985</integer>
					<integer>389</integer>
					<integer>8</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>902</integer>
					<integer>389</integer>
					<integer>28</integer>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>841</integer>
					<integer>302</integer>
					<real>44.090625762938998</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>841</integer>
					<integer>199</integer>
					<integer>52</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>841</integer>
					<integer>199</integer>
					<integer>52</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>841</integer>
					<real>68.774803161620994</real>
					<integer>62</integer>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>912</integer>
					<real>-8.3585996627808008</real>
					<real>60.188098907471002</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>1041.0961914062</real>
					<real>-8.3585996627808008</real>
					<real>40.671142578125</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>1041.0961914062</real>
					<real>-8.3585996627808008</real>
					<real>40.671142578125</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>1233.6976318359</real>
					<real>-8.3585996627808008</real>
					<real>11.553359985351999</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>1435.6016845703</real>
					<real>210.31410217285</real>
					<real>-30.169986724853999</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>1529.419921875</real>
					<real>457.26287841797</real>
					<real>-32.311584472656001</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>1529.419921875</real>
					<real>457.26287841797</real>
					<real>-32.311584472656001</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>1556.2702636719</real>
					<real>527.93859863281</real>
					<real>-32.924499511718999</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>1570</integer>
					<real>591.48492431641</real>
					<real>-30.756900787353999</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>1570</integer>
					<real>636.59399414062</real>
					<real>-27.647899627686002</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>1570</integer>
					<real>636.59399414062</real>
					<real>-27.647899627686002</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>1570</integer>
					<real>691.03637695312</real>
					<real>-23.961500167846999</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>1547.9627685547</real>
					<real>736.67358398438</real>
					<real>-17.611799240111999</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>1499</integer>
					<real>736.67358398438</real>
					<real>-3.1837999820709002</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>1499</integer>
					<real>736.67358398438</real>
					<real>-3.1837999820709002</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>1452</integer>
					<real>736.67358398438</real>
					<real>10.943799972534</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>1420</integer>
					<real>700.17840576172</real>
					<real>19.588800430298001</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>1393</integer>
					<real>642.55438232422</real>
					<real>26.726299285888999</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>1393</integer>
					<real>642.55438232422</real>
					<real>26.726299285888999</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>1361.5792236328</real>
					<real>575.49542236328</real>
					<real>35.020599365233998</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>1337.9252929688</real>
					<real>479.29959106445</real>
					<real>43.515899658202997</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>1328</integer>
					<real>370.35998535156</real>
					<real>47.923000335692997</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>1328</integer>
					<real>370.35998535156</real>
					<real>47.923000335692997</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>1303</integer>
					<real>96.940002441405994</real>
					<real>58.982200622558999</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>1359</integer>
					<integer>-4</integer>
					<real>52.874801635742003</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>1478.8776855469</real>
					<integer>-4</integer>
					<real>31.681945800781001</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>1478.8776855469</real>
					<integer>-4</integer>
					<real>31.681945800781001</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>1600.5104980469</real>
					<integer>-4</integer>
					<real>10.17879486084</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>1678.2021484375</real>
					<real>98.796203613280994</real>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>1703.5681152344</real>
					<real>227.57748413086</real>
					<integer>0</integer>
					<integer>30</integer>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>p0</key>
				<array>
					<real>1992.4350585938</real>
					<real>320.08401489258</real>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>1971.4774169922</real>
					<real>360.38708496094</real>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>1930.7314453125</real>
					<integer>391</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>1866.9362792969</real>
					<integer>391</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>1866.9362792969</real>
					<integer>391</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>1766.6995849609</real>
					<integer>391</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>1699.8399658203</real>
					<real>288.73840332031</real>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>1699.8399658203</real>
					<integer>185</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>1699.8399658203</real>
					<integer>185</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>1699.8399658203</real>
					<real>76.533699035645</real>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>1766</integer>
					<integer>-8</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>1883.0679931641</real>
					<integer>-8</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>1883.0679931641</real>
					<integer>-8</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>2025.3010253906</real>
					<integer>-8</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>2151.3857421875</real>
					<real>88.8857421875</real>
					<real>2.7955904006957999</real>
					<real>30.021530151366999</real>
				</array>
				<key>p3</key>
				<array>
					<real>2192.8464355469</real>
					<real>206.72143554688</real>
					<real>-5.4169025421142996</real>
					<real>30.000583648681999</real>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>2192.8464355469</real>
					<real>206.72143554688</real>
					<real>-5.4169025421142996</real>
					<real>30.000583648681999</real>
				</array>
				<key>p1</key>
				<array>
					<integer>2232</integer>
					<integer>318</integer>
					<real>-13.172400474548001</real>
					<real>29.980800628661999</real>
				</array>
				<key>p2</key>
				<array>
					<integer>2279</integer>
					<integer>385</integer>
					<real>-20.211700439453001</real>
					<real>29.939800262451001</real>
				</array>
				<key>p3</key>
				<array>
					<integer>2377</integer>
					<integer>385</integer>
					<real>-33.872001647948998</real>
					<real>29.939800262451001</real>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>2377</integer>
					<integer>385</integer>
					<real>-33.872001647948998</real>
					<real>29.939800262451001</real>
				</array>
				<key>p1</key>
				<array>
					<integer>2458</integer>
					<integer>385</integer>
					<real>-45.162700653076001</real>
					<real>29.939800262451001</real>
				</array>
				<key>p2</key>
				<array>
					<integer>2522</integer>
					<integer>325</integer>
					<real>-51.748901367187997</real>
					<real>29.950300216675</real>
				</array>
				<key>p3</key>
				<array>
					<integer>2522</integer>
					<integer>212</integer>
					<real>-45.162700653076001</real>
					<real>29.950300216675</real>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>2522</integer>
					<integer>212</integer>
					<real>-45.162700653076001</real>
					<real>29.950300216675</real>
				</array>
				<key>p1</key>
				<array>
					<integer>2522</integer>
					<integer>87</integer>
					<real>-37.876998901367003</real>
					<real>29.950300216675</real>
				</array>
				<key>p2</key>
				<array>
					<real>2440.9008789062</real>
					<integer>-7</integer>
					<real>-15.494799613953001</real>
					<real>29.963300704956001</real>
				</array>
				<key>p3</key>
				<array>
					<real>2338.4184570312</real>
					<integer>-8</integer>
					<real>9.0044002532959002</real>
					<real>29.963300704956001</real>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>2338.4184570312</real>
					<integer>-8</integer>
					<real>9.0044002532959002</real>
					<real>29.963300704956001</real>
				</array>
				<key>p1</key>
				<array>
					<real>2248.2341308594</real>
					<integer>-9</integer>
					<real>30.564100265503001</real>
					<real>29.963300704956001</real>
				</array>
				<key>p2</key>
				<array>
					<integer>2189</integer>
					<integer>64</integer>
					<real>51.086101531982003</real>
					<real>29.974199295043999</real>
				</array>
				<key>p3</key>
				<array>
					<integer>2195</integer>
					<integer>174</integer>
					<real>53.630599975586001</real>
					<real>29.974199295043999</real>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>2195</integer>
					<integer>174</integer>
					<real>53.630599975586001</real>
					<real>29.974199295043999</real>
				</array>
				<key>p1</key>
				<array>
					<integer>2202</integer>
					<integer>296</integer>
					<real>56.453399658202997</real>
					<real>29.974199295043999</real>
				</array>
				<key>p2</key>
				<array>
					<integer>2276</integer>
					<integer>385</integer>
					<real>44.221801757812003</real>
					<real>29.986799240111999</real>
				</array>
				<key>p3</key>
				<array>
					<integer>2373</integer>
					<integer>385</integer>
					<real>31.049299240111999</real>
					<real>29.986799240111999</real>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>2373</integer>
					<integer>385</integer>
					<real>31.049299240111999</real>
					<real>29.986799240111999</real>
				</array>
				<key>p1</key>
				<array>
					<integer>2429</integer>
					<integer>385</integer>
					<real>23.444599151611001</real>
					<real>29.986799240111999</real>
				</array>
				<key>p2</key>
				<array>
					<integer>2468</integer>
					<integer>366</integer>
					<real>18.411199569701999</real>
					<real>29.989400863646999</real>
				</array>
				<key>p3</key>
				<array>
					<integer>2513</integer>
					<integer>333</integer>
					<real>11.290699958801</real>
					<real>29.990699768066001</real>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>2513</integer>
					<integer>333</integer>
					<real>11.290699958801</real>
					<real>29.990699768066001</real>
				</array>
				<key>p1</key>
				<array>
					<real>2646.28515625</real>
					<real>235.76742553711</real>
					<real>-9.7612447738646999</real>
					<real>29.994304656981999</real>
				</array>
				<key>p2</key>
				<array>
					<real>2756.669921875</real>
					<real>283.85992431641</real>
					<real>12.748173713684</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>2796</integer>
					<integer>380</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>p0</key>
				<array>
					<real>2800.9831542969</real>
					<real>379.99978637695</real>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>2781.8073730469</real>
					<real>252.99989318848</real>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>2765.4958496094</real>
					<real>127.99990081787</real>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>2746.3200683594</real>
					<integer>1</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>p0</key>
				<array>
					<real>2762.3916015625</real>
					<real>110.88367462158</real>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>2787.1691894531</real>
					<real>284.59362792969</real>
					<integer>0</integer>
					<real>28.000129699706999</real>
				</array>
				<key>p2</key>
				<array>
					<real>2862.4799804688</real>
					<integer>388</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>2950.8000488281</real>
					<integer>388</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>2950.8000488281</real>
					<integer>388</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>3022.8000488281</real>
					<integer>388</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>3051.6000976562</real>
					<integer>331</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>3047.7600097656</real>
					<integer>254</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>3047.7600097656</real>
					<integer>254</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>3043.919921875</real>
					<integer>202</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>3025.6799316406</real>
					<integer>100</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>3010.3200683594</real>
					<integer>1</integer>
					<integer>0</integer>
					<integer>30</integer>
				</array>
			</dict>
		</array>
		<array>
			<dict>
				<key>p0</key>
				<array>
					<real>3027.2224121094</real>
					<real>106.61363983154</real>
					<integer>0</integer>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>3055.2802734375</real>
					<real>280.73489379883</real>
					<integer>0</integer>
					<real>28.000129699706999</real>
				</array>
				<key>p2</key>
				<array>
					<real>3122.6401367188</real>
					<integer>388</integer>
					<real>-0.22196958959103</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>3220.5600585938</real>
					<integer>388</integer>
					<real>-0.40485930442809998</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>3220.5600585938</real>
					<integer>388</integer>
					<real>-0.40485930442809998</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>3287.7600097656</real>
					<integer>388</integer>
					<real>-0.53037190437316994</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>3321.3598632812</real>
					<integer>332</integer>
					<real>-0.52189356088637995</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>3313.6799316406</real>
					<integer>264</integer>
					<real>-0.60860490798949995</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>3313.6799316406</real>
					<integer>264</integer>
					<real>-0.60860490798949995</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>3308.8798828125</real>
					<integer>216</integer>
					<real>-0.66972965002060003</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>3292.5600585938</real>
					<integer>159</integer>
					<real>-0.70682239532471003</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>3289.6799316406</real>
					<integer>112</integer>
					<real>-0.76538246870041005</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>3289.6799316406</real>
					<integer>112</integer>
					<real>-0.76538246870041005</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>3284.8798828125</real>
					<integer>43</integer>
					<real>-0.85140001773833995</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>3315.6000976562</real>
					<integer>-4</integer>
					<real>-0.83759999275207997</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>3382.7275390625</real>
					<integer>-4</integer>
					<real>-0.96752452850341997</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>3382.7275390625</real>
					<integer>-4</integer>
					<real>-0.96752452850341997</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>3484.357421875</real>
					<integer>-4</integer>
					<real>-1.1642270088196001</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>3658.8256835938</real>
					<real>67.189491271972997</real>
					<real>-29.057559967041001</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>3731.3579101562</real>
					<real>179.01034545898</real>
					<real>-33.08069229126</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<real>3731.3579101562</real>
					<real>179.01034545898</real>
					<real>-33.08069229126</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>3756</integer>
					<integer>217</integer>
					<real>-34.447498321532997</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>3766</integer>
					<integer>251</integer>
					<real>-33.826801300048999</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>3767</integer>
					<integer>284</integer>
					<real>-31.224000930786001</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>3767</integer>
					<integer>284</integer>
					<real>-31.224000930786001</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>3768</integer>
					<integer>344</integer>
					<real>-26.493099212646001</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>3734</integer>
					<integer>389</integer>
					<real>-15.258299827576</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>3674</integer>
					<integer>389</integer>
					<real>3.1614000797271999</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>3674</integer>
					<integer>389</integer>
					<real>3.1614000797271999</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>3598</integer>
					<integer>389</integer>
					<real>26.493099212646001</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<integer>3540</integer>
					<integer>303</integer>
					<real>42.888000488281001</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>3540</integer>
					<integer>193</integer>
					<real>48.441799163817997</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>3540</integer>
					<integer>193</integer>
					<real>48.441799163817997</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<integer>3540</integer>
					<integer>75</integer>
					<real>54.399700164795</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>3620.0322265625</real>
					<integer>-8</integer>
					<real>46.95923614502</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<integer>3728</integer>
					<integer>-8</integer>
					<real>31.501399993896001</real>
					<integer>30</integer>
				</array>
			</dict>
			<dict>
				<key>p0</key>
				<array>
					<integer>3728</integer>
					<integer>-8</integer>
					<real>31.501399993896001</real>
					<integer>30</integer>
				</array>
				<key>p1</key>
				<array>
					<real>3854.2524414062</real>
					<integer>-8</integer>
					<real>13.345327377319</real>
					<integer>30</integer>
				</array>
				<key>p2</key>
				<array>
					<real>3915.2021484375</real>
					<real>65.13939666748</real>
					<real>0.27819252014160001</real>
					<integer>30</integer>
				</array>
				<key>p3</key>
				<array>
					<real>3931.7453613281</real>
					<real>136.5373840332</real>
					<real>-9.9983291625977007</real>
					<integer>30</integer>
				</array>
			</dict>
		</array>
	</array>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>version</key>
	<string>1.1.0</string>
</dict>
</plist>
