<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationGroupContainerIdentifier</key>
	<string>group.com.apple.VoiceMemos.shared</string>
	<key>Help</key>
	<dict>
		<key>Anchor</key>
		<string>vm0ba246ff3e</string>
		<key>Book</key>
		<string>com.apple.VoiceMemos.help</string>
	</dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<integer>30</integer>
			<key>Key</key>
			<string>RCVoiceMemosRecentlyDeletedWindowKey</string>
			<key>ShortTitles</key>
			<array>
				<string>ERASE_RECENTLY_DELETED_IMMEDIATELY_SHORT</string>
				<string>ERASE_RECENTLY_DELETED_ONE_DAY_SHORT</string>
				<string>ERASE_RECENTLY_DELETED_SEVEN_DAYS_SHORT</string>
				<string>ERASE_RECENTLY_DELETED_THIRTY_DAYS_SHORT</string>
				<string>ERASE_RECENTLY_DELETED_NEVER_SHORT</string>
			</array>
			<key>Title</key>
			<string>SETTINGS_PERMANENTLY_DELETE</string>
			<key>Titles</key>
			<array>
				<string>ERASE_RECENTLY_DELETED_IMMEDIATELY</string>
				<string>ERASE_RECENTLY_DELETED_ONE_DAY</string>
				<string>ERASE_RECENTLY_DELETED_SEVEN_DAYS</string>
				<string>ERASE_RECENTLY_DELETED_THIRTY_DAYS</string>
				<string>ERASE_RECENTLY_DELETED_NEVER</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>7</integer>
				<integer>30</integer>
				<integer>-1</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>RCVoiceMemosAudioQualityKey</string>
			<key>ShortTitles</key>
			<array>
				<string>QUALITY_AAC_AUDIO_SHORT</string>
				<string>QUALITY_UNCOMPRESSED_SHORT</string>
			</array>
			<key>Title</key>
			<string>SETTINGS_AUDIO_COMPRESSION_QUALITY</string>
			<key>Titles</key>
			<array>
				<string>QUALITY_AAC_AUDIO</string>
				<string>QUALITY_UNCOMPRESSED</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>RCVoiceMemosUseLocationBasedNaming</string>
			<key>Title</key>
			<string>SETTINGS_USE_LOCATION_BASED_NAMING</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
