<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledFonts</key>
	<array>
		<dict>
			<key>fontFamily</key>
			<string>New Peninim MT</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.90000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.7</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7000000000000002</real>
					<key>lineHeight</key>
					<real>1.3799999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.2</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string>Corsiva Hebrew</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.90000000000000002</real>
					<key>lineHeight</key>
					<real>1.5</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.97999999999999998</real>
					<key>lineHeight</key>
					<real>1.5</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1200000000000001</real>
					<key>lineHeight</key>
					<real>1.48</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.48</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.28</real>
					<key>lineHeight</key>
					<real>1.48</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3500000000000001</real>
					<key>lineHeight</key>
					<real>1.48</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.46</real>
					<key>lineHeight</key>
					<real>1.48</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.7</real>
					<key>lineHeight</key>
					<real>1.45</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.1899999999999999</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.2</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string>Raanana</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.91000000000000003</real>
					<key>lineHeight</key>
					<real>1.5</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1</real>
					<key>lineHeight</key>
					<real>1.5</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1399999999999999</real>
					<key>lineHeight</key>
					<real>1.45</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.45</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.28</real>
					<key>lineHeight</key>
					<real>1.45</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.45</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.49</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6000000000000001</real>
					<key>lineHeight</key>
					<real>1.4299999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.1499999999999999</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7999999999999998</real>
					<key>lineHeight</key>
					<real>1.3600000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.22</real>
				</dict>
			</array>
		</dict>
	</array>
	<key>fonts</key>
	<array>
		<dict>
			<key>fontFamily</key>
			<string></string>
			<key>postscriptBoldName</key>
			<string>ArialHebrew-Bold</string>
			<key>postscriptName</key>
			<string>ArialHebrew</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>1</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.7</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.8999999999999999</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>2</integer>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.6000000000000001</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>3.3999999999999999</real>
					<key>lineHeight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.7000000000000002</real>
					<key>lineHeight</key>
					<real>0.0</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string>Arial Hebrew</string>
			<key>isPreinstalled</key>
			<true/>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.93000000000000005</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.04</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1599999999999999</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.29</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3500000000000001</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.4099999999999999</real>
					<key>lineHeight</key>
					<real>1.4199999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.54</real>
					<key>lineHeight</key>
					<real>1.3799999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.74</real>
					<key>lineHeight</key>
					<real>1.3600000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.2200000000000002</real>
					<key>lineHeight</key>
					<real>1.3600000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.8500000000000001</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>6.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.1599999999999999</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string>Times New Roman</string>
			<key>isPreinstalled</key>
			<true/>
			<key>postscriptBoldName</key>
			<string>TimesNewRomanPS-BoldMT</string>
			<key>postscriptName</key>
			<string>TimesNewRomanPSMT</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.69999999999999996</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.80000000000000004</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>1</integer>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6000000000000001</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.8</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7999999999999998</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
