<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fonts</key>
	<array>
		<dict>
			<key>fontFamily</key>
			<string></string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.69999999999999996</real>
					<key>lineHeight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.80000000000000004</real>
					<key>lineHeight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>1</integer>
					<key>lineHeight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6000000000000001</real>
					<key>lineHeight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.8</real>
					<key>lineHeight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.3999999999999999</real>
					<key>lineHeight</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7999999999999998</real>
					<key>lineHeight</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string>Athelas</string>
			<key>isPreinstalled</key>
			<true/>
			<key>postscriptBoldName</key>
			<string>Athelas-Bold</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.59999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.80000000000000004</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.90000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>1</integer>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.7</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string>Avenir Next</string>
			<key>isPreinstalled</key>
			<true/>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.59999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.80000000000000004</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.90000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>1</integer>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.7</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Canela</string>
			<key>fontFamily</key>
			<string>Canela Text</string>
			<key>isPreinstalled</key>
			<false/>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.59999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.80000000000000004</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.90000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>1</integer>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.2999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
			</array>
			<key>shouldAutoDownload</key>
			<true/>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string>Charter</string>
			<key>isPreinstalled</key>
			<true/>
			<key>postscriptBoldName</key>
			<string>Charter-Bold</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.59999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.80000000000000004</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.90000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>1</integer>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.7</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string>Georgia</string>
			<key>isPreinstalled</key>
			<true/>
			<key>postscriptBoldName</key>
			<string>Georgia-Bold</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.59999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.80000000000000004</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.90000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>1</integer>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.7</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>displayName</key>
			<string>Iowan</string>
			<key>fontFamily</key>
			<string>Iowan Old Style</string>
			<key>isPreinstalled</key>
			<true/>
			<key>postscriptBoldName</key>
			<string>IowanOldStyle-Bold</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.59999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.80000000000000004</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.90000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>1</integer>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.7</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string>Palatino</string>
			<key>isPreinstalled</key>
			<true/>
			<key>postscriptBoldName</key>
			<string>Palatino-Bold</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.59999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.80000000000000004</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.90000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>1</integer>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.2999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Proxima Nova</string>
			<key>fontFamily</key>
			<string>Proxima Nova</string>
			<key>isPreinstalled</key>
			<false/>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.59999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.80000000000000004</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.90000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>1</integer>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.2999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
			</array>
			<key>shouldAutoDownload</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Publico</string>
			<key>fontFamily</key>
			<string>Publico Text</string>
			<key>isPreinstalled</key>
			<false/>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.59999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.80000000000000004</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.90000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>1</integer>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.2999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
			</array>
			<key>shouldAutoDownload</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>San Francisco</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.59999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.80000000000000004</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.90000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>1</integer>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.7</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
			</array>
			<key>system</key>
			<string>default</string>
		</dict>
		<dict>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.59999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.80000000000000004</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.90000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>1</integer>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.7</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
			</array>
			<key>system</key>
			<string>serif</string>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string>Seravek</string>
			<key>isPreinstalled</key>
			<true/>
			<key>postscriptBoldName</key>
			<string>Seravek-Bold</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.59999999999999998</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.80000000000000004</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.90000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>1</integer>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.7</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.2000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7000000000000002</real>
					<key>lineHeight</key>
					<real>1.3999999999999999</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fontFamily</key>
			<string>Times New Roman</string>
			<key>isPreinstalled</key>
			<true/>
			<key>postscriptBoldName</key>
			<string>TimesNewRomanPS-BoldMT</string>
			<key>settings</key>
			<array>
				<dict>
					<key>fontSize</key>
					<real>0.69999999999999996</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>0.80000000000000004</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<integer>1</integer>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.1000000000000001</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.2</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.5</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.6000000000000001</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>1.8</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.3999999999999999</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
				<dict>
					<key>fontSize</key>
					<real>2.7999999999999998</real>
					<key>lineHeight</key>
					<real>1.3400000000000001</real>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
