<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MGAVExportPresetIdentifier</key>
	<string>AVAssetExportPresetAppleM4V1080pHD</string>
	<key>MGExportOptionIdentifier</key>
	<string>QTExportOptionsAppleM4V1080pHD</string>
	<key>MaximumBitRate</key>
	<integer>10000000</integer>
	<key>MaximumSize</key>
	<string>1920, 1080</string>
	<key>QTExpComponentExtension</key>
	<string>m4v</string>
	<key>QTExpComponentFlags</key>
	<integer>269058096</integer>
	<key>QTExpComponentFlagsMask</key>
	<integer>65788</integer>
	<key>QTExpComponentManufacture</key>
	<integer>1634758764</integer>
	<key>QTExpComponentSubType</key>
	<integer>1295275607</integer>
	<key>QTExpComponentType</key>
	<integer>1936746868</integer>
	<key>QTExpSettings</key>
	<data>
	AAAAAAAAAAAAAAAAAAAfNHNlYW4AAAABAAAABgAAAAAAAAHLdmlkZQAAAAEAAAARAAAA
	AAAAACJzcHRsAAAAAQAAAAAAAAAAYXZjMQAAAAAAGAAAAwAAAAAgdHBybAAAAAEAAAAA
	AAAAAAAAAgAAAAAAAAAAAAAAACRkcmF0AAAAAQAAAAAAAAAAABOIAP//gAAAAAEAAAAB
	AAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhw
	c2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAQAAABZtcGVzAAAA
	AQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21m
	cgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABx2ZXJzAAAAAQAA
	AAAAAAAAAAMAHAABAAAAAAAVdHJuYwAAAAEAAAAAAAAAAAAAAAAYd2R0aAAAAAEAAAAA
	AAAAAAeAAAAAAAAYaGVndAAAAAEAAAAAAAAAAAQ4AAAAAAEGaXNpegAAAAEAAAAJAAAA
	AAAAABhpd2R0AAAAAQAAAAAAAAAAAAAHgAAAABhpaGd0AAAAAQAAAAAAAAAAAAAEOAAA
	ABhwd2R0AAAAAQAAAAAAAAAAAAAAAAAAABhwaGd0AAAAAQAAAAAAAAAAAAAAAAAAADRj
	bGFwAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAc
	cGFzcAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAGHNjYW0AAAABAAAAAAAAAABmaXQgAAAA
	FWRpbnQAAAABAAAAAAAAAAAAAAAAFXVlbmYAAAABAAAAAAAAAAAAAAAb5nNvdW4AAAAB
	AAAABwAAAAAAABrzYXVkaQAAAAEAAAAHAAAAAAAAADxvc2JkAAAAAQAAAAAAAAAAQOWI
	gAAAAABhYWMgAAAAAAAAAAAAAAQAAAAAAAAAAAIAAAAAAAAAAAAAABxhaXNyAAAAAQAA
	AAAAAAAAQRdwAAAAAAAAABoeY2RzdAAAAAEAAAAAAAAAADw/eG1sIHZlcnNpb249IjEu
	MCIgZW5jb2Rpbmc9IlVURi04Ij8+CjwhRE9DVFlQRSBwbGlzdCBQVUJMSUMgIi0vL0Fw
	cGxlLy9EVEQgUExJU1QgMS4wLy9FTiIgImh0dHA6Ly93d3cuYXBwbGUuY29tL0RURHMv
	UHJvcGVydHlMaXN0LTEuMC5kdGQiPgo8cGxpc3QgdmVyc2lvbj0iMS4wIj4KPGFycmF5
	PgoJPGRpY3Q+CgkJPGtleT5jb252ZXJ0ZXI8L2tleT4KCQk8c3RyaW5nPlNhbXBsZVJh
	dGVDb252ZXJ0ZXI8L3N0cmluZz4KCQk8a2V5Pm5hbWU8L2tleT4KCQk8c3RyaW5nPlNh
	bXBsZSBSYXRlIENvbnZlcnRlcjwvc3RyaW5nPgoJCTxrZXk+cGFyYW1ldGVyczwva2V5
	PgoJCTxhcnJheT4KCQkJPGRpY3Q+CgkJCQk8a2V5PmF2YWlsYWJsZSB2YWx1ZXM8L2tl
	eT4KCQkJCTxhcnJheT4KCQkJCQk8c3RyaW5nPkZhc3Rlcjwvc3RyaW5nPgoJCQkJCTxz
	dHJpbmc+RmFzdDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+Tm9ybWFsPC9zdHJpbmc+CgkJ
	CQkJPHN0cmluZz5CZXR0ZXI8L3N0cmluZz4KCQkJCQk8c3RyaW5nPkJlc3Q8L3N0cmlu
	Zz4KCQkJCTwvYXJyYXk+CgkJCQk8a2V5PmN1cnJlbnQgdmFsdWU8L2tleT4KCQkJCTxp
	bnRlZ2VyPjM8L2ludGVnZXI+CgkJCQk8a2V5PmhpbnQ8L2tleT4KCQkJCTxpbnRlZ2Vy
	PjA8L2ludGVnZXI+CgkJCQk8a2V5PmtleTwva2V5PgoJCQkJPHN0cmluZz5RdWFsaXR5
	PC9zdHJpbmc+CgkJCQk8a2V5Pm5hbWU8L2tleT4KCQkJCTxzdHJpbmc+UXVhbGl0eTwv
	c3RyaW5nPgoJCQkJPGtleT5zdW1tYXJ5PC9rZXk+CgkJCQk8c3RyaW5nPlF1YWxpdHkg
	c2V0dGluZyBmb3IgdGhlIHNhbXBsZSByYXRlIGNvbnZlcnRlci48L3N0cmluZz4KCQkJ
	CTxrZXk+dmFsdWUgdHlwZTwva2V5PgoJCQkJPGludGVnZXI+MjI8L2ludGVnZXI+CgkJ
	CTwvZGljdD4KCQkJPGRpY3Q+CgkJCQk8a2V5PmF2YWlsYWJsZSB2YWx1ZXM8L2tleT4K
	CQkJCTxhcnJheT4KCQkJCQk8c3RyaW5nPlByZTwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+
	Tm9ybWFsPC9zdHJpbmc+CgkJCQkJPHN0cmluZz5Ob25lPC9zdHJpbmc+CgkJCQk8L2Fy
	cmF5PgoJCQkJPGtleT5jdXJyZW50IHZhbHVlPC9rZXk+CgkJCQk8aW50ZWdlcj4xPC9p
	bnRlZ2VyPgoJCQkJPGtleT5oaW50PC9rZXk+CgkJCQk8aW50ZWdlcj4yPC9pbnRlZ2Vy
	PgoJCQkJPGtleT5rZXk8L2tleT4KCQkJCTxzdHJpbmc+UHJpbWluZyBNZXRob2Q8L3N0
	cmluZz4KCQkJCTxrZXk+bmFtZTwva2V5PgoJCQkJPHN0cmluZz5QcmltaW5nIE1ldGhv
	ZDwvc3RyaW5nPgoJCQkJPGtleT5zdW1tYXJ5PC9rZXk+CgkJCQk8c3RyaW5nPlByaW1p
	bmcgbWV0aG9kIGZvciB0aGUgc2FtcGxlIHJhdGUgY29udmVydGVyLjwvc3RyaW5nPgoJ
	CQkJPGtleT52YWx1ZSB0eXBlPC9rZXk+CgkJCQk8aW50ZWdlcj4yMjwvaW50ZWdlcj4K
	CQkJPC9kaWN0PgoJCTwvYXJyYXk+CgkJPGtleT52ZXJzaW9uPC9rZXk+CgkJPGludGVn
	ZXI+MDwvaW50ZWdlcj4KCTwvZGljdD4KCTxkaWN0PgoJCTxrZXk+Y29udmVydGVyPC9r
	ZXk+CgkJPHN0cmluZz5Db2RlY0NvbnZlcnRlcjwvc3RyaW5nPgoJCTxrZXk+bmFtZTwv
	a2V5PgoJCTxzdHJpbmc+TVBFRyA0IEFBQyBMQyBFbmNvZGVyPC9zdHJpbmc+CgkJPGtl
	eT5wYXJhbWV0ZXJzPC9rZXk+CgkJPGFycmF5PgoJCQk8ZGljdD4KCQkJCTxrZXk+RXhw
	bGljaXRWYWx1ZTwva2V5PgoJCQkJPGludGVnZXI+NjYxOTEzODwvaW50ZWdlcj4KCQkJ
	CTxrZXk+YXZhaWxhYmxlIHZhbHVlczwva2V5PgoJCQkJPGFycmF5PgoJCQkJCTxzdHJp
	bmc+TW9ubzwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+U3RlcmVvPC9zdHJpbmc+CgkJCQkJ
	PHN0cmluZz5RdWFkcmFwaG9uaWM8L3N0cmluZz4KCQkJCQk8c3RyaW5nPkFBQyA0LjA8
	L3N0cmluZz4KCQkJCQk8c3RyaW5nPkFBQyA1LjA8L3N0cmluZz4KCQkJCQk8c3RyaW5n
	PkFBQyA1LjE8L3N0cmluZz4KCQkJCQk8c3RyaW5nPkFBQyA2LjA8L3N0cmluZz4KCQkJ
	CQk8c3RyaW5nPkFBQyA2LjE8L3N0cmluZz4KCQkJCQk8c3RyaW5nPkFBQyA3LjA8L3N0
	cmluZz4KCQkJCQk8c3RyaW5nPkFBQyA3LjE8L3N0cmluZz4KCQkJCQk8c3RyaW5nPk9j
	dGFnb25hbDwvc3RyaW5nPgoJCQkJPC9hcnJheT4KCQkJCTxrZXk+Y3VycmVudCB2YWx1
	ZTwva2V5PgoJCQkJPGludGVnZXI+MTwvaW50ZWdlcj4KCQkJCTxrZXk+aGludDwva2V5
	PgoJCQkJPGludGVnZXI+NTwvaW50ZWdlcj4KCQkJCTxrZXk+a2V5PC9rZXk+CgkJCQk8
	c3RyaW5nPkNoYW5uZWwgQ29uZmlndXJhdGlvbjwvc3RyaW5nPgoJCQkJPGtleT5saW1p
	dGVkIHZhbHVlczwva2V5PgoJCQkJPGFycmF5PgoJCQkJCTxzdHJpbmc+U3RlcmVvPC9z
	dHJpbmc+CgkJCQk8L2FycmF5PgoJCQkJPGtleT5uYW1lPC9rZXk+CgkJCQk8c3RyaW5n
	PkNoYW5uZWwgQ29uZmlndXJhdGlvbjwvc3RyaW5nPgoJCQkJPGtleT5zdW1tYXJ5PC9r
	ZXk+CgkJCQk8c3RyaW5nPlRoZSBjaGFubmVsIGxheW91dCBvZiB0aGUgQUFDIHByb2R1
	Y2VkIGJ5IHRoZSBlbmNvZGVyPC9zdHJpbmc+CgkJCQk8a2V5PnZhbHVlIHR5cGU8L2tl
	eT4KCQkJCTxpbnRlZ2VyPjIyPC9pbnRlZ2VyPgoJCQk8L2RpY3Q+CgkJCTxkaWN0PgoJ
	CQkJPGtleT5FeHBsaWNpdFZhbHVlPC9rZXk+CgkJCQk8cmVhbD40NDEwMDwvcmVhbD4K
	CQkJCTxrZXk+YXZhaWxhYmxlIHZhbHVlczwva2V5PgoJCQkJPGFycmF5PgoJCQkJCTxz
	dHJpbmc+UmVjb21tZW5kZWQ8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjguMDAwPC9zdHJp
	bmc+CgkJCQkJPHN0cmluZz4xMS4wMjU8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjEyLjAw
	MDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+MTYuMDAwPC9zdHJpbmc+CgkJCQkJPHN0cmlu
	Zz4yMi4wNTA8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjI0LjAwMDwvc3RyaW5nPgoJCQkJ
	CTxzdHJpbmc+MzIuMDAwPC9zdHJpbmc+CgkJCQkJPHN0cmluZz40NC4xMDA8L3N0cmlu
	Zz4KCQkJCQk8c3RyaW5nPjQ4LjAwMDwvc3RyaW5nPgoJCQkJPC9hcnJheT4KCQkJCTxr
	ZXk+Y3VycmVudCB2YWx1ZTwva2V5PgoJCQkJPGludGVnZXI+ODwvaW50ZWdlcj4KCQkJ
	CTxrZXk+aGludDwva2V5PgoJCQkJPGludGVnZXI+NjwvaW50ZWdlcj4KCQkJCTxrZXk+
	a2V5PC9rZXk+CgkJCQk8c3RyaW5nPlNhbXBsZSBSYXRlPC9zdHJpbmc+CgkJCQk8a2V5
	PmxpbWl0ZWQgdmFsdWVzPC9rZXk+CgkJCQk8YXJyYXk+CgkJCQkJPHN0cmluZz5SZWNv
	bW1lbmRlZDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+NDQuMTAwPC9zdHJpbmc+CgkJCQkJ
	PHN0cmluZz40OC4wMDA8L3N0cmluZz4KCQkJCTwvYXJyYXk+CgkJCQk8a2V5Pm5hbWU8
	L2tleT4KCQkJCTxzdHJpbmc+U2FtcGxlIFJhdGU8L3N0cmluZz4KCQkJCTxrZXk+c3Vt
	bWFyeTwva2V5PgoJCQkJPHN0cmluZz5UaGUgc2FtcGxlIHJhdGUgb2YgdGhlIEFBQyBw
	cm9kdWNlZCBieSB0aGUgZW5jb2Rlcjwvc3RyaW5nPgoJCQkJPGtleT51bml0PC9rZXk+
	CgkJCQk8c3RyaW5nPmtIejwvc3RyaW5nPgoJCQkJPGtleT52YWx1ZSB0eXBlPC9rZXk+
	CgkJCQk8aW50ZWdlcj4yMjwvaW50ZWdlcj4KCQkJPC9kaWN0PgoJCQk8ZGljdD4KCQkJ
	CTxrZXk+RXhwbGljaXRWYWx1ZTwva2V5PgoJCQkJPGludGVnZXI+MjwvaW50ZWdlcj4K
	CQkJCTxrZXk+YXZhaWxhYmxlIHZhbHVlczwva2V5PgoJCQkJPGFycmF5PgoJCQkJCTxz
	dHJpbmc+QXZlcmFnZSBCaXQgUmF0ZTwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+VmFyaWFi
	bGUgQml0IFJhdGU8L3N0cmluZz4KCQkJCQk8c3RyaW5nPlZhcmlhYmxlIEJpdCBSYXRl
	IENvbnN0cmFpbmVkPC9zdHJpbmc+CgkJCQkJPHN0cmluZz5Db25zdGFudCBCaXQgUmF0
	ZTwvc3RyaW5nPgoJCQkJPC9hcnJheT4KCQkJCTxrZXk+Y3VycmVudCB2YWx1ZTwva2V5
	PgoJCQkJPGludGVnZXI+MjwvaW50ZWdlcj4KCQkJCTxrZXk+aGludDwva2V5PgoJCQkJ
	PGludGVnZXI+NTwvaW50ZWdlcj4KCQkJCTxrZXk+a2V5PC9rZXk+CgkJCQk8c3RyaW5n
	PlRhcmdldCBGb3JtYXQ8L3N0cmluZz4KCQkJCTxrZXk+bGltaXRlZCB2YWx1ZXM8L2tl
	eT4KCQkJCTxhcnJheT4KCQkJCQk8c3RyaW5nPkF2ZXJhZ2UgQml0IFJhdGU8L3N0cmlu
	Zz4KCQkJCQk8c3RyaW5nPlZhcmlhYmxlIEJpdCBSYXRlPC9zdHJpbmc+CgkJCQkJPHN0
	cmluZz5WYXJpYWJsZSBCaXQgUmF0ZSBDb25zdHJhaW5lZDwvc3RyaW5nPgoJCQkJCTxz
	dHJpbmc+Q29uc3RhbnQgQml0IFJhdGU8L3N0cmluZz4KCQkJCTwvYXJyYXk+CgkJCQk8
	a2V5Pm5hbWU8L2tleT4KCQkJCTxzdHJpbmc+RW5jb2RpbmcgU3RyYXRlZ3k8L3N0cmlu
	Zz4KCQkJCTxrZXk+c3VtbWFyeTwva2V5PgoJCQkJPHN0cmluZz5UaGUgZW5jb2Rpbmcg
	c3RyYXRlZ3kgdXNlZCBmb3IgdGhlIGJpdCBhbGxvY2F0aW9uPC9zdHJpbmc+CgkJCQk8
	a2V5PnZhbHVlIHR5cGU8L2tleT4KCQkJCTxpbnRlZ2VyPjIyPC9pbnRlZ2VyPgoJCQk8
	L2RpY3Q+CgkJCTxkaWN0PgoJCQkJPGtleT5CaXRSYXRlT2Zmc2V0PC9rZXk+CgkJCQk8
	aW50ZWdlcj4xMDwvaW50ZWdlcj4KCQkJCTxrZXk+RXhwbGljaXRWYWx1ZTwva2V5PgoJ
	CQkJPGludGVnZXI+MjU2MDAwPC9pbnRlZ2VyPgoJCQkJPGtleT5hdmFpbGFibGUgdmFs
	dWVzPC9rZXk+CgkJCQk8YXJyYXk+CgkJCQkJPHN0cmluZz5SZWNvbW1lbmRlZDwvc3Ry
	aW5nPgoJCQkJCTxzdHJpbmc+NjQgdG8gNzI8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjcy
	IHRvIDgyPC9zdHJpbmc+CgkJCQkJPHN0cmluZz44MCB0byA5MTwvc3RyaW5nPgoJCQkJ
	CTxzdHJpbmc+OTYgdG8gMTA5PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4xMTIgdG8gMTI3
	PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4xMjggdG8gMTQ1PC9zdHJpbmc+CgkJCQkJPHN0
	cmluZz4xNDQgdG8gMTY0PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4xNjAgdG8gMTgyPC9z
	dHJpbmc+CgkJCQkJPHN0cmluZz4xOTIgdG8gMjI4PC9zdHJpbmc+CgkJCQkJPHN0cmlu
	Zz4yMjQgdG8gMjY2PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4yNTYgdG8gMzA1PC9zdHJp
	bmc+CgkJCQkJPHN0cmluZz4yODggdG8gMzQzPC9zdHJpbmc+CgkJCQkJPHN0cmluZz4z
	MjAgdG8gMzgxPC9zdHJpbmc+CgkJCQk8L2FycmF5PgoJCQkJPGtleT5jdXJyZW50IHZh
	bHVlPC9rZXk+CgkJCQk8aW50ZWdlcj4xMTwvaW50ZWdlcj4KCQkJCTxrZXk+aGludDwv
	a2V5PgoJCQkJPGludGVnZXI+NDwvaW50ZWdlcj4KCQkJCTxrZXk+a2V5PC9rZXk+CgkJ
	CQk8c3RyaW5nPkJpdCBSYXRlPC9zdHJpbmc+CgkJCQk8a2V5PmxpbWl0ZWQgdmFsdWVz
	PC9rZXk+CgkJCQk8YXJyYXk+CgkJCQkJPHN0cmluZz5SZWNvbW1lbmRlZDwvc3RyaW5n
	PgoJCQkJCTxzdHJpbmc+NjQgdG8gNzI8L3N0cmluZz4KCQkJCQk8c3RyaW5nPjcyIHRv
	IDgyPC9zdHJpbmc+CgkJCQkJPHN0cmluZz44MCB0byA5MTwvc3RyaW5nPgoJCQkJCTxz
	dHJpbmc+OTYgdG8gMTA5PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4xMTIgdG8gMTI3PC9z
	dHJpbmc+CgkJCQkJPHN0cmluZz4xMjggdG8gMTQ1PC9zdHJpbmc+CgkJCQkJPHN0cmlu
	Zz4xNDQgdG8gMTY0PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4xNjAgdG8gMTgyPC9zdHJp
	bmc+CgkJCQkJPHN0cmluZz4xOTIgdG8gMjI4PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4y
	MjQgdG8gMjY2PC9zdHJpbmc+CgkJCQkJPHN0cmluZz4yNTYgdG8gMzA1PC9zdHJpbmc+
	CgkJCQkJPHN0cmluZz4yODggdG8gMzQzPC9zdHJpbmc+CgkJCQkJPHN0cmluZz4zMjAg
	dG8gMzgxPC9zdHJpbmc+CgkJCQk8L2FycmF5PgoJCQkJPGtleT5uYW1lPC9rZXk+CgkJ
	CQk8c3RyaW5nPkJpdCBSYXRlIFJhbmdlPC9zdHJpbmc+CgkJCQk8a2V5PnN1bW1hcnk8
	L2tleT4KCQkJCTxzdHJpbmc+RW5jb2Rpbmcgd2l0aCBhIGNvbnN0YW50IHNvdW5kIHF1
	YWxpdHkgY29uc3RyYWluZWQgYnkgYSBiaXQgcmF0ZSByYW5nZTwvc3RyaW5nPgoJCQkJ
	PGtleT51bml0PC9rZXk+CgkJCQk8c3RyaW5nPmticHM8L3N0cmluZz4KCQkJCTxrZXk+
	dmFsdWUgdHlwZTwva2V5PgoJCQkJPGludGVnZXI+MjI8L2ludGVnZXI+CgkJCTwvZGlj
	dD4KCQkJPGRpY3Q+CgkJCQk8a2V5PkV4cGxpY2l0VmFsdWU8L2tleT4KCQkJCTxpbnRl
	Z2VyPjY0PC9pbnRlZ2VyPgoJCQkJPGtleT5hdmFpbGFibGUgdmFsdWVzPC9rZXk+CgkJ
	CQk8YXJyYXk+CgkJCQkJPHN0cmluZz5Hb29kPC9zdHJpbmc+CgkJCQkJPHN0cmluZz5C
	ZXR0ZXI8L3N0cmluZz4KCQkJCQk8c3RyaW5nPkJlc3Q8L3N0cmluZz4KCQkJCTwvYXJy
	YXk+CgkJCQk8a2V5PmN1cnJlbnQgdmFsdWU8L2tleT4KCQkJCTxpbnRlZ2VyPjE8L2lu
	dGVnZXI+CgkJCQk8a2V5PmhpbnQ8L2tleT4KCQkJCTxpbnRlZ2VyPjE8L2ludGVnZXI+
	CgkJCQk8a2V5PmtleTwva2V5PgoJCQkJPHN0cmluZz5RdWFsaXR5PC9zdHJpbmc+CgkJ
	CQk8a2V5Pm5hbWU8L2tleT4KCQkJCTxzdHJpbmc+UXVhbGl0eTwvc3RyaW5nPgoJCQkJ
	PGtleT5zdW1tYXJ5PC9rZXk+CgkJCQk8c3RyaW5nPlRoZSBxdWFsaXR5IG9mIHRoZSBl
	bmNvZGVkIEFBQyBiaXRzdHJlYW08L3N0cmluZz4KCQkJCTxrZXk+dmFsdWUgdHlwZTwv
	a2V5PgoJCQkJPGludGVnZXI+MjI8L2ludGVnZXI+CgkJCTwvZGljdD4KCQk8L2FycmF5
	PgoJCTxrZXk+c3ViIHZlcnNpb248L2tleT4KCQk8aW50ZWdlcj4xPC9pbnRlZ2VyPgoJ
	CTxrZXk+dmVyc2lvbjwva2V5PgoJCTxpbnRlZ2VyPjE8L2ludGVnZXI+Cgk8L2RpY3Q+
	CjwvYXJyYXk+CjwvcGxpc3Q+CgAAACBjbGF5AAAAAQAAAAAAAAAAAGUAAgAAAAAAAAAA
	AAAAFXJlY28AAAABAAAAAAAAAAAAAAAAGHFsdHkAAAABAAAAAAAAAAAAAAB/AAAAHHZl
	cnMAAAABAAAAAAAAAAAAAwAVAAEAAAAAABhzc2N0AAAAAQAAAAAAAAAAbXA0YQAAABhz
	c3J0AAAAAQAAAAAAAAAArEQAAAAAABZzc3NzAAAAAQAAAAAAAAAAABAAAAAWc3NjYwAA
	AAEAAAAAAAAAAAACAAAAZ2NkZWMAAAABAAAAAAAAAAAAAAAMZnJtYW1wNGEAAAAMbXA0
	YQAAAAAAAAAzZXNkcwAAAAADgICAIgAAAASAgIAUQBUAGAAAAAAAAAPoAAWAgIACEhAG
	gICAAQIAAAAIAAAAAAAAABx2ZXJzAAAAAQAAAAAAAAAAAAMAFAABAAAAAAAVZW52aQAA
	AAEAAAAAAAAAAAEAAAAVZW5zbwAAAAEAAAAAAAAAAAEAAAA/c2F2ZQAAAAEAAAACAAAA
	AAAAABVmYXN0AAAAAQAAAAAAAAAAAQAAABZzc3R5AAAAAQAAAAAAAAAAAAE=
	</data>
	<key>QTExpType</key>
	<string>Export</string>
	<key>TargetDataRate</key>
	<integer>1800</integer>
</dict>
</plist>
