<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exhaleAugmentations</key>
	<array>
		<string>out_1_aug</string>
		<string>out_2_aug</string>
		<string>out_3_aug</string>
		<string>out_4_aug</string>
	</array>
	<key>exhales</key>
	<array>
		<string>out_1</string>
		<string>out_2</string>
		<string>out_3</string>
		<string>out_4</string>
	</array>
	<key>inhaleAugmentations</key>
	<array>
		<string>in_1_aug</string>
		<string>in_2_aug</string>
		<string>in_3_aug</string>
		<string>in_4_aug</string>
	</array>
	<key>inhales</key>
	<array>
		<string>in_1</string>
		<string>in_2</string>
		<string>in_3</string>
		<string>in_4</string>
	</array>
	<key>oscillations</key>
	<dict>
		<key>base</key>
		<dict>
			<key>keyframes</key>
			<array>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>mixers</key>
					<array>
						<string>MixRespirationAugmentationIn</string>
						<string>MixRespirationAugmentationOut</string>
					</array>
					<key>targetGain</key>
					<integer>-60</integer>
					<key>time</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>mixers</key>
					<array>
						<string>MixRespiration</string>
					</array>
					<key>targetGain</key>
					<integer>-13</integer>
					<key>time</key>
					<real>0.0</real>
				</dict>
			</array>
		</dict>
		<key>cascade</key>
		<dict>
			<key>keyframes</key>
			<array>
				<dict>
					<key>duration</key>
					<integer>4</integer>
					<key>mixers</key>
					<array>
						<string>MixRespiration</string>
					</array>
					<key>targetGain</key>
					<integer>-7</integer>
					<key>time</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>duration</key>
					<integer>4</integer>
					<key>mixers</key>
					<array>
						<string>MixRespirationAugmentationIn</string>
						<string>MixRespirationAugmentationOut</string>
					</array>
					<key>targetGain</key>
					<integer>-19</integer>
					<key>time</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>duration</key>
					<integer>8</integer>
					<key>mixers</key>
					<array>
						<string>MixRespiration</string>
					</array>
					<key>targetGain</key>
					<integer>-13</integer>
					<key>time</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>duration</key>
					<integer>8</integer>
					<key>mixers</key>
					<array>
						<string>MixRespirationAugmentationIn</string>
						<string>MixRespirationAugmentationOut</string>
					</array>
					<key>targetGain</key>
					<integer>-60</integer>
					<key>time</key>
					<integer>8</integer>
				</dict>
			</array>
		</dict>
		<key>crossfade</key>
		<dict>
			<key>keyframes</key>
			<array>
				<dict>
					<key>duration</key>
					<integer>7</integer>
					<key>mixers</key>
					<array>
						<string>MixRespirationAugmentationIn</string>
						<string>MixRespirationAugmentationOut</string>
					</array>
					<key>targetGain</key>
					<integer>-20</integer>
					<key>time</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>duration</key>
					<integer>7</integer>
					<key>mixers</key>
					<array>
						<string>MixRespiration</string>
					</array>
					<key>targetGain</key>
					<integer>-18</integer>
					<key>time</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>duration</key>
					<integer>7</integer>
					<key>mixers</key>
					<array>
						<string>MixRespirationAugmentationIn</string>
						<string>MixRespirationAugmentationOut</string>
					</array>
					<key>targetGain</key>
					<integer>-60</integer>
					<key>time</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>duration</key>
					<integer>7</integer>
					<key>mixers</key>
					<array>
						<string>MixRespiration</string>
					</array>
					<key>targetGain</key>
					<integer>-13</integer>
					<key>time</key>
					<integer>21</integer>
				</dict>
			</array>
		</dict>
		<key>swell</key>
		<dict>
			<key>keyframes</key>
			<array>
				<dict>
					<key>duration</key>
					<integer>10</integer>
					<key>mixers</key>
					<array>
						<string>MixRespiration</string>
					</array>
					<key>targetGain</key>
					<integer>-7</integer>
					<key>time</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>duration</key>
					<integer>20</integer>
					<key>mixers</key>
					<array>
						<string>MixRespiration</string>
					</array>
					<key>targetGain</key>
					<integer>-13</integer>
					<key>time</key>
					<integer>10</integer>
				</dict>
			</array>
		</dict>
		<key>trapezoid</key>
		<dict>
			<key>keyframes</key>
			<array>
				<dict>
					<key>duration</key>
					<integer>15</integer>
					<key>mixers</key>
					<array>
						<string>MixRespirationAugmentationIn</string>
						<string>MixRespirationAugmentationOut</string>
					</array>
					<key>targetGain</key>
					<integer>-17</integer>
					<key>time</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>duration</key>
					<integer>15</integer>
					<key>mixers</key>
					<array>
						<string>MixRespirationAugmentationIn</string>
						<string>MixRespirationAugmentationOut</string>
					</array>
					<key>targetGain</key>
					<integer>-60</integer>
					<key>time</key>
					<real>30</real>
				</dict>
			</array>
		</dict>
		<key>wave</key>
		<dict>
			<key>keyframes</key>
			<array>
				<dict>
					<key>duration</key>
					<integer>37</integer>
					<key>mixers</key>
					<array>
						<string>MixRespirationAugmentationIn</string>
						<string>MixRespirationAugmentationOut</string>
					</array>
					<key>targetGain</key>
					<integer>-17</integer>
					<key>time</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>duration</key>
					<integer>37</integer>
					<key>mixers</key>
					<array>
						<string>MixRespirationAugmentationIn</string>
						<string>MixRespirationAugmentationOut</string>
					</array>
					<key>targetGain</key>
					<integer>-60</integer>
					<key>time</key>
					<real>37.5</real>
				</dict>
			</array>
		</dict>
	</dict>
	<key>respirationSourceID</key>
	<string>respiration</string>
	<key>sources</key>
	<array>
		<string>respiration</string>
	</array>
</dict>
</plist>
