<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resources</key>
	<dict>
		<key>ChristianHoward_Sample</key>
		<dict>
			<key>file</key>
			<string>previews/ChristianHoward/ChristianHoward_Audio_Intros_20230525_Segment_2.m4a</string>
			<key>id</key>
			<string>ChristianHoward_Sample</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixGuidance</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>JessicaSkye_Sample</key>
		<dict>
			<key>file</key>
			<string>previews/JessicaSkye/JessicaSkye_Audio_Intros_20230525_Segment_2.m4a</string>
			<key>id</key>
			<string>JessicaSkye_Sample</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixGuidance</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>augmentations</key>
		<dict>
			<key>group</key>
			<array>
				<string>augNote/1augNote.flac</string>
				<string>augNote/2augNote.flac</string>
				<string>augNote/3augNote.flac</string>
				<string>augNote/4augNote.flac</string>
				<string>augNote/5augNote.flac</string>
				<string>augNote/1augNoteLong.flac</string>
				<string>augNote/2augNoteLong.flac</string>
				<string>augNote/3augNoteLong.flac</string>
				<string>augNote/4augNoteLong.flac</string>
				<string>augNote/5augNoteLong.flac</string>
				<string>augNote/1augNoteVLong.flac</string>
				<string>augNote/2augNoteVLong.flac</string>
				<string>augNote/3augNoteVLong.flac</string>
				<string>augNote/4augNoteVLong.flac</string>
				<string>augNote/5augNoteVLong.flac</string>
			</array>
			<key>id</key>
			<string>augmentations</string>
			<key>loadStrategy</key>
			<string>stream</string>
			<key>mixerGroup</key>
			<string>MixAugmentations</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>bell</key>
		<dict>
			<key>file</key>
			<string>bell.flac</string>
			<key>id</key>
			<string>bell</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixBell</string>
			<key>priority</key>
			<integer>0</integer>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>buttonTouchDown</key>
		<dict>
			<key>calibrationDbSPL</key>
			<integer>76</integer>
			<key>file</key>
			<string>MRUIFeedbackTypebuttonWithBackgroundTouchDown.wav</string>
			<key>id</key>
			<string>buttonTouchDown</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixUI</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>exit</key>
		<dict>
			<key>file</key>
			<string>exit.flac</string>
			<key>id</key>
			<string>exit</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixEffects</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>in_1</key>
		<dict>
			<key>file</key>
			<string>breaths/in/1in.flac</string>
			<key>id</key>
			<string>in_1</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespiration</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>in_1_aug</key>
		<dict>
			<key>file</key>
			<string>breaths/inAug/1inAug.flac</string>
			<key>id</key>
			<string>in_1_aug</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationIn</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>in_2</key>
		<dict>
			<key>file</key>
			<string>breaths/in/2in.flac</string>
			<key>id</key>
			<string>in_2</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespiration</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>in_2_aug</key>
		<dict>
			<key>file</key>
			<string>breaths/inAug/2inAug.flac</string>
			<key>id</key>
			<string>in_2_aug</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationIn</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>in_3</key>
		<dict>
			<key>file</key>
			<string>breaths/in/3in.flac</string>
			<key>id</key>
			<string>in_3</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespiration</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>in_3_aug</key>
		<dict>
			<key>file</key>
			<string>breaths/inAug/3inAug.flac</string>
			<key>id</key>
			<string>in_3_aug</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationIn</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>in_4</key>
		<dict>
			<key>file</key>
			<string>breaths/in/4in.flac</string>
			<key>id</key>
			<string>in_4</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespiration</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>in_4_aug</key>
		<dict>
			<key>file</key>
			<string>breaths/inAug/4inAug.flac</string>
			<key>id</key>
			<string>in_4_aug</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationIn</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>intro</key>
		<dict>
			<key>file</key>
			<string>intro.flac</string>
			<key>id</key>
			<string>intro</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixEffects</string>
			<key>priority</key>
			<integer>0</integer>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>lobby</key>
		<dict>
			<key>file</key>
			<string>menuloop_quad.caf</string>
			<key>id</key>
			<string>lobby</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixLobby</string>
			<key>priority</key>
			<integer>0</integer>
			<key>shouldLoop</key>
			<true/>
		</dict>
		<key>out_1</key>
		<dict>
			<key>file</key>
			<string>breaths/out/1out.flac</string>
			<key>id</key>
			<string>out_1</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespiration</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>out_1_aug</key>
		<dict>
			<key>file</key>
			<string>breaths/outAug/1outAug.flac</string>
			<key>id</key>
			<string>out_1_aug</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationOut</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>out_2</key>
		<dict>
			<key>file</key>
			<string>breaths/out/2out.flac</string>
			<key>id</key>
			<string>out_2</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespiration</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>out_2_aug</key>
		<dict>
			<key>file</key>
			<string>breaths/outAug/2outAug.flac</string>
			<key>id</key>
			<string>out_2_aug</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationOut</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>out_3</key>
		<dict>
			<key>file</key>
			<string>breaths/out/3out.flac</string>
			<key>id</key>
			<string>out_3</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespiration</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>out_3_aug</key>
		<dict>
			<key>file</key>
			<string>breaths/outAug/3outAug.flac</string>
			<key>id</key>
			<string>out_3_aug</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationOut</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>out_4</key>
		<dict>
			<key>file</key>
			<string>breaths/out/4out.flac</string>
			<key>id</key>
			<string>out_4</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespiration</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
		<key>out_4_aug</key>
		<dict>
			<key>file</key>
			<string>breaths/outAug/4outAug.flac</string>
			<key>id</key>
			<string>out_4_aug</string>
			<key>loadStrategy</key>
			<string>preload</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationOut</string>
			<key>shouldLoop</key>
			<false/>
		</dict>
	</dict>
	<key>sources</key>
	<dict>
		<key>ambience</key>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>component</key>
			<dict>
				<key>gain</key>
				<integer>0</integer>
				<key>type</key>
				<string>ambient</string>
			</dict>
			<key>distance</key>
			<integer>0</integer>
			<key>id</key>
			<string>ambience</string>
		</dict>
		<key>augmentations</key>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>component</key>
			<dict>
				<key>gain</key>
				<integer>0</integer>
				<key>type</key>
				<string>ambient</string>
			</dict>
			<key>distance</key>
			<integer>0</integer>
			<key>id</key>
			<string>augmentations</string>
		</dict>
		<key>bell</key>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>component</key>
			<dict>
				<key>gain</key>
				<integer>0</integer>
				<key>type</key>
				<string>ambient</string>
			</dict>
			<key>distance</key>
			<integer>0</integer>
			<key>id</key>
			<string>bell</string>
		</dict>
		<key>guide</key>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>component</key>
			<dict>
				<key>directSend</key>
				<integer>0</integer>
				<key>directivity</key>
				<dict>
					<key>human</key>
					<dict/>
				</dict>
				<key>gain</key>
				<integer>-6</integer>
				<key>reverbSend</key>
				<integer>-16</integer>
				<key>type</key>
				<string>channel</string>
			</dict>
			<key>distance</key>
			<real>0.5</real>
			<key>id</key>
			<string>guide</string>
		</dict>
		<key>guide_preview</key>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>component</key>
			<dict>
				<key>directSend</key>
				<integer>0</integer>
				<key>directivity</key>
				<dict>
					<key>human</key>
					<dict/>
				</dict>
				<key>gain</key>
				<integer>-6</integer>
				<key>reverbSend</key>
				<integer>-16</integer>
				<key>type</key>
				<string>channel</string>
			</dict>
			<key>distance</key>
			<real>0.5</real>
			<key>id</key>
			<string>guide_preview</string>
		</dict>
		<key>respiration</key>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>component</key>
			<dict>
				<key>gain</key>
				<integer>-3</integer>
				<key>type</key>
				<string>ambient</string>
			</dict>
			<key>distance</key>
			<integer>0</integer>
			<key>id</key>
			<string>respiration</string>
		</dict>
		<key>ui</key>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>component</key>
			<dict>
				<key>directSend</key>
				<integer>0</integer>
				<key>directivity</key>
				<dict>
					<key>beam</key>
					<dict>
						<key>focus</key>
						<real>0.0</real>
					</dict>
				</dict>
				<key>gain</key>
				<integer>0</integer>
				<key>reverbSend</key>
				<integer>0</integer>
				<key>type</key>
				<string>spatial</string>
			</dict>
			<key>distance</key>
			<integer>0</integer>
			<key>id</key>
			<string>ui</string>
		</dict>
	</dict>
</dict>
</plist>
