<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mixerEvents</key>
	<dict>
		<key>fadeInBloomRespiration</key>
		<dict>
			<key>fadeDuration</key>
			<integer>2</integer>
			<key>gain</key>
			<integer>-6</integer>
			<key>id</key>
			<string>fadeInBloomRespiration</string>
			<key>mixerGroup</key>
			<string>MixRespiration</string>
		</dict>
		<key>fadeInBloomRespirationAugmentationIn</key>
		<dict>
			<key>fadeDuration</key>
			<integer>2</integer>
			<key>gain</key>
			<integer>-8</integer>
			<key>id</key>
			<string>fadeInBloomRespirationAugmentationIn</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationIn</string>
		</dict>
		<key>fadeInBloomRespirationAugmentationOut</key>
		<dict>
			<key>fadeDuration</key>
			<integer>2</integer>
			<key>gain</key>
			<integer>-15</integer>
			<key>id</key>
			<string>fadeInBloomRespirationAugmentationOut</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationOut</string>
		</dict>
		<key>fadeInLobby</key>
		<dict>
			<key>fadeDuration</key>
			<integer>4</integer>
			<key>gain</key>
			<integer>-8</integer>
			<key>id</key>
			<string>fadeInLobby</string>
			<key>mixerGroup</key>
			<string>MixLobby</string>
		</dict>
		<key>fadeInRespiration</key>
		<dict>
			<key>fadeDuration</key>
			<real>3</real>
			<key>gain</key>
			<integer>-9</integer>
			<key>id</key>
			<string>fadeInRespiration</string>
			<key>mixerGroup</key>
			<string>MixRespiration</string>
		</dict>
		<key>fadeOutBell</key>
		<dict>
			<key>fadeDuration</key>
			<real>0.90000000000000002</real>
			<key>gain</key>
			<integer>-60</integer>
			<key>id</key>
			<string>fadeOutBell</string>
			<key>mixerGroup</key>
			<string>MixBell</string>
		</dict>
		<key>fadeOutBellRetail</key>
		<dict>
			<key>fadeDuration</key>
			<real>0.45000000000000001</real>
			<key>gain</key>
			<integer>-60</integer>
			<key>id</key>
			<string>fadeOutBellRetail</string>
			<key>mixerGroup</key>
			<string>MixBell</string>
		</dict>
		<key>fadeOutEffects</key>
		<dict>
			<key>fadeDuration</key>
			<integer>3</integer>
			<key>gain</key>
			<integer>-60</integer>
			<key>id</key>
			<string>fadeOutEffects</string>
			<key>mixerGroup</key>
			<string>MixEffects</string>
		</dict>
		<key>fadeOutIntro</key>
		<dict>
			<key>fadeDuration</key>
			<real>0.10000000000000001</real>
			<key>gain</key>
			<integer>-60</integer>
			<key>id</key>
			<string>fadeOutIntro</string>
			<key>mixerGroup</key>
			<string>MixEffects</string>
		</dict>
		<key>fadeOutLobby</key>
		<dict>
			<key>fadeDuration</key>
			<integer>2</integer>
			<key>gain</key>
			<integer>-60</integer>
			<key>id</key>
			<string>fadeOutLobby</string>
			<key>mixerGroup</key>
			<string>MixLobby</string>
		</dict>
		<key>fadeOutLobbyQuickly</key>
		<dict>
			<key>fadeDuration</key>
			<real>0.5</real>
			<key>gain</key>
			<integer>-60</integer>
			<key>id</key>
			<string>fadeOutLobbyQuickly</string>
			<key>mixerGroup</key>
			<string>MixLobby</string>
		</dict>
		<key>fadeOutLongBloomRespiration</key>
		<dict>
			<key>fadeDuration</key>
			<integer>30</integer>
			<key>gain</key>
			<integer>-13</integer>
			<key>id</key>
			<string>fadeOutLongBloomRespiration</string>
			<key>mixerGroup</key>
			<string>MixRespiration</string>
		</dict>
		<key>fadeOutLongBloomRespirationAugmentationIn</key>
		<dict>
			<key>fadeDuration</key>
			<integer>24</integer>
			<key>gain</key>
			<integer>-60</integer>
			<key>id</key>
			<string>fadeOutLongBloomRespirationAugmentationIn</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationIn</string>
		</dict>
		<key>fadeOutLongBloomRespirationAugmentationOut</key>
		<dict>
			<key>fadeDuration</key>
			<integer>24</integer>
			<key>gain</key>
			<integer>-60</integer>
			<key>id</key>
			<string>fadeOutLongBloomRespirationAugmentationOut</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationOut</string>
		</dict>
		<key>fadeOutRespiration</key>
		<dict>
			<key>fadeDuration</key>
			<real>3</real>
			<key>gain</key>
			<integer>-60</integer>
			<key>id</key>
			<string>fadeOutRespiration</string>
			<key>mixerGroup</key>
			<string>MixRespiration</string>
		</dict>
		<key>fadeOutRespirationAugmentationIn</key>
		<dict>
			<key>fadeDuration</key>
			<real>3</real>
			<key>gain</key>
			<integer>-60</integer>
			<key>id</key>
			<string>fadeOutRespirationAugmentationIn</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationIn</string>
		</dict>
		<key>fadeOutRespirationAugmentationOut</key>
		<dict>
			<key>fadeDuration</key>
			<real>3</real>
			<key>gain</key>
			<integer>-60</integer>
			<key>id</key>
			<string>fadeOutRespirationAugmentationOut</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationOut</string>
		</dict>
		<key>fadeOutShortBloomRespiration</key>
		<dict>
			<key>fadeDuration</key>
			<integer>18</integer>
			<key>gain</key>
			<integer>-9</integer>
			<key>id</key>
			<string>fadeOutShortBloomRespiration</string>
			<key>mixerGroup</key>
			<string>MixRespiration</string>
		</dict>
		<key>fadeOutShortBloomRespirationAugmentationIn</key>
		<dict>
			<key>fadeDuration</key>
			<integer>18</integer>
			<key>gain</key>
			<integer>-12</integer>
			<key>id</key>
			<string>fadeOutShortBloomRespirationAugmentationIn</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationIn</string>
		</dict>
		<key>fadeOutShortBloomRespirationAugmentationOut</key>
		<dict>
			<key>fadeDuration</key>
			<integer>18</integer>
			<key>gain</key>
			<integer>-18</integer>
			<key>id</key>
			<string>fadeOutShortBloomRespirationAugmentationOut</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationOut</string>
		</dict>
		<key>muteLobby</key>
		<dict>
			<key>fadeDuration</key>
			<real>0.0</real>
			<key>gain</key>
			<integer>-60</integer>
			<key>id</key>
			<string>muteLobby</string>
			<key>mixerGroup</key>
			<string>MixLobby</string>
		</dict>
		<key>muteRespiration</key>
		<dict>
			<key>fadeDuration</key>
			<real>0.0</real>
			<key>gain</key>
			<integer>-60</integer>
			<key>id</key>
			<string>muteRespiration</string>
			<key>mixerGroup</key>
			<string>MixRespiration</string>
		</dict>
		<key>muteRespirationAugmentationIn</key>
		<dict>
			<key>fadeDuration</key>
			<real>0.0</real>
			<key>gain</key>
			<integer>-60</integer>
			<key>id</key>
			<string>muteRespirationAugmentationIn</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationIn</string>
		</dict>
		<key>muteRespirationAugmentationOut</key>
		<dict>
			<key>fadeDuration</key>
			<real>0.0</real>
			<key>gain</key>
			<integer>-60</integer>
			<key>id</key>
			<string>muteRespirationAugmentationOut</string>
			<key>mixerGroup</key>
			<string>MixRespirationAugmentationOut</string>
		</dict>
		<key>unmuteBell</key>
		<dict>
			<key>fadeDuration</key>
			<integer>0</integer>
			<key>gain</key>
			<integer>-4</integer>
			<key>id</key>
			<string>unmuteBell</string>
			<key>mixerGroup</key>
			<string>MixBell</string>
		</dict>
		<key>unmuteEffects</key>
		<dict>
			<key>fadeDuration</key>
			<integer>0</integer>
			<key>gain</key>
			<integer>0</integer>
			<key>id</key>
			<string>unmuteEffects</string>
			<key>mixerGroup</key>
			<string>MixEffects</string>
		</dict>
		<key>unmuteRespiration</key>
		<dict>
			<key>fadeDuration</key>
			<integer>0</integer>
			<key>gain</key>
			<integer>0</integer>
			<key>id</key>
			<string>unmuteRespiration</string>
			<key>mixerGroup</key>
			<string>MixRespiration</string>
		</dict>
	</dict>
	<key>playbackEvents</key>
	<dict>
		<key>bell</key>
		<dict>
			<key>association</key>
			<dict>
				<key>resourceID</key>
				<string>bell</string>
				<key>sourceID</key>
				<string>bell</string>
			</dict>
			<key>directSend</key>
			<integer>0</integer>
			<key>fadeDuration</key>
			<integer>0</integer>
			<key>gain</key>
			<integer>0</integer>
			<key>id</key>
			<string>bell</string>
			<key>playback</key>
			<string>play</string>
			<key>reverbSend</key>
			<integer>0</integer>
		</dict>
		<key>bellStop</key>
		<dict>
			<key>association</key>
			<dict>
				<key>resourceID</key>
				<string>bell</string>
				<key>sourceID</key>
				<string>bell</string>
			</dict>
			<key>directSend</key>
			<integer>0</integer>
			<key>fadeDuration</key>
			<integer>0</integer>
			<key>gain</key>
			<integer>0</integer>
			<key>id</key>
			<string>bellStop</string>
			<key>playback</key>
			<string>stop</string>
			<key>reverbSend</key>
			<integer>0</integer>
		</dict>
		<key>exit</key>
		<dict>
			<key>association</key>
			<dict>
				<key>resourceID</key>
				<string>exit</string>
				<key>sourceID</key>
				<string>ambience</string>
			</dict>
			<key>directSend</key>
			<integer>0</integer>
			<key>fadeDuration</key>
			<real>0.0</real>
			<key>gain</key>
			<integer>0</integer>
			<key>id</key>
			<string>exit</string>
			<key>playback</key>
			<string>play</string>
			<key>reverbSend</key>
			<integer>0</integer>
		</dict>
		<key>exitStop</key>
		<dict>
			<key>association</key>
			<dict>
				<key>resourceID</key>
				<string>exit</string>
				<key>sourceID</key>
				<string>ambience</string>
			</dict>
			<key>directSend</key>
			<integer>0</integer>
			<key>fadeDuration</key>
			<real>0.0</real>
			<key>gain</key>
			<integer>0</integer>
			<key>id</key>
			<string>exit</string>
			<key>playback</key>
			<string>stop</string>
			<key>reverbSend</key>
			<integer>0</integer>
		</dict>
		<key>intro</key>
		<dict>
			<key>association</key>
			<dict>
				<key>resourceID</key>
				<string>intro</string>
				<key>sourceID</key>
				<string>ambience</string>
			</dict>
			<key>directSend</key>
			<integer>0</integer>
			<key>fadeDuration</key>
			<integer>0</integer>
			<key>gain</key>
			<integer>-4</integer>
			<key>id</key>
			<string>intro</string>
			<key>playback</key>
			<string>play</string>
			<key>reverbSend</key>
			<integer>0</integer>
		</dict>
		<key>introStop</key>
		<dict>
			<key>association</key>
			<dict>
				<key>resourceID</key>
				<string>intro</string>
				<key>sourceID</key>
				<string>ambience</string>
			</dict>
			<key>directSend</key>
			<integer>0</integer>
			<key>fadeDuration</key>
			<integer>0</integer>
			<key>gain</key>
			<integer>0</integer>
			<key>id</key>
			<string>introStop</string>
			<key>playback</key>
			<string>stop</string>
			<key>reverbSend</key>
			<integer>0</integer>
		</dict>
		<key>lobbyStart</key>
		<dict>
			<key>association</key>
			<dict>
				<key>resourceID</key>
				<string>lobby</string>
				<key>sourceID</key>
				<string>ambience</string>
			</dict>
			<key>directSend</key>
			<integer>0</integer>
			<key>fadeDuration</key>
			<integer>0</integer>
			<key>gain</key>
			<integer>0</integer>
			<key>id</key>
			<string>lobbyStart</string>
			<key>playback</key>
			<string>play</string>
			<key>reverbSend</key>
			<integer>0</integer>
		</dict>
		<key>lobbyStop</key>
		<dict>
			<key>association</key>
			<dict>
				<key>resourceID</key>
				<string>lobby</string>
				<key>sourceID</key>
				<string>ambience</string>
			</dict>
			<key>directSend</key>
			<integer>0</integer>
			<key>fadeDuration</key>
			<integer>0</integer>
			<key>gain</key>
			<integer>0</integer>
			<key>id</key>
			<string>lobbyStop</string>
			<key>playback</key>
			<string>stop</string>
			<key>reverbSend</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>repeatingEvents</key>
	<dict>
		<key>startRandomAugmentations</key>
		<dict>
			<key>association</key>
			<dict>
				<key>resourceID</key>
				<string>augmentations</string>
				<key>sourceID</key>
				<string>augmentations</string>
			</dict>
			<key>directSend</key>
			<integer>0</integer>
			<key>fadeDuration</key>
			<integer>0</integer>
			<key>fireTimeCadence</key>
			<integer>10</integer>
			<key>fireTimeOddsDenominator</key>
			<integer>3</integer>
			<key>fireTimeVariation</key>
			<integer>0</integer>
			<key>gain</key>
			<integer>-17</integer>
			<key>id</key>
			<string>startRandomAugmentations</string>
			<key>playback</key>
			<string>play</string>
			<key>reverbSend</key>
			<integer>0</integer>
		</dict>
		<key>stopRandomAugmentations</key>
		<dict>
			<key>association</key>
			<dict>
				<key>resourceID</key>
				<string>augmentations</string>
				<key>sourceID</key>
				<string>augmentations</string>
			</dict>
			<key>directSend</key>
			<integer>0</integer>
			<key>fadeDuration</key>
			<real>0.0</real>
			<key>fireTimeCadence</key>
			<integer>10</integer>
			<key>fireTimeOddsDenominator</key>
			<integer>3</integer>
			<key>fireTimeVariation</key>
			<integer>0</integer>
			<key>gain</key>
			<integer>0</integer>
			<key>id</key>
			<string>stopRandomAugmentations</string>
			<key>playback</key>
			<string>stop</string>
			<key>reverbSend</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
