<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scriptID</key>
		<string>Awareness</string>
		<key>scriptVariant</key>
		<integer>1</integer>
		<key>vfxConfigID</key>
		<string>config-default</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Calm</string>
		<key>scriptVariant</key>
		<integer>1</integer>
		<key>vfxConfigID</key>
		<string>unknown-18</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Creativity</string>
		<key>scriptVariant</key>
		<integer>1</integer>
		<key>vfxConfigID</key>
		<string>asym-02</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Focus</string>
		<key>scriptVariant</key>
		<integer>1</integer>
		<key>vfxConfigID</key>
		<string>bulb-12-4-5</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Gratitude</string>
		<key>scriptVariant</key>
		<integer>1</integer>
		<key>vfxConfigID</key>
		<string>sunflower-06-b</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Kindness</string>
		<key>scriptVariant</key>
		<integer>1</integer>
		<key>vfxConfigID</key>
		<string>unknown-15</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Purpose</string>
		<key>scriptVariant</key>
		<integer>1</integer>
		<key>vfxConfigID</key>
		<string>unknown-41</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Resilience</string>
		<key>scriptVariant</key>
		<integer>1</integer>
		<key>vfxConfigID</key>
		<string>plum-02</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Wisdom</string>
		<key>scriptVariant</key>
		<integer>1</integer>
		<key>vfxConfigID</key>
		<string>blue-jellyfish</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Awareness</string>
		<key>scriptVariant</key>
		<integer>2</integer>
		<key>vfxConfigID</key>
		<string>asym-04</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Calm</string>
		<key>scriptVariant</key>
		<integer>2</integer>
		<key>vfxConfigID</key>
		<string>bulb-12-4-8</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Creativity</string>
		<key>scriptVariant</key>
		<integer>2</integer>
		<key>vfxConfigID</key>
		<string>banana-02-b</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Focus</string>
		<key>scriptVariant</key>
		<integer>2</integer>
		<key>vfxConfigID</key>
		<string>kauai-bent-orange</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Gratitude</string>
		<key>scriptVariant</key>
		<integer>2</integer>
		<key>vfxConfigID</key>
		<string>kauai-bent-05-i</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Kindness</string>
		<key>scriptVariant</key>
		<integer>2</integer>
		<key>vfxConfigID</key>
		<string>asym-05</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Purpose</string>
		<key>scriptVariant</key>
		<integer>2</integer>
		<key>vfxConfigID</key>
		<string>bulb-01</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Resilience</string>
		<key>scriptVariant</key>
		<integer>2</integer>
		<key>vfxConfigID</key>
		<string>orange-pink-blue-muted-10</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Wisdom</string>
		<key>scriptVariant</key>
		<integer>2</integer>
		<key>vfxConfigID</key>
		<string>asym-06</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Awareness</string>
		<key>scriptVariant</key>
		<integer>3</integer>
		<key>vfxConfigID</key>
		<string>unknown-32</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Calm</string>
		<key>scriptVariant</key>
		<integer>3</integer>
		<key>vfxConfigID</key>
		<string>asym-08</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Creativity</string>
		<key>scriptVariant</key>
		<integer>3</integer>
		<key>vfxConfigID</key>
		<string>kauai-bend-06-i</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Focus</string>
		<key>scriptVariant</key>
		<integer>3</integer>
		<key>vfxConfigID</key>
		<string>unknown-01</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Gratitude</string>
		<key>scriptVariant</key>
		<integer>3</integer>
		<key>vfxConfigID</key>
		<string>bulb-07</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Kindness</string>
		<key>scriptVariant</key>
		<integer>3</integer>
		<key>vfxConfigID</key>
		<string>unknown-04</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Purpose</string>
		<key>scriptVariant</key>
		<integer>3</integer>
		<key>vfxConfigID</key>
		<string>asym-07</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Resilience</string>
		<key>scriptVariant</key>
		<integer>3</integer>
		<key>vfxConfigID</key>
		<string>bulb-04-b</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Wisdom</string>
		<key>scriptVariant</key>
		<integer>3</integer>
		<key>vfxConfigID</key>
		<string>banana-01</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Awareness</string>
		<key>scriptVariant</key>
		<integer>4</integer>
		<key>vfxConfigID</key>
		<string>bulb-02-b</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Calm</string>
		<key>scriptVariant</key>
		<integer>4</integer>
		<key>vfxConfigID</key>
		<string>unknown-16v</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Creativity</string>
		<key>scriptVariant</key>
		<integer>4</integer>
		<key>vfxConfigID</key>
		<string>bulb-12-1</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Focus</string>
		<key>scriptVariant</key>
		<integer>4</integer>
		<key>vfxConfigID</key>
		<string>bulb-06-a</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Gratitude</string>
		<key>scriptVariant</key>
		<integer>4</integer>
		<key>vfxConfigID</key>
		<string>kauai-bend-02-b</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Kindness</string>
		<key>scriptVariant</key>
		<integer>4</integer>
		<key>vfxConfigID</key>
		<string>unknown-43</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Purpose</string>
		<key>scriptVariant</key>
		<integer>4</integer>
		<key>vfxConfigID</key>
		<string>bulb-06</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Resilience</string>
		<key>scriptVariant</key>
		<integer>4</integer>
		<key>vfxConfigID</key>
		<string>bulb-11</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Wisdom</string>
		<key>scriptVariant</key>
		<integer>4</integer>
		<key>vfxConfigID</key>
		<string>unknown-12</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Awareness</string>
		<key>scriptVariant</key>
		<integer>5</integer>
		<key>vfxConfigID</key>
		<string>bulb-12-4-4</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Calm</string>
		<key>scriptVariant</key>
		<integer>5</integer>
		<key>vfxConfigID</key>
		<string>bulb-12-3</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Creativity</string>
		<key>scriptVariant</key>
		<integer>5</integer>
		<key>vfxConfigID</key>
		<string>kauai-blue-04-i-d</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Focus</string>
		<key>scriptVariant</key>
		<integer>5</integer>
		<key>vfxConfigID</key>
		<string>bulb-12-2</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Gratitude</string>
		<key>scriptVariant</key>
		<integer>5</integer>
		<key>vfxConfigID</key>
		<string>long-leaf-05</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Kindness</string>
		<key>scriptVariant</key>
		<integer>5</integer>
		<key>vfxConfigID</key>
		<string>bulb-10-a</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Purpose</string>
		<key>scriptVariant</key>
		<integer>5</integer>
		<key>vfxConfigID</key>
		<string>petal-02</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Resilience</string>
		<key>scriptVariant</key>
		<integer>5</integer>
		<key>vfxConfigID</key>
		<string>bulb-12-4-1</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Wisdom</string>
		<key>scriptVariant</key>
		<integer>5</integer>
		<key>vfxConfigID</key>
		<string>unknown-10</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Awareness</string>
		<key>scriptVariant</key>
		<integer>6</integer>
		<key>vfxConfigID</key>
		<string>unknown-05</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Calm</string>
		<key>scriptVariant</key>
		<integer>6</integer>
		<key>vfxConfigID</key>
		<string>playground-xx-03-c-g</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Creativity</string>
		<key>scriptVariant</key>
		<integer>6</integer>
		<key>vfxConfigID</key>
		<string>unknown-14</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Focus</string>
		<key>scriptVariant</key>
		<integer>6</integer>
		<key>vfxConfigID</key>
		<string>config-default-12-4-5</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Gratitude</string>
		<key>scriptVariant</key>
		<integer>6</integer>
		<key>vfxConfigID</key>
		<string>bulb-12-4-5-a</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Kindness</string>
		<key>scriptVariant</key>
		<integer>6</integer>
		<key>vfxConfigID</key>
		<string>unknown-40</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Purpose</string>
		<key>scriptVariant</key>
		<integer>6</integer>
		<key>vfxConfigID</key>
		<string>unknown-20-a</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Resilience</string>
		<key>scriptVariant</key>
		<integer>6</integer>
		<key>vfxConfigID</key>
		<string>config-default-12-4-5-a</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Wisdom</string>
		<key>scriptVariant</key>
		<integer>6</integer>
		<key>vfxConfigID</key>
		<string>unknown-25</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Awareness</string>
		<key>scriptVariant</key>
		<integer>7</integer>
		<key>vfxConfigID</key>
		<string>unknown-27</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Calm</string>
		<key>scriptVariant</key>
		<integer>7</integer>
		<key>vfxConfigID</key>
		<string>bulb-04-i-a</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Focus</string>
		<key>scriptVariant</key>
		<integer>7</integer>
		<key>vfxConfigID</key>
		<string>unknown-11</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Gratitude</string>
		<key>scriptVariant</key>
		<integer>7</integer>
		<key>vfxConfigID</key>
		<string>bulb-03</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Kindness</string>
		<key>scriptVariant</key>
		<integer>7</integer>
		<key>vfxConfigID</key>
		<string>asym-03</string>
	</dict>
	<dict>
		<key>scriptID</key>
		<string>Purpose</string>
		<key>scriptVariant</key>
		<integer>7</integer>
		<key>vfxConfigID</key>
		<string>config-default-12-4-4</string>
	</dict>
</array>
</plist>
