<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Mindfulness</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<string>AppIcon</string>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Mind</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Mindfulness</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>XROS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>168.40.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>xros</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23N37</string>
	<key>DTSDKName</key>
	<string>xros26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>INIntentsSupported</key>
	<array>
		<string>INStartWorkoutIntent</string>
		<string>INEndWorkoutIntent</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSAccentColorName</key>
	<string>AccentColor</string>
	<key>NSHandsTrackingUsageDescription</key>
	<string>Hand tracking data includes hand skeleton, wrist, and forearm.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We help you keep track of your mindful minutes from all sources.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We use mindful minutes to help you keep track of all your meditation activity.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INEndWorkoutIntent</string>
		<string>INStartWorkoutIntent</string>
		<string>com.apple.Mindfulness.startSession</string>
		<string>com.apple.Mindfulness.endSession</string>
	</array>
	<key>SBAppTags</key>
	<array/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>7</integer>
	</array>
	<key>UILaunchPlacementParameters</key>
	<dict>
		<key>PreferredLaunchSize</key>
		<dict>
			<key>Height</key>
			<integer>608</integer>
			<key>Width</key>
			<integer>610</integer>
		</dict>
		<key>_PreferredChromeOptions</key>
		<array>
			<string>_UlSceneChromeOptionsPlacement</string>
			<string>_UlSceneChromeOptionsClose</string>
			<string>_UlSceneChromeOptionsTitlebar</string>
		</array>
	</dict>
	<key>UINativeSizeClass</key>
	<integer>1</integer>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
