<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AEBookPlugins.Annotations</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>AEBookPlugins.Audiobook</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>Analytics</key>
	<dict>
		<key>Enable-Oversize-Messages</key>
		<true/>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
		</dict>
	</dict>
	<key>BCCardStackOSSignpostLog</key>
	<dict>
		<key>Signpost-Scope</key>
		<string>Process</string>
	</dict>
	<key>BCCommonCore.CloudKit</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>BCCommonCore.ProgressKit</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>BCCommonCore.ReadingStatistics</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>BKMobile.CloudSync</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>BKMobile.CloudSync.Annotations</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>BKMobile.CloudSync.Annotations.Performance</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>BKMobile.CloudSync.Collections</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>BookCore.CardModel</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>BookCore.CloudSync</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>BookCore.ProgressKit</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>BookPromotion</key>
	<dict>
		<key>TTL</key>
		<dict>
			<key>Default</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>BooksClient</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Debug</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>Default</key>
			<integer>14</integer>
			<key>Info</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>CurrentBook</key>
	<dict>
		<key>TTL</key>
		<dict>
			<key>Default</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>DEFAULT-OPTIONS</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Inherit</string>
			<key>Persist</key>
			<string>Inherit</string>
		</dict>
	</dict>
	<key>TemplateUI.Hosting</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>TemplateUI.InstallBundle</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>iBooks.ATAsset</key>
	<dict>
		<key>TTL</key>
		<dict>
			<key>Default</key>
			<integer>14</integer>
			<key>Info</key>
			<integer>7</integer>
		</dict>
	</dict>
</dict>
</plist>
