<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddToCollectionEvent</key>
	<dict>
		<key>case</key>
		<array>
			<dict>
				<key>arguments</key>
				<dict>
					<key>assetID</key>
					<dict>
						<key>path</key>
						<array>
							<string>contentData</string>
							<string>contentID</string>
						</array>
					</dict>
					<key>timestamp</key>
					<dict>
						<key>path</key>
						<array>
							<string>eventData</string>
							<string>eventTimestamp</string>
						</array>
						<key>transformationType</key>
						<string>unixMilliseconds</string>
					</dict>
				</dict>
				<key>engagementEventName</key>
				<string>downloadSample</string>
				<key>filterPath</key>
				<array>
					<string>collectionData</string>
					<string>collectionID</string>
				</array>
				<key>filterValues</key>
				<array>
					<string>Samples_Collection_ID</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>ContentDetailsViewEvent</key>
	<dict>
		<key>case</key>
		<array>
			<dict>
				<key>arguments</key>
				<dict>
					<key>assetID</key>
					<dict>
						<key>path</key>
						<array>
							<string>contentData</string>
							<string>contentID</string>
						</array>
					</dict>
					<key>timestamp</key>
					<dict>
						<key>path</key>
						<array>
							<string>eventData</string>
							<string>eventTimestamp</string>
						</array>
						<key>transformationType</key>
						<string>unixMilliseconds</string>
					</dict>
				</dict>
				<key>engagementEventName</key>
				<string>bookProductPageImpression</string>
				<key>filterPath</key>
				<array>
					<string>timedData</string>
					<string>duration</string>
				</array>
				<key>filterValues</key>
				<array>
					<dict>
						<key>expression</key>
						<dict>
							<key>greater-than</key>
							<integer>3000</integer>
						</dict>
					</dict>
				</array>
				<key>pseudoArguments</key>
				<dict>
					<key>weRecommended</key>
					<dict/>
				</dict>
			</dict>
		</array>
	</dict>
	<key>ContentExposureEvent</key>
	<dict>
		<key>case</key>
		<array>
			<dict>
				<key>arguments</key>
				<dict>
					<key>assetID</key>
					<dict>
						<key>path</key>
						<array>
							<string>contentData</string>
							<string>contentID</string>
						</array>
						<key>postFilter</key>
						<string>isNotSideloadedAssetID</string>
					</dict>
					<key>timestamp</key>
					<dict>
						<key>path</key>
						<array>
							<string>eventData</string>
							<string>eventTimestamp</string>
						</array>
						<key>transformationType</key>
						<string>unixMilliseconds</string>
					</dict>
				</dict>
				<key>engagementEventName</key>
				<string>bookImpression</string>
				<key>filterPath</key>
				<array>
					<string>timedData</string>
					<string>duration</string>
				</array>
				<key>filterValues</key>
				<array>
					<dict>
						<key>expression</key>
						<dict>
							<key>greater-than</key>
							<integer>3000</integer>
						</dict>
					</dict>
				</array>
				<key>pseudoArguments</key>
				<dict>
					<key>weRecommended</key>
					<dict/>
				</dict>
			</dict>
		</array>
	</dict>
	<key>DislikeEvent</key>
	<dict>
		<key>arguments</key>
		<dict>
			<key>assetID</key>
			<dict>
				<key>path</key>
				<array>
					<string>contentData</string>
					<string>contentID</string>
				</array>
			</dict>
			<key>timestamp</key>
			<dict>
				<key>path</key>
				<array>
					<string>eventData</string>
					<string>eventTimestamp</string>
				</array>
				<key>transformationType</key>
				<string>unixMilliseconds</string>
			</dict>
		</dict>
		<key>engagementEventName</key>
		<string>suggestLess</string>
	</dict>
	<key>ExplicitDeclineEvent</key>
	<dict>
		<key>arguments</key>
		<dict>
			<key>assetID</key>
			<dict>
				<key>path</key>
				<array>
					<string>contentData</string>
					<string>contentID</string>
				</array>
			</dict>
			<key>timestamp</key>
			<dict>
				<key>path</key>
				<array>
					<string>eventData</string>
					<string>eventTimestamp</string>
				</array>
				<key>transformationType</key>
				<string>unixMilliseconds</string>
			</dict>
		</dict>
		<key>engagementEventName</key>
		<string>explicitDecline</string>
	</dict>
	<key>HideBookEvent</key>
	<dict>
		<key>arguments</key>
		<dict>
			<key>assetID</key>
			<dict>
				<key>path</key>
				<array>
					<string>contentData</string>
					<string>contentID</string>
				</array>
			</dict>
			<key>timestamp</key>
			<dict>
				<key>path</key>
				<array>
					<string>eventData</string>
					<string>eventTimestamp</string>
				</array>
				<key>transformationType</key>
				<string>unixMilliseconds</string>
			</dict>
		</dict>
		<key>engagementEventName</key>
		<string>hideBook</string>
	</dict>
	<key>LoveEvent</key>
	<dict>
		<key>arguments</key>
		<dict>
			<key>assetID</key>
			<dict>
				<key>path</key>
				<array>
					<string>contentData</string>
					<string>contentID</string>
				</array>
			</dict>
			<key>timestamp</key>
			<dict>
				<key>path</key>
				<array>
					<string>eventData</string>
					<string>eventTimestamp</string>
				</array>
				<key>transformationType</key>
				<string>unixMilliseconds</string>
			</dict>
		</dict>
		<key>engagementEventName</key>
		<string>suggestMore</string>
	</dict>
	<key>MarkAsFinishedEvent</key>
	<dict>
		<key>arguments</key>
		<dict>
			<key>assetID</key>
			<dict>
				<key>path</key>
				<array>
					<string>contentData</string>
					<string>contentID</string>
				</array>
			</dict>
			<key>mechanism</key>
			<dict>
				<key>path</key>
				<array>
					<string>contentData</string>
					<string>contentType</string>
				</array>
				<key>transformationType</key>
				<string>markAsFinishedLocation</string>
			</dict>
			<key>timestamp</key>
			<dict>
				<key>path</key>
				<array>
					<string>eventData</string>
					<string>eventTimestamp</string>
				</array>
				<key>transformationType</key>
				<string>unixMilliseconds</string>
			</dict>
		</dict>
		<key>engagementEventName</key>
		<string>markAsFinished</string>
	</dict>
	<key>PlayEvent</key>
	<dict>
		<key>case</key>
		<array>
			<dict>
				<key>arguments</key>
				<dict>
					<key>assetID</key>
					<dict>
						<key>path</key>
						<array>
							<string>contentData</string>
							<string>contentID</string>
						</array>
					</dict>
					<key>isSample</key>
					<dict>
						<key>path</key>
						<array>
							<string>listeningSessionData</string>
							<string>isPreview</string>
						</array>
					</dict>
					<key>progress</key>
					<dict>
						<key>path</key>
						<array>
							<string>listeningSessionData</string>
							<string>percentCompletionEnd</string>
						</array>
						<key>transformationType</key>
						<string>percentNormalization</string>
					</dict>
					<key>timestamp</key>
					<dict>
						<key>path</key>
						<array>
							<string>eventData</string>
							<string>eventTimestamp</string>
						</array>
						<key>transformationType</key>
						<string>unixMilliseconds</string>
					</dict>
				</dict>
				<key>engagementEventName</key>
				<string>audiobookWasPlayed</string>
				<key>filterPath</key>
				<array>
					<string>contentData</string>
					<string>contentAcquisitionType</string>
				</array>
				<key>filterValues</key>
				<array>
					<string>storeBought</string>
				</array>
			</dict>
			<dict>
				<key>arguments</key>
				<dict>
					<key>assetID</key>
					<dict>
						<key>path</key>
						<array>
							<string>contentData</string>
							<string>contentID</string>
						</array>
					</dict>
					<key>isSample</key>
					<dict>
						<key>path</key>
						<array>
							<string>listeningSessionData</string>
							<string>isPreview</string>
						</array>
					</dict>
					<key>progress</key>
					<dict>
						<key>path</key>
						<array>
							<string>listeningSessionData</string>
							<string>percentCompletionEnd</string>
						</array>
						<key>transformationType</key>
						<string>percentNormalization</string>
					</dict>
					<key>timestamp</key>
					<dict>
						<key>path</key>
						<array>
							<string>eventData</string>
							<string>eventTimestamp</string>
						</array>
						<key>transformationType</key>
						<string>unixMilliseconds</string>
					</dict>
				</dict>
				<key>engagementEventName</key>
				<string>audiobookWasPlayed</string>
				<key>filterPath</key>
				<array>
					<string>listeningSessionData</string>
					<string>isPreview</string>
				</array>
				<key>filterValues</key>
				<array>
					<true/>
				</array>
			</dict>
		</array>
	</dict>
	<key>RatingEvent</key>
	<dict>
		<key>arguments</key>
		<dict>
			<key>assetID</key>
			<dict>
				<key>path</key>
				<array>
					<string>contentData</string>
					<string>contentID</string>
				</array>
			</dict>
			<key>rating</key>
			<dict>
				<key>path</key>
				<array>
					<string>ratingData</string>
					<string>rating</string>
				</array>
				<key>transformationType</key>
				<string>ratingNormalization</string>
			</dict>
			<key>timestamp</key>
			<dict>
				<key>path</key>
				<array>
					<string>eventData</string>
					<string>eventTimestamp</string>
				</array>
				<key>transformationType</key>
				<string>unixMilliseconds</string>
			</dict>
		</dict>
		<key>engagementEventName</key>
		<string>rating</string>
	</dict>
	<key>ReadEvent</key>
	<dict>
		<key>case</key>
		<array>
			<dict>
				<key>arguments</key>
				<dict>
					<key>assetID</key>
					<dict>
						<key>path</key>
						<array>
							<string>contentData</string>
							<string>contentID</string>
						</array>
					</dict>
					<key>isSample</key>
					<dict>
						<key>path</key>
						<array>
							<string>readingSessionData</string>
							<string>isFreeSample</string>
						</array>
					</dict>
					<key>progress</key>
					<dict>
						<key>path</key>
						<array>
							<string>readingSessionData</string>
							<string>percentCompletionEnd</string>
						</array>
					</dict>
					<key>timestamp</key>
					<dict>
						<key>path</key>
						<array>
							<string>eventData</string>
							<string>eventTimestamp</string>
						</array>
						<key>transformationType</key>
						<string>unixMilliseconds</string>
					</dict>
				</dict>
				<key>engagementEventName</key>
				<string>bookWasRead</string>
				<key>filterPath</key>
				<array>
					<string>contentData</string>
					<string>contentAcquisitionType</string>
				</array>
				<key>filterValues</key>
				<array>
					<string>storeBought</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>RemoveFromCollectionEvent</key>
	<dict>
		<key>case</key>
		<array>
			<dict>
				<key>arguments</key>
				<dict>
					<key>assetID</key>
					<dict>
						<key>path</key>
						<array>
							<string>contentData</string>
							<string>contentID</string>
						</array>
					</dict>
					<key>timestamp</key>
					<dict>
						<key>path</key>
						<array>
							<string>eventData</string>
							<string>eventTimestamp</string>
						</array>
						<key>transformationType</key>
						<string>unixMilliseconds</string>
					</dict>
				</dict>
				<key>engagementEventName</key>
				<string>removeSample</string>
				<key>filterPath</key>
				<array>
					<string>collectionData</string>
					<string>collectionID</string>
				</array>
				<key>filterValues</key>
				<array>
					<string>Samples_Collection_ID</string>
				</array>
			</dict>
			<dict>
				<key>arguments</key>
				<dict>
					<key>assetID</key>
					<dict>
						<key>path</key>
						<array>
							<string>contentData</string>
							<string>contentID</string>
						</array>
					</dict>
					<key>timestamp</key>
					<dict>
						<key>path</key>
						<array>
							<string>eventData</string>
							<string>eventTimestamp</string>
						</array>
						<key>transformationType</key>
						<string>unixMilliseconds</string>
					</dict>
				</dict>
				<key>engagementEventName</key>
				<string>markAsStillReading</string>
				<key>filterPath</key>
				<array>
					<string>collectionData</string>
					<string>collectionID</string>
				</array>
				<key>filterValues</key>
				<array>
					<string>Finished_Collection_ID</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>RemoveFromWantListEvent</key>
	<dict>
		<key>arguments</key>
		<dict>
			<key>assetID</key>
			<dict>
				<key>path</key>
				<array>
					<string>wantListRemovalData</string>
					<string>removalSummary</string>
					<string>*</string>
					<string>contentID</string>
				</array>
				<key>postFilter</key>
				<string>isStoreAssetID</string>
			</dict>
			<key>timestamp</key>
			<dict>
				<key>path</key>
				<array>
					<string>eventData</string>
					<string>eventTimestamp</string>
				</array>
				<key>transformationType</key>
				<string>unixMilliseconds</string>
			</dict>
		</dict>
		<key>engagementEventName</key>
		<string>removeFromWantToRead</string>
	</dict>
	<key>RemoveReviewAndRatingEvent</key>
	<dict>
		<key>arguments</key>
		<dict>
			<key>assetID</key>
			<dict>
				<key>path</key>
				<array>
					<string>contentData</string>
					<string>contentID</string>
				</array>
			</dict>
			<key>timestamp</key>
			<dict>
				<key>path</key>
				<array>
					<string>eventData</string>
					<string>eventTimestamp</string>
				</array>
				<key>transformationType</key>
				<string>unixMilliseconds</string>
			</dict>
		</dict>
		<key>engagementEventName</key>
		<string>unrate</string>
	</dict>
	<key>RemoveSuggestionCardEvent</key>
	<dict>
		<key>arguments</key>
		<dict>
			<key>assetID</key>
			<dict>
				<key>path</key>
				<array>
					<string>contentData</string>
					<string>contentID</string>
				</array>
			</dict>
			<key>timestamp</key>
			<dict>
				<key>path</key>
				<array>
					<string>eventData</string>
					<string>eventTimestamp</string>
				</array>
				<key>transformationType</key>
				<string>unixMilliseconds</string>
			</dict>
		</dict>
		<key>engagementEventName</key>
		<string>explicitDecline</string>
	</dict>
	<key>ShareEvent</key>
	<dict>
		<key>case</key>
		<array>
			<dict>
				<key>arguments</key>
				<dict>
					<key>assetID</key>
					<dict>
						<key>path</key>
						<array>
							<string>contentData</string>
							<string>contentID</string>
						</array>
					</dict>
					<key>timestamp</key>
					<dict>
						<key>path</key>
						<array>
							<string>eventData</string>
							<string>eventTimestamp</string>
						</array>
						<key>transformationType</key>
						<string>unixMilliseconds</string>
					</dict>
				</dict>
				<key>engagementEventName</key>
				<string>share</string>
				<key>filterPath</key>
				<array>
					<string>contentData</string>
					<string>contentAcquisitionType</string>
				</array>
				<key>filterValues</key>
				<array>
					<string>storeBought</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>WantListAddEvent</key>
	<dict>
		<key>arguments</key>
		<dict>
			<key>assetID</key>
			<dict>
				<key>path</key>
				<array>
					<string>contentData</string>
					<string>contentID</string>
				</array>
				<key>postFilter</key>
				<string>isNotSideloadedAssetID</string>
			</dict>
			<key>timestamp</key>
			<dict>
				<key>path</key>
				<array>
					<string>eventData</string>
					<string>eventTimestamp</string>
				</array>
				<key>transformationType</key>
				<string>unixMilliseconds</string>
			</dict>
		</dict>
		<key>engagementEventName</key>
		<string>addToWantToRead</string>
	</dict>
</dict>
</plist>
