<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audiobook-close</key>
	<dict>
		<key>book-type</key>
		<string>audiobook</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTCloseBookTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTLibraryScrollToBookTest</string>
			<string>PPTOpenBookTest</string>
		</array>
	</dict>
	<key>audiobook-open</key>
	<dict>
		<key>book-type</key>
		<string>audiobook</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTOpenBookTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTLibraryScrollToBookTest</string>
		</array>
	</dict>
	<key>cold-library-list-scroll</key>
	<dict>
		<key>library-type</key>
		<string>list</string>
		<key>main-test</key>
		<string>PPTLibraryScrollTest</string>
		<key>night-mode</key>
		<false/>
		<key>warm-scroll</key>
		<false/>
	</dict>
	<key>cold-library-shelf-scroll</key>
	<dict>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTLibraryScrollTest</string>
		<key>night-mode</key>
		<false/>
		<key>warm-scroll</key>
		<false/>
	</dict>
	<key>cold-night-library-list-scroll</key>
	<dict>
		<key>library-type</key>
		<string>list</string>
		<key>main-test</key>
		<string>PPTLibraryScrollTest</string>
		<key>night-mode</key>
		<true/>
		<key>warm-scroll</key>
		<false/>
	</dict>
	<key>cold-night-library-shelf-scroll</key>
	<dict>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTLibraryScrollTest</string>
		<key>night-mode</key>
		<true/>
		<key>warm-scroll</key>
		<false/>
	</dict>
	<key>epub-ltr-backward-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>epub-ltr</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTEpubBackwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTEpubGoToPagedTest</string>
			<string>PPTTurnToFirstPageTest</string>
			<string>PPTEpubForwardPageTurnTest</string>
		</array>
	</dict>
	<key>epub-ltr-close</key>
	<dict>
		<key>book-type</key>
		<string>epub-ltr</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTCloseBookTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTLibraryScrollToBookTest</string>
			<string>PPTOpenBookTest</string>
		</array>
	</dict>
	<key>epub-ltr-forward-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>epub-ltr</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTEpubBackwardPageTurnTest</string>
			<string>PPTEpubBackwardPageTurnTest</string>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTEpubForwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTEpubGoToPagedTest</string>
			<string>PPTTurnToFirstPageTest</string>
			<string>PPTEpubForwardPageTurnTest</string>
		</array>
	</dict>
	<key>epub-ltr-manual-ltr-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>epub-ltr</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTEpubManualLtrPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTEpubGoToPagedTest</string>
			<string>PPTTurnToFirstPageTest</string>
			<string>PPTEpubForwardPageTurnTest</string>
		</array>
	</dict>
	<key>epub-ltr-manual-rtl-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>epub-ltr</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTEpubBackwardPageTurnTest</string>
			<string>PPTEpubBackwardPageTurnTest</string>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTEpubManualRtlPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTEpubGoToPagedTest</string>
			<string>PPTTurnToFirstPageTest</string>
			<string>PPTEpubForwardPageTurnTest</string>
		</array>
	</dict>
	<key>epub-ltr-open</key>
	<dict>
		<key>book-type</key>
		<string>epub-ltr</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTOpenBookTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTLibraryScrollToBookTest</string>
		</array>
	</dict>
	<key>epub-ltr-scroll</key>
	<dict>
		<key>book-type</key>
		<string>epub-ltr</string>
		<key>main-test</key>
		<string>PPTEpubScrollTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTEpubGoToPagedTest</string>
			<string>PPTEpubGoToScrolledTest</string>
		</array>
	</dict>
	<key>epub-rtl-backward-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>epub-rtl</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTEpubBackwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTEpubGoToPagedTest</string>
			<string>PPTTurnToFirstPageTest</string>
			<string>PPTEpubForwardPageTurnTest</string>
		</array>
	</dict>
	<key>epub-rtl-close</key>
	<dict>
		<key>book-type</key>
		<string>epub-rtl</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTCloseBookTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTLibraryScrollToBookTest</string>
			<string>PPTOpenBookTest</string>
		</array>
	</dict>
	<key>epub-rtl-forward-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>epub-rtl</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTEpubBackwardPageTurnTest</string>
			<string>PPTEpubBackwardPageTurnTest</string>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTEpubForwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTEpubGoToPagedTest</string>
			<string>PPTTurnToFirstPageTest</string>
			<string>PPTEpubForwardPageTurnTest</string>
		</array>
	</dict>
	<key>epub-rtl-manual-ltr-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>epub-rtl</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTEpubBackwardPageTurnTest</string>
			<string>PPTEpubBackwardPageTurnTest</string>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTEpubManualLtrPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTEpubGoToPagedTest</string>
			<string>PPTTurnToFirstPageTest</string>
			<string>PPTEpubForwardPageTurnTest</string>
		</array>
	</dict>
	<key>epub-rtl-manual-rtl-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>epub-rtl</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTEpubManualRtlPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTEpubGoToPagedTest</string>
			<string>PPTTurnToFirstPageTest</string>
			<string>PPTEpubForwardPageTurnTest</string>
		</array>
	</dict>
	<key>epub-rtl-open</key>
	<dict>
		<key>book-type</key>
		<string>epub-rtl</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTOpenBookTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTLibraryScrollToBookTest</string>
		</array>
	</dict>
	<key>fixed-layout-backward-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>fixed-layout</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTPageScrollerBackwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTPageScrollerForwardPageTurnTest</string>
		</array>
	</dict>
	<key>fixed-layout-close</key>
	<dict>
		<key>book-type</key>
		<string>fixed-layout</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTCloseBookTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTLibraryScrollToBookTest</string>
			<string>PPTOpenBookTest</string>
		</array>
	</dict>
	<key>fixed-layout-forward-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>fixed-layout</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTPageScrollerBackwardPageTurnTest</string>
			<string>PPTPageScrollerBackwardPageTurnTest</string>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTPageScrollerForwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTPageScrollerForwardPageTurnTest</string>
		</array>
	</dict>
	<key>fixed-layout-open</key>
	<dict>
		<key>book-type</key>
		<string>fixed-layout</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTOpenBookTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTLibraryScrollToBookTest</string>
		</array>
	</dict>
	<key>fixed-layout-spreads-backward-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>fixed-layout-spreads</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTFXLEpubSpreadsBackwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTFXLZoomToSpreadTest</string>
			<string>PPTFXLEpubSpreadsForwardPageTurnTest</string>
		</array>
	</dict>
	<key>fixed-layout-spreads-forward-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>fixed-layout-spreads</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTFXLEpubSpreadsBackwardPageTurnTest</string>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTFXLEpubSpreadsForwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTFXLZoomToSpreadTest</string>
		</array>
	</dict>
	<key>glitch-free-epub-ltr-forward-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>epub-ltr</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTEpubBackwardPageTurnTest</string>
			<string>PPTEpubBackwardPageTurnTest</string>
			<string>PPTCloseBookTest</string>
			<string>PPTSleep</string>
		</array>
		<key>glitch-free</key>
		<true/>
		<key>main-test</key>
		<string>PPTEpubForwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTEpubGoToPagedTest</string>
			<string>PPTTurnToFirstPageTest</string>
			<string>PPTEpubForwardPageTurnTest</string>
		</array>
	</dict>
	<key>glitch-free-epub-ltr-forward-page-turn-landscape</key>
	<dict>
		<key>book-type</key>
		<string>epub-ltr</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTEpubBackwardPageTurnTest</string>
			<string>PPTEpubBackwardPageTurnTest</string>
			<string>PPTCloseBookTest</string>
			<string>PPTSleep</string>
		</array>
		<key>glitch-free</key>
		<true/>
		<key>main-test</key>
		<string>PPTEpubForwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTEpubGoToPagedTest</string>
			<string>PPTTurnToFirstPageTest</string>
			<string>PPTEpubForwardPageTurnTest</string>
		</array>
	</dict>
	<key>glitch-free-grouping-scroll</key>
	<dict>
		<key>main-test</key>
		<string>PPTHostedPageScrollTest</string>
		<key>url</key>
		<string>https://books.apple.com/WebObjects/MZStore.woa/wa/viewGrouping?id=27826</string>
	</dict>
	<key>glitch-free-library-scroll</key>
	<dict>
		<key>glitch-free</key>
		<true/>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTLibraryScrollTest</string>
		<key>night-mode</key>
		<false/>
		<key>warm-scroll</key>
		<false/>
	</dict>
	<key>glitch-free-library-scroll-landscape</key>
	<dict>
		<key>glitch-free</key>
		<true/>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTLibraryScrollTest</string>
		<key>night-mode</key>
		<false/>
		<key>warm-scroll</key>
		<false/>
	</dict>
	<key>glitch-free-manga-vertical-scroll</key>
	<dict>
		<key>book-type</key>
		<string>fixed-layout</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTCloseBookTest</string>
			<string>PPTSleep</string>
		</array>
		<key>glitch-free</key>
		<true/>
		<key>main-test</key>
		<string>PPTMangaPageScrollerScrollFwd</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
		</array>
	</dict>
	<key>glitch-free-manga-vertical-scroll-landscape</key>
	<dict>
		<key>book-type</key>
		<string>fixed-layout</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTCloseBookTest</string>
			<string>PPTSleep</string>
		</array>
		<key>glitch-free</key>
		<true/>
		<key>main-test</key>
		<string>PPTMangaPageScrollerScrollFwd</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
		</array>
	</dict>
	<key>glitch-free-series-scroll</key>
	<dict>
		<key>main-test</key>
		<string>PPTHostedPageScrollTest</string>
		<key>url</key>
		<string>https://books.apple.com/us/book-series/apple-books-classics/id1504600373</string>
	</dict>
	<key>glitch-free-series-see-all-scroll</key>
	<dict>
		<key>main-test</key>
		<string>PPTHostedPageScrollTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTHostedPageGoToSeeAllTest</string>
		</array>
		<key>see-all-shelf-index</key>
		<integer>1</integer>
		<key>url</key>
		<string>https://books.apple.com/us/book-series/apple-books-classics/id1504600373</string>
	</dict>
	<key>mt-backward-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>mt</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTTHInteractiveCanvasControllerBackwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTShowDVCTest</string>
			<string>PPTTHInteractiveCanvasControllerForwardPageTurnTest</string>
		</array>
	</dict>
	<key>mt-close</key>
	<dict>
		<key>book-type</key>
		<string>mt</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTCloseBookTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTLibraryScrollToBookTest</string>
			<string>PPTOpenBookTest</string>
		</array>
	</dict>
	<key>mt-forward-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>mt</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTTHInteractiveCanvasControllerBackwardPageTurnTest</string>
			<string>PPTTHInteractiveCanvasControllerBackwardPageTurnTest</string>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTTHInteractiveCanvasControllerForwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTShowDVCTest</string>
			<string>PPTTHInteractiveCanvasControllerForwardPageTurnTest</string>
		</array>
	</dict>
	<key>mt-open</key>
	<dict>
		<key>book-type</key>
		<string>mt</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTOpenBookTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTLibraryScrollToBookTest</string>
		</array>
	</dict>
	<key>pdf-backward-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>pdf</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTPageScrollerBackwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTPageScrollerForwardPageTurnTest</string>
		</array>
	</dict>
	<key>pdf-close</key>
	<dict>
		<key>book-type</key>
		<string>pdf</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTCloseBookTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTLibraryScrollToBookTest</string>
			<string>PPTOpenBookTest</string>
		</array>
	</dict>
	<key>pdf-forward-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>pdf</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTPageScrollerBackwardPageTurnTest</string>
			<string>PPTPageScrollerBackwardPageTurnTest</string>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTPageScrollerForwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTPageScrollerForwardPageTurnTest</string>
		</array>
	</dict>
	<key>pdf-open</key>
	<dict>
		<key>book-type</key>
		<string>pdf</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTOpenBookTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTLibraryScrollToBookTest</string>
		</array>
	</dict>
	<key>rmt-backward-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>rmt</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTTHInteractiveCanvasControllerBackwardPageTurnTest</string>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTTHInteractiveCanvasControllerBackwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTTHInteractiveCanvasControllerForwardPageTurnTest</string>
			<string>PPTTHInteractiveCanvasControllerForwardPageTurnTest</string>
		</array>
	</dict>
	<key>rmt-close</key>
	<dict>
		<key>book-type</key>
		<string>rmt</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTCloseBookTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTLibraryScrollToBookTest</string>
			<string>PPTOpenBookTest</string>
		</array>
	</dict>
	<key>rmt-forward-page-turn</key>
	<dict>
		<key>book-type</key>
		<string>rmt</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTTHInteractiveCanvasControllerBackwardPageTurnTest</string>
			<string>PPTTHInteractiveCanvasControllerBackwardPageTurnTest</string>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTTHInteractiveCanvasControllerForwardPageTurnTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTOpenBookTest</string>
			<string>PPTTHInteractiveCanvasControllerForwardPageTurnTest</string>
		</array>
	</dict>
	<key>rmt-open</key>
	<dict>
		<key>book-type</key>
		<string>rmt</string>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTOpenBookTest</string>
		<key>preliminary-tests</key>
		<array>
			<string>PPTWaitForMigrationTest</string>
			<string>PPTLibraryScrollToBookTest</string>
		</array>
	</dict>
	<key>store-product-page</key>
	<dict>
		<key>book-store</key>
		<true/>
		<key>cleanup-tests</key>
		<array>
			<string>PPTSleep</string>
		</array>
		<key>main-test</key>
		<string>PPTStoreProductPageTest</string>
	</dict>
	<key>warm-library-list-scroll</key>
	<dict>
		<key>library-type</key>
		<string>list</string>
		<key>main-test</key>
		<string>PPTLibraryScrollTest</string>
		<key>night-mode</key>
		<false/>
		<key>warm-scroll</key>
		<true/>
	</dict>
	<key>warm-library-shelf-scroll</key>
	<dict>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTLibraryScrollTest</string>
		<key>night-mode</key>
		<false/>
		<key>warm-scroll</key>
		<true/>
	</dict>
	<key>warm-night-library-list-scroll</key>
	<dict>
		<key>library-type</key>
		<string>list</string>
		<key>main-test</key>
		<string>PPTLibraryScrollTest</string>
		<key>night-mode</key>
		<true/>
		<key>warm-scroll</key>
		<true/>
	</dict>
	<key>warm-night-library-shelf-scroll</key>
	<dict>
		<key>library-type</key>
		<string>shelf</string>
		<key>main-test</key>
		<string>PPTLibraryScrollTest</string>
		<key>night-mode</key>
		<true/>
		<key>warm-scroll</key>
		<true/>
	</dict>
</dict>
</plist>
