<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>App Store</string>
	<key>CFBundleExecutable</key>
	<string>AppStore</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<string>AppIcon</string>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AppStore</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppStore</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>XROS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>App Store URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>itms-apps</string>
				<string>itms-appss</string>
				<string>macappstore</string>
				<string>macappstores</string>
				<string>itms-watch</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>xros</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23N37</string>
	<key>DTSDKName</key>
	<string>xros26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>7</integer>
	</array>
	<key>UILaunchPlacementParameters</key>
	<dict>
		<key>PreferredLaunchSize</key>
		<dict>
			<key>Height</key>
			<integer>800</integer>
			<key>Width</key>
			<integer>1280</integer>
		</dict>
	</dict>
	<key>UINativeSizeClass</key>
	<integer>1</integer>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UNUserNotificationCenter</key>
	<dict>
		<key>UNDaemonShouldReceiveApplicationEvents</key>
		<true/>
		<key>UNDaemonShouldReceiveBackgroundResponses</key>
		<true/>
		<key>UNDaemonShouldReceiveNotificationSettingsUpdates</key>
		<true/>
		<key>UNDefaultSettings</key>
		<dict>
			<key>UNSettingAlerts</key>
			<true/>
			<key>UNSettingBadges</key>
			<true/>
			<key>UNSettingLockScreen</key>
			<true/>
			<key>UNSettingNotificationCenter</key>
			<true/>
			<key>UNSettingSounds</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
