<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AirPlay Receiver</string>
	<key>CFBundleExecutable</key>
	<string>RealityReceiver</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>ISGraphicIconConfiguration</key>
		<dict>
			<key>ISRenderingMode</key>
			<string>automatic</string>
			<key>ISSymbolName</key>
			<string>airplayvideo</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.RealityReceiver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RealityReceiver</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>26.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>XROS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>com.apple.RealityReceiver</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>airplayreceiver-private</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.0.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>xros</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23N37</string>
	<key>DTSDKName</key>
	<string>xros26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_airplay._tcp</string>
		<string>_raop._tcp</string>
		<string>_airplay-p2p._tcp</string>
		<string>_airplay-alt._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Access allows local network connections via TCP protocol.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access allows to save AirPlay stream recordings in the Photo Library.</string>
	<key>SBAppTags</key>
	<array>
		<string>hidden</string>
		<string>quittable</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>7</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
