<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Events</key>
	<array>
		<dict>
			<key>Layers</key>
			<array>
				<dict>
					<key>DefaultIntensity</key>
					<real>0.0</real>
					<key>DefaultSharpness</key>
					<real>0.0</real>
					<key>LayerType</key>
					<string>Audio</string>
					<key>LayerTypeID</key>
					<integer>127</integer>
					<key>Locality</key>
					<string>Default</string>
					<key>Name</key>
					<string>Default</string>
				</dict>
				<dict>
					<key>GainEnvelope</key>
					<dict>
						<key>AttackTime</key>
						<real>0.01</real>
						<key>DecayTime</key>
						<real>0.01</real>
						<key>ReleaseTime</key>
						<real>0.01</real>
					</dict>
					<key>LayerType</key>
					<string>Audio</string>
					<key>LayerTypeID</key>
					<integer>1</integer>
					<key>Name</key>
					<string>Audio Sine Enveloped</string>
					<key>Parameters</key>
					<dict>
						<key>AttackTimeParameter</key>
						<dict>
							<key>AttackTimeFactor</key>
							<real>512</real>
						</dict>
						<key>GainParameter</key>
						<dict>
							<key>MinimumGainInDecibels</key>
							<real>-96</real>
						</dict>
						<key>ReleaseTimeParameter</key>
						<dict>
							<key>ReleaseTimeFactor</key>
							<real>512</real>
						</dict>
						<key>TransposeParameter</key>
						<dict>
							<key>TransposeFactor</key>
							<real>4</real>
						</dict>
					</dict>
					<key>Zones</key>
					<array>
						<dict>
							<key>WaveformLooped</key>
							<true/>
							<key>WaveformPath</key>
							<string>Sine</string>
							<key>ZoneTypeID</key>
							<integer>127</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>GainEnvelope</key>
					<dict>
						<key>AttackTime</key>
						<real>0.01</real>
						<key>DecayTime</key>
						<real>0.01</real>
						<key>ReleaseTime</key>
						<real>0.01</real>
						<key>SustainLevel</key>
						<real>0.0</real>
					</dict>
					<key>LayerType</key>
					<string>Audio</string>
					<key>LayerTypeID</key>
					<integer>2</integer>
					<key>Name</key>
					<string>Audio Sine Transient</string>
					<key>Parameters</key>
					<dict>
						<key>AttackTimeParameter</key>
						<dict>
							<key>AttackTimeFactor</key>
							<real>512</real>
						</dict>
						<key>AudioFilterCutoffParameter</key>
						<dict>
							<key>FilterCutoffFactor</key>
							<real>100</real>
							<key>FixedFilterCutoffInHertz</key>
							<real>10000</real>
						</dict>
						<key>DecayTimeParameter</key>
						<dict>
							<key>DecayTimeFactor</key>
							<real>512</real>
						</dict>
						<key>GainParameter</key>
						<dict>
							<key>MinimumGainInDecibels</key>
							<real>-96</real>
						</dict>
						<key>TransposeParameter</key>
						<dict>
							<key>TransposeFactor</key>
							<real>4</real>
						</dict>
					</dict>
					<key>Zones</key>
					<array>
						<dict>
							<key>WaveformLooped</key>
							<true/>
							<key>WaveformPath</key>
							<string>Sine</string>
							<key>ZoneTypeID</key>
							<integer>127</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>GainEnvelope</key>
					<dict>
						<key>AttackTime</key>
						<real>0.0</real>
						<key>DecayTime</key>
						<real>0.0050000000000000001</real>
						<key>SustainLevel</key>
						<real>0.0</real>
					</dict>
					<key>LayerType</key>
					<string>Audio</string>
					<key>LayerTypeID</key>
					<integer>43</integer>
					<key>Name</key>
					<string>Audio Click</string>
					<key>Parameters</key>
					<dict>
						<key>AudioFilterCutoffParameter</key>
						<dict>
							<key>FilterCutoffFactor</key>
							<real>100</real>
							<key>FixedFilterCutoffInHertz</key>
							<real>10000</real>
						</dict>
						<key>GainParameter</key>
						<dict>
							<key>MinimumGainInDecibels</key>
							<real>-96</real>
						</dict>
						<key>TransposeParameter</key>
						<dict>
							<key>TransposeFactor</key>
							<real>4</real>
						</dict>
					</dict>
					<key>Zones</key>
					<array>
						<dict>
							<key>RootFreq</key>
							<real>1760</real>
							<key>WaveformBaseFreq</key>
							<real>440</real>
							<key>WaveformLooped</key>
							<true/>
							<key>WaveformPath</key>
							<string>Sine</string>
							<key>ZoneTypeID</key>
							<integer>127</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Layers</key>
			<array>
				<dict>
					<key>LayerType</key>
					<string>Audio</string>
					<key>Parameters</key>
					<dict>
						<key>GainParameter</key>
						<dict>
							<key>MinimumGainInDecibels</key>
							<real>-96</real>
						</dict>
						<key>TransposeParameter</key>
						<dict>
							<key>TransposeFactor</key>
							<real>1</real>
						</dict>
					</dict>
					<key>Zones</key>
					<array>
						<dict>
							<key>WaveformPath</key>
							<string>/Library/Audio/Tunings/Generic/Haptics/AudioResources/KeyClick.caf</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>TypeID</key>
			<integer>32512</integer>
		</dict>
		<dict>
			<key>Layers</key>
			<array>
				<dict>
					<key>LayerType</key>
					<string>Audio</string>
					<key>Parameters</key>
					<dict>
						<key>GainParameter</key>
						<dict>
							<key>MinimumGainInDecibels</key>
							<real>-96</real>
						</dict>
						<key>TransposeParameter</key>
						<dict>
							<key>TransposeFactor</key>
							<real>1</real>
						</dict>
					</dict>
					<key>Zones</key>
					<array>
						<dict>
							<key>WaveformPath</key>
							<string>/Library/Audio/Tunings/Generic/Haptics/AudioResources/KeyDelete.caf</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>TypeID</key>
			<integer>32557</integer>
		</dict>
		<dict>
			<key>Layers</key>
			<array>
				<dict>
					<key>LayerType</key>
					<string>Audio</string>
					<key>Parameters</key>
					<dict>
						<key>GainParameter</key>
						<dict>
							<key>MinimumGainInDecibels</key>
							<real>-96</real>
						</dict>
						<key>TransposeParameter</key>
						<dict>
							<key>TransposeFactor</key>
							<real>1</real>
						</dict>
					</dict>
					<key>Zones</key>
					<array>
						<dict>
							<key>WaveformPath</key>
							<string>/Library/Audio/Tunings/Generic/Haptics/AudioResources/KeyModifier.caf</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>TypeID</key>
			<integer>29485</integer>
		</dict>
		<dict>
			<key>Layers</key>
			<array>
				<dict>
					<key>LayerType</key>
					<string>Audio</string>
					<key>Parameters</key>
					<dict>
						<key>GainParameter</key>
						<dict>
							<key>MinimumGainInDecibels</key>
							<real>-96</real>
						</dict>
						<key>TransposeParameter</key>
						<dict>
							<key>TransposeFactor</key>
							<real>1.4142135623731</real>
						</dict>
					</dict>
					<key>Zones</key>
					<array>
						<dict>
							<key>Gain</key>
							<real>-21</real>
							<key>WaveformPath</key>
							<string>/Library/Audio/Tunings/Generic/Haptics/AudioResources/WheelsOfTime.wav</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>TypeID</key>
			<integer>32556</integer>
		</dict>
	</array>
</dict>
</plist>
