<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23A344014</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Photos</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<string>AppIcon</string>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.mobileslideshow</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Photos</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>XROS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIsPrivate</key>
			<false/>
			<key>CFBundleURLName</key>
			<string>Photos iCloud Invitation URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>photos-redirect</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIsPrivate</key>
			<false/>
			<key>CFBundleURLName</key>
			<string>Photos Navigation URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>photos-navigation</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>Photos Location URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>photos</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>Photos iPhoto Library Migration</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>photos-migrate-iphoto</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>OAuth Redirect URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.apple.mobileslideshow</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CKSharingSupported</key>
	<true/>
	<key>CoreSpotlightContinuation</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>23N38</string>
	<key>DTPlatformName</key>
	<string>xros</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>DTSDKBuild</key>
	<string>23N38</string>
	<key>DTSDKName</key>
	<string>xros26.1.internal</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A6264l</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MediaClientInfo</key>
	<dict>
		<key>API</key>
		<dict>
			<key>Identifier</key>
			<string>com.apple.photos</string>
			<key>Version</key>
			<string>1</string>
		</dict>
		<key>Bag</key>
		<dict>
			<key>Profile</key>
			<string>Photos</string>
			<key>Version</key>
			<string>1</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>26.1</string>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app displays photos from your photos library.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.apple.mobileslideshow.oneUp</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Photos Settings Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>PhotosApp.PhotosSettingsSceneDelegate</string>
				</dict>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>PhotosApp.SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>7</integer>
	</array>
	<key>UILaunchPlacementParameters</key>
	<dict>
		<key>PreferredLaunchSize</key>
		<dict>
			<key>Depth</key>
			<integer>272</integer>
			<key>Height</key>
			<integer>720</integer>
			<key>Width</key>
			<integer>1280</integer>
		</dict>
	</dict>
	<key>UINativeSizeClass</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>arkit</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UNUserNotificationCenter</key>
	<dict>
		<key>UNAutomaticallyShowSettings</key>
		<true/>
		<key>UNDaemonShouldReceiveBackgroundResponses</key>
		<true/>
		<key>UNDefaultSettings</key>
		<dict>
			<key>UNSettingAlerts</key>
			<true/>
			<key>UNSettingBadges</key>
			<true/>
			<key>UNSettingNotificationCenter</key>
			<true/>
			<key>UNSettingSounds</key>
			<true/>
		</dict>
		<key>UNDefaultTopics</key>
		<array>
			<dict>
				<key>UNTopicDefaultSettings</key>
				<dict>
					<key>UNSettingAlerts</key>
					<true/>
					<key>UNSettingLockScreen</key>
					<true/>
					<key>UNSettingNotificationCenter</key>
					<true/>
					<key>UNSettingSounds</key>
					<true/>
				</dict>
				<key>UNTopicDisplayName</key>
				<string>Memories</string>
				<key>UNTopicIdentifier</key>
				<string>com.apple.mobileslideshow.memories</string>
			</dict>
		</array>
		<key>UNSuppressDismissalSync</key>
		<true/>
		<key>UNSuppressUserAuthorizationPrompt</key>
		<true/>
		<key>UNUniversalApplicationIdentifier</key>
		<string>com.apple.mobileslideshow</string>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Photos Library</string>
			<key>UTTypeIconName</key>
			<string>IPXLibraryIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.photos.library</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>photoslibrary</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Live Photo bundle</string>
			<key>UTTypeIconFile</key>
			<string>documentIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.live-photo-bundle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pvt</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Live Photo bundle for Drag-n-Drop</string>
			<key>UTTypeIconFile</key>
			<string>documentIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.private.photos.drag-n-drop.live-photo-bundle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pvt</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Live Photo Loop GIF</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.private.auto-loop-gif</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gif</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Photos Asset Bundle</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.photos.asset-bundle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>photosasset</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AAE Sidecar</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.photos.apple-adjustment-envelope</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>aae</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
