<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ktrace</key>
	<array/>
	<key>os</key>
	<array>
		<dict>
			<key>category</key>
			<string>AssetActions</string>
			<key>description</key>
			<string>Measure the latency to display the share sheet</string>
			<key>name</key>
			<string>ShareSheetDisplayLatency</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
				<string>MessageSharing</string>
				<string>MailSharing</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>AssetActions</string>
			<key>description</key>
			<string>Measure the total duration to display the share sheet</string>
			<key>name</key>
			<string>ShareSheetDisplayDuration</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
				<string>MessageSharing</string>
				<string>MailSharing</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
				<string>SD</string>
			</array>
			<key>category</key>
			<string>AnimationTelemetry</string>
			<key>description</key>
			<string>Measure the latency to exit the oneup controller</string>
			<key>listAll</key>
			<true/>
			<key>name</key>
			<string>ExitOneUpFromRecentsAlbumPreparation</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui</string>
			<key>targetTests</key>
			<array>
				<string>OneUpTransition</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>AnimationTelemetry</string>
			<key>description</key>
			<string>Measure the animation of exiting oneup controller</string>
			<key>listAll</key>
			<true/>
			<key>name</key>
			<string>ExitOneUpFromRecentsAlbum</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui</string>
			<key>targetTests</key>
			<array>
				<string>OneUpTransition</string>
			</array>
			<key>unit</key>
			<string>fps</string>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
				<string>SD</string>
			</array>
			<key>category</key>
			<string>AnimationTelemetry</string>
			<key>description</key>
			<string>Measure the latency to exit the memories details controller</string>
			<key>listAll</key>
			<true/>
			<key>name</key>
			<string>ExitDetailsPreparation</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui</string>
			<key>targetTests</key>
			<array>
				<string>MemoryTransition</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>AnimationTelemetry</string>
			<key>description</key>
			<string>Measure the animation of exiting memories details controller</string>
			<key>listAll</key>
			<true/>
			<key>name</key>
			<string>ExitDetails</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui</string>
			<key>targetTests</key>
			<array>
				<string>MemoryTransition</string>
			</array>
			<key>unit</key>
			<string>fps</string>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
				<string>SD</string>
			</array>
			<key>category</key>
			<string>AnimationTelemetry</string>
			<key>description</key>
			<string>Measure the latency to display the oneup controller</string>
			<key>listAll</key>
			<true/>
			<key>name</key>
			<string>EnterOneUpFromRecentsAlbumPreparation</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui</string>
			<key>targetTests</key>
			<array>
				<string>OneUpTransition</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>AnimationTelemetry</string>
			<key>description</key>
			<string>Measure the animation of oneup controller</string>
			<key>listAll</key>
			<true/>
			<key>name</key>
			<string>EnterOneUpFromRecentsAlbum</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui</string>
			<key>targetTests</key>
			<array>
				<string>OneUpTransition</string>
			</array>
			<key>unit</key>
			<string>fps</string>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
				<string>SD</string>
			</array>
			<key>category</key>
			<string>AnimationTelemetry</string>
			<key>description</key>
			<string>Measure the latency to display the memories details controller</string>
			<key>listAll</key>
			<true/>
			<key>name</key>
			<string>EnterDetailsPreparation</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui</string>
			<key>targetTests</key>
			<array>
				<string>MemoryTransition</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>AnimationTelemetry</string>
			<key>description</key>
			<string>Measure the animation of memories details controller</string>
			<key>listAll</key>
			<true/>
			<key>name</key>
			<string>EnterDetails</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui</string>
			<key>targetTests</key>
			<array>
				<string>MemoryTransition</string>
			</array>
			<key>unit</key>
			<string>fps</string>
		</dict>
		<dict>
			<key>category</key>
			<string>PHAssetExportRequest</string>
			<key>description</key>
			<string>Measure the total duration to determine the sharing variants</string>
			<key>name</key>
			<string>SharingVariantsLatency</string>
			<key>subsystem</key>
			<string>com.apple.photos</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
				<string>LoadFullScreenSharingColdOneUpVideo</string>
				<string>LoadFullScreenSharingColdOneUpLivePhoto</string>
				<string>LoadFullScreenSharingColdOneUpPanorama</string>
				<string>LoadFullScreenSharingColdOneUpLongExposure</string>
				<string>LoadFullScreenSharingColdOneUpTimeLapse</string>
				<string>LoadFullScreenSharingColdOneUpSlowMo</string>
				<string>LoadFullScreenSharingColdOneUpPortrait</string>
				<string>LoadFullScreenSharingColdOneUpScreenshot</string>
				<string>MessageSharing</string>
				<string>MailSharing</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>CompleteMyMoment</string>
			<key>description</key>
			<string>Measure the latency to present the suggestion view</string>
			<key>name</key>
			<string>SuggestionDetailsPresentation</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui</string>
			<key>targetTests</key>
			<array>
				<string>CMMSuggestionTransition</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Sum</string>
			</array>
			<key>category</key>
			<string>instruments</string>
			<key>description</key>
			<string>Measure CoreData Fetch performance</string>
			<key>name</key>
			<string>Fetch</string>
			<key>subsystem</key>
			<string>com.apple.coredata</string>
			<key>targetTests</key>
			<array>
				<string>launch</string>
				<string>ZoomCuratedLibrary</string>
				<string>ScrollMoments</string>
				<string>ScrollMoments-NoImageManager</string>
				<string>ScrollAlbums</string>
				<string>ScrollAlbumsLandscape</string>
				<string>ScrollAllPhotosLandscape</string>
				<string>ScrollPeopleHome</string>
				<string>ScrollPeopleHomeLandscape</string>
				<string>ScrollForYou</string>
				<string>ScrollForYouLandscape</string>
				<string>ScrollForYouCMMSuggestions</string>
				<string>ScrollForYouCMMInvitations</string>
				<string>ScrollPeopleDetail</string>
				<string>ScrollPeopleDetailLandscape</string>
				<string>LoadPeopleHome</string>
				<string>OneUpTransition</string>
				<string>LoadFullScreenSharingColdOneUp</string>
				<string>LoadFullScreenSharingColdOneUpVideo</string>
				<string>LoadFullScreenSharingColdOneUpLivePhoto</string>
				<string>LoadFullScreenSharingColdOneUpPanorama</string>
				<string>LoadFullScreenSharingColdOneUpLongExposure</string>
				<string>LoadFullScreenSharingColdOneUpTimeLapse</string>
				<string>LoadFullScreenSharingColdOneUpSlowMo</string>
				<string>LoadFullScreenSharingColdOneUpPortrait</string>
				<string>LoadFullScreenSharingColdOneUpScreenshot</string>
				<string>LoadFullScreenSharingWarmOneUp</string>
				<string>MessageSharing</string>
				<string>MailSharing</string>
				<string>RotateCuratedLibrary</string>
				<string>ScrollMemories</string>
				<string>LoadPhotoEditorOnce</string>
				<string>LoadPeopleDetail</string>
				<string>MemoryTransition</string>
				<string>ScrollMemoriesLandscape</string>
				<string>ScrollSearchResults</string>
				<string>ScrollSearchResultsLandscape</string>
				<string>ShowSearchHome</string>
				<string>LoadSearchZeroKeywords</string>
				<string>PerformSearchPlainText</string>
				<string>ImportGridToAnyContentTest</string>
				<string>ImportGridToAllContentTest</string>
				<string>ImportGridScrollWhileLoadingAssetsTest</string>
				<string>ImportGridScrollAfterLoadingAssetsTest</string>
				<string>ImportGridThumbnailTestsToFirst</string>
				<string>ImportGridThumbnailTestsToAllScreen</string>
				<string>ImportGridThumbnailTestsToAllAbsolute</string>
				<string>ScrollCuratedLibraryDays</string>
				<string>ScrollCuratedLibraryAllPhotos</string>
				<string>ScrollCuratedLibraryYears</string>
				<string>ScrollCuratedLibraryMonths</string>
				<string>ScrollSearchHome</string>
				<string>ScrollSearchHomeLandscape</string>
				<string>LoadFullScreenSharingColdOneUp</string>
				<string>LoadFullScreenSharingColdOneUpLivePhoto</string>
				<string>LoadFullScreenSharingColdOneUpLongExposure</string>
				<string>LoadFullScreenSharingColdOneUpPanorama</string>
				<string>LoadFullScreenSharingColdOneUpPortrait</string>
				<string>LoadFullScreenSharingColdOneUpScreenshot</string>
				<string>LoadFullScreenSharingColdOneUpSlowMo</string>
				<string>LoadFullScreenSharingColdOneUpTimeLapse</string>
				<string>LoadFullScreenSharingColdOneUpVideo</string>
				<string>LoadFullScreenSharingWarmOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration from configuring the share sheet to when it's ready to be presented</string>
			<key>name</key>
			<string>InitializeUIAVC</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to connect to sharingd</string>
			<key>name</key>
			<string>ConnectToDaemon</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to process the initial configuration</string>
			<key>name</key>
			<string>SendInitialConfiguration</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to process the updated configuration</string>
			<key>name</key>
			<string>UpdateConfiguration</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to present the share sheet</string>
			<key>name</key>
			<string>PresentShareSheet</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to load the share sheet from the presentation attempt to when it's ready to interact </string>
			<key>name</key>
			<string>ShareSheetLoad</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to process a configuration in sharingd only</string>
			<key>name</key>
			<string>SetConfiguration</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to load the activities</string>
			<key>name</key>
			<string>LoadPresentableActivitiesForSession</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to fetch the available activities including extensions</string>
			<key>name</key>
			<string>AvailableActivitiesIncludingExtensions</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to fetch the available activities excluding extensions</string>
			<key>name</key>
			<string>AvailableActivitiesExcludingExtensions</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to sort the available activities including extensions</string>
			<key>name</key>
			<string>SortAvailableActivitiesIncludingExtensions</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to sort the available activities excluding extensions</string>
			<key>name</key>
			<string>SortAvailableActivitiesExcludingExtensions</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to sort the available activities with coreduet</string>
			<key>name</key>
			<string>SortAvailableActivitiesByDuet</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to get the people suggestions</string>
			<key>name</key>
			<string>PeopleSuggestions</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to configure the people suggester</string>
			<key>name</key>
			<string>ConfigurePeopleSuggester</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to create people suggestion nodes</string>
			<key>name</key>
			<string>ConfigureAirDropNodesFromSuggestions</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to fetch the shortcuts</string>
			<key>name</key>
			<string>FetchShortcuts</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to fetch and create activities for the shortcuts</string>
			<key>name</key>
			<string>LoadShortcutsActivities</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to create title images</string>
			<key>name</key>
			<string>UIActivityTitleDrawing</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
				<string>SD</string>
			</array>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to create application activity images</string>
			<key>name</key>
			<string>UIActivityImageLoad</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
				<string>SD</string>
			</array>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to create action activity images</string>
			<key>name</key>
			<string>UIActivityActionImageLoad</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to request extensions from pluginkit during preheat</string>
			<key>name</key>
			<string>PreheatInitialExtensionDiscovery</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to request extensions from pluginkit during presentation</string>
			<key>name</key>
			<string>InitialExtensionDiscovery</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to request people suggestion from coreduet during preheat</string>
			<key>name</key>
			<string>PreheatPeopleSuggestions</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to request people suggestion from coreduet during presentation</string>
			<key>name</key>
			<string>GetPeopleSuggestions</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>ShareSheet</string>
			<key>description</key>
			<string>Measure the duration to check if the mail activity can send mail</string>
			<key>name</key>
			<string>CheckCanSendMail</string>
			<key>subsystem</key>
			<string>com.apple.ShareSheet</string>
			<key>targetTests</key>
			<array>
				<string>LoadFullScreenSharingColdOneUp</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>category</key>
			<string>FrequentStoryExportSignPost</string>
			<key>description</key>
			<string>Measure rendering story layout for export</string>
			<key>name</key>
			<string>StoryExportLayoutRenderVideoFrame</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>category</key>
			<string>FrequentStoryExportSignPost</string>
			<key>description</key>
			<string>Measure Tungsten loading final textures for rendering sprite in video frame</string>
			<key>name</key>
			<string>StoryExportLayoutRenderLoadingSpriteContent</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>category</key>
			<string>FrequentStoryExportSignPost</string>
			<key>description</key>
			<string>Measure video seeking during export</string>
			<key>name</key>
			<string>StoryExportRequestSeekVideo</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>category</key>
			<string>StoryExportSignPost</string>
			<key>description</key>
			<string>Measure requesting music asset</string>
			<key>name</key>
			<string>StoryExportRequestMusicAsset</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>category</key>
			<string>StoryExportSignPost</string>
			<key>description</key>
			<string>Measure video export</string>
			<key>name</key>
			<string>StoryExportVideo</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>category</key>
			<string>StoryExportSignPost</string>
			<key>description</key>
			<string>Measure video seeking during export</string>
			<key>name</key>
			<string>StoryExportAudio</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>category</key>
			<string>StoryExportSignPost</string>
			<key>description</key>
			<string>Measure waiting for timeline to be finished</string>
			<key>name</key>
			<string>StoryExportRequestSetupWaitFinalTimeline</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>category</key>
			<string>StoryExportSignPost</string>
			<key>description</key>
			<string>Measure waiting for preloading to be finished</string>
			<key>name</key>
			<string>StoryExportRequestPreloadStoryResources</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryExportInLandscapeOrientation</string>
				<string>InteractiveMemoryExportInLandscapeOrientationKeepFiles</string>
				<string>InteractiveMemoryExportInPortraitOrientation</string>
				<string>InteractiveMemoryExportInPortraitOrientationKeepFiles</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>category</key>
			<string>Story</string>
			<key>description</key>
			<string>Measure waiting for buffering to be finished</string>
			<key>name</key>
			<string>PXStoryBufferingController.PlaybackBuffering</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryPlaybackStart</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>category</key>
			<string>PXAppleMusicAudioSession</string>
			<key>description</key>
			<string>Measure waiting for Apple Music preparing to play</string>
			<key>name</key>
			<string>StoryAppleMusicSessionPrepareToPlay</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui</string>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryPlaybackStart</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>category</key>
			<string>Story</string>
			<key>description</key>
			<string>Measure waiting for buffering to be finished</string>
			<key>name</key>
			<string>PXStoryResourcesPreloadingController.Buffering</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryPlaybackStart</string>
			</array>
		</dict>
		<dict>
			<key>aggregateStatistics</key>
			<array>
				<string>Count</string>
				<string>Max</string>
				<string>Min</string>
				<string>Mean</string>
			</array>
			<key>category</key>
			<string>PXStoryConcreteTimelineProducer</string>
			<key>description</key>
			<string>Measure waiting for timeline production</string>
			<key>name</key>
			<string>StoryTimelineTotalProduction</string>
			<key>subsystem</key>
			<string>com.apple.photos.ui.story</string>
			<key>targetTests</key>
			<array>
				<string>InteractiveMemoryPlaybackStart</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
