<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStoryboardDesignatedEntryPointIdentifier</key>
	<string>UIViewController-lGb-YG-GUt</string>
	<key>UIStoryboardVersion</key>
	<integer>1</integer>
	<key>UIViewControllerIdentifiersToNibNames</key>
	<dict>
		<key>UINavigationController-iQj-OE-zXE</key>
		<string>UINavigationController-iQj-OE-zXE</string>
		<key>UINavigationController-yu6-l8-KUg</key>
		<string>UINavigationController-yu6-l8-KUg</string>
		<key>UIViewController-lGb-YG-GUt</key>
		<string>UIViewController-lGb-YG-GUt</string>
	</dict>
</dict>
</plist>
