<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Assets</key>
	<dict>
		<key>production-test-asset</key>
		<array>
			<dict>
				<key>AccessoryContentVersion</key>
				<integer>838</integer>
				<key>iOSContentVersion</key>
				<string>1.0</string>
			</dict>
		</array>
	</dict>
	<key>DisableClusterExperience</key>
	<integer>0</integer>
</dict>
</plist>
